<template>
  <Row type="flex" class="upload-wrap">
    <Button
      :icon="`${!value ? 'ios-cloud-upload-outline' : 'ios-albums'} `"
      type="primary"
      @click="handleOpen"
      size="small"
      shape="circle"
    ></Button>
    <Modal v-model="visible" :footerHide="true" width="800px" class="file-modal">
      <div class="file-title">附件明细</div>

      <div class="file-main">
        <!-- 上传文件 -->
        <Upload :before-upload="uploadFile" action="" style="display: flex">
          <Button icon="ios-cloud-upload-outline" type="primary" size="small">上传</Button>
        </Upload>
        <div class="img-detail-wrap">
          <!-- 左侧 -->
          <ul class="left-wrap" v-if="texts && texts.length">
            <li
              :class="`title-item ${currentObject.id == item.id ? 'hover' : ''}`"
              v-for="item in texts"
              @click="handleClickImg(item)"
            >
              <span>{{ item.fileName }}</span>

              <Icon type="md-close" @click.native="handleDel(item.id)" class="close-icon" />
            </li>
          </ul>
          <el-empty class="left-wrap" description="请上传附件" v-else></el-empty>

          <!-- 右侧 -->
          <div class="right-wrap">
            <img v-if="currentObject.url" :src="currentObject.url" width="400" />
            <el-empty description="" v-else></el-empty>
          </div>
        </div>
      </div>
    </Modal>
  </Row>
</template>

<script>
import systemApi from "@/api/system";

export default {
  data() {
    return {
      file: null,
      currentObject: {},
      url: "https://img.alicdn.com/imgextra/i4/O1CN01aG16y424E11XsURUd_!!6000000007358-2-tps-206-240.png",
      visible: false,
      texts: [],
      data: {},
    };
  },
  computed: {},
  props: {
    value: {
      type: String,
      default: "",
    },
    uploadText: {
      type: String,
      default: "选择文件",
    },
  },
  watch: {
    value(val) {
      // 如果有值?我们请求下远端获取图片
      console.log("upload img attachmentId", val);
      if (val && val !== "null") {
        this.getByPackageId();
      }
    },
    visible(val) {
      if (val && this.value && this.value !== "null") {
        this.getByPackageId(true);
      }
    },
  },
  methods: {
    getByPackageId(init) {
      console.log("getByPackageId", this.value);
      systemApi
        .getByPackageId({
          packageId: this.value,
        })
        .then((res) => {
          console.log("getByPackageId", res);
          let list = _.get(res, "data");
          if (res.code == 200 && !_.isEmpty(list)) {
            this.texts = list;
            if (init) {
              this.currentObject = list[0];
            }
          }
        });
    },
    handleOpen() {
      this.visible = true;
    },
    handleRemove() {
      this.url = undefined;
    },
    handleView() {
      this.visible = true;
    },
    uploadFile(file) {
      console.log("file", file);

      console.log("attachmentId", this.value);
      this.file = file;
      // 本地地址
      systemApi
        .fileUpload({
          file,
          attachmentId: this.value,
        })
        .then((res) => {
          console.log("res", res);
          if (res.code == 200) {
            let data = res.data;
            this.data = data;
            this.$emit("input", String(data.packageId));
            this.getByPackageId();
          }
        });
    },
    handlerClose() {
      this.file = null;
      this.url = undefined;
      this.$emit("input", undefined);
      this.$emit("onImgUrl", undefined);
    },
    handleClick() {
      console.log("handleClick");
    },
    handleClickImg(item) {
      this.currentObject = item;
    },
    handleDel(id) {
      systemApi
        .fileDelete({
          id,
        })
        .then((res) => {
          if (res.code == 200) {
            this.$Message.success("删除成功!");
            this.getByPackageId();
          }
        });
    },
  },
  mounted() {},
};
</script>
<style scoped lang="scss">
.img-wrap {
  width: 550px;
  margin-left: 15px;
}

.img-icon {
  width: 32px;
  height: 32px;
}

.demo-upload-list {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-right: 4px;
}
.demo-upload-list img {
  width: 100%;
  height: 100%;
}

.demo-upload-list-cover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
.demo-upload-list:hover .demo-upload-list-cover {
  display: block;
}
.demo-upload-list-cover i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 0 2px;
}
.default-img {
  width: 58px;
  height: 58px;
  line-height: 58px;
  border: 1px dashed #dcdee2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-detail-wrap {
  display: flex;
  height: 400px;
  margin-top: 5px;
  border: 1px solid #ccc;
  .left-wrap {
    width: 250px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .close-icon {
      position: absolute;
      right: 0;
      top: 0;
      display: none;
    }

    .title-item {
      height: 30px;
      flex-shrink: 0;
      line-height: 30px;
      padding-left: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
      border-bottom: 1px dashed #ccc;
      position: relative;
      &.hover {
        color: rgba(13, 134, 127, 1);
        border: 1px dashed rgba(13, 134, 127, 1);
      }

      &:hover {
        background-color: rgba(13, 134, 127, 0.1);
        .close-icon {
          display: block;
        }
      }
    }
  }

  .right-wrap {
    flex: 5;
    border-left: 1px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.file-title {
  font-size: 18px;
  padding-left: 20px;
  color: #0d867f;
  font-weight: 600;
  display: flex;
  height: 60px;
  align-items: center;
  background: #eefffe;
  width: 100%;
}

.file-modal {
  /deep/ .ivu-modal-body {
    padding: 0;
  }

  .file-main {
    padding: 12px 16px;
  }
}
</style>
