<!-- 中接头弹框 -->
<template>
  <BaseModal :visible="publicParams.bdZjtVisible" @on-cancel="cancel">
    <!-- 头部分 -->
    <div class="body-main-wrap">
      <div class="header-wrap">
        <img src="@/assets/img/uva.png" alt="" width="80" height="80" style="margin-left: 20px" />

        <div class="station-info">
          <div class="label-wrap">
            <span class="label">名称</span>
            <span class="type">现代大街道南002(自编1000256666号)中接头</span>
          </div>
        </div>

        <!-- 更新 -->
        <Button type="primary" v-auth @click="handleSave" size="small">保存</Button>
      </div>
      <!-- 主体部分 -->
      <BaseForm ref="baseFormRef" v-if="publicParams.bdZjtVisible" />
    </div>
  </BaseModal>
</template>

<script>
import BaseModal from "../../templates/baseModal/index";
import { mapState, mapMutations } from "vuex";
import UploadFile from "@/components/uploadFile";
import _ from "lodash";
import BaseForm from "../../components/baseForm";

export default {
  data() {
    return {
      formInline: {},
      types: [],
      baseFormList: [
        {
          prop: "line",
          label: "名称",
          type: "input",
          disabled: true,
        },
        {
          prop: "code",
          label: "编号",
          type: "input",
        },
        {
          prop: "type",
          label: "生产厂家",
          type: "input",
        },
        {
          prop: "ewewe",
          label: "投运日期",
          type: "date",
        },
        {
          prop: "length",
          label: "型号",
          type: "input",
        },

        {
          prop: "commissioningDate",
          label: "接头类型",
          type: "date",
        },
        {
          prop: "gsdswxx",
          label: "制作工艺",
          type: "input",
        },
        {
          prop: "g1132ds",
          label: "所在井名/管沟名称",
          type: "input",
        },
        {
          prop: "makeName",
          label: "经度",
          type: "input",
        },
        {
          prop: "tyooooo",
          label: "纬度",
          type: "input",
        },
        {
          prop: "id",
          label: "ID",
          type: "input",
          disabled: true,
        },
        {
          prop: "source",
          label: "变更记录",
          type: "input",
        },
        {
          prop: "source1",
          label: "信息来源",
          type: "input",
        },
        {
          prop: "assetUnit",
          label: "资产单位",
          type: "input",
        },
        {
          prop: "constr22uctionUnit",
          label: "当日天气",
          type: "input",
        },
        {
          prop: "constructionUnit",
          label: "施工单位",
          type: "input",
        },
        {
          prop: "acceptanceUnit",
          label: "验收单位",
          type: "input",
        },
        {
          prop: "acceptanceDate",
          label: "验收日期",
          type: "date",
        },
        {
          prop: "remark",
          label: "详情备注",
          type: "input",
        },
        {
          prop: "操作方式",
          label: "详情备注",
          type: "select",
          options: [
            {
              codeValue: "01",
              codeName: "连线跟踪",
            },
            {
              codeValue: "02",
              codeName: "单独移动",
            },
            {
              codeValue: "03",
              codeName: "更新相连线段名称",
            },
          ],
        },
        {
          prop: "protocol",
          label: "附件",
          type: "upload",
        },
      ],
    };
  },
  computed: {
    ...mapState("admin/map", ["publicParams"]),
  },
  components: {
    BaseModal,
    UploadFile,
    BaseForm,
  },
  watch: {
    "publicParams.bdZjtVisible"(val) {
      if (val) {
        this.$nextTick(() => {
          this.$refs.baseFormRef.transformToRules(this.baseFormList);
        });
      }
    },
  },
  methods: {
    ...mapMutations("admin/map", ["setState"]),
    cancel() {},
    handleSave() {
      const that = this;
      this.$refs.baseFormRef.submit().then((res) => {
        // 请求地址
        console.log("111", res);
        // 关闭弹层
        that.setState({
          publicParams: {
            bdZjtVisible: false,
            params: {}, //参数
            type: "bdZjt",
          },
        });
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.body-main-wrap {
  display: flex;
  flex-direction: column;
  height: 700px;

  .header-wrap {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    background: #fafafa;
    width: 100%;
    .station-info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0 20px;
      border: 1px solid #e4e1e1;
      height: 80px;
      padding: 0 40px;
      .label-wrap {
        display: flex;
        justify-content: space-between;
        .label {
          font-size: 16px;
          color: #333;
          margin-right: 25px;
        }
        .type {
          font-size: 16px;
          color: #0d867f;
        }
      }
    }
  }
}
</style>
