<template>
  <i-pageBody>
    <div slot="page-main" class="page">
      <query @query="searchBtn" @reset="resetBtn">
        <div slot="col-form">
          <Form :model="formData" :label-width="70">
            <Row>
              <Col span="6">
                <FormItem label="接头名称">
                  <Input v-model="formData.name" clearable placeholder="请输入接头名称" />
                </FormItem>
              </Col>
            </Row>
          </Form>
        </div>
      </query>

      <div class="btns">
        <Button type="primary" size="small" @click="exportXls">导出</Button>
      </div>

      <dark-table
        :tableColumns="columnsList"
        :tableData="dataList"
        :paginateTotal="pageTotal"
        :isloading="loading"
        :value="{ pageSize: formData.pageSize, pageNum: formData.pageIndex }"
        @input="changepageSize"
        :tableHeight="400"
        :isHideExport="true"
      >
      </dark-table>
    </div>
  </i-pageBody>
</template>

<script>
import reportApi from "@/api/report";
import _ from "lodash";

export default {
  data() {
    return {
      file: undefined,
      loading: false,
      columnsList: [
        { title: "序号", width: 80, type: "index", align: "center" },
        {
          title: "变电站名称",
          width: 120,
          ellipsis: true,
          key: "stationNames",
          tooltip: true,
        },
        {
          title: "线路名称",
          width: 120,
          ellipsis: true,
          key: "lineNames",
          tooltip: true,
        },
        { title: "接头名称", width: 120, key: "name", align: "center", tooltip: true },
        { title: "所属电缆井", width: 200, key: "cableWellName", align: "center", tooltip: true },
        { title: "类型", width: 80, key: "type", align: "center", tooltip: true },
        { title: "型号", width: 80, key: "mode", align: "center", tooltip: true },
        { title: "施工单位", width: 200, key: "constructionManufacturer", align: "center", tooltip: true },
        { title: "生产厂家", width: 200, key: "manufacturer", align: "center", tooltip: true },
        { title: "投运日期", width: 160, key: "commissioningDate", align: "center", tooltip: true },
        { title: "信息来源", width: 120, key: "infoSource", align: "center", tooltip: true },
      ],
      dataList: [],
      pageTotal: 0,
      formData: {
        pageSize: 20,
        pageIndex: 1,
        time: [],
      },
    };
  },
  created() {
    this.loadTable();
  },
  methods: {
    exportXls() {
      reportApi.interfaceExport();
    },
    loadTable() {
      this.loading = true;
      reportApi
        .getInterfaceList(this.formData)
        .then((res) => {
          this.loading = false;
          if (res.code == 200) {
            let data = res.rows;
            data.forEach((d) => {
              // 1. 变电站名称
              d.stationNames = _.isEmpty(d.cableWell.lines)
                ? "-"
                : d.cableWell.lines.map((res) => res.parentPointName).join(",");
              // 2. 线路名称
              d.lineNames = _.isEmpty(d.cableWell.lines) ? "-" : d.cableWell.lines.map((res) => res.lineName).join(",");
              // 4. 中接头
              d.cableWellName = _.get(d, "cableWell.name") || "-";
              // 5. 纬度
              d.addressLatitude = _.get(d, "address.latitude") || "-";
              // 6. 是否防火
              d.firePreventionName = _.get(d, "firePrevention") == 0 ? "否" : "是";
              // 7. 终点井经度
              d.endWellAddressLongitude = _.get(d, "endWell.address.longitude") || "-";
              // 8. 终点井纬度
              d.endWellAddressLatitude = _.get(d, "endWell.address.latitude") || "-";
            });
            this.dataList = data;
            this.pageTotal = res.total;
          }
        })
        .catch((err) => {
          this.loading = false;
        });
    },
    uploadFile(file) {
      // this.file = file;
      // 本地地址
      // system.attachmentApi
      //   .conmonUpload({
      //     file,
      //   })
      //   .then((res) => {
      //     if (res) {
      //       this.$emit("input", res.attachment.attachmentId);
      //     }
      //   });
    },
    changepageSize(val) {
      this.formData.pageIndex = val.pageNum;
      this.formData.pageSize = val.pageSize;
      this.loadTable();
    },
    searchBtn() {
      this.formData.pageIndex = 1;
      this.loadTable();
    },
    resetBtn() {
      this.formData = {
        pageSize: 20,
        pageIndex: 1,
        time: [],
      };
      this.loadTable();
    },
  },
};
</script>

<style lang="scss" scoped>
.title {
  border-left: 5px solid #3d9e99;
  padding-left: 15px;
}
.btns {
  padding: 10px 15px;
  float: right;
}
.card {
  padding: 0 15px;
}
/deep/ .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-nav-container {
  height: 46px;
}
</style>
