<template>
  <i-pageBody>
    <div slot="page-main" class="page">
      <query @query="searchBtn" @reset="resetBtn">
        <div slot="col-form">
          <Form :model="formData" :label-width="70">
            <Row>
              <Col span="6">
                <FormItem label="导入人">
                  <Input v-model="formData.importor" clearable placeholder="请输入导入人" />
                </FormItem>
              </Col>
            </Row>
          </Form>
        </div>
      </query>

      <Row style="margin-top: 10px; padding-left: 15px">
        <Upload :before-upload="uploadFile" action="" style="display: flex">
          <Button icon="ios-cloud-download-outline" type="primary">导入</Button>
        </Upload>

        <Button icon="ios-cloud-upload-outline" @click="handleExportTem" style="margin-left: 10px">导出模版</Button>
      </Row>

      <dark-table
        :tableColumns="columnsList"
        :tableData="dataList"
        :paginateTotal="pageTotal"
        :isloading="loading"
        :value="{ pageSize: formData.pageSize, pageNum: formData.pageIndex }"
        @input="changepageSize"
        :tableHeight="400"
        :isHideExport="true"
      >
      </dark-table>
    </div>
  </i-pageBody>
</template>

<script>
import usherApi from "@/api/usher";

export default {
  data() {
    const that = this;
    return {
      file: undefined,
      loading: false,
      columnsList: [
        { title: "序号", width: 80, type: "index", align: "center" },
        {
          title: "导入时间",
          key: "importTime",
          align: "center",
          tooltip: true,
          width: 250,
          render(h, params) {
            return h(
              "span",
              params.row && params.row.importTime
                ? that.$Date(params.row.importTime).format("YYYY-MM-DD HH:mm:ss")
                : "-"
            );
          },
        },
        { title: "导入人", key: "importor", width: 150, align: "center", tooltip: true },
        { title: "导入条数", key: "count", width: 120, align: "center", tooltip: true },
        { title: "导入结果", key: "message", align: "center", tooltip: true },
      ],
      dataList: [],
      pageTotal: 0,
      formData: {
        pageSize: 20,
        pageIndex: 1,
      },
    };
  },
  created() {
    this.loadTable();
  },
  methods: {
    addBtn() {},
    loadTable() {
      this.loading = true;
      usherApi
        .searchList({
          ...this.formData,
          type: 12,
        })
        .then((res) => {
          this.dataList = res.rows;
          this.pageTotal = res.total;
          this.loading = false;
        })
        .catch((err) => {
          this.loading = false;
        });
    },
    uploadFile(file) {
      // 本地地址
      usherApi.importDataHWG(file).then((res) => {
        if (res.code == 200) {
          this.$Message.success(res.msg);
          this.loadTable();
        } else {
          this.$Message.error(res.msg);
        }
      });
    },
    changepageSize(val) {
      this.formData.pageIndex = val.pageNum;
      this.formData.pageSize = val.pageSize;
      this.loadTable();
    },
    searchBtn() {
      this.formData.pageIndex = 1;
      this.loadTable();
    },
    resetBtn() {
      this.formData = {
        pageSize: 20,
        pageIndex: 1,
        time: [],
      };
      this.loadTable();
    },
    handleExportTem() {
      usherApi.importTemplateHWG();
    },
  },
};
</script>

<style lang="scss" scoped>
.title {
  border-left: 5px solid #3d9e99;
  padding-left: 15px;
}
.btns {
  margin-top: 15px;
  padding: 0 15px;
}
.card {
  padding: 0 15px;
}
/deep/ .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-nav-container {
  height: 46px;
}
</style>
