<template>
  <Layout class="i-layout p-event">
    <template v-if="isIframe">
      <Header
        class="i-layout-header"
        :class="headerClasses"
        :style="headerStyle"
        v-show="showHeader"
        v-resize="handleHeaderWidthChange"
      >
        <img width="60" style="margin-left: 20px" src="@/assets/images/icon.png" alt="" />
        <span class="logoText">电网资源管理系统</span>
        <i-header-collapse
          v-if="(isMobile || showSiderCollapse) && !hideSider"
          @on-toggle-drawer="handleToggleDrawer"
        />

        <ul class="headerListRight">
          <div class="triangle"></div>
          <!-- <li class="layui-nav-item" lay-unselect="">
            <a href="javascript:;">
              <i class="iconUnit"></i>
              <span id="unit">{{ userInfo.nickName || "-" }}</span>
            </a>
          </li> -->
          <li class="layui-nav-item" lay-unselect="" @click="test1">
            <a href="javascript:;">
              <i class="iconUser"></i>
              <span id="username" style="margin-left: 5px">{{ userInfo.nickName || "-" }}</span>
            </a>
          </li>
          <li class="layui-nav-item layuimini-select-bgcolor" lay-unselect="">
            <a href="javascript:;" class="login-out">
              <i class="iconLogout"></i>
              <span @click="logout" style="margin-left: 5px">退出登录</span>
            </a>
          </li>

          <li class="layui-nav-item" lay-unselect="">
            <a href="javascript:;">
              <i-header-reload v-if="!isMobile && showReload" @on-reload="handleReload" />
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect="">
            <a href="javascript:;">
              <i-header-fullscreen v-if="isDesktop && showFullscreen" />
            </a>
          </li>
          <span class="layui-nav-bar" style="left: 0px; top: 50.5px; width: 0px; opacity: 0"></span>
        </ul>
      </Header>

      <Layout style="margin-top: 10px" class="i-layout-inside" :class="insideClasses">
        <transition name="fade-quick">
          <Sider v-show="!isMobile && !hideSider" class="i-layout-sider" :class="siderClasses" :width="menuSideWidth">
            <i-menu-side :hide-logo="isHeaderStick && headerFix && showHeader" />
          </Sider>
        </transition>
        <Content
          v-if="!routeAuth || allMenuPath.length > 0"
          class="i-layout-content"
          :class="contentClasses"
          style="position: relative"
          :style="backgroundStyle"
        >
          <transition name="fade-quick">
            <i-tabs v-if="tabs" v-show="showHeader" @on-reload="handleReload" />
          </transition>
          <div
            class="i-layout-content-main"
            :style="customerContentMainStyle"
            style="position: absolute; left: 0; right: 0"
          >
            <i-menu-head-inner v-if="mode.type === 1" />
            <keep-alive :include="keepAlive">
              <router-view v-if="loadRouter" />
            </keep-alive>
          </div>
        </Content>
        <!-- <i-copyright /> -->
      </Layout>
      <div v-if="isMobile && !hideSider">
        <Drawer v-model="showDrawer" placement="left" :closable="false" :class-name="drawerClasses">
          <i-menu-side />
        </Drawer>
      </div>
    </template>
    <template v-else>
      <keep-alive :include="keepAlive">
        <router-view v-if="loadRouter" />
      </keep-alive>
    </template>
  </Layout>
</template>
<script>
import iMenuHead from "./menu-head";
import iMenuHeadInner from "./menu-head/inner";
import iMenuSide from "./menu-side";
import iHeaderCollapse from "./header-collapse";
import iHeaderReload from "./header-reload";
import iHeaderBreadcrumb from "./header-breadcrumb";
import iHeaderSearch from "./header-search";
import iHeaderLog from "./header-log";
import iHeaderFullscreen from "./header-fullscreen";
import iHeaderNotice from "./header-notice";
import iHeaderUser from "./header-user";
import iHeaderI18n from "./header-i18n";
import iHeaderSetting from "./header-setting";
import iTabs from "./tabs";
import { mapState, mapGetters, mapMutations } from "vuex";
import Setting from "@/setting";

import systemApi from "@/api/system";

import util, { requestAnimation } from "@/libs/util";
import _ from "lodash";

export default {
  name: "BasicLayout",
  components: {
    iMenuHead,
    iMenuHeadInner,
    iMenuSide,
    iHeaderCollapse,
    iHeaderReload,
    iHeaderBreadcrumb,
    iHeaderSearch,
    iHeaderUser,
    iHeaderI18n,
    iHeaderLog,
    iHeaderFullscreen,
    iHeaderSetting,
    iHeaderNotice,
    iTabs,
  },
  data() {
    return {
      timer: "",
      showDrawer: false,
      ticking: false,
      headerVisible: true,
      oldScrollTop: 0,
      isDelayHideSider: false, // hack，当从隐藏侧边栏的 header 切换到正常 header 时，防止 Logo 抖动
      loadRouter: true,
      pageName: "",
      routeAuth: Setting.routeAuth,
      subCustId: null,
      alarmModal: false,
      hasPermission: false,
      isIframe: self == top,
      userInfo: {},
    };
  },
  computed: {
    ...mapState("admin/layout", [
      "siderTheme",
      "headerTheme",
      "headerStick",
      "tabs",
      "tabsFix",
      "siderFix",
      "headerFix",
      "headerHide",
      "headerMenu",
      "isMobile",
      "isTablet",
      "isDesktop",
      "menuCollapse",
      "showMobileLogo",
      "showSearch",
      "showNotice",
      "showFullscreen",
      "showSiderCollapse",
      "showBreadcrumb",
      "showLog",
      "showI18n",
      "showReload",
      "enableSetting",
    ]),
    ...mapState("admin/page", ["keepAlive"]),
    ...mapState("admin/menu", ["allMenuPath"]),
    ...mapGetters("admin/menu", ["hideSider"]),
    ...mapGetters("admin/sysMode", ["mode"]),
    ...mapState("admin/page", ["fullScreen"]),
    // 如果开启 headerMenu，且当前 header 的 hideSider 为 true，则将顶部按 headerStick 处理
    // 这时，即使没有开启 headerStick，仍然按开启处理
    isHeaderStick() {
      let state = this.headerStick;
      if (this.hideSider) state = true;
      return state;
    },
    showHeader() {
      let visible = true;
      if ((this.headerFix && this.headerHide && !this.headerVisible) || this.mode.type === 1 || this.fullScreen)
        visible = false;
      return visible;
    },
    headerClasses() {
      return [
        `i-layout-header-color-${this.headerTheme}`,
        {
          // "i-layout-header-fix": this.headerFix,
          // "i-layout-header-fix-collapse": this.headerFix && this.menuCollapse,
          // "i-layout-header-mobile": this.isMobile,
          // "i-layout-header-stick": this.isHeaderStick && !this.isMobile,
          // "i-layout-header-with-menu": this.headerMenu,
          // "i-layout-header-with-hide-sider":this.hideSider || this.isDelayHideSider,
        },
      ];
    },
    headerStyle() {
      return;
      const menuWidth = this.isHeaderStick ? 0 : this.menuCollapse ? 76 : Setting.menuSideWidth;
      return this.isMobile || !this.headerFix
        ? {}
        : {
            width: `calc(100% - ${menuWidth}px)`,
          };
    },
    siderClasses() {
      return {
        "i-layout-sider-fix": this.siderFix,
        "i-layout-sider-dark": this.siderTheme === "dark",
      };
    },
    contentClasses() {
      return {
        "i-layout-content-fix-with-header": this.headerFix && this.mode.type === 0,
        "i-layout-content-with-tabs": this.tabs,
        "i-layout-content-with-tabs-fix": this.tabs && this.tabsFix,
      };
    },
    insideClasses() {
      return {
        "i-layout-inside-fix-with-sider": this.siderFix,
        "i-layout-inside-fix-with-sider-collapse": this.siderFix && this.menuCollapse,
        "i-layout-inside-with-hide-sider": this.hideSider,
        "i-layout-inside-mobile": this.isMobile,
      };
    },
    drawerClasses() {
      let className = "i-layout-drawer";
      if (this.siderTheme === "dark") className += " i-layout-drawer-dark";
      return className;
    },
    menuSideWidth() {
      return this.menuCollapse ? 76 : Setting.menuSideWidth;
    },
    backgroundStyle() {
      let sysMode = this.$store.state.admin.sysMode.mode.type;
      let bg = (this.$route.meta || {}).bgImg;
      if (typeof bg == "function") {
        bg = bg();
      }
      if (bg && sysMode === 0) {
        return {
          backgroundImage: `url('${bg}')`,
          backgroundRepeat: "no-repeat",
          backgroundPosition: "center",
          backgroundSize: "cover",
        };
      } else {
        return {
          background: "none",
        };
      }
    },
    customerContentMainStyle() {
      // sit上没有此代码，添加注释合并到sit上  2020.11.20 zhangsy
      let isPano = (this.$route.meta || {}).isPano;
      let sysMode = this.mode.type;
      let height = sysMode === 0 ? 141 : 140;
      let pdTop = sysMode === 0 ? 44 : 20;
      if (isPano) {
        return {
          margin: `${pdTop}px 0 0 0`,
          height: `calc(100% - ${height}px)`,
        };
      } else {
        return {
          margin: `${pdTop}px 20px 20px 20px`,
          height: `calc(100% - ${height}px)`,
        };
      }
    },
  },
  watch: {
    hideSider() {
      this.isDelayHideSider = true;
      setTimeout(() => {
        this.isDelayHideSider = false;
      }, 0);
    },
    $route(to, from) {
      if (to.name === from.name) {
        // 相同路由，不同参数，跳转时，重载页面
        if (Setting.sameRouteForceUpdate) {
          this.handleReload();
        }
      }
    },
  },
  methods: {
    test1() {
      if (this.$store.state.admin.user.userInfo.name == "刘东") {
        this.$router.push({
          path: "/test/test1",
        });
      }
    },
    message() {
      this.$store.commit("message/setShowMessageModal", true);
    },
    logout() {
      systemApi.logout().then((res) => {
        if (res.code == 200) {
          util.storage.removeSharedValue("userInfo");
          util.storage.removeSharedValue("token");
          util.storage.removeSharedValue("menuSider");
          util.storage.removeSharedValue("permissions");
          this.$router.replace("/login");
        }
      });
    },
    ...mapMutations("admin/layout", ["updateMenuCollapse"]),
    ...mapMutations("admin/page", ["keepAlivePush", "keepAliveRemove"]),
    handleToggleDrawer(state) {
      if (typeof state === "boolean") {
        this.showDrawer = state;
      } else {
        this.showDrawer = !this.showDrawer;
      }
    },
    handleScroll() {
      if (!this.headerHide) return;

      const scrollTop = document.body.scrollTop + document.documentElement.scrollTop;

      if (!this.ticking) {
        this.ticking = true;
        requestAnimation(() => {
          if (this.oldScrollTop > scrollTop) {
            this.headerVisible = true;
          } else if (scrollTop > 300 && this.headerVisible) {
            this.headerVisible = false;
          } else if (scrollTop < 300 && !this.headerVisible) {
            this.headerVisible = true;
          }
          this.oldScrollTop = scrollTop;
          this.ticking = false;
        });
      }
    },
    handleHeaderWidthChange() {
      const $breadcrumb = this.$refs.breadcrumb;
      if ($breadcrumb) {
        $breadcrumb.handleGetWidth();
        $breadcrumb.handleCheckWidth();
      }
      const $menuHead = this.$refs.menuHead;
      if ($menuHead) {
        $menuHead.handleGetMenuHeight();
      }
    },
    handleReload() {
      // 针对缓存的页面也生效
      const isCurrentPageCache = this.keepAlive.indexOf(this.$route.name) > -1;
      const pageName = this.$route.name;
      if (isCurrentPageCache) {
        this.keepAliveRemove(pageName);
      }
      this.loadRouter = false;
      this.$nextTick(() => {
        this.loadRouter = true;
        if (isCurrentPageCache) {
          this.keepAlivePush(pageName);
        }
      });
    },
    //故障告警弹框是否显示
    modalChange(val) {
      this.alarmModal = val;
    },
  },
  mounted() {
    document.addEventListener("scroll", this.handleScroll, { passive: true });
  },
  created() {
    if (this.isTablet && this.showSiderCollapse) this.updateMenuCollapse(true);
    let query = util.parseQueryString(window.location.href);
    this.subCustId = query["subCustId"];

    // 更新用户信息
    let userInfo = util.storage.getSharedValue("userInfo");
    if (!_.isEmpty(userInfo)) {
      this.userInfo = userInfo;
    }
  },
  beforeDestroy() {
    document.removeEventListener("scroll", this.handleScroll);
    clearInterval(this.timer);
  },
};
</script>

<style lang="less" scoped>
.i-layout-header-trigger-min {
  vertical-align: middle;
}

.p-event {
  position: relative;
}

/deep/ .handle {
  display: none !important;
}

/deep/ .vdr {
  // top: 50px;
  // right: 100px;
  border: none !important;
  z-index: 9999 !important;
}

/deep/ .flex {
  display: inline-flex !important;
  align-items: center !important;

  .iconImg {
    width: 14px;
    height: 14px;
  }
}

// /deep/ .vdr:before {
//   content: "";
//   display: block;
//   width: 82px;
//   height: 715;
//   border-width:82px;
// }
/deep/ .alarm-modal {
  .ivu-modal {
    position: absolute;
    right: 10px;
  }
}

/deep/ .logoText {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.headerListRight {
  position: absolute;
  right: 0;
  line-height: 77px;
  height: 65px;
  /* padding-left: 50px!important; */
  /* background: url(images/headerRightBg.png)!important; */
  box-sizing: border-box;
  background: #fff !important;
  border-radius: 0 40px 0 0;
  margin-right: 10px;
  margin-top: 6px;
  margin-left: 30px;
  box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.2);

  .triangle {
    position: absolute;
    left: -40px;
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 65px solid #fff;
    border-left: 40px solid transparent;
    filter: drop-shadow(-2px 1px 1px rgba(0, 0, 0, 0.2));
  }
  .layui-nav-item {
    display: inline-block;
  }
  a {
    padding: 0 25.5px;
    display: flex !important;
    align-items: center;
    span {
      font-size: 16px !important;
      color: #999 !important;
    }
  }
}
.iconUnit {
  background: url("~@/assets/images/iconUnit.png");
  width: 24px;
  height: 24px;
  display: inline-block;
}
.iconUser {
  background: url("~@/assets/images/iconUser.png");
  width: 24px;
  height: 24px;
  display: inline-block;
}
.iconLogout {
  background: url("~@/assets/images/iconLogout.png");
  width: 24px;
  height: 24px;
  display: inline-block;
}
.iconMessage {
  background: url("~@/assets/images/message.png");
  width: 30px;
  height: 24px;
  display: inline-block;
}
</style>
