<!-- 站/所/箱/环/分 弹框 -->
<template>
  <BaseModal :visible="publicParams.bdZSXHFVisible" @on-cancel="cancel">
    <!-- 头部分 -->
    <div class="body-main-wrap">
      <div class="header-wrap">
        <span class="label-name">{{ publicParams && publicParams.params && publicParams.params.text }}</span>
      </div>
      <!-- 主体部分 -->
      <BaseForm ref="baseFormRef" v-if="publicParams.bdZSXHFVisible" />

      <div class="floor-wrap">
        <Button type="primary" v-auth="'map:edit'" @click="handleSave" size="small" style="width: 120px; height: 35px"
          >保存</Button
        >
      </div>
    </div>
  </BaseModal>
</template>

<script>
import BaseModal from "../../templates/baseModal/index";
import { mapState, mapMutations } from "vuex";
import UploadFile from "@/components/uploadFile";
import _ from "lodash";
import BaseForm from "../../components/baseForm";
import systemApi from "@/api/system";

export default {
  data() {
    return {
      formInline: {},
      types: [],
    };
  },
  computed: {
    ...mapState("admin/map", ["publicParams", "astTreeList"]),

    baseFormList() {
      return [
        {
          prop: "equName",
          label: "设备名称",
          type: "input",
          disabled: true,
        },
        {
          prop: "moneySource",
          label: "资金来源",
          type: "input",
        },
        {
          prop: "astNature",
          label: "资产性质",
          type: "input",
        },
        {
          prop: "manufacturer",
          label: "生产厂家",
          type: "input",
        },

        {
          prop: "category",
          label: "类型”",
          type: "input",
        },
        {
          prop: "mode",
          label: "型号",
          type: "input",
        },
        {
          prop: "opMode",
          label: "经营方式",
          type: "input",
        },
        {
          prop: "orgCode",
          label: "资产单位",
          type: "treeSelect",
          treeList: this.astTreeList,
          orderProp: "orgName",
        },

        {
          prop: "capacity",
          label: "主变容量",
          type: "input",
        },

        {
          prop: "num",
          label: "主变台效",
          type: "input",
        },
        {
          prop: "protocol",
          label: "附件",
          type: "upload",
          required: true,
        },
      ];
    },
  },
  components: {
    BaseModal,
    UploadFile,
    BaseForm,
  },
  watch: {
    "publicParams.bdZSXHFVisible"(val) {
      if (val) {
        console.log(">>>", this.publicParams);
        this.$nextTick(() => {
          this.getSubStation();
        });
      }
    },
  },
  methods: {
    ...mapMutations("admin/map", ["setState"]),
    cancel() {},
    getSubStation() {
      systemApi.getEqipmentById(this.publicParams.params.id).then((res) => {
        if (res.code == 200) {
          console.log("");
          this.$refs.baseFormRef.baseForm = {
            ...res.data,
            num: _.get(res, "data.num") ? String(res.data.num) : undefined,
          };

          this.$nextTick(() => {
            this.$refs.baseFormRef.transformToRules(this.baseFormList);
          });
        }
      });
    },
    handleSave() {
      const that = this;
      this.$refs.baseFormRef.submit().then((res) => {
        // 请求地址
        if (res) {
          systemApi.editEqipment(res).then((res) => {
            if (res.code == 200) {
              this.$Message.success("保存成功!");
              // 关闭弹层
              that.setState({
                publicParams: {
                  bdZSXHFVisible: false,
                  params: {}, //参数
                  type: "bdZSXHF",
                },
              });
            }
          });
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.body-main-wrap {
  display: flex;
  flex-direction: column;
  height: 550px;

  .header-wrap {
    display: flex;
    height: 60px;
    align-items: center;
    background: #eefffe;
    width: 100%;
  }

  .label-name {
    font-size: 18px;
    margin-left: 20px;
    color: #0d867f;
    font-weight: 600;
  }

  .floor-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
}
</style>
