<template>
  <Modal v-model="visible" :title="optionType == 'icon' ? '编辑图标' : '编辑线路'" width="400" :mask-closable="false">
    <Form :model="formData" :label-width="80" ref="formRef" v-if="visible">
      <Row v-if="optionType == 'icon'">
        <Col span="14">
          <FormItem
            label="图标上传"
            prop="icon"
            :rules="{
              required: true,
              message: `请上传图标`,
              trigger: 'change',
            }"
          >
            <UploadFile v-model="formData.icon" type="base64" />
          </FormItem>
        </Col>
      </Row>

      <Row v-else>
        <Col span="8">
          <FormItem label="颜色">
            <ColorPicker v-model="color" />
          </FormItem>
        </Col>

        <Col span="16">
          <FormItem
            label="宽度"
            prop="width"
            :rules="{
              required: true,
              message: `请输入宽度`,
            }"
          >
            <Input type="text" v-model="formData.width" :placeholder="`请输入线的宽度`" style="width: 120px" />
          </FormItem>
        </Col>
      </Row>
    </Form>

    <div slot="footer">
      <Button @click="cancel" style="margin-right: 10px">取消</Button>
      <Button type="primary" @click.stop="ok" style="margin-right: 10px">确认</Button>
    </div>
  </Modal>
</template>

<script>
import systemApi from "@/api/system";
import _ from "lodash";
import UploadFile from "@/components/uploadFile";

export default {
  data() {
    return {
      visible: false,
      loading: false,
      formData: {
        id: undefined,
      },
      codeData: [],
      optionType: "icon",
      color: "",
    };
  },
  components: {
    UploadFile,
  },
  methods: {
    getCodeList(id) {
      system.codeApi
        .getCodeList({
          codeSortId: id,
        })
        .then((rt) => {
          this.codeData = rt.result.codes;
        });
    },
    ok() {
      this.$refs.formRef.validate().then((state) => {
        console.log(">>>>", this.formData);
        // 如果是线路 则检验颜色
        if (this.optionType == "line" && !this.color) {
          this.$Message.info("请选择颜色!");
          return;
        }

        if (state) {
          // 检验
          systemApi
            .addIcon({
              ...this.formData,
              ...(this.optionType == "line"
                ? {
                    color: this.color,
                  }
                : {}),
            })
            .then((res) => {
              if (res.code == 200) {
                this.$Message.success("编辑成功!");
                this.cancel();
                this.$emit("loadTable");
              }
            });
        }
      });
    },

    cancel() {
      this.visible = false;
      this.formData = {};
      this.$refs.formRef.resetFields();
    },
  },
};
</script>

<style scoped lang="scss">
/deep/ .ivu-table td {
  height: 36px !important;
}
</style>
