<template>
  <span
    class="i-layout-header-trigger i-layout-header-trigger-min"
    @click="toggleFullscreen"
  >
    <Icon
      custom="iconfont zhny-icon-full-screen"
      color="#3d9e99"
      v-show="!isFullscreen"
    />
    <Icon
      custom="iconfont zhny-icon-exit-full-screen"
      color="#3d9e99"
      v-show="isFullscreen"
    />
  </span>
</template>
<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "iHeaderFullscreen",
  computed: {
    ...mapState("admin/layout", ["isFullscreen"]),
  },
  methods: {
    ...mapActions("admin/layout", ["toggleFullscreen"]),
  },
};
</script>
<style lang="scss" scoped>
/deep/ .ivu-icon {
  vertical-align: 0 !important;
  font-size: 24px;
}
</style>
