<template>
  <div class="login-wrap">
    <div class="header">
      <div class="header-title">登录界面</div>
      <div class="header-img"></div>
    </div>

    <div class="content">
      <div class="content-left"></div>
      <div class="content-right">
        <div class="right-infp">
          <div class="right-infp-name">
            <input
              type="text"
              name="name"
              placeholder="请输入单位"
              autocomplete="off"
              v-model.trim="ruleForm.orgName"
            />
          </div>
          <div class="right-infp-name">
            <input
              type="text"
              name="name"
              placeholder="请输入用户名"
              autocomplete="off"
              v-model.trim="ruleForm.username"
            />
          </div>
          <div class="right-infp-name">
            <input
              type="password"
              name="name"
              placeholder="请输入密码"
              autocomplete="off"
              v-model.trim="ruleForm.password"
            />
          </div>
          <div class="right-infp-btn">
            <button class="btn" @click="login">{{ loading ? "loading" : "登录" }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import systemApi from "@/api/system";
import util from "@/libs/util";
import _ from "lodash";

export default {
  name: "login",

  data() {
    return {
      ruleForm: {},
      // {
      //   username: "fx123",
      //   password: "fx123",
      //   orgName: "丰县供电公司",
      // },
      loading: false,
      rules: {
        password: [{ required: true, trigger: "blur", message: "请输入密码" }],
        orgName: [{ required: true, trigger: "blur", message: "请输入单位" }],
        username: [{ required: true, trigger: "blur", message: "请输入用户名" }],
      },
    };
  },

  mounted() {},

  methods: {
    ...mapMutations("admin/menu", ["setMenuSider"]),
    /**
     * 转换成菜单数据
     *
     */
    transformToMenuSide(data) {
      const that = this;
      data.forEach((res) => {
        res.id = _.uniqueId();
        res.name = res.meta.title;
        if (res.path == "/home") {
          res.target = "_blank";
          res.icon = "ios-globe";
        }

        if (res.path == "/dataimport" && res.children) {
          res.icon = "ios-cloud-download";
        }

        if (res.path == "/datareport" && res.children) {
          res.icon = "md-book";
        }

        if (res.path == "/system" && res.children) {
          res.icon = "md-cog";
        }

        if (!_.isEmpty(res.children)) {
          that.transformToMenuSide(res.children);
        }
      });
    },
    login() {
      if (this.loading) {
        return;
      }
      const that = this;

      if (!this.ruleForm.orgName) {
        this.$Message.info("请输入单位");
        return;
      }

      if (!this.ruleForm.username) {
        this.$Message.info("请输入用户名");
        return;
      }

      if (!this.ruleForm.password) {
        this.$Message.info("请输入密码");
        return;
      }

      this.loading = true;

      systemApi
        .login(this.ruleForm)
        .then((res) => {
          console.log("login", res);
          if (res.code == 200) {
            // 1.保存token access_token
            util.storage.setSharedValue("token", res.data.access_token);

            // 3. 保存用户基本信息
            systemApi.getInfo().then((res) => {
              if (res.code == 200) {
                // 3-1.按钮权限保存
                util.storage.setSharedValue("userInfo", res.user);

                // 3-2.按钮权限保存
                util.storage.setSharedValue("permissions", res.permissions);
              }
            });

            // 2.登陆完后主动获取菜单数据
            systemApi.getRouters().then((res) => {
              this.loading = false;
              // 2.1保存菜单
              if (res.code == 200) {
                let menuList = res.data;
                that.transformToMenuSide(menuList);
                util.storage.setSharedValue("menuSider", JSON.stringify(menuList));
                location.replace(`${location.origin}/`);
              }
            });
          }
        })
        .catch((err) => {
          this.loading = false;
        });
    },
    logout() {},
  },
};
</script>

<style lang="scss" scoped>
.login-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1000px;
  margin: 0 auto;
  position: relative;
  background: url("~@/assets/img/bj.jpg") no-repeat;

  .logo {
    height: calc(100vh - 300px);
    width: 100%;
    min-height: 400px;
  }

  .c-form {
    align-items: center;
    background: #f7f8fa;
    display: flex;
    justify-content: center;
    flex: 1;
    min-height: 100px;
  }

  .header {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      text-align: center;
      color: #ffffff;
      font-size: 24px;
      text-shadow: 0 0 18px #00d8ff;
      line-height: 63px;
    }
    &-img {
      background: url("~@/assets/img/head.gif") no-repeat center center;
      background-size: 100%;
      width: 720px;
      top: 40px;
      height: 72px;
    }
  }

  .content {
    width: 720px;
    height: 420px;

    margin: auto;

    @keyframes rotation {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    &-left {
      width: 372px;
      height: 348px;
      background: url("~@/assets/img/d.png") no-repeat;
      background-size: 100% 100%;
      padding: 24px 0;
      box-sizing: border-box;
      margin-right: 2%;
      float: left;
      -webkit-transform: rotate(360deg);
      animation: rotation 15s linear infinite;
      -moz-animation: rotation 15s linear infinite;
      -webkit-animation: rotation 15s linear infinite;
    }

    &-right {
      width: 324px;
      height: 348px;
      background: url("~@/assets/img/e.png") no-repeat;
      background-size: 100% 100%;
      float: right;
      position: relative;
      .right-infp {
        width: 240px;
        height: 180px;
        margin: auto auto;
        vertical-align: center;
        position: absolute;
        top: 96px;
        left: 54px;

        &-name {
          background: url("~@/assets/img/b.png") no-repeat;
          width: 100%;
          height: 30px;
          background-size: 100% 100%;
          line-height: 27px;
          margin-bottom: 24px;
          position: relative;
          input {
            width: 85%;
            border: none;
            box-sizing: border-box;
            height: 30px;
            margin-left: 30px;
            line-height: 30px;
            background: none !important;
            color: #00eaff;
            box-shadow: none !important;
            padding-left: 9px;
            outline: none;
            -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
            position: absolute;

            &::-webkit-input-placeholder {
              color: #ccc;
            }
          }
        }
        &-btn {
          background: url("~@/assets/img/a.png") no-repeat;
          width: 100%;
          height: 30px;
          background-size: 100% 100%;
          line-height: 30px;
          margin-bottom: 24px;
          position: relative;
          .btn {
            width: 95%;
            border: none;
            box-sizing: border-box;
            height: 27px;
            margin-left: 6px;
            font-size: 14px;
            cursor: pointer;
            background: none;
            outline: none;
            color: #fff;
            position: absolute;
          }
        }
      }
    }
  }
}
</style>
