<!-- 用户弹框 -->
<template>
  <BaseModal :visible="publicParams.bdYhVisible" @on-cancel="cancel">
    <!-- 头部分 -->
    <div class="body-main-wrap">
      <div class="header-wrap">
        <span class="label-name">{{ publicParams && publicParams.params && publicParams.params.text }}</span>
      </div>
      <!-- 主体部分 -->
      <BaseForm ref="baseFormRef" v-if="publicParams.bdYhVisible" />

      <div class="floor-wrap">
        <Button type="primary" v-auth="'map:edit'" @click="handleSave" size="small" style="width: 120px; height: 35px"
          >保存</Button
        >
      </div>
    </div>
  </BaseModal>
</template>

<script>
import BaseModal from "../../templates/baseModal/index";
import { mapState, mapMutations } from "vuex";
import UploadFile from "@/components/uploadFile";
import _ from "lodash";
import BaseForm from "../../components/baseForm";
import systemApi from "@/api/system";

export default {
  data() {
    return {
      formInline: {},
      types: [],
    };
  },
  computed: {
    ...mapState("admin/map", ["publicParams", "astTreeList"]),
    baseFormList() {
      return [
        {
          prop: "custName",
          label: "用户名称",
          type: "input",
          disabled: true,
        },
        {
          prop: "custNo",
          label: "户号",
          type: "input",
        },
        {
          prop: "capacity",
          label: "容量",
          type: "input",
        },

        {
          prop: "address",
          label: "地址",
          type: "input",
        },
        {
          prop: "deviceMode",
          label: "配变型号",
          type: "input",
        },
        {
          prop: "orgCode",
          label: "资产单位",
          type: "treeSelect",
          treeList: this.astTreeList,
          orderProp: "orgName",
        },

        {
          prop: "longitude",
          label: "经度",
          type: "input",
        },
        {
          prop: "latitude",
          label: "纬度",
          type: "input",
        },

        {
          prop: "protocol",
          label: "附件",
          type: "upload",
          required: true,
        },
      ];
    },
  },
  components: {
    BaseModal,
    UploadFile,
    BaseForm,
  },
  watch: {
    "publicParams.bdYhVisible"(val) {
      if (val) {
        console.log("bdYhVisible", this.publicParams);
        this.$nextTick(() => {
          this.getUserById();
        });
      }
    },
  },
  methods: {
    ...mapMutations("admin/map", ["setState"]),
    cancel() {},
    getUserById() {
      systemApi.getUserById(this.publicParams.params.id).then((res) => {
        if (res.code == 200) {
          this.$refs.baseFormRef.baseForm = {
            ...res.data,
            longitude: _.get(res, "data.addressVo.longitude"),
            latitude: _.get(res, "data.addressVo.latitude"),
            id: String(res.data.id),
          };

          this.$nextTick(() => {
            this.$refs.baseFormRef.transformToRules(this.baseFormList);
          });
        }
      });
    },

    handleSave() {
      const that = this;
      this.$refs.baseFormRef.submit().then((res) => {
        // 请求地址
        if (res) {
          systemApi.editUser(res).then((res) => {
            if (res.code == 200) {
              this.$Message.success("保存成功!");
              // 关闭弹层
              that.setState({
                publicParams: {
                  bdBdzVisible: false,
                  params: {}, //参数
                  type: "bdBdz",
                },
              });
            }
          });
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.body-main-wrap {
  display: flex;
  flex-direction: column;
  height: 500px;

  .header-wrap {
    display: flex;
    height: 60px;
    align-items: center;
    background: #eefffe;
    width: 100%;
  }

  .label-name {
    font-size: 18px;
    margin-left: 20px;
    color: #0d867f;
    font-weight: 600;
  }

  .floor-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
}
</style>
