<template>
  <div class="search">
    <img :src="searchImg" class="f-ml10 f-mr5" />
    <input class="flex-1" :placeholder="placeholder" v-model="inputVal" />
  </div>
</template>
<script>
import _ from "lodash";
import { mapState, mapMutations } from "vuex";
export default {
  name: "header-search",
  props: {
    placeholder: String,
    handleSearch: Function,
    refIndex:String
  },
  data() {
    return {
      inputVal: null,
      searchImg: require("@/assets/img/helper/search.png")
    };
  },
  methods:{
    ...mapMutations("admin/helper", ["upInputVal"]),
  },
  watch: {
    inputVal(newVal) {
      if(this.refIndex!=1){
        this.upInputVal({key:this.refIndex,value:newVal});
      }
      this.$emit("handleSearch");
    }
  }
};
</script>
<style lang="less" scoped>
.search {
  position: fixed;
  display: flex;
  align-items: center;
  width: 400px;
  height: 42px;
  background-color: #e7e7e7;
  margin: auto;
  border-radius: 2px;
  transform: translate(20px, 0);
  border-top: 10px solid #fff;
  z-index: 9999;
  & > img {
    width: 15px;
    height: 15px;
  }
  & > input {
    background-color: #e7e7e7;
  }
}
</style>