<!-- 变电站弹框 -->
<template>
  <BaseModal :visible="publicParams.bdAddDlgVisible" @on-cancel="cancel">
    <!-- 头部分 -->
    <div class="body-main-wrap">
      <div class="header-wrap">
        <span class="label-name">{{ `${this.detail ? "编辑" : "新增"}` }}管沟</span>
      </div>
      <!-- 主体部分 -->
      <BaseForm ref="baseFormRef" v-if="publicParams.bdAddDlgVisible" />

      <div class="floor-wrap">
        <Button type="primary" v-auth="'map:edit'" @click="handleSave" size="small" style="width: 120px; height: 35px"
          >保存</Button
        >
      </div>
    </div>
  </BaseModal>
</template>

<script>
import BaseModal from "../../templates/baseModal/index";
import { mapState, mapMutations } from "vuex";
import UploadFile from "@/components/uploadFile";
import _ from "lodash";
import BaseForm from "../../components/baseForm";
import systemApi from "@/api/system";

export default {
  data() {
    return {
      startCodes: [],
      endCodes: [],
      detail: undefined,
    };
  },
  computed: {
    ...mapState("admin/map", ["publicParams", "astTreeList", "BDMap", "BDTree"]),

    baseFormList() {
      return [
        ...(this.detail
          ? [
              {
                prop: "startName",
                label: "起点",
                type: "input",
                disabled: true,
                required: true,
              },
              {
                prop: "endName",
                label: "终点",
                type: "input",
                disabled: true,
                required: true,
              },
            ]
          : [
              {
                prop: "start",
                label: "起点",
                type: "select",
                options: this.startCodes,
                onChange: (val, list, item) => {
                  let _list = list[1].options.filter((res) => res.codeValue !== val);
                  this.$set(list[1], "options", JSON.parse(JSON.stringify(_list)));
                },
              },
              {
                prop: "end",
                label: "终点",
                type: "select",
                options: this.endCodes,
                onChange: (val, list, item) => {
                  let _list = list[0].options.filter((res) => res.codeValue !== val);
                  this.$set(list[0], "options", JSON.parse(JSON.stringify(_list)));
                },
              },
            ]),

        {
          prop: "holesNum",
          label: "管孔数量",
          type: "input",
        },
        {
          prop: "len",
          label: "长度",
          type: "input",
        },
      ];
    },
  },
  components: {
    BaseModal,
    UploadFile,
    BaseForm,
  },
  watch: {
    "publicParams.bdAddDlgVisible"(val) {
      if (val) {
        this.$nextTick(() => {
          console.log("是否是编辑");
          if (_.get(this.publicParams, "params.details")) {
            this.detail = this.publicParams.params.details;
            this.getDitch();
          } else {
            this.getSubStation();
          }
        });
      }
    },
  },
  methods: {
    ...mapMutations("admin/map", ["setState"]),
    cancel() {},
    getDitch() {
      systemApi.getDitch(this.detail.id).then((res) => {
        if (res.code == 200) {
          let _d = res.data;
          this.$refs.baseFormRef.baseForm = {
            id: _d.id,
            startName: _d.startWell.name || "-",
            endName: _d.endWell.name || "-",
            len: _d.len,
            holesNum: String(_d.countHoles),
          };

          this.$nextTick(() => {
            this.$refs.baseFormRef.transformToRules(this.baseFormList);
          });
        }
      });
    },
    getSubStation() {
      Promise.all(
        this.publicParams.params.points.map((res) =>
          systemApi.getNearbyPointForDitch({
            lat: res.lat,
            lon: res.lng,
          })
        )
      ).then((res) => {
        const [startCodes, endCodes] = res;
        if (!_.isEmpty(startCodes) && !_.isEmpty(endCodes)) {
          this.startCodes = startCodes.map((res) => ({
            ...res,
            codeValue: `${res.id}-${res.type}`,
            codeName: res.name,
          }));
          this.endCodes = endCodes.map((res) => ({
            ...res,
            codeValue: `${res.id}-${res.type}`,
            codeName: res.name,
          }));
          this.$refs.baseFormRef.baseForm.len = this.BDMap.getPointsDistance(this.publicParams.params.points);

          this.$nextTick(() => {
            this.$refs.baseFormRef.transformToRules(this.baseFormList);
          });
        } else {
          this.$Message.info(`${_.isEmpty(startCodes) ? "起始" : "终"}点位没有可选点，请重新选择`);
          // 关闭弹层
          this.cancel();

          this.setState({
            publicParams: {
              bdAddDlgVisible: false,
            },
          });
        }
      });
    },
    handleSave() {
      const that = this;
      that.$refs.baseFormRef.submit().then((baseData) => {
        // 请求地址
        if (baseData) {
          if (this.detail) {
            systemApi.editDitch(baseData).then((res) => {
              if (res.code == 200) {
                that.$Message.success("编辑成功!");
                // 关闭弹层
                that.setState({
                  publicParams: {
                    bdAddDlgVisible: false,
                    params: {}, //参数
                    type: "bdAddDlg",
                  },
                });
              }
            });
          } else {
            let start_obj = that.startCodes.filter((res) => res.codeValue == baseData.start)[0];

            let end_obj = that.endCodes.filter((res) => res.codeValue == baseData.end)[0];

            let params = {
              ...baseData,
              name: `${start_obj.name}-${end_obj.name}`,
              start: baseData.start.split("-")[0],
              end: baseData.end.split("-")[0],
            };
            systemApi.addDitch(params).then((res) => {
              if (res.code == 200) {
                that.$Message.success("保存成功!");
                // 关闭弹层
                that.setState({
                  publicParams: {
                    bdAddDlgVisible: false,
                    params: {}, //参数
                    type: "bdAddDlg",
                  },
                });

                // 渲染地图
                console.log("BdTree", that.BdTree);
                that.BDTree.pushPoints(res.data);
              }
            });
          }
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.body-main-wrap {
  display: flex;
  flex-direction: column;
  height: 300px;

  .header-wrap {
    display: flex;
    height: 60px;
    align-items: center;
    background: #eefffe;
    width: 100%;
  }

  .label-name {
    font-size: 18px;
    margin-left: 20px;
    color: #0d867f;
    font-weight: 600;
  }

  .floor-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
}
</style>
