// 自定义主题
// 详见 https://www.iviewui.com/docs/guide/theme
@import "~view-design/src/styles/index.less";

@menu-dark-title: #191a23;
@menu-dark-active-bg: #101117;

@menu-blueBgColor: #0d2452; //蓝色背景色底色
@menu-blueBgColor-active: #008df0; //蓝色背景色鼠标悬浮
@menu-blueBgLogoColor: #091c41; //蓝色背景-logo背景色
@menu-blueColor: #ade1ff; //蓝色背景字体颜色
@menu-blueColor-active: #008df0; //蓝色背景字体选中颜色

@menu-new-blueBgColor: #0d2452; //#13275e;//蓝色背景色底色(新)
@menu-new-blueBgColor-active: #008df0; //蓝色背景色鼠标悬浮(新)
@menu-new-blueBgLogoColor: #091c41; //蓝色背景-logo背景色(新)
@menu-new-blueColor: #ade1ff; //蓝色背景字体颜色(新)
@menu-new-blueColor-active: #008df0; //蓝色背景字体选中颜色(新)
