<template>
  <div class="tool-wrap">
    <!-- 工具头部 -->
    <ul class="tool-header">
      <li
        :class="`header-tab ${currentKey == tab.key ? 'hover' : ''}`"
        v-for="tab in tabs"
        @click="currentKey = tab.key"
      >
        {{ tab.label }}
      </li>
    </ul>

    <!-- 功能模块 -->
    <ul class="tool-ability">
      <li
        :class="`ability-tab ${abilityKey == ab.key ? 'hover' : ''}`"
        v-for="ab in tabs[currentKey].ability"
        @click="handleEnter(ab)"
      >
        <label v-if="!currentKey"><input type="file" name="" id="file1" /> {{ ab.label }}</label>
        <span v-else>{{ ab.label }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
  name: "tool",
  data() {
    return {
      currentKey: 0,
      abilityKey: "1-0",
      tabs: [
        {
          label: "批量导入",
          key: 0,
          ability: [
            { label: "变电站导入", key: "1-0" },
            { label: "线路导入", key: "1-1" },
            { label: "杆塔导入", key: "1-2" },
            { label: "开关导入", key: "1-3" },
            { label: "站所导入", key: "1-4" },
            { label: "用户导入", key: "1-5" },
            { label: "电缆段导入", key: "1-6" },
            { label: "箱变导入", key: "1-7" },
            { label: "杆上变导入", key: "1-8" },
            { label: "环网柜导入", key: "1-9" },
            { label: "分支箱导入", key: "1-10" },
            { label: "电缆井导入", key: "1-11" },
          ],
        },
        {
          label: "设置",
          key: 1,
          ability: [
            { label: "全屏", key: "full-screen" },
            { label: "放大", key: "handleZoomIn" },
            { label: "缩小", key: "handleZoomOut" },
            { label: "当前层级", key: "getZoomNum" },
          ],
        },
      ],
    };
  },
  computed: {
    ...mapState(["fullScreen", "BDMap"]),
  },
  methods: {
    ...mapMutations(["setState"]),
    handleEnter(item) {
      const key = item.key;
      this.abilityKey = key;
      switch (key) {
        case "full-screen":
          this.setState({
            fullScreen: !this.fullScreen,
          });
          let docElm = document.querySelector("#map-wrap"); //区域
          if (docElm.requestFullscreen) {
            docElm.requestFullscreen();
          } else if (docElm.msRequestFullscreen) {
            docElm.msRequestFullscreen();
          } else if (docElm.mozRequestFullScreen) {
            docElm.mozRequestFullScreen();
          } else if (docElm.webkitRequestFullScreen) {
            docElm.webkitRequestFullScreen();
          }

          // 取消全屏
          // if (document.exitFullscreen) {
          //   document.exitFullscreen();
          // } else if (document.msExitFullscreen) {
          //   document.msExitFullscreen();
          // } else if (document.mozCancelFullScreen) {
          //   document.mozCancelFullScreen();
          // } else if (document.webkitCancelFullScreen) {
          //   document.webkitCancelFullScreen();
          // }
          break;
        default:
          if (key) {
            this.BDMap[`${key}`]();
          }
          break;
      }
    },
  },
};
</script>

<style scoped lang="scss">
.tool-wrap {
  height: 90px;
  background-color: #dae7f5;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  .tool-header {
    display: flex;
    background-color: #b9d0eb;
    height: 30px;
    line-height: 30px;
    width: 100%;
    padding-left: 120px;
    color: #335173;
    .header-tab {
      padding: 0 10px;
      cursor: pointer;
      &.hover {
        background-color: #dae7f5;
      }
    }
  }
  .tool-ability {
    flex: 1;
    display: flex;
    padding-left: 120px;
    .ability-tab {
      padding: 0 5px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      display: flex;
      color: #666;
      font-size: 14px;
      &.hover {
        color: #0d867f;
      }
    }
  }
}
#file1 {
  display: none;
}
</style>
