<template>
  <div class="iframeWrapper">
    <iframe
      ref="iframe"
      id="myiframe"
      :src="url"
      @load="jsonLoaded"
      class="iframe"
      frameborder="0"
    ></iframe>
  </div>
</template>
<script>
import token from '@/libs/util.token'
import util from '@/libs/util'
export default {
  components: {},
  props: {
    //模式，0代表图纸，1代表编辑器
    model: {
      type: Number,
      default: 0,
    },
    //图纸的id
    drawingId: {
      type: String,
      default: '',
    },
    //项目id
    projectID: {
      type: String,
      default: 'default',
    },
  },
  data() {
    return {
      //iframed URL地址
      url: '',
      //图扑软件服务器地址
      topoServer: `${process.env.VUE_APP_TOPVSERVER}`,
      //用户名
      userName: (token.initToken() || {}).sub || 'admin',
      //环境参数
      env: `${process.env.VUE_APP_ENV}` || 'development',
      //topv的appId
      appId: `${process.env.VUE_APP_TOPVAPPID}`,
      //topv的secret
      appSecret: `${process.env.VUE_APP_TOPVAPPSECRET}`,
    }
  },
  methods: {
    //获取图纸的url
    getDrawingUrl() {
      const crypto = require('crypto')
      var token = '8k83cbxuuwspgst926544m4d6i9uhum6'
      var screenID = '4aaae187‐73c6‐49e9‐9def‐bf2af7d1b013'
      var time = Date.now()
      var operator = this.userName // 操作员用户名
      var stringToSign = operator + '|' + screenID + '|' + time
      var signature = crypto
        .createHmac('sha256', token)
        .update(stringToSign)
        .digest()
        .toString('base64')
      var url =
        'http://topv.iotopo.com/share?url=displays/' +
        screenID +
        '.json&_topv_operator=' +
        operator +
        '&_topv_time=' +
        time +
        '&_topv_signature=' +
        encodeURIComponent(signature)
      // this.url = `${this.topoServer}/share?url=displays/${this.drawingId}.json`
      this.url = `${this.topoServer}/share?url=${this.drawingId}`
      // alert(this.url)
    },
    jsonLoaded() {},
    //获取编辑器的url
    getEditorUrl() {
      const crypto = require('crypto')
      var appID = '$' + this.appId
      var appSecret = this.appSecret
      var username = this.userName
      var time = Date.now()
      var stringToSign =
        appID + '|' + this.projectID + '|' + username + '|' + time
      var signature = crypto
        .createHmac('sha256', appSecret)
        .update(stringToSign)
        .digest()
        .toString('base64')
      console.log('VUE_APP_TOPVAPPID=%s', process.env.VUE_APP_TOPVAPPID)
      this.url = `${
        this.topoServer
      }/topvEditor?_topv_app_id=${appID}&_topv_project_id=${
        this.projectID
      }&_topv_username=${username}&_topv_time=${time}&_topv_signature=${encodeURIComponent(
        signature
      )}`
    },
    //初始化topo的url
    initTopoUrl() {
      if (this.model) {
        this.getEditorUrl()
      } else {
        this.getDrawingUrl()
      }
    },
    //在元素上绑定事件
    bindEvent(element, eventName, eventHandler) {
      if (element.addEventListener) {
        element.addEventListener(eventName, eventHandler, false)
      } else if (element.attachEvent) {
        element.attachEvent('on' + eventName, eventHandler)
      }
    },
    removeEvent(element, eventName, eventHandler) {
      if (element.removeEventListener) {
        element.removeEventListener(eventName, eventHandler)
      } else if (element.detachEvent) {
        element.detachEvent('on' + eventName, eventHandler)
      }
    },
    //事件处理器
    eventHandler(e) {
      let data = e.data || {}
      if (data.type !== 'topoMessage') {
        return
      }
      //topv传过来的数据
      data = data.data || {}
      switch (data.type) {
        case 'tokenTimeout': //token超时,
          break
        case 'getToken': //iframe里面需获取外部token
          let iframeWindow =
            this.$refs.iframe && this.$refs.iframe.contentWindow
          if (iframeWindow) {
            iframeWindow.postMessage(
              {
                type: 'getTokenMessage',
                data: {
                  token: util.storage.get('token') || '',
                  env: this.env,
                },
              },
              '*'
            )
          }
          break
        default:
          //默认会把数据传出去
          this.$emit('getTopoData', data)
          break
      }
    },
  },
  created() {
    this.initTopoUrl()
  },
  mounted() {
    this.bindEvent(window, 'message', this.eventHandler)
  },
  destroyed() {
    this.removeEvent(window, 'message', this.eventHandler)
  },
}
</script>
<style lang="scss" scoped>
.iframeWrapper {
  position: relative;
  overflow: hidden;
  height: 100%;

  .iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
</style>
