/* 主题色系*/
/* 右侧菜单*/
.table-detail-list {
  padding: 0 20px;
  background: #FFF;
}
.clearfix {
  clear: both;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
:export {
  menuText: #bfcbd9;
  menuActiveText: #409EFF;
  subMenuActiveText: #f4f4f5;
  menuBg: #304156;
  menuHover: #263445;
  subMenuBg: #1f2d3d;
  subMenuHover: #001528;
  sideBarWidth: 230px;
}
.form-el-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  line-height: 40px;
}
.time-list {
  padding-left: 10px;
  margin-bottom: 30px;
}
.time-list a {
  display: inline-block;
  font-size: 15px;
  color: #666;
  line-height: 45px;
  cursor: pointer;
  width: 180px;
  text-align: center;
}
.time-list .active {
  border: 1px solid #409EFF;
  color: #409EFF;
  border-radius: 5px;
}
.body-container {
  height: 100%;
}
*::-webkit-scrollbar-thumb {
  background: #E4E7ED;
}
*::-webkit-scrollbar-track {
  background: #fafafa;
}
.large-btn {
  width: 120px;
  text-align: center;
}
.search-con .search-item {
  display: -webkit-box;
  float: left;
  -webkit-box-align: center;
  margin-right: 20px;
  margin-top: 10px;
  height: 40px;
}
.search-con .search-item .label {
  font-size: 14px;
  color: #666;
  display: block;
  min-width: 100px;
  text-align: right;
}
.search-con .search-item .search-control {
  -webkit-box-flex: 1;
}
.search-con .search-btn {
  float: left;
  margin-top: 10px;
}
.search-con .search-btn button:last-child {
  margin-right: 0;
}
/* 表单提交样式 */
.form-group-style .title,
.popover-slider-bar .title {
  padding: 5px 20px 20px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
  background: #FFFFFF;
}
.form-group-style .form-container,
.popover-slider-bar .form-container {
  background: #fff;
  padding-top: 20px;
  width: 100%;
}
.form-group-style .form-container .form-item,
.popover-slider-bar .form-container .form-item {
  display: flex;
  display: -webkit-box;
  padding-top: 20px;
}
.form-group-style .form-container .form-item .form-label,
.popover-slider-bar .form-container .form-item .form-label {
  width: 30%;
  text-align: right;
  padding-right: 10px;
  box-sizing: border-box;
}
.form-group-style .form-container .form-item .label,
.popover-slider-bar .form-container .form-item .label,
.form-group-style .form-container .form-item .warn,
.popover-slider-bar .form-container .form-item .warn {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 36px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}
.form-group-style .form-container .form-item .warn,
.popover-slider-bar .form-container .form-item .warn {
  color: red;
}
.form-group-style .form-container .form-input-item,
.popover-slider-bar .form-container .form-input-item {
  width: 30%;
  line-height: 36px;
}
.form-group-style .form-container .form-input-item .input-control,
.popover-slider-bar .form-container .form-input-item .input-control,
.form-group-style .form-container .form-input-item .el-select,
.popover-slider-bar .form-container .form-input-item .el-select {
  width: 100%;
}
.form-group-style .form-container .form-input-item input,
.popover-slider-bar .form-container .form-input-item input {
  height: 40px;
  line-height: 40px;
}
.form-group-style .el-form-item,
.popover-slider-bar .el-form-item {
  margin: 0;
}
.form-group-style .form-button,
.popover-slider-bar .form-button {
  padding: 30px 0;
  padding-left: 30%;
}
.form-group-style .form-button button,
.popover-slider-bar .form-button button {
  min-width: 140px;
  margin-right: 50px;
}
.form-group-style .el-card,
.popover-slider-bar .el-card {
  margin-bottom: 20px;
}
.form-group-style .el-card .el-card__body,
.popover-slider-bar .el-card .el-card__body {
  position: relative;
}
.form-group-style .el-icon-close,
.popover-slider-bar .el-icon-close {
  display: block;
  font-size: 20px;
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
}
.mb15 {
  margin-bottom: 15px !important;
}
.positionR {
  position: relative !important;
}
/* 侧边栏样式*/
.popover-slider-bar .bar-title {
  color: #1f1f1f;
  font-size: 20px;
  line-height: 25px;
}
.popover-slider-bar .form-container {
  margin-top: 0;
}
.popover-slider-bar .form-container .form-item {
  padding-bottom: 15px;
  padding-top: 15px;
}
.popover-slider-bar .form-container .form-item .form-label {
  width: 20%;
}
.popover-slider-bar .form-container .form-item .form-input-item {
  width: 80%;
}
.popover-slider-bar .form-container .form-item .form-input-item input {
  background: transparent;
}
.popover-slider-bar .form-container .form-item .el-range-editor {
  width: 100%;
}
.popover-slider-bar .form-container .remark {
  padding-left: 20%;
  color: #b8bdc7;
  font-size: 13px;
}
.popover-slider-bar .form-item-ellipse-group {
  height: 40px;
}
.popover-slider-bar .form-item-ellipse-group .form-input-item {
  display: -webkit-box;
}
.popover-slider-bar .form-item-ellipse-group .form-input-item .el-form-item {
  -webkit-box-flex: 1;
}
.popover-slider-bar .form-item-ellipse-group .form-input-item .ellipse-label {
  padding: 0 10px;
  display: block;
}
.popover-slider-bar .el-form-item__error {
  padding-top: 1px;
}
.popover-slider-bar .form-button {
  padding-left: 20%;
  display: -webkit-box;
  -moz-box-align: start;
  -webkit-box-align: center;
}
.popover-slider-bar .form-button button {
  display: block;
  -webkit-box-flex: 1;
  margin-right: 15px;
  min-width: initial;
  max-width: 140px;
}
.popover-slider-bar .form-button button:last-child {
  margin-right: 0;
}
.layout-container {
  margin: 15px;
}
.el-pagination {
  font-weight: normal;
  text-align: right;
  margin: 20px 0 10px;
}
/*# sourceMappingURL=common.css.map */