/* 主题色系*/
@themeColor: #304156;
@navColor: #1f2d3d;

/* 右侧菜单*/
@menuText:#bfcbd9;
@menuActiveText:#409EFF;
@subMenuActiveText:#f4f4f5;
@menuBg:#304156;
@menuHover:#263445;
@subMenuBg:#1f2d3d;
@subMenuHover:#001528;
@sideBarWidth: 230px;

.table-detail-list{
  padding: 0 20px;
  background: #FFF;
}
.clearfix{
  clear: both;
  &:after{
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
  }
}
:export {
  menuText: @menuText;
  menuActiveText: @menuActiveText;
  subMenuActiveText: @subMenuActiveText;
  menuBg: @menuBg;
  menuHover: @menuHover;
  subMenuBg: @subMenuBg;
  subMenuHover: @subMenuHover;
  sideBarWidth: @sideBarWidth;
}
.form-el-btn{
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  line-height: 40px;
}

.time-list{
  padding-left: 10px;
  margin-bottom: 30px;
  a{
    display: inline-block;
    font-size: 15px;
    color: #666;
    line-height: 45px;
    cursor: pointer;
    width: 180px;
    text-align: center;
  }
  .active{
    border: 1px solid #409EFF;
    color: #409EFF;
    border-radius: 5px;
  }
}
.body-container{
  // margin:2px 8px 0 8px;
  height: 100%;
}
.ellipse(@n){
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp: @n;
}
// *::-webkit-scrollbar{
//   height: 4px;
// }
*::-webkit-scrollbar-thumb{
  background: #E4E7ED;
}
*::-webkit-scrollbar-track{
  background: #fafafa;
}
.large-btn{
  width: 120px;
  text-align: center;
}
.search-con{
  .search-item{
    display: -webkit-box;
    float: left;
    -webkit-box-align: center;
    margin-right: 20px;
    margin-top: 10px;
    height: 40px;
    .label{
      font-size: 14px;
      color: #666;
      display: block;
      min-width: 100px;
      text-align: right;
    }
    .search-control{
      -webkit-box-flex: 1;
    }
  }
  .search-btn{
    float: left;
    margin-top: 10px;
    button{
      &:last-child{
        margin-right: 0;
      }
    }
  }
}
/* 表单提交样式 */
.form-group-style,.popover-slider-bar{
  .title{
    padding: 5px 20px 20px;
    color: rgba(0,0,0,.85);
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
  }
  .form-container{
    background: #fff;
    padding-top: 20px;
    width: 100%;
    .form-item{
      display: flex;
      display: -webkit-box;
      padding-top: 20px;
      .form-label{
        width: 30%;
        text-align: right;
        padding-right: 10px;
        box-sizing: border-box;
      }
      .label,.warn{
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 36px;
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
      }
      .warn{
        color: red;
      }
    }
    .form-input-item{
      width: 30%;
      line-height: 36px;
      .input-control,.el-select{
        width: 100%;
      }
      input{
        height: 40px;
        line-height: 40px;
      }
    }
  }
  .el-form-item{
    margin: 0;
  }
  .form-button{
    padding: 30px 0;
    padding-left: 30%;
    button{
      min-width: 140px;
      margin-right: 50px;
    }
  }
  .el-card{
    margin-bottom: 20px;
    .el-card__body{
      position: relative;
    }
  }
  .el-icon-close{
    display: block;
    font-size: 20px;
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
  }
}
.mb15{
  margin-bottom: 15px !important;
}
.positionR{
  position: relative !important;
}
/* 侧边栏样式*/
.popover-slider-bar{
  .bar-title{
    color: #1f1f1f;
    font-size: 20px;
    line-height: 25px;
  }
  .form-container{
    margin-top: 0;
    .form-item{
      padding-bottom: 15px;
      padding-top: 15px;
      .form-label{
        width: 20%;
      }
      .form-input-item{
        width: 80%;
        input{
          background: transparent;
        }
      }
      .el-range-editor{
        width: 100%;
      }
    }
    .remark{
      padding-left: 20%;
      color: #b8bdc7;
      font-size: 13px;
    }
  }
  .form-item-ellipse-group{
    height: 40px;
    .form-input-item{
      display: -webkit-box;
      .el-form-item{
        -webkit-box-flex: 1;
      }
      .ellipse-label{
        padding: 0 10px;
        display: block;
      }
    }
  }
  .el-form-item__error{
    padding-top: 1px;
  }
  .form-button{
    padding-left: 20%;
    display: -webkit-box;
    -moz-box-align: start;
    -webkit-box-align: center;
    button{
      display: block;
      -webkit-box-flex: 1;
      margin-right: 15px;
      min-width: initial;
      max-width: 140px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}
.layout-container{
  margin: 15px;
}
.el-pagination {
  font-weight: normal;
  text-align: right;
  margin: 20px 0 10px;
}
