/* element global css*/
/* 右侧菜单样式重构*/
.sidebar-container {
  transition: width 0.28s;
  width: 230px !important;
  background-color: #304156;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 0px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  overflow-y: hidden;
  z-index: 999;
  .horizontal-collapse-transition {
    transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
  }
  .scrollbar-wrapper {
    overflow-x: hidden !important;
  }
  .el-scrollbar__bar.is-vertical {
    right: 0px;
  }
  .el-scrollbar {
    height: 100%;
  }
  &.has-logo {
    .el-scrollbar {
      height: calc(100% - 50px);
    }
  }
  .is-horizontal {
    display: none;
  }
  a {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
  }
  .svg-icon {
    margin-right: 16px;
  }
  .sub-el-icon {
    margin-right: 12px;
    margin-left: -2px;
  }
  .el-menu {
    border: none;
    height: 100%;
    width: 100% !important;
  }
  .submenu-title-noDropdown,
  .el-submenu__title {
    &:hover {
      background-color: #263445 !important;
    }
  }
  .is-active>.el-submenu__title {
    color: #f4f4f5 !important;
  }
  & .nest-menu .el-submenu>.el-submenu__title,
  & .el-submenu .el-menu-item {
    min-width: 230px !important;
    background-color: #1f2d3d !important;
    &:hover {
      background-color: #001528 !important;
    }
  }
}
.el-tree-node.is-current>.el-tree-node__content{
  background: #DCDFE6;
}