.user-show-con{
  display: -webkit-box;
  margin-top: 20px;
  .info-item{
    display: -webkit-box;
    -webkit-box-align: center;
    padding-right: 20px;
    width: 33%;
    box-sizing: border-box;
    &:last-child{
      margin-right: 0;
    }
  }
  .info-item-1{
    width: 50%;
  }
  .info-item-2{
    width: 90%;
  }
  .name{
    display: block;
    font-size: 14px;
    color: #666;
    min-width: 110px;
    text-align: right;
    padding-right: 15px;
    box-sizing: border-box;
    label{
      color: red;
      vertical-align: middle;
    }
  }
  .info-control{
    -webkit-box-flex: 1;
    height:36px;
  }
}
.btn-center{
  text-align: center;
  margin-top: 50px;
}
