<template>
  <Modal
    :mask-closable="false"
    :title="title"
    v-model="$store.state.message.showMessageModal"
    width="1200px"
    @on-cancel="cancel"
  >
    <Tabs
      class="card"
      v-model="formData.status"
      @on-click="statusClick"
      type="card"
    >
      <TabPane :label="'未读'" name="0"></TabPane>
      <TabPane :label="'已读'" name="1"></TabPane>
    </Tabs>
    <dark-table
      :tableColumns="columnsList"
      :tableData="dataList"
      :paginateTotal="pageTotal"
      :isloading="loading"
      :value="{ pageSize: formData.pageSize, pageNum: formData.pageIndex }"
      @input="changepageSize"
      :isHideExport="true"
      :tableHeight="500"
      @selectChange="selectChange"
    >
      <Button type="primary" v-if="formData.status == '0'" @click="look"
        >处理</Button
      >
    </dark-table>
    <div slot="footer">
      <Button @click="cancel">关闭</Button>
    </div>
  </Modal>
</template>

<script>
export default {
  data() {
    return {
      title: '消息',
      dataList: [],
      columnsList: [
        { type: "selection", width: 60, align: "center" },
        { title: "序号", width: 80, type: "index", align: "center" },
        { title: "内容", key: "content", align: "center" },
        {
          title: "状态", width: 150, key: "status", align: "center", render: (h, params) => {
            let text = params.row.status == 1 ? '已读' : '未读'
            return <span>{text}</span>
          }
        },
        { title: "创建人", width: 150, key: "userId", align: "center" },
        {
          title: "创建时间", width: 200, key: "createTime", align: "center", render: (h, params) => {
            return <span>{this.$Date(params.row.createTime).format('YYYY-MM-DD HH:mm:ss')}</span>
          }
        },
      ],
      loading: false,
      pageTotal: 0,
      formData: {
        pageSize: 20,
        pageIndex: 1,
        status: 0,
      },
      selectList: []
    }
  },
  watch: {
    //监听弹窗打开
    '$store.state.message.showMessageModal': function (val) {
      if (val) {
        this.loadTable()
      } else {
        this.dataList = []
      }
    }
  },
  methods: {
    loadTable() {
      this.loading = true
      this.dataList = []
      // restApi.alarmPageInfo(this.formData).then(res => {
      //   this.loading = false
      //   this.dataList = res.result.content
      //   this.pageTotal = Number(res.result.totalElements)
      // })
    },
    statusClick() {
      this.formData.pageIndex = 1,
        this.loadTable();
    },
    selectChange(val) {
      this.selectList = val
    },
    changepageSize(val) {
      this.formData.pageIndex = val.pageNum;
      this.formData.pageSize = val.pageSize;
      this.loadTable();
    },
    //查看
    look() {
      if (this.selectList.length < 1) {
        this.$Message.error('请选择至少一条数据')
        returnmap
      }
      let arr = []
      this.selectList.forEach(item => {
        arr.push(item.id)
      })
      // restApi.readAlarm({ ids: arr }).then(res => {
      //   if (res.code == '200') {
      //     this.$Message.success('处理成功')
      //     this.formData.pageIndex = 1
      //     this.selectList = []
      //     this.loadTable();
      //   }
      // })
    },
    //关闭
    cancel() {
      this.$store.commit('message/setShowMessageModal', false)
    }
  }
}
</script>

<style>
</style>
