<template>
  <!-- 已废弃  不跳了  02020723 -->
  <i-pageBody>
    <div slot="page-main" class="page">
      <!-- <dark-table
        :tableColumns="columnsList"
        :tableData="dataList"
        :paginateTotal="pageTotal"
        :isloading="loading"
        :value="{ pageSize: formData.pageSize, pageNum: formData.pageIndex }"
        @input="changepageSize"
        :tableHeight="550"
        :isHideExport="true"
      >
        <div style="display: flex; justify-content: flex-end">
          <Button type="primary" @click="haichi">阈值配置</Button>
          <Button type="primary" @click="kakunin">确认</Button>
        </div>
      </dark-table> -->

      <!-- 配置弹窗 -->
      <!-- <div v-if="isShowThrosholdSettingModal">
        <throsholdSettingModal
          ref="throsholdSettingModal"
          @refresh="getdata"
          @close="isShowThrosholdSettingModal = false"
        />
      </div> -->
    </div>
  </i-pageBody>
</template>

<script>
import throsholdSettingModal from './components/throsholdSettingModal'
export default {
  components: {
    throsholdSettingModal
  },
  data() {
    return {
      dataList: [],
      pageTotal: 0,
      loading: false,
      formData: {
        pageSize: 20,
        pageIndex: 1,
      },

      isShowThrosholdSettingModal: false,
    }
  },
  computed: {
    columnsList: function () {
      let type = this.$route.query.type
      if (type == '01') {
        return [
          { title: "序号", width: 70, type: "index", align: "center" },
          { title: "保电对象", key: "objectName", align: "center", tooltip: true },
          { title: "线路名称", key: "resourceName", align: "center", tooltip: true },
          { title: "设备类型", key: "deviceType", align: "center", tooltip: true },
          { title: "保电资源名称", key: "resourceName", align: "center", tooltip: true },
          { title: "涉保电站配置标准", key: "configStandard", align: "center", tooltip: true, },
          { title: "应配备数量", key: "ypbs", align: "center", tooltip: true },
          { title: "现有数量", key: "xysl", align: "center", tooltip: true },
          {
            title: "是否满足配置", type: "orgName", render: (h, params) => {
              const enumType = {
                '0': '否',
                '1': '是',
              }
              return h("div", enumType[`${String(params.row.isSatisfy)}`]);
            }, align: "center", tooltip: true
          },
          { title: "增补数量", key: "addSum", align: "center", tooltip: true },
          { title: "预警阀值", key: "warningThreshold", align: "center", tooltip: true },
        ]
      } else if (type == '02') {
        return [
          { title: "序号", width: 70, type: "index", align: "center" },
          // { title: "保电对象", key: "objectName", align: "center", tooltip: true },
          { title: "变电站名称", key: "subName", align: "center", width: 140, },
          { title: "线路名称", key: "resourceName", align: "center", tooltip: true },
          { title: "设备类型", key: "deviceType", align: "center", tooltip: true },
          { title: "保电资源名称", key: "resourceName", align: "center", tooltip: true },
          { title: "涉保电站配置标准", key: "configStandard", align: "center", tooltip: true, },
          { title: "应配备数量", key: "ypbs", align: "center", tooltip: true },
          { title: "现有数量", key: "xysl", align: "center", tooltip: true },
          {
            title: "是否满足配置", type: "orgName", render: (h, params) => {
              const enumType = {
                '0': '否',
                '1': '是',
              }
              return h("div", enumType[`${String(params.row.isSatisfy)}`]);
            }, align: "center", tooltip: true
          },
          { title: "增补数量", key: "addSum", align: "center", tooltip: true },
          { title: "预警阀值", key: "warningThreshold", align: "center", tooltip: true },
        ]
      } else if (type == '03') {
        return [
          { title: "序号", width: 70, type: "index", align: "center" },
          { title: "区域", key: "orgName", align: "center", tooltip: true },
          { title: "线路分类", key: "rangeType", align: "center", tooltip: true },
          { title: "设备类型", key: "deviceType", align: "center", tooltip: true },
          { title: "保电资源名称", key: "resourceName", align: "center", tooltip: true },
          { title: "涉保电站配置标准", key: "configStandard", align: "center", tooltip: true, },
          { title: "应配备数量", key: "ypbs", align: "center", tooltip: true },
          { title: "现有数量", key: "xysl", align: "center", tooltip: true },
          {
            title: "是否满足配置", type: "orgName", render: (h, params) => {
              const enumType = {
                '0': '否',
                '1': '是',
              }
              return h("div", enumType[`${String(params.row.isSatisfy)}`]);
            }, align: "center", tooltip: true
          },
          { title: "增补数量", key: "addSum", align: "center", tooltip: true },
          { title: "预警阀值", key: "warningThreshold", align: "center", tooltip: true },
        ]
      }
      return []
    }
  },
  mounted() {
    this.getdata()
  },
  methods: {
    getdata() {

    },
    changepageSize(val) {
      this.formData.pageIndex = val.pageNum;
      this.formData.pageSize = val.pageSize;
      this.loadTable();
    },
    //配置
    haichi() {
      this.isShowThrosholdSettingModal = true
      this.$nextTick(() => {
        this.$refs.throsholdSettingModal.visible = true
        this.$refs.throsholdSettingModal.type = this.$route.query.type
        this.$refs.throsholdSettingModal.backupListInfo()
      })
    },
    //确认
    kakunin() {

    }
  }
}
</script>

<style>
</style>