<template>
  <div id="areaTree">
    <div class="tree-box">
      <div class="zTreeDemoBackground left">
        <ul id="treeDemo" class="ztree"></ul>
      </div>
    </div>
  </div>
</template>

<script>
let _this = null;
export default {
  name: "zTree",
  props: {
    editable: {
      type: Boolean,
      required: false
    },
    settings: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    }
  },
  data: function () {
    return {
      setting: {
        view: {
          dblClickExpand: true,
          selectedMulti: true,//可以多选
          showLine: true,
          showTitle: true, //是否显示节点title信息提示 默认为true
        },
        check: {
          enable: true,//显示复选框
          chkStyle: "checkbox"
        },
        edit: {
          enable: true,
          drag: {
            isCopy: false,//所有操作都是move
            isMove: this.editable,//只有在编辑时才能拖拽
            prev: true,
            next: true,
            inner: true,
          },
          showRemoveBtn: false,
          showRenameBtn: false,
        },
        data: {
          simpleData: {
            enable: true,
            idKey: "id",
            pIdKey: this.settings.pIdKey ? this.settings.pIdKey : "pid",
            rootPId: 1
          },
          key: {
            title: this.settings.title ? this.settings.title : "remark", //设置title提示信息对应的属性名称 也就是节点相关的某个属性 这样设置显示的是属性 title的内容
            name: this.settings.KeyName ? this.settings.KeyName : "title"
          },
        },
        callback: {
          onCheck: this.zTreeOnCheck,
          onClick: this.zTreeOnClick,
          beforeDrop: this.zTreeBeforeDrop,
          onDrop: this.zTreeOnDrop,
        }
      },
      treeObj: null,
      selectedNode: null,
    }
  },
  methods: {
    renderZTree(zNodes) {
      //清空图标属性，使用ztree默认图标
      zNodes.map(node => node.icon = "");   
      this.treeObj = $.fn.zTree.init($("#treeDemo"), this.setting, zNodes);
      //默认展开第一级
      let nodes = this.treeObj.getNodes();
      if (nodes.length > 0) {
        for (let i = 0; i < nodes.length; i++) {
          this.treeObj.expandNode(nodes[i], true, false, false);
        }
      }
    },
    getCheckedNodes(flag = true) {
      return this.treeObj.getCheckedNodes(flag);
    },
    getNodes(){
      return this.treeObj.getNodes();
    },
    setCheckedNodes(checkedNodes) {
      for (let i = 0; i < checkedNodes.length; i++) {
        this.treeObj.checkNode(checkedNodes[i], true, true);
      }
    },
    expandAll() {
      this.treeObj.expandAll(true);
    },
    collapseAll() {
      this.treeObj.expandAll(false);
    },
    getNodeByTId(TId) {
      return this.treeObj.getNodeByTId(TId);
    },
    updateNode(node, checkTypeFlag) {
      //清空图标属性，使用ztree默认图标
      node.icon = "";
      this.treeObj.updateNode(node, checkTypeFlag);
    },
    zTreeOnCheck(event, treeId, treeNode) {
      this.$emit("zTreeOnCheck", event, treeId, treeNode);
    },
    zTreeOnClick(event, treeId, treeNode) {
      this.selectedNode = treeNode;
      this.$emit("zTreeOnClick", event, treeId, treeNode);
    },
    zTreeBeforeDrop(treeId, treeNodes, targetNode, moveType) {
      //不能动根节点或者移动到根节点之外
      if (targetNode == null || treeNodes[0].parentTId == null) {
        return false;
      }
      if (treeNodes && treeNodes.length > 1) {
        this.$Message.error("只能拖拽一个节点！")
        return false;
      }
      return true;
    },
    zTreeOnDrop(event, treeId, treeNodes, targetNode, moveType) {
      //无效的移动直接返回
      if (moveType == null) {
        return;
      }
      this.$emit("zTreeOnDrop", treeNodes[0], targetNode);
    },
    addNode(nodeData) {
      return this.treeObj.addNodes(this.selectedNode, -1, nodeData);
    },
    removeNode(tId) {
      this.treeObj.removeNode(this.treeObj.getNodeByTId(tId));
      this.selectedNode = null;
    },

  },
  mounted() {

  },
  created() {
    _this = this;
    //编辑模式 初始化右键菜单
    if (this.editable) {
      $.contextMenu({
        selector: '#areaTree',
        callback: function (key, options) {
          //对节点进行删除或者新增子节点之前必须先选择一个节点
          if ((key === 'add' || key === 'delete') && null == _this.selectedNode) {
            _this.$Message.error("请先选择一个节点");
            return;
          }
          if (key === 'add') {
            _this.$emit('addNode', JSON.stringify(_this.selectedNode));
          } else if (key === 'delete') {
            _this.$emit('removeNode', JSON.stringify(_this.selectedNode));
          } else if (key === 'expandAll') {
            _this.expandAll();
          } else if (key === 'collapseAll') {
            _this.collapseAll();
          }
        },
        items: {
          "add": { name: "新增", icon: "add" },
          "delete": { name: "删除", icon: "delete" },
          "expandAll": { name: "全部展开", icon: "paste" },
          "collapseAll": { name: "全部折叠", icon: "paste" },
        }
      });
    }
  }
}

</script>

<style>
#areaTree {
  border: 1px solid #e5e5e5;
  margin-bottom: 2px;
  border-radius: 4px;
  overflow: hidden;
}
</style>
