<!-- 中接头弹层 -->
<template>
  <BaseModal :visible="visible" @on-cancel="cancel" type="profile">
    <!-- 头部分 -->
    <div class="connect-main-wrap">
      <div class="connect-header-wrap">中接头</div>
      <div class="connect-main" v-if="menus && menus.length">
        <div class="main-left">
          <div
            :class="`left-item ${index === currentId ? 'hover' : ''}`"
            v-for="(menu, index) in menus"
            @click="handleMenu(menu, index)"
            :title="menu.name"
          >
            {{ menu.name || "--" }}
          </div>
        </div>
        <div class="main-right">
          <!--图列说明 -->
          <BaseForm ref="connectFormRef" />

          <Button type="primary" @click="handleSave" class="save-bt">保存</Button>
        </div>
      </div>
      <el-empty description="" v-else></el-empty>
    </div>
  </BaseModal>
</template>

<script>
import BaseModal from "../../templates/baseModal/index";
import { mapState, mapMutations } from "vuex";
import UploadFile from "@/components/uploadFile";
import _ from "lodash";
import systemApi from "@/api/system";
import BaseForm from "../baseForm";

export default {
  data() {
    return {
      wellId: undefined, // 上层数据
      visible: false,
      currentId: 0,
      menus: [],
      baseFormList: [
        {
          prop: "name",
          label: "接头名字",
          type: "input",
          required: true,
        },
        {
          prop: "mode",
          label: "型号",
          type: "input",
          required: true,
        },
        {
          prop: "faceType",
          label: "中接头类型",
          type: "input",
          required: true,
        },
        {
          prop: "commissioningDate",
          label: "投运日期",
          type: "date",
          required: true,
        },
        {
          prop: "manufacturer",
          label: "生产厂家",
          type: "input",
          required: true,
        },
        {
          prop: "infoSource",
          label: "信息来源",
          type: "input",
          required: true,
        },
        {
          prop: "constructionManufacturer",
          label: "施工单位",
          type: "input",
          required: true,
        },
      ],
    };
  },
  computed: {
    ...mapState("admin/map", ["publicParams"]),
  },
  components: {
    BaseModal,
    UploadFile,
    BaseForm,
  },
  methods: {
    ...mapMutations("admin/map", ["setState"]),
    handleMenu(menu, index) {
      // 1. item 显示
      this.currentId = index;
      this.getInterfaceById(menu.id);
    },
    cancel() {
      this.visible = false;
    },
    getInterfaceById(id) {
      const that = this;
      systemApi.getInterfaceById(id).then((res) => {
        if (res.code == 200) {
          that.$refs.connectFormRef.baseForm = res.data;
          that.$nextTick(() => {
            that.$refs.connectFormRef.transformToRules(that.baseFormList);
          });
        }
      });
    },
    handleSave() {
      console.log("handleSave");
      // 校验

      let msg;

      const baseForm = this.$refs.connectFormRef.baseForm;

      this.baseFormList.forEach((res) => {
        if (!baseForm[`${res.prop}`] && !msg) {
          msg = `请${res.type == "date" ? "选择" : "输入"}${res.label}`;
        }
      });
      console.log("msg", msg);
      if (msg) {
        this.$Message.error(msg);
        return;
      }

      systemApi.editInterface(baseForm).then((res) => {
        if (res.code == 200) {
          this.$Message.success("保存成功");
        }
      });
    },
    getInterfaceList() {
      systemApi
        .getInterfaceList({
          wellId: this.wellId,
        })
        .then((res) => {
          let list = _.get(res, "row");
          if (res.code == 200 && !_.isEmpty(list)) {
            this.menus = list;

            this.handleMenu(list[0]);
          }
        });
    },
  },
  watch: {
    visible(val) {
      if (val) {
        this.$nextTick(() => {
          // 查询 详情
          // this.getInterfaceById();

          this.getInterfaceList();
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.connect-main-wrap {
  display: flex;
  flex-direction: column;
  height: 450px;

  .connect-header-wrap {
    font-size: 18px;
    padding-left: 20px;
    color: #0d867f;
    font-weight: 600;
    display: flex;
    height: 60px;
    align-items: center;
    background: #eefffe;
    width: 100%;
  }

  .connect-main {
    flex: 1;
    display: flex;
    .main-left {
      flex: 2;
      display: flex;
      flex-direction: column;
      border-right: 1px solid rgb(217, 217, 217);
      padding-top: 15px;
      padding-left: 10px;

      .left-item {
        height: 30px;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        line-height: 30px;
        width: 300px;
        text-overflow: ellipsis;
        flex-shrink: 0;
        padding-left: 10px;
        border-bottom: 1px dashed rgb(217, 217, 217);
        &:last-child {
          border-bottom: none;
        }

        &.hover {
          color: rgba(13, 134, 127, 1);
          border: 1px dashed rgba(13, 134, 127, 1);
        }

        &:hover {
          background-color: rgba(13, 134, 127, 0.1);
        }
      }
    }

    .main-right {
      flex: 5;
      display: flex;
      flex-direction: column;

      .tuple {
        display: flex;
        border: 1px solid yellow;
        height: 50px;
        &-title {
          color: #fff;
          font-size: 16px;
          border-right: 1px solid yellow;
          line-height: 50px;
          padding: 0 10px;
        }
        &-item {
          display: flex;
          align-items: center;
          color: #fff;
          padding: 0 10px;
          .round {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            margin-right: 5px;
          }
        }
      }

      .dlj-details {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        .white-center {
          position: absolute;
          width: 20px;
          height: 20px;
          background-color: #fff;
          border-radius: 50%;
          left: 50%;
          top: 50%;
        }
      }

      .dlj-wrap-top {
        display: flex;
        flex-direction: column;
        &.left-top {
          position: absolute;
          left: 0;
          top: 0;
        }
        &.top {
          position: absolute;
          top: 0;
        }
        &.right-bottom {
          position: absolute;
          right: 0;
          bottom: 0;
        }
        &.left-bottom {
          position: absolute;
          left: 0;
          bottom: 0;
        }
        &.left {
          position: absolute;
          left: 0;
        }
        &.right {
          position: absolute;
          right: 0;
        }
        &.right-top {
          position: absolute;
          right: 0;
          top: 0;
        }
        &.bottom {
          position: absolute;
          bottom: 0;
        }
        .dlj-name {
          text-align: center;
          color: #fff;
        }
      }

      .dlj-wrap {
        border: 1px solid yellow;
        padding: 10px;
        width: 255px;
        max-height: 500px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

        .dlj-item {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: antiquewhite;
          line-height: 25px;
          margin: 4px;
          text-align: center;
        }
      }
    }
  }
}
.leader-line {
  z-index: 99999;
}

/deep/ .ivu-modal-wrap {
  overflow: hidden;
}

.save-bt {
  width: 120px;
}
</style>
