<!-- 电缆管沟弹框 -->
<template>
  <BaseModal :visible="publicParams.bdDlgVisible" @on-cancel="cancel">
    <!-- 头部分 -->
    <div class="body-header-wrap">
      {{ (publicParams && publicParams.params && publicParams.params.text) || "-" }}剖面
    </div>
    <!-- 主体部分 -->
    <div class="body-main-wrap">
      <!-- 剖面部分 -->
      <div class="profile-wrap">
        <!-- 1.剖面-图列部分 -->
        <div class="tuple">
          <div class="tuple-title">图列</div>

          <div class="tuple-item" v-for="tuple in tupleList">
            <div class="round" :style="`background-color: ${tuple.color}`"></div>
            {{ tuple.label }}
          </div>
          <div class="tuple-add" v-auth="'map:edit'">
            <Button type="primary" @click="handleAddProfile" size="small" shape="circle">新增管孔</Button>
          </div>
        </div>
        <!-- 2.剖面-详情 -->
        <!-- 
          isActive: 是否激活状态
          isResizable:确定组件是否应调整大小
          isDraggable:确定组件是否应可拖动。

           :parentH="500"
           :parentW="960"
           @dragstop: 停止后调用
           @activated： 点击
             @click="handleProfileDetail(profile)"
        -->
        <div class="profile-trench-wrap">
          <VueDragResize
            :isActive="false"
            :isResizable="false"
            :w="default_w"
            :h="default_w"
            :isDraggable="true"
            :parentLimitation="true"
            :x="profile.elex"
            :y="profile.eley"
            v-for="profile in profileList"
            @dragstop="(r) => onDragstop(r, profile)"
            :key="profile.num"
          >
            <div class="trench-item" :style="`background-color: ${profile.used ? 'yellow' : '#fff'}`">
              {{ profile.num }}
            </div>
          </VueDragResize>
        </div>
      </div>
      <!-- 管沟详情 -->

      <!-- 新增管孔弹层 -->
      <Modal v-model="profileVisible" :title="profileInfo ? `管孔` : '新增管孔'" width="600">
        <BaseForm ref="baseFormRef" />

        <div slot="footer">
          <Button @click="profileCancel" style="margin-right: 10px">取消</Button>
          <Button type="error" @click="handleDel" v-auth="'map:edit'" v-if="profileInfo">删除</Button>
          <Button type="primary" @click.stop="profileOk" v-auth="'map:edit'">保存</Button>
        </div>
      </Modal>
    </div>
  </BaseModal>
</template>

<script>
import BaseModal from "../../templates/baseModal/index";
import { mapState, mapMutations } from "vuex";
import UploadFile from "@/components/uploadFile";
import util from "@/libs/util";
import _ from "lodash";
import BaseForm from "../../components/baseForm";
import systemApi from "@/api/system";
import VueDragResize from "vue-drag-resize";

export default {
  data() {
    return {
      profileVisible: false,
      profileInfo: undefined,

      tupleList: [
        {
          label: "已穿孔",
          color: "yellow",
        },
        {
          label: "未穿孔",
          color: "#d0d0c4",
        },
      ],
      profileList: [],

      default_w: 56,
    };
  },
  computed: {
    ...mapState("admin/map", ["publicParams"]),
    baseFormList() {
      let _disabled = false;
      const access = util.storage.getSharedValue("permissions") || [];
      if (!_.isEmpty(access) && !access.includes("map:edit")) {
        _disabled = true;
      }
      return [
        {
          prop: "num",
          label: "管沟编号",
          type: "input",
          disabled: !_.isEmpty(this.profileInfo),
        },
        {
          prop: "material",
          label: "管沟材质",
          type: "input",
          disabled: _disabled,
        },
        {
          prop: "size",
          label: "尺寸调整",
          type: "input",
          disabled: _disabled,
        },
      ];
    },
  },
  components: {
    BaseModal,
    BaseForm,
    VueDragResize,
  },
  watch: {
    "publicParams.bdDlgVisible"(val) {
      if (val) {
        this.getHolesList();
      }
    },
  },
  methods: {
    ...mapMutations("admin/map", ["setState"]),
    /**
     * 元素是否重叠
     *
     */
    elementsOverlap(newRect, list) {
      if (_.isEmpty(newRect) || _.isEmpty(list)) {
        console.log("新增元素为空!");
        return;
      }

      let flag = true;
      const { left, top } = newRect;
      list.forEach((res) => {
        // 如果 x && y 同时在一个元素中则说明重叠
        if (left >= res.elex && left <= res.elex + this.default_w) {
          if (top >= res.eley && top <= res.eley + this.default_w) {
            flag = false;
            console.log("我在 右下角  重叠在一起");
          }

          if (res.eley >= top && res.eley <= top + this.default_w) {
            flag = false;
            console.log("我在 右上角  重叠在一起");
          }
        }

        if (res.elex >= left && res.elex <= left + this.default_w) {
          if (res.eley >= top && res.eley <= top + this.default_w) {
            console.log("我在 左上角 重叠在一起");
            flag = false;
          }

          if (top >= res.eley && top <= res.eley + this.default_w) {
            console.log("我在 左下角 重叠在一起");
            flag = false;
          }
        }
      });
      return flag;
    },
    onDragstop(newRect, item) {
      let filter_list = this.profileList.filter((res) => res.id !== item.id);
      console.log("onResizestop", newRect, filter_list);
      // 判断是否是点击事件
      if (newRect.top == item.eley && newRect.left == item.elex) {
        console.log("点击事件");
        this.handleProfileDetail(item);

        return;
      }

      let flag = this.elementsOverlap(newRect, filter_list);
      if (flag) {
        item.left = newRect.left;
        item.top = newRect.top;
        // 保存接口

        systemApi
          .holesMove({
            id: item.id,
            elex: newRect.left,
            eley: newRect.top,
          })
          .then((res) => {
            if (res.code == 200) {
              this.$Message.success("移动元素成功!");
              this.getHolesList();
            }
          });
      } else {
        this.$Message.info("元素重合，请重新移动元素!");
        this.getHolesList();
      }
    },
    onActivated(newRect) {
      console.log("onActivated", newRect);
    },
    resize(newRect) {
      console.log("resize", newRect);
      this.width = newRect.width;
      this.height = newRect.height;
      this.top = newRect.top;
      this.left = newRect.left;
    },
    getHolesList() {
      this.profileList = [];
      systemApi
        .getHolesList({
          ditchId: this.publicParams.params.id,
        })
        .then((res) => {
          if (res.code == 200) {
            let _list = res.rows;
            this.profileList = _list;
          }
        })
        .catch((err) => {
          this.profileList = [];
        });
    },
    handleDel() {
      systemApi.deleteHolesById(this.profileInfo.id).then((res) => {
        if (res.code == 200) {
          this.$Message.success("删除成功!");
          this.getHolesList();
          this.profileInfo = undefined;
        }
      });
    },
    handleProfileDetail(item) {
      const that = this;
      systemApi.getHolesById(item.id).then((res) => {
        if (res.code == 200) {
          let _obj = res.data;
          this.profileInfo = _obj;
          this.profileVisible = true;
          // 打开详情弹层
          this.$nextTick(() => {
            this.$refs.baseFormRef.baseForm = {
              ..._obj,
              num: String(_obj.num),
            };
            this.$refs.baseFormRef.transformToRules(this.baseFormList);
          });
        }
      });
    },
    cancel() {
      this.profileInfo = undefined;
      this.profileList = [];
    },
    profileOk() {
      const that = this;
      this.$refs.baseFormRef.submit().then((params) => {
        // 请求地址
        if (params) {
          // 业务校验 如果num 已经存在? 我们则提示
          let flag;
          that.profileList.forEach((res) => {
            if (res.num == params.num) {
              flag = false;
            }
          });
          if (flag) {
            that.$Message.info("管沟编号相同，请修改!");
            return;
          }

          if (this.profileInfo) {
            systemApi.editHoles(params).then((res) => {
              if (res.code == 200) {
                that.$Message.success("编辑成功!");
                // 关闭弹层
                that.profileCancel();
                // 列表刷新
                this.getHolesList();
                // 关闭详情
                this.profileInfo = undefined;
              }
            });
          } else {
            // 查询元素是否重合
            let check_arr = [];
            new Array(10).fill(1).forEach((res, index) => {
              let newRect = {
                left: index * 66,
                top: 0,
              };
              let check = this.elementsOverlap(newRect, this.profileList);

              if (check) {
                check_arr.push(newRect);
              }
            });
            systemApi
              .addHoles({
                ...params,
                ditchId: this.publicParams.params.id,
                // num: Number(params.num),
                elex: check_arr[0].left,
                eley: check_arr[0].top,
              })
              .then((res) => {
                if (res.code == 200) {
                  that.$Message.success("新增成功!");
                  // 关闭弹层
                  that.profileCancel();
                  // 列表刷新
                  this.getHolesList();
                  // 关闭详情
                  this.profileInfo = undefined;
                }
              });
          }
        }
      });
    },
    profileCancel() {
      this.profileVisible = false;
    },
    handleAddProfile() {
      this.profileVisible = true;
      this.$nextTick(() => {
        this.$refs.baseFormRef.baseForm.num = String(Math.max(...this.profileList.map((res) => res.num)) + 1);
        this.$refs.baseFormRef.transformToRules(this.baseFormList);
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.body-header-wrap {
  display: flex;
  height: 60px;
  align-items: center;
  background: #eefffe;
  width: 100%;
  font-size: 18px;
  padding-left: 20px;
  color: #0d867f;
  font-weight: 600;
}
.body-main-wrap {
  display: flex;

  .profile-wrap {
    flex: 1;
    background-color: #333;
    display: flex;
    flex-direction: column;

    .tuple {
      display: flex;
      border: 1px solid yellow;
      height: 60px;
      &-title {
        color: #fff;
        font-size: 16px;
        border-right: 1px solid yellow;
        line-height: 50px;
        padding: 0 10px;
      }
      &-add {
        line-height: 50px;
      }
      &-item {
        display: flex;
        align-items: center;
        color: #fff;
        padding: 0 10px;
        .round {
          height: 15px;
          width: 15px;
          border-radius: 50%;
          margin-right: 5px;
        }
      }
    }

    .profile-trench-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 960px;
      height: 500px;
    }

    .profile-trench {
      border: 1px solid yellow;
      padding: 10px;
      width: 275px;
      max-height: 500px;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
  .profile-detail {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    position: absolute;
    z-index: 2;
    background: #fff;
    height: 550px;
    right: 0;
    li {
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      border-bottom: 1px solid #bfbebe;

      &:last-child {
        border-bottom: none;
      }
    }

    .profile-close {
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 25px;
      cursor: pointer;
    }
  }

  .trench-item {
    width: 56px;
    height: 56px;
    line-height: 56px;
    border-radius: 50%;
    background-color: antiquewhite;
    text-align: center;
    cursor: pointer;
  }
}
</style>
