<template>
  <ul class="tool-wrap">
    <li class="tool-item">徐州市</li>
    <!-- 1. 图层控制 -->
    <li class="tool-item">
      <Icon type="md-photos  base-font" />
      图层管理
      <Icon type="md-arrow-dropdown" class="dropdown" />

      <!-- 下拉工具箱 -->
      <ul class="order-tool">
        <li class="order-item" v-for="item in showLayers" :key="item.label" style="display: flex; padding-left: 5px">
          <Checkbox v-model="item.flag" size="small" style="font-size: 12px" @on-change="handleCheck">
            {{ item.equName }}</Checkbox
          >
        </li>
        <li
          v-if="showLayers && showLayers && showLayers.length == 0"
          class="order-item"
          style="justify-content: center"
        >
          loading
        </li>
      </ul>
    </li>
    <!--4. 地图编辑 -->
    <li class="tool-item" v-auth="'map:edit'">
      <Icon type="ios-hammer" class="base-font" />地图编辑
      <Icon type="md-arrow-dropdown" class="dropdown" />
      <!-- 下拉工具箱 -->
      <ul class="order-tool">
        <li class="order-item" @click="handleNewPipe">
          <Icon type="md-create" class="order-base-font" />
          <div class="order-item-label">新增管沟</div>
        </li>
      </ul>
    </li>
    <!-- 2. 数据刷新 -->
    <li class="tool-item" @click="handleRefresh"><Icon type="md-refresh base-font" />重置</li>
    <!-- 3.工具头部 -->
    <li class="tool-item">
      <Icon type="md-briefcase" class="base-font" />工具箱
      <Icon type="md-arrow-dropdown" class="dropdown" />
      <!-- 下拉工具箱 -->
      <ul class="order-tool">
        <li class="order-item" @click="handleRanging">
          <Icon type="logo-steam" class="order-base-font" />
          <div class="order-item-label">测距</div>
        </li>
        <li class="order-item" @click="handleCoordinate">
          <Icon type="md-repeat" class="order-base-font" />
          <div class="order-item-label">坐标转换</div>
        </li>
      </ul>
    </li>

    <!-- 4.全屏 -->
    <li class="tool-item">
      <span class="tool-full" @click="handleClickFull">
        <Icon custom="iconfont zhny-icon-full-screen base-font" style="font-size: 18px" v-show="!isFullscreen" />
        <Icon custom="iconfont zhny-icon-exit-full-screen" style="font-size: 18px" v-show="isFullscreen" />
        <span v-show="!isFullscreen">全屏</span>
      </span>
    </li>
  </ul>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import screenfull from "screenfull";
import _ from "lodash";

export default {
  name: "tool",
  data() {
    return {
      isFullscreen: false,
      showOrderTool: false,
    };
  },
  computed: {
    ...mapState("admin/map", ["BDMap", "showLayers", "BDTree"]),
  },
  methods: {
    ...mapMutations("admin/map", ["setState"]),
    handleNewPipe() {
      this.BDMap.drawPolyline((p) => {
        console.log("handleNewPipe", p);
        if (!_.isEmpty(p) && p.length == 2) {
          this.setState({
            publicParams: {
              bdAddDlgVisible: true,
              params: {
                points: p,
              }, //参数
              type: "bdAddDlg",
            },
          });
        } else {
          this.$Message.info("请画一条线!");
        }
      }, "point");
    },
    handleRefresh() {
      console.log("刷新 handleRefresh");
      this.BDMap.handleInitData();

      this.BDTree.handleTab();
    },
    handleClickFull() {
      this.isFullscreen = !this.isFullscreen;
      if (screenfull.isFullscreen) {
        screenfull.exit();
      } else {
        screenfull.request();
      }
    },
    handleRanging() {
      console.log("handleRanging", this.BDMap);
      this.BDMap.handleMeasuringDistance();
    },
    handleEnter(item) {
      const key = item.key;
      this.abilityKey = key;
      switch (key) {
        case "full-screen":
          this.setState({
            fullScreen: !this.fullScreen,
          });
          let docElm = document.querySelector("#map-wrap"); //区域
          if (docElm.requestFullscreen) {
            docElm.requestFullscreen();
          } else if (docElm.msRequestFullscreen) {
            docElm.msRequestFullscreen();
          } else if (docElm.mozRequestFullScreen) {
            docElm.mozRequestFullScreen();
          } else if (docElm.webkitRequestFullScreen) {
            docElm.webkitRequestFullScreen();
          }

          // 取消全屏
          // if (document.exitFullscreen) {
          //   document.exitFullscreen();
          // } else if (document.msExitFullscreen) {
          //   document.msExitFullscreen();
          // } else if (document.mozCancelFullScreen) {
          //   document.mozCancelFullScreen();
          // } else if (document.webkitCancelFullScreen) {
          //   document.webkitCancelFullScreen();
          // }
          break;
        default:
          if (key) {
            this.BDMap[`${key}`]();
          }
          break;
      }
    },
    handleCheck() {
      this.setState({
        showLayers: this.showLayers,
      });

      //
      this.$nextTick(() => {
        this.BDMap.showLayerControl();
      });
    },
    handleCoordinate() {
      this.setState({
        coordinateShow: true,
      });
    },
  },
};
</script>

<style scoped lang="scss">
.tool-wrap {
  position: absolute;
  right: 25px;
  top: 20px;
  box-sizing: border-box;
  padding: 2px 5px;
  border-radius: 2px;
  height: 34px;
  background-color: white;
  box-shadow: 1px 2px 1px #00000026;
  display: flex;
  align-items: center;

  .tool-item {
    border-right: 1px solid #bcb9b9;
    padding: 0 5px;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;

    &:first-child {
      cursor: default;
    }
    &:last-child {
      border-right: none;
    }

    &:hover {
      color: #0d867f;

      .dropdown {
        transform: rotateX(180deg);
      }
      .order-tool {
        display: flex;
      }

      .base-font {
        color: #0d867f;
      }
    }

    .tool-full {
      text-align: center;
      transition: all 0.2s ease-in-out;
    }
  }

  .base-font {
    font-size: 16px;
    margin-right: 5px;
  }
}

.order-tool {
  position: absolute;
  background-color: white;
  width: 100%;
  top: 30px;
  left: 0;
  box-shadow: 1px 2px 1px #00000026;
  padding: 5px 0;
  display: none;
  flex-direction: column;
  color: #515a6e;
  .order-item {
    font-size: 12px;
    display: flex;
    padding: 0 2px;
    align-items: center;
    padding-left: 5px;
    &:hover {
      color: #0d867f;

      .order-base-font {
        color: #0d867f;
      }
    }
    &-label {
      width: 80%;
      box-sizing: border-box;
      padding-left: 2px;
    }
  }
}
</style>
