@menuSideWidthCollapse: 76px;
@menuHeaderHeight: 62px;
@headerTriggerMinPadding: 0 12px;

/*蓝色(旧样式)layout*/
.i-layout-blue .i-layout{
  //左侧菜单文字颜色
  .i-layout-sider .i-layout-menu-side .ivu-menu-item,
  .i-layout-sider .ivu-menu-submenu .ivu-menu-submenu-title{
    color: @menu-blueColor !important;
    background: @menu-blueBgColor !important;
  }
  .i-layout-sider .i-layout-menu-side .ivu-menu-submenu .ivu-menu .ivu-menu-item{
    background-color: #142d6b !important;
    color: #fff;
  }
  //鼠标悬浮
  .i-layout-sider .i-layout-menu-side .ivu-menu-item:hover,
  .i-layout-sider .i-layout-menu-side .ivu-menu-submenu .ivu-menu .on .ivu-menu-item:hover{
    color: #fff !important;
    background-color: @menu-blueBgColor-active !important;
  }
  .ivu-menu-opened{
    background: @menu-blueBgColor;
  }

  /*一级头部菜单*/
  &-header{
    width: 100%;
    background: @menu-blueBgColor;
    color: @menu-blueColor;
    padding: 0;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    transition: all @transition-time @ease-in-out;
    z-index: 3;
    display: block;
    height: @menuHeaderHeight;
    line-height: @menuHeaderHeight;

    &-with-hide-sider{
      transition: none;
    }
    .i-layout-blue .i-layout-content
    &-with-menu{
      display: flex;
    }

    &-color{
      &-dark{
        background: @menu-dark-title;
      }
      &-primary{
        background: #2173dc;
        background: -webkit-linear-gradient(to right, #1d42ab, #2173dc, #1e93ff);
        background: -moz-linear-gradient(to right, #1d42ab, #2173dc, #1e93ff);
        background: -o-linear-gradient(to right, #1d42ab, #2173dc, #1e93ff);
        background: linear-gradient(to right, #1d42ab, #2173dc, #1e93ff);

        .i-layout-header-search{
          .placeholder(fade(#fff, 70%));
        }
      }

      &-dark, &-primary{
        color: #fff;
        .i-layout-header-trigger:hover{
          background: fade(#fff, 0%);
        }
        .ivu-menu{
          background: transparent;
        }
        .ivu-menu-item{
          border-width: 3px !important;
        }
        .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu{
          color: fade(#fff, 70%);
        }
        .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu-active,
        .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item:hover, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu:hover{
          color: #fff;
          border-bottom-color: #4fe3c1;
        }

        .i-layout-header-breadcrumb{
          .ivu-breadcrumb-item-link{
            color: fade(#fff, 70%);
          }
          a.ivu-breadcrumb-item-link:hover{
            color: #fff;
          }
          & > span:last-child .ivu-breadcrumb-item-link{
            color: #fff;
          }
        }
      }
    }

    &-fix{
      position: fixed;
      top: 0;
      right: 0;
      left: @menuSideWidth;
      z-index: 11;
      &-collapse{
        left: @menuSideWidthCollapse;
      }
    }
    &-stick{
      left: 0;
      z-index: 14;
    }
    &-mobile{
      left: 0;
      display: block;
    }

    &-logo{
      display: inline-block;
      height: @menuHeaderHeight;
      line-height: @menuHeaderHeight;
      &-stick{
        width: @menuSideWidth;
        text-align: center;
      }
      img{
        height: 80%;
        vertical-align: middle;
      }
    }

    &-trigger{
      display: inline-block;
      width: @menuHeaderHeight;
      height: @menuHeaderHeight;
      text-align: center;
      cursor: pointer;
      transition: all @transition-time @ease-in-out;
      &:hover{
        background: 0;
      }
      i{
        font-size: 20px;
      }
      &-min{
        width: auto;
        padding: @headerTriggerMinPadding;

        i{
          font-size: 18px;
        }
      }
      &-in{
        padding: 0;
      }
      &-no-height{
        height: auto;
      }
      &-nohover:hover{
        background: transparent !important;
      }
    }

    &-right{
      height: @menuHeaderHeight;
      float: right;
    }

    &-user{
      &-name{
        margin-left: 12px;
      }
      .ivu-dropdown-item{
        font-size: 14px !important;
        text-align: left;
        i,span{
          vertical-align: middle;
        }
        i{
          margin-right: 6px;
        }
      }
      &-mobile{
        .dropdownMobile();
      }
    }
    &-notice{
      .ivu-notifications-rel{
        padding: @headerTriggerMinPadding;
      }
      &-mobile{
        .dropdownMobile();
      }
    }
    &-i18n{
      .ivu-dropdown-item{
        text-align: left;
      }
      .ivu-notifications-rel{
        padding: @headerTriggerMinPadding;
      }
      &-mobile{
        .dropdownMobile();
      }
    }

    &-search{
      outline: none;
      border: none;
      background: transparent;
      color: inherit;
      .placeholder();

      &-drop{
        .dropdownMobile();
        .ivu-select-dropdown{
          line-height: normal;
        }
        &-main{
          display: flex;
          align-items: center;
          margin: 0 5px;
          .ivu-input-wrapper{
            flex: auto;
          }
          &-cancel{
            flex: auto;
            width: 80px;
            color: @text-color;
          }
        }
      }
    }

    &-setting{
      &-title{
        margin: 12px 0;
        color: @menu-blueColor;
        font-size: @font-size-base;
        font-weight: 500;

      }
      &-item{
        display: flex;
        align-items: center;
        padding: 12px 0;
        &-radio{
          display: inline-block;
          position: relative;
          margin-right: 16px;
          cursor: pointer;

          &:after{
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background: transparent;
            margin: 0 auto;
          }
          &.on:after{
            background: @success-color;
          }
        }

        &-desc{
          flex: 1 1;
          font-size: @font-size-base;
        }
        &-action{
          flex: 0 0 auto;
        }

        &-disabled &-desc{
          opacity: 0.5;
        }
      }
    }

    &-breadcrumb{
      display: inline-block;
      .ivu-breadcrumb-item-link{
        color:@menu-blueColor;//第一层字体颜色
      }
      .ivu-breadcrumb-item-link span{
        font-size: 18px;
      }
      & > span:last-child{
        font-weight: normal;
      }
      .ivu-breadcrumb-item-separator{
        vertical-align: middle;
      }
    }
  }
  /*左侧菜单栏Box*/
  &-sider{
    min-height: 100vh;
    background: @menu-blueBgColor;
    color: @menu-blueColor;
    box-shadow: 2px 0 8px 0 rgba(29,35,41,.05);
    position: relative;
    z-index: 13;

    &-fix{
      position: fixed;
      top: 0;
      left: 0;

      .i-layout-menu-side{
        height: calc(~'100vh - 64px');
        overflow-y: auto;
        background: @menu-blueBgColor;//左侧菜单第二层背景
        color: @menu-blueColor;
      }
    }

    &-dark{
      background: @menu-blueBgColor;
      box-shadow: 2px 0 6px rgba(0,21,41,.35);
    }

    &-logo{
      height: 63px;
      line-height: 63px;
      text-align: center;
      border-bottom: 1px solid #f8f8f9;
      overflow: hidden;
      &-dark{
        border-bottom: 1px solid @menu-blueBgLogoColor;
        background: @menu-blueBgLogoColor;//左侧菜单第一层背景
      }
      img{
        height: 60%;
        vertical-align: middle;
      }
    }
  }
  /*二级三级Box*/
  &-content{
    //background: @menu-blueBgColor !important;
    background: url("../../../assets/img/overallView/bg2.jpg") center no-repeat;
    background-size: cover;
    &-fix-with-header{
      padding-top: @menuHeaderHeight;
    }
    &-main{
      margin: 44px 0 0 0 ;
    }
    &-with-tabs &-main{
      margin-top: 0;
    }
    &-with-tabs-fix &-main{
      //margin-top: 44px;
      top: @menuHeaderHeight;
      .i-layout-page-header{
        margin-top: 0;
      }
    }
  }
  &-inside{
    min-height: 100vh;
    transition: all @transition-time @ease-in-out;
    &-fix-with-sider{
      padding-left: @menuSideWidth;
      &-collapse{
        padding-left: @menuSideWidthCollapse;
      }
    }
    &-mobile{
      padding-left: 0;
    }
    &-with-hide-sider{
      padding-left: 0;
    }
  }
  &-drawer{
    .ivu-drawer-body{
      padding: 0;
      overflow: visible;
    }
    .i-layout-menu-side{
      height: calc(~'100vh - 64px');
      overflow-y: auto;
    }
    &-dark{
      .ivu-drawer-body{
        background: @menu-dark-title;
      }
    }
  }
  /*二级头部菜单*/
  &-tabs{
    width: 100%;
    background: 0;
    transition: all @transition-time @ease-in-out;
    &-fix{
      position: fixed;
      z-index: 3;
    }
    &-main{
      background: 0;
      padding: 6px 0;
      margin: 0 20px;
      display: flex;

      .ivu-tabs{
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
      }
    }

    .ivu-tabs-nav-container{
      margin-bottom: 0;
    }
    .ivu-tabs-bar{
      border-bottom: none;
      margin-bottom: 0;
    }
    .ivu-tabs-ink-bar{
      display: none;
    }
    /*页面名称通用按钮样式*/
    .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab{
      height: 28px;
      line-height: 28px;
      box-shadow: inset 0 0 10px #0769bc;
      border: 1px solid #008df0;
      color: @menu-blueColor;
      background: @menu-blueBgColor;
      border-radius: 2px;
      margin-right: 5px;
      padding: 0 16px;
      &:hover{
        color: @menu-blueColor;
      }
      font-size: 14px;
    }
    /*当前页面名称按钮样式*/
    .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active{
      height: 28px;
      background: @menu-blueBgColor;
      color: @menu-blueColor-active;
      &:hover{
        color: @menu-blueColor-active;
      }
    }
    .ivu-tabs-nav-scrollable{
      padding: 0 32px;
    }
    .ivu-tabs-nav-prev, .ivu-tabs-nav-next{
      width: 32px;
      text-align: center;
      i{
        font-size: 16px;
      }
    }
    //第二层关闭icon
    .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab .ivu-icon-ios-close{
      width: 22px;
      transform: translateZ(0);
      margin-right: -6px;
      color: @menu-blueColor;
    }
    .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active .ivu-icon-ios-close{
      color: @menu-blueColor-active;
    }

    &-title{
      display: inline-block;
      img, i{
        display: inline-block;
        height: 20px;
        vertical-align: middle;
        margin-right: 8px;
      }
      span{
        display: inline-block;
        vertical-align: middle;
      }
    }

    &-close{
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      flex-shrink: 0;
      &-main{
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        background: 0;
        color: @menu-blueColor;
        border-radius: 2px;
        cursor: pointer;
        i{
          font-size: 16px;
        }
      }
    }
  }
  &-page-header{
    margin: -24px -24px 0px;
  }
  &-content-with-tabs:not(&-content-with-tabs-fix) &-page-header {
    margin-top: 0;
  }
}
/*蓝色(旧样式)背景透明*/
.i-layout-blue  .i-layout .grid-main{background-color: transparent;}
