/*经开区全景样式*/
.i-layout-pano-theme-hn-jkq {
   .i-layout{
      &-content {
        &-fix-with-header{
          padding-top: 0;
          .i-layout-content-main {
            margin: 0 !important;
            height: 100% !important;
            .grid-content .grid-main {
              background-color: transparent;
            }
          }
        }
        &-main {
          .grid-content {
            z-index: 14;
            .grid-main .grid-main-inner{
              overflow-y: hidden!important;
              overflow-x: hidden!important;
            }
          }
          .pageBody{
            z-index: 16;
          }
        }
      }
   }
   .ivu-layout.ivu-layout-has-sider > .ivu-layout{
    overflow-y: hidden;
   }
   .title{
     color:#ade1ff!important;
   }


}
.vertical-center-modal-jkq{
    display: flex;
    align-items: center;
    justify-content: center;

    /deep/ .ivu-modal{
        top: 0;
    }
    /deep/ .ivu-modal-close{
      top:15px;
    }
    /deep/ .ivu-modal-close .ivu-icon-ios-close{
      font-size:36px;
    }
  }
