@baseImgUrl: "~@/assets/img/";

.i-layout-menu {

    &-side{
        position: static; // 菜单开启后，Dropdown 会被 overflow-y:hidden 隐藏掉，加此不受影响
        &:after{
            display: none !important;
        }
        &-title{
            display: inline-block;
            &-icon{
                display: inline-block;
                width: 24px;
                height: 24px;
                line-height: 21px;
                vertical-align: middle;
                text-align: center;
                margin-right: 8px;
                &-single{
                    margin-right: 0;
                }
                i{
                    margin-right: 0 !important;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }

            &-text{
                font-size: 13px;
                font-weight: 700;
                &-selected{
                    color: @primary-color;
                }
            }
            &-secondMenuIcon{
                width: 14px;
                height: 14px;
                position: absolute;
                right: 15px;
                float: none;
            }
        }

        .ivu-menu-submenu-title, .ivu-menu-item{
            height: 52px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .ivu-menu-submenu-title-icon{
            width: 14px;
            height: 14px;
            position: absolute;
            top: 50%;
            right: 8px;
            float: none;
        }

        .ivu-dropdown-menu{
            min-width: 160px;
        }
        .ivu-dropdown-item{
            font-size: @font-size-base !important;
            padding-right: 32px;

            &-divided:before{
                margin: 0 -32px 0 -16px;
            }
        }
        .ivu-select-dropdown{
            margin: 5px 0 5px 3px;
            width: auto;
        }
        .ivu-tooltip, .ivu-tooltip-rel{
            display: block;
            text-align: center;
        }

        &.ivu-menu-dark.ivu-menu-vertical{
            .on .ivu-menu-item {
                background: @primary-color !important;
            }
        }

        &.ivu-menu-dark .ivu-menu-item-active{
            // color: #fff !important;
        }
        &.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item {
            background: transparent !important;
            &:hover {
                background: #eee !important;
            }
        }
        &.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active {
            background: #fff !important;
            color :#0d867f !important;
            &:hover {
                background: #eee !important;
            }
        }

        &-arrow{
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translate(0, -50%);
        }

        &-seconde-menu {
            position: absolute;
            top: 0;
            height: 700px;
            max-height: 100%;
            overflow: hidden;
            max-width: 720px;
            left: 220px;
            border-bottom: 1px solid #eee;
            border-right: 1px solid #eee;
            box-shadow: 2px 1px 2px rgba(0, 0, 0,0.1);

            &-entity {
                background-color: #fff;
                padding: 20px 0;
                height: 100%;
                overflow-y: auto;

                &>ul {
                    width: 700px;
                    background-color: #fff;
                    // height: 100%;
                    float: left;

                    &>li {
                        font-size: 16px;
                        font-family: Ionicons;
                        cursor: pointer;

                        padding: 0 20px;
                        color: #333;

                        .secondTitle {
                            border-top: 1px solid #eee;
                            border-bottom: 1px solid #eee;
                            // line-height: 40px;
                            line-height: 60px;
                            span{
                                font-size: 16px;
                                border-left:3px solid rgb(8,147,253); 
                                padding-left: 20px;
                                color: #333;

                            }   
                            .ivu-icon {
                                font-size: 18px;
                                vertical-align: middle;
                            }
                        }

                        .disabled {
                            cursor: default;
                        }

                        &>.ivu-icon {
                            height: 16px;
                            width: 16px;
                            vertical-align: -1px;
                            text-align: center;
                            font-size: 16px;
                            margin-right: 15px;
                        }
                    }
                    li:not(:first-child){
                        padding-top: 10px;
                    }
                    li:nth-child(1){
                        .secondTitle {
                            border-top: none;
                        }
                    }
                }

                &:after {
                    clear: both;
                    display: block;
                    content: ".";
                    visibility: hidden;
                    font-size: 0;
                    line-height: 0;
                }
            }

            .m-menu-info {
                margin-top: 10px;

                & li {
                    cursor: pointer;

                    color: #333;
                    font-size: 14px;

                    .link {
                        font-size: 14px;
                        color: #494949;
                        display: block;
                        -webkit-transition: all 0.2s ease-out;
                        -moz-transition: all 0.2s ease-out;
                        -ms-transition: all 0.2s ease-out;
                        -o-transition: all 0.2s ease-out;
                        transition: all 0.2s ease-out;

                        &:hover {
                            color: #00A4FF;
                        }

                        line-height: 36px;
                    }

                    &:hover {
                        background-color: #F7F7F9;
                    }
                    >ul {
                        .link-child {
                            font-size: 14px;
                            color: #333;
                            line-height: 30px;
                            -webkit-transition: all 0.2s ease-out;
                            -moz-transition: all 0.2s ease-out;
                            -ms-transition: all 0.2s ease-out;
                            -o-transition: all 0.2s ease-out;
                            transition: all 0.2s ease-out;

                            &:hover {
                                color: #00a4ff;
                                border-color: #00a4ff;

                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }



        &-collapse{
            &-top{
                display: block;
                &-item{
                    text-align: center;
                }
            }
            &-item{
                &-selected, &-selected:hover{
                    background-color: ~`colorPalette("@{primary-color}", 1)`;
                    color: @primary-color;
                }
            }
            &-title{
                text-align: center;
                padding: 6px 0;
                border-bottom: 1px solid @border-color-split;
            }
            &-dark{
                .ivu-select-dropdown{
                    background-color: @menu-dark-title;
                }
                .ivu-dropdown-item{
                    color: @menu-dark-subsidiary-color;
                    transition: all @transition-time @ease-in-out;

                    &-divided{
                        border-color: @menu-dark-active-bg;
                        &:before{
                            background-color: @menu-dark-title;
                        }
                    }
                }
                .ivu-dropdown-item:hover{
                    background: transparent;
                    color: #fff;
                }
                .i-layout-menu-side-collapse-item{
                    &-selected, &-selected:hover{
                        background-color: @primary-color;
                        color: #fff;
                    }
                }
            }
            &-dark &-title{
                border-bottom: 1px solid @menu-dark-active-bg;
                color: @menu-dark-subsidiary-color;
            }
            .i-layout-menu-sider-seconde-menu {
                left: 76px !important;
            }
        }
    }


    &-head{
        display: inline-block;
        overflow: hidden;
        flex: 1;

        .ivu-menu-horizontal.ivu-menu-light:after{
            display: none;
        }
        .ivu-menu-horizontal{
            display: inline-block;
            vertical-align: middle;
            height: auto; // 这里不能设置为 @menuHeaderHeight - 2px，因为在平板模式下，header 宽度不够，拿不到真实高度
            line-height: @menuHeaderHeight - 6px;
        }

        &-logo{
            display: inline-block;
            height: @menuHeaderHeight;
            text-align: center;
            vertical-align: middle;
            img{
                height: 80%;
                vertical-align: middle;
            }
        }

        &-title{
            display: inline-block;
            &-icon{
                display: inline-block;
                width: 24px;
                height: 24px;
                line-height: 24px;
                vertical-align: middle;
                text-align: center;
                &-single{
                    margin-right: 0;
                }
                i{
                    margin-right: 0 !important;
                    font-size: 16px;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &-text{
                vertical-align: middle;
                margin-left: 6px;
            }
        }

        .ivu-dropdown-rel{
            padding: @headerTriggerMinPadding;
        }
        .ivu-dropdown-item{
            text-align: left;
        }

        &-mobile{
            vertical-align: baseline;
            overflow: visible;
            .ivu-dropdown-item{
                font-size: 14px !important;
                text-align: left;
                i,span{
                    vertical-align: middle;
                }
                i{
                    margin-right: 6px;
                }
            }
            &-drop{
                .dropdownMobile();
            }
        }
    }

}

