<!-- 站/所/箱/环/分 弹框 -->
<template>
  <BaseModal :visible="publicParams.bdGtVisible" @on-cancel="cancel">
    <!-- 头部分 -->
    <div class="body-main-wrap">
      <div class="header-wrap">
        <span class="label-name">{{ publicParams && publicParams.params && publicParams.params.text }}</span>
      </div>
      <!-- 主体部分 -->
      <BaseForm ref="baseFormRef" v-if="publicParams.bdGtVisible" />

      <div class="floor-wrap">
        <Button type="primary" v-auth="'map:edit'" @click="handleSave" size="small" style="width: 120px; height: 35px"
          >保存</Button
        >
      </div>
    </div>
  </BaseModal>
</template>

<script>
import BaseModal from "../../templates/baseModal/index";
import { mapState, mapMutations } from "vuex";
import UploadFile from "@/components/uploadFile";
import _ from "lodash";
import BaseForm from "../../components/baseForm";
import systemApi from "@/api/system";

export default {
  data() {
    return {
      formInline: {},
      types: [],
    };
  },
  computed: {
    ...mapState("admin/map", ["publicParams", "astTreeList"]),

    baseFormList() {
      return [
        {
          prop: "towerNo",
          label: "杆塔编号",
          type: "input",
        },
        {
          prop: "towerType",
          label: "杆塔类型",
          type: "input",
        },
        {
          prop: "towerMode",
          label: "杆塔型号",
          type: "input",
        },
        {
          prop: "height",
          label: "高度",
          type: "input",
        },
        {
          prop: "latitude",
          label: "纬度",
          type: "input",
        },
        {
          prop: "longitude",
          label: "经度",
          type: "input",
        },
        {
          prop: "deep",
          label: "埋深",
          type: "input",
        },
        {
          prop: "orgCode",
          label: "资产单位",
          type: "treeSelect",
          treeList: this.astTreeList,
          orderProp: "orgName",
        },
      ];
    },
  },
  components: {
    BaseModal,
    UploadFile,
    BaseForm,
  },
  watch: {
    "publicParams.bdGtVisible"(val) {
      if (val) {
        console.log(">>>", this.publicParams);
        this.$nextTick(() => {
          this.getSubStation();
        });
      }
    },
  },
  methods: {
    ...mapMutations("admin/map", ["setState"]),
    cancel() {},
    getSubStation() {
      systemApi.getTowerInfo(this.publicParams.params.id).then((res) => {
        if (res.code == 200) {
          console.log("");
          this.$refs.baseFormRef.baseForm = {
            ...res.data,
            latitude: _.get(res, "data.address.latitude"),
            longitude: _.get(res, "data.address.longitude"),
            height: _.get(res, "data.height") ? String(_.get(res, "data.height")) : undefined,
          };

          this.$nextTick(() => {
            this.$refs.baseFormRef.transformToRules(this.baseFormList);
          });
        }
      });
    },
    handleSave() {
      const that = this;
      this.$refs.baseFormRef.submit().then((res) => {
        // 请求地址
        if (res) {
          systemApi.editTower(res).then((res) => {
            if (res.code == 200) {
              this.$Message.success("保存成功!");
              // 关闭弹层
              that.setState({
                publicParams: {
                  bdGtVisible: false,
                  params: {}, //参数
                  type: "bdGt",
                },
              });
            }
          });
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.body-main-wrap {
  display: flex;
  flex-direction: column;
  height: 400px;

  .header-wrap {
    display: flex;
    height: 60px;
    align-items: center;
    background: #eefffe;
    width: 100%;
  }

  .label-name {
    font-size: 18px;
    margin-left: 20px;
    color: #0d867f;
    font-weight: 600;
  }

  .floor-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
}
</style>
