<!--  基础弹框 -->
<template>
  <Modal :mask-closable="false" :value="visible" @on-visible-change="onVisibleChange" :closable="false">
    <!-- 上面的线条 -->
    <div class="border-top">
      <div class="top-line"></div>
      <div class="top-line"></div>
      <div class="top-line"></div>
      <div class="top-trapezoid"></div>
    </div>

    <!-- 左边的线条 -->
    <div class="border-left">
      <div class="left-line-1"></div>
      <div class="left-line-2"></div>
    </div>

    <!-- 右边的线条 -->
    <div class="border-right">
      <div class="right-line-1"></div>
      <div class="right-line-2"></div>
    </div>

    <!--  下边的线条 -->
    <div class="border-bottom">
      <div class="bottom-line-1"></div>
    </div>

    <div class="modal-main-wrap" v-if="visible">
      <!-- 标题-->
      <div class="top-wrap">
        <!-- <div class="title">{{ title }}</div> -->
        <img src="@/assets/img/close.png" class="close" @click="_close" />
      </div>
      <slot></slot>
    </div>
  </Modal>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: "展示",
    },
    type: {
      type: String,
      default: "defualt",
    },
  },
  computed: {
    ...mapState("admin/map", ["publicParams"]),
  },
  methods: {
    ...mapMutations("admin/map", ["setState"]),
    _close() {
      if (this.type == "defualt") {
        this.setState({
          publicParams: {
            // ...this.publicParams,
            [`${this.publicParams.type}Visible`]: false,
          },
        });
      }

      this.$emit("on-cancel");
    },
    onVisibleChange(val) {
      this.$emit("onVisibleChange", val);

      if (!val) {
        this._close();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
/deep/ .ivu-modal-footer {
  display: none;
}

/deep/ .ivu-modal {
  min-height: 300px;
  min-width: 964px;
}

/deep/ .ivu-modal-body {
  padding: 0;
  font-size: 12px;
  border: 1px solid #23aea4;
  width: 100%;
  height: 100%;
  min-height: 300px;
  min-width: 964px;
  position: relative;
  min-height: 400px;
}

.close {
  position: absolute;
  right: 13px;
  z-index: 2;
  cursor: pointer;
  top: 14px;
}

.modal-main-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.border-top {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  z-index: 1;
  .top-line {
    width: 6px;
    height: 6px;
    background-color: #23aea4;
    margin-left: 6px;
    &:first-child {
      margin-left: 20px;
    }
  }
  .top-trapezoid {
    width: 180px;
    height: 0;
    border-top: 6px solid #23aea4;
    border-right: 6px solid transparent;
    margin-left: 10px;
  }
}

.border-left {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  .left-line-1 {
    width: 0;
    height: 80px;
    border-left: 1px solid #23aea4;
    margin-top: 40px;
  }
  .left-line-2 {
    width: 0;
    height: 120px;
    border-left: 1px solid #23aea4;
    margin-top: 100px;
  }
}

.border-right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  .right-line-1 {
    height: 180px;
    border-right: 1px solid #23aea4;
    margin-top: 30px;
  }

  .right-line-2 {
    height: 60px;
    border-right: 1px solid #23aea4;
    margin-top: 20px;
    width: 100%;
  }
}

.border-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  .bottom-line-1 {
    width: 400px;
    height: 0;
    border-top: 1px solid #23aea4;
    margin-left: 350px;
  }
}
</style>
