<template>
  <Row type="flex" align="middle" justify="center">
    <Upload v-if="file == null" :before-upload="uploadFile" action="" style="display: flex">
      <Button icon="ios-cloud-upload-outline">{{ this.uploadText }}</Button>
    </Upload>
    <Tag v-else type="dot" closable @on-close="handlerClose" color="success"
      ><span @click="handlePreview" style="cursor: pointer">
        {{ file.name }}
      </span>
      <Modal v-model="visible" :footerHide="true" width="600px" :title="file && file.name && file.name.split('.')[0]">
        <img :src="url" alt="暂无" class="img-wrap" />
      </Modal>
    </Tag>
  </Row>
</template>

<script>
import system from "@/api/system";

export default {
  data() {
    return {
      file: null,
      url: undefined,
      visible: false,
    };
  },
  computed: {},
  props: {
    value: {
      type: String,
      default: "",
    },
    uploadText: {
      type: String,
      default: "选择文件",
    },
    type: {
      type: String,
      default: "default",
    },
  },
  watch: {
    value(val) {
      // 如果有值?我们请求下远端获取图片
      if (val) {
        this.requestImgUrl(val);
      }
    },
  },
  methods: {
    getBase64(file) {
      return new Promise((resolve, reject) => {
        let reader = new FileReader();
        let fileResult = "";
        reader.readAsDataURL(file);
        //开始
        reader.onload = function () {
          fileResult = reader.result;
        };
        //失败
        reader.onerror = function (error) {
          reject(error);
        };
        //结束
        reader.onloadend = function () {
          resolve(fileResult);
        };
      });
    },
    handlePreview() {
      this.visible = true;
    },
    uploadFile(file) {
      this.file = file;
      console.log("uploadFile uploadFile uploadFile ", file);
      // 本地地址
      if (this.type == "base64") {
        this.getBase64(file).then((res) => {
          this.url = res;
          this.$emit("input", this.url);
        });
      }
    },
    requestImgUrl(attachmentId) {
      // system.attachmentApi.commonDown(attachmentId).then((result) => {
      //   if (result) {
      //     this.file = result;
      //     this.$emit("onImgUrl", result.url);
      //     console.log("result.url", result.url);
      //     this.url = result.url;
      //   } else {
      //     console.log("获取图片url requestImgUrl erro");
      //   }
      // });
    },
    handlerClose() {
      this.file = null;
      this.url = undefined;
      this.$emit("input", undefined);
      this.$emit("onImgUrl", undefined);
    },
    handleClick() {
      console.log("handleClick");
    },
  },
  mounted() {
    if (this.value) {
      this.requestImgUrl(this.value);
    }
  },
};
</script>
<style scoped lang="scss">
.img-wrap {
  width: 500px;
  margin-left: 15px;
}
</style>
