.basciInfor {
  font-size: 14px;
  .basciInfo_title {
    overflow: hidden;
    display: flex;
    height: 18px;
    line-height: 18px;
    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      color: rgba(1, 102, 178, 1);
      &:nth-child(1) {
        width: 26px;
        height: auto;
        margin-right: 9px;
        background-image: url(~@/assets/img/lytImg/jbxinx.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      &:nth-child(2) {
        display: inline-block;
        padding-right: 30px;
      }
      &:last-child {
        flex: 1;
        border-bottom: 1px dashed #0166b2;
        border-bottom: 1px dashed #0166b2;
        height: 8px;
        display: inline-block;
      }
      &.contactInforImg {
        background-image: url(~@/assets/img/lytImg/jbxinx.svg);
      }
      &.jbxinx {
        background-image: url(~@/assets/img/lytImg/jbxinx.svg);
      }
      &.fxpgu {
        background-image: url(~@/assets/img/lytImg/fxpgu.svg);
      }
      &.khpjia {
        background-image: url(~@/assets/img/lytImg/khpjia.svg);
      }
      &.lxrenxx {
        background-image: url(~@/assets/img/lytImg/lxrenxx.svg);
      }
      &.xypingf {
        background-image: url(~@/assets/img/lytImg/xypingf.svg);
      }
      &.jzpjia {
        background-image: url(~@/assets/img/lytImg/jzpjia.svg);
      }
      &.kzxix {
        background-image: url(~@/assets/img/lytImg/kzxix.svg);
      }
      &.zdxix {
        background-image: url(~@/assets/img/lytImg/zdxix.svg);
      }
      &.fuwlx {
        background-image: url(~@/assets/img/lytImg/fuwlx.svg);
      }
      &.shangxingtx {
        background-image: url(~@/assets/img/lytImg/shangxingtx.svg);
      }
      &.simhao {
        background-image: url(~@/assets/img/lytImg/simhao.svg);
      }
      &.celiand {
        background-image: url(~@/assets/img/lytImg/celiand.svg);
      }
      &.jlxixd {
        background-image: url(~@/assets/img/lytImg/jlxixd.svg);
      }
      &.tongxincs {
        background-image: url(~@/assets/img/lytImg/tongxincs.svg);
      }
      &.dbpezhi {
        background-image: url(~@/assets/img/lytImg/dbpezhi.svg);
      }
      &.qitaxinxi {
        background-image: url(~@/assets/img/lytImg/qitaxinxi.svg);
      }
      &.hbqde {
        background-image: url(~@/assets/img/lytImg/hbqde.svg);
      }
      &.hbhde {
        background-image: url(~@/assets/img/lytImg/hbhde.svg);
      }
      
    }

    .title-line {
      margin-left: 109px;
      height: 1px;
      border-bottom: 1px dashed #0166b2;
      margin-top: 11px;
    }
  }
  .basciInfo_content {
    // padding-left: 40px;
    display: inline-block;
    width: 100%;
    .label_text {
      width: 100%;
      display: block;
      line-height: 32px;
      color: #191919;
      font-weight: bold;
      text-align: right;
      padding-right: 10px;
      position: relative;
    }
  }
}
