$imgUrl: "../../";
.groupInforMag {
  .ivu-btn {
    //padding: 0;
    padding: 0 10px;
    height: 32px;
    //margin-right: 10px;
    width: 60px;

    .ivu-icon-ios-repeat,
    .ivu-icon-ios-search {
      font-size: 16px;
      margin-top: -4px;
      margin-left: 0px;
    }
    .ivu-icon-ios-search {
      font-size: 16px;
      margin-top: -2px;
    }
    .ivu-icon-ios-add {
      font-size: 18px;
      margin-top: -4px;
      margin-left: 3px;
    }
  }
  .ivu-form-item {
    margin-bottom: 0px;
  }
  /deep/ .ivu-form-item-content {
    width: 2rem !important;
  }
  .newbuild {
    padding: 0px 0 15px 15px;

    .ivu-btn {
      border-radius: 4px;
    }
  }
  .table_b {
    padding: 0px 15px 0 15px;
    background: rgba(255, 255, 255, 1);
    /*box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.13);*/
    border-radius: 2px;
    .ivu-btn {
      width: 50px;
      font-family: SimSun;
    }
    .export {
      position: absolute;
      padding: 0.2rem 0;
      bottom: 0;
      left: 160px;
      span {
        display: inline-block;
        width: 40px;
        height: 35px;
        line-height: 35px;
        vertical-align: middle;
      }
      .pdf {
        background: url('~@/assets/img/pdf-icon.png') left center no-repeat;
      }
    }
  }
}
.formBox {
  padding: 18px 10px;
  /*box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.13);*/
  background-color: #fff;
  //height: 68px;
  /*margin-bottom: 15px;*/
  display: inline-block;
  width: 100%;
}
/deep/ .ivu-select-single .ivu-select-selection .ivu-select-placeholder{
  height: 28px;
  line-height: 28px;
}
 /deep/ .ivu-select-single .ivu-select-selection .ivu-select-selected-value{
  height: 28px;
  line-height: 28px;
}
/deep/ .ivu-select-single .ivu-select-selection {
    height: 28px;
    position: relative;
}
/deep/ .ivu-input{
  height: 28px;
}
// /deep/ .ivu-form .ivu-form-item-label {
  //color: #191919;
// }
.label_text {
  width: 100%;
  display: block;
  line-height: 28px;
  color: #000;
//  font-weight: bold;
  text-align: right;
  padding-right: 10px;
  position: relative;
}

/*/deep/ .ivu-form-item-content{
            width: 200px
      }*/
/deep/ .vue-treeselect {
  .ivu-input:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  select:focus,
  textarea:focus {
    border-color: #dcdee2 !important;
    border-width: 1px;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) !important;
  }
  .vue-treeselect--focused:not(.vue-treeselect--open) .vue-treeselect__control {
    border-color: #dcdee2;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) !important;
  }
}
/deep/
  .vue-treeselect:not(.vue-treeselect--disabled):not(.vue-treeselect--focused)
  .vue-treeselect__control:hover {
  border-color: #0893fd;
}
.btnDiv {
  button {
    margin-left: 10px;
  }
}
.mine_center_container {
  .container_warp {
   .usl {
      height: 58px;
      /*padding-left: 15px;*/
      background:#fff;
      border-radius:2px;
      border-bottom: 2px solid rgba(207,207,207,1);

      li {
        cursor: pointer;
        float: left;
        margin-right: 50px;
        height: 58px;
        line-height: 58px;
        font-size: 14px;
        color: #333333;
        text-align: center;
      }

      .active,
      li:hover {

        border-bottom: 2px solid #1890FF;
        color: #1890ff;
      }
    }
    .table_model_search {
      width: 100%;
      padding: 20px 10px;
      display: inline-block;
      margin-bottom: 0.2rem;
      &::after {
        clear: both;
        visibility: hidden;
        font-size: 0;
        height: 0;
      }
    }
  }
}
/*暂无数据（大）*/
.zwsj{
  background: url('~@/assets/img/zwsj.png') no-repeat;
  width: 154.5px;
  height: 193px;
  background-size: cover;
  position: absolute;
  left: 50%;
  margin-left: -77.25px;
  top: 50%;
  margin-top: -96.5px;
}
/*暂无数据（小）*/
.min-zwsj{
  background: url('~@/assets/img/zwsj.png') no-repeat;
  width: 103px;
  height: 128px;
  background-size: cover;
  position: absolute;
  left: 50%;
  margin-left: -51.5px;top: 50%;margin-top: -64px;
}
.zwaj{
  background: url('~@/assets/img/pdf-icon.png') no-repeat;
  //height: 400px;
  //background-size:181px  201px;
  //width: 100%
  /*原图宽309，高386*/
  background-position: center center;
  // width: 154.5px;height: 193px;background-size: cover;position: absolute;left: 50%;margin-left: -77.25px;top: 50%;margin-top: -96.5px;
}

