/deep/ .ivu-btn {
  height: 28px;
  line-height: 1;
}

/deep/ .ivu-input-icon {
  height: 28px;
  line-height: 28px;
}

/deep/ .ivu-input {
  height: 28px;
  min-width: 200px;
}

/deep/ .ivu-tabs-bar {
  height: 46px;
  padding: 2px 0;
  border-bottom: none;
  background-color: #fff;
  margin-top: 20px;
  box-sizing: border-box;
  overflow: hidden;
  /deep/ .ivu-col-offset-2 {
    margin-left: 0;
  }
  /deep/ .ivu-tabs-nav-right {
    // float: left;
    padding: 12px 0;
    margin-right: 100px;
    .ivu-date-picker {
      width: 200px;
    }
    .ivu-col-span-5 {
      position: relative;
      z-index: 2;
    }
  }
  /deep/ .ivu-tabs-nav {
    // float: right;
    margin-right: 50px;
    /deep/ .ivu-tabs-tab {
      font-size: 16px;
      padding: 10px 20px;
      box-sizing: border-box;
    }
  }
}
.tableList {
  background-color: #fff;
}
.ivu-tabs-content {
  background-color: #fff;
}
.mailTable {
  margin-top: 0.2rem;
}
.tableContent {
  padding: 10px;
  // background-color: #ffffff !important;
}
.datelist {
  position: absolute;
  top:15px;
  right: 200px;
  z-index: 2;
  button {
    position: absolute;
    right: -250px;
    top:3px;
  }
}
