.newEnergyMonitor_left p,
.newEnergyMonitor_left li,
.newEnergyMonitor_left span,
.newEnergyMonitor_right p,
.newEnergyMonitor_right li,
.newEnergyMonitor_right span,
.energySurvey_box span,
.energySurvey_box p,
.energySurvey_box li {
    font-size: 0.28rem
}

.newEnergyMonitor_right .ivu-select-single .ivu-select-selection {
    height: 0.64rem;
    position: relative;
}

.newEnergyMonitor_right .ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
    display: block;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.24rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 0.16rem;
    padding-right: 0.48rem;
}

.newEnergyMonitor_left,
.equipMonitor_left {
    width: 6.5rem;
    ;
    /* height: 500px; */
    padding: 0.2rem;
    background-color: #fff;
    border-radius: 3px;
}

.newEnergyMonitor_left ul li,
.newEnergyMonitor_left ul {
    width: 100%;
}

.newEnergyMonitor_left ul li .ivu-select-selection {
    background-color: #EDEDED;
}

.newEnergyMonitor_left ul li .ivu-select-single .ivu-select-selection .ivu-select-placeholder {
    color: #666;
}

.newEnergyMonitor_right {
    margin-left: 6.9rem;
    /* background-color: #666; */
    /* height: 500px; */
}

.newEnergyMonitor_left_title {
    padding: 0.3rem 0;
}

.newEnergyMonitor_left_title>span,
.newEnergyMonitor_left_list p span,
.newEnergyMonitor_left_list .newEnergyMonitor_left_list_title {
    font-size: 14px;
}

.newEnergyMonitor_left_list .newEnergyMonitor_left_list_title {
    color: #0893fd;
    padding-left: 0.1rem;
}

.newEnergyMonitor_left_title span:nth-child(1),
.newEnergyMonitor_right_box_title {
    color: #0893fd;
    background-image: url(~@/assets/img/newEnegryMonitor_icon06.png);
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    padding-left: 0.4rem;
    background-position: 0px 0.06rem;
}

.newEnergyMonitor_left_title .energyConsenergy:nth-child(1) {
    background-image: url(~@/assets/img/newEnegryMonitor_icon05.png);
    background-position: 0px 1px;
}

.newEnergyMonitor_left_title .ivu-icon.ivu-icon-md-heart {
    font-size: 0.3rem;
}

.newEnergyMonitor_left_list p {
    line-height: 0.4rem;
}

.newEnergyMonitor_left_list.normal {
    background-color: #F9F9F9;
    padding: 0.2rem 0.3rem;
}

.newEnergyMonitor_left_list p {
    padding: 3px 0
}

.newEnergyMonitor_left_title span:nth-child(2) {
    color: #FE5051
}

.newEnergyMonitor_left_list p span:nth-child(1) {
    color: #323232;
    font-weight: 700;
    margin-right: 5px;
}

.newEnergyMonitor_left_list .keyPoint span {
    color: #0893fd!important;
    font-size: 0.24rem;
    font-weight: 700
}

.newEnergyMonitor_left_list_a p {
    padding-left: 0.3rem;
}

.newEnergyMonitor_left_list_a {
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 0.42rem;
}

.newEnergyMonitor_left_list_a:nth-child(2) {
    margin-top: 0
}

.newEnergyMonitor_left_list_a p span {
    font-weight: 400!important;
}

.newEnergyMonitor_left_list_a:last-child {
    border-bottom: 0px solid #EAEAEA;
}

.newEnergyMonitor_right_box {
    border-radius: 3px;
    background-color: #fff;
}

.newEnergyMonitor_right_box_title,
.newEnergyMonitor_right_detail_title {
    border-top: 1px solid #fff;
    height: 0.96rem;
    line-height: 0.9rem;
    border-radius: 3px 3px 0 0;
    background-color: #EDEDED;
    padding-left: 1.1rem;
}

.newEnergyMonitor_right_overview .newEnergyMonitor_right_box_title {
    background-image: url(~@/assets/img/newEnegryMonitor_icon11.png);
    /* background-size: 100% 100%; */
    background-position: 0.5rem 0.34rem;
}

.newEnergyMonitor_right_protection .newEnergyMonitor_right_box_title {
    background-image: url(~@/assets/img/newEnegryMonitor_icon04.png);
    background-position: 0.5rem 0.34rem;
}

.newEnergyMonitor_right_overview ul {
    display: flex;
    justify-content: space-around;
    /* height: 128px; */
    padding: 0.2rem 0.34rem;
}

.newEnergyMonitor_right_overview ul li {
    width: 7.14rem;
    height: 2.16rem;
    margin: auto 2px;
    background-size: 100% 100%;
    position: relative;
    padding-right: 3%;
    padding-top: 0.26rem;
    background-size: 100% 100%;
}

.newEnergyMonitor_right_overview ul li:nth-child(1) {
    background-image: url(~@/assets/img/newEnegryMonitor_bgc04.png);
    width: 7.54rem;
    height: 2.56rem;
    margin: auto 0;
    padding-right: 6%;
    padding-top: 0.4rem;
}

.newEnergyMonitor_right_overview ul li p {
    text-align: right;
}

.newEnergyMonitor_right_overview ul li:nth-child(2) {
    background-image: url(~@/assets/img/newEnegryMonitor_bgc03.png);
}

.newEnergyMonitor_right_overview ul li:nth-child(3) {
    background-image: url(~@/assets/img/newEnegryMonitor_bgc02.png);
}

.newEnergyMonitor_right_overview ul li:nth-child(4) {
    background-image: url(~@/assets/img/newEnegryMonitor_bgc01.png);
}

.newEnergyMonitor_right_overview ul li:before {
    content: "";
    position: absolute;
    width: 1.28rem;
    height: 1.28rem;
    background-size: 100% 100%;
    top: 50%;
    left: 0.5rem;
    margin-top: -0.64rem;
    background-size: 100% 100%;
}

.newEnergyMonitor_right_overview ul li:nth-child(1):before {
    background-image: url(~@/assets/img/newEnegryMonitor_icon09.png);
}

.newEnergyMonitor_right_overview ul li:nth-child(2):before,
.useEnergyMonitor_right_overview ul li:nth-child(4):before {
    background-image: url(~@/assets/img/newEnegryMonitor_icon08.png);
}

.newEnergyMonitor_right_overview ul li:nth-child(3):before {
    background-image: url(~@/assets/img/newEnegryMonitor_icon07.png);
}

.newEnergyMonitor_right_overview ul li:nth-child(4):before {
    background-image: url(~@/assets/img/newEnegryMonitor_icon10.png);
}

.newEnergyMonitor_right_overview ul li p {
    font-size: 0.72rem;
    color: #fff;
}

.newEnergyMonitor_right_overview ul li p:nth-child(2) {
    font-size: 0.24rem;
    color: #fff;
}

.newEnergyMonitor_right_detail_title {
    padding: 0 0.7rem;
    border-bottom: 1px solid #CFCFCF
}

.newEnergyMonitor_right_detail_title li {
    float: left;
    padding: 0 0.5rem;
    cursor: default;
}

.newEnergyMonitor_right_detail_title li:hover,
.newEnergyMonitor_right_detail_title li:visited,
.newEnergyMonitor_right_detail_title li.active {
    border-bottom: 2px solid #0893fd;
    color: #0893fd
}

.newEnergyMonitor_right_detail_content {
    padding: 0.5rem;
    overflow: hidden;
    /* margin-top: 3px; */
}

.newEnergyMonitor_right_detail_content_right {
    width: 30%;
    height: 270px;
    float: right;
    background-color: #0893fd;
}

.newEnergyMonitor_right_detail_content_left {
    width: 65%;
    float: left;
    height: 340px;
    /* background-color:#0893fd; */
}

.newEnergyMonitor_right_detail_unit_left .newEnergyMonitor_right_detail_content_left {
    height: 280px;
}

#newEnergyMonitor_right_detail_content_left {
    width: 100%;
    height: 100%;
}

.newEnergyMonitor_right_detail_content_right {
    border-radius: 3px;
    margin-top: 38px;
}

.newEnergyMonitor_right_detail_unit_left .newEnergyMonitor_right_detail_content_right {
    margin-top: 5px;
}

.newEnergyMonitor_right_detail_content_right p {
    color: #fff;
    line-height: 64px;
    padding: 0 0.32rem;
}

.newEnergyMonitor_right_detail_content_right p:nth-child(1),
.newEnergyMonitor_right_detail_content_right p:nth-child(2) span:nth-child(2),
.newEnergyMonitor_right_detail_content_right p:nth-child(3) span {
    /* font-size: 17px; */
    /* letter-spacing:3px */
}


/* .newEnergyMonitor_right_detail_content_right p:nth-child(1),
.newEnergyMonitor_right_detail_content_right p:nth-child(3) span,
.newEnergyMonitor_right_detail_content_right p:nth-child(4){

} */


/* .newEnergyMonitor_right_detail_content_right p:nth-child(4){
    font-size: 22px;
    background-color: #2688E3;
} */

.newEnergyMonitor_right_detail_content_right .ivu-icon-md-arrow-dropup {
    color: #84EE70;
    vertical-align: text-top;
    font-size: 26px;
}

.newEnergyMonitor_right_detail_content_right .ivu-icon-md-arrow-dropdown {
    color: #FD3537;
    vertical-align: text-top;
    font-size: 26px;
}

.newEnergyMonitor_right_protection .newEnergyMonitor_right_box_title span:nth-child(2) {
    color: #666
}

.newEnergyMonitor_right_protection .ivu-icon-ios-refresh {
    font-size: 25px;
}

.newEnergyMonitor_right_protection ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.newEnergyMonitor_right_protection ul li {
    width: 20%;
    height: 3.86rem;
    padding: 0.7rem 0 0.2rem 0;
    position: relative;
}

.newEnergyMonitor_right_protection ul li>div {
    border-right: 1px solid #E1E1E1;
    padding: 0.2rem 0 0.74rem 0;
}

.newEnergyMonitor_right_protection ul li>div p {
    padding-left: 46%;
}

.newEnergyMonitor_right_protection ul li>div p:nth-child(1) {
    line-height: 1.16rem;
}

.newEnergyMonitor_right_protection ul li>div p:nth-child(1) span:nth-child(1) {
    color: #80C67D;
    font-size: 0.64rem;
}

.newEnergyMonitor_right_protection ul li:before {
    content: "";
    position: absolute;
    left: 16%;
}

.newEnergyMonitor_right_protection ul li:nth-child(1):before {
    width: 1.28rem;
    height: 1.22rem;
    background-image: url('~@/assets/img/newEnegryMonitor_icon03.png');
    top: 50%;
    margin-top: -32px;
    background-size: 100% 100%;
}

.newEnergyMonitor_right_protection ul li:nth-child(2):before {
    width: 1.4rem;
    height: 0.9rem;
    background-image: url('~@/assets/img/newEnegryMonitor_icon02.png');
    top: 50%;
    margin-top: -0.6rem;
    background-size: 100% 100%;
}

.newEnergyMonitor_right_protection ul li:nth-child(3):before {
    width: 1.4rem;
    height: 0.9rem;
    background-image: url('~@/assets/img/newEnegryMonitor_icon12.png');
    top: 50%;
    margin-top: -0.6rem;
    background-size: 100% 100%;
}

.newEnergyMonitor_right_protection ul li:nth-child(4):before {
    width: 1.4rem;
    height: 0.9rem;
    background-image: url('~@/assets/img/newEnegryMonitor_icon13.png');
    top: 50%;
    margin-top: -0.6rem;
    background-size: 100% 100%;
}

.newEnergyMonitor_right_protection ul li:nth-child(5):before {
    width: 1.08rem;
    height: 1.28rem;
    background-image: url('~@/assets/img/newEnegryMonitor_icon01.png');
    top: 50%;
    margin-top: -0.72rem;
    background-size: 100% 100%;
}

.useEnergyMonitor_right_overview ul li:nth-child(5) {
    background-image: url(~@/assets/img/userEnegryMonitor_bgc01.png);
    background-size: 100% 100%;
}

.useEnergyMonitor_right_overview .newEnergyMonitor_right_box_title span,
.energySurveyTop_box span {
    float: right;
    width: 1.6rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    color: #666;
    background-color: #DFDFDF;
    border: 1px solid #D2D2D2;
    margin: 0.14rem 0.16rem 0 0;
    border-radius: 2px;
    cursor: pointer;
}

.useEnergyMonitor_right_overview .newEnergyMonitor_right_box_title span:hover,
.useEnergyMonitor_right_overview .newEnergyMonitor_right_box_title .active,
.energySurveyTop_box span:hover,
.energySurveyTop_box .active {
    color: #fff;
    background-color: #0893fd;
    border: 1px solid #0893fd;
}

.useEnergyMonitor_right_overview ul li:nth-child(2):before {
    background-image: url(~@/assets/img/userEnegryMonitor_icon01.png);
    background-size: 100% 100%;
}

.useEnergyMonitor_right_overview ul li:nth-child(3):before,
.useEnergyMonitor_right_overview ul li:nth-child(5):before {
    background-image: url(~@/assets/img/userEnegryMonitor_icon03.png);
    background-size: 100% 100%;
}

.userEnergyMonitor_right_unit .newEnergyMonitor_right_box_title {
    background-image: url(~@/assets/img/userEnegryMonitor_icon02.png);
    /* background-size: 100% 100%; */
    background-position: 0.5rem 0.28rem;
}

.userEnergyMonitor_right_unit_table {
    width: 100%;
    overflow-x: scroll
}

.userEnergyMonitor_right_unit table {
    min-width: 30.4rem;
    border: 1px solid #E7E7E7;
}

.userEnergyMonitor_right_unit table td,
.userEnergyMonitor_right_unit table th {
    height: 0.72rem;
    line-height: 0.72rem;
    border-bottom: 1px solid #E7E7E7;
    padding: 0 0.3rem;
}

.userEnergyMonitor_right_unit table tr:nth-child(1) td {
    background-color: #EAF4FE;
}

.userEnergyMonitor_right_unit table th {
    background-color: #FAFAFA;
    text-align: left;
    font-size: 0.28rem;
}

.userEnergyMonitor_right_unit_echart {
    height: 200px;
    width: 60%;
}

.tdEchart {
    width: 25%
}

.userEnergyMonitor_right_unit table tr:last-child td {
    border-top: 1px solid #E7E7E7
}

.userEnergyMonitor_right_unit_state {
    margin-top: 64px;
}


/* 能源监测 */

.energySurveyTop_box {
    padding: 0 30px;
    height: 44px;
    line-height: 42px;
}

.energySurveyContent_box {
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    width: 100%;
}

.energySurveyContent_box_top .newEnergyMonitor_right_detail_title {
    background-color: transparent;
    border-bottom: none;
}

.energySurveyContent_box_top li {
    border-bottom: 1px solid #cccccc
}

.energySurveyContent_box_bottom_left {
    width: 100px;
    padding: 13px 17px 10px 17px;
    position: relative;
}

.energySurveyContent_box_bottom {
    /*margin-top: 8px;*/
}

.energySurveyContent_box_bottom_left ul li:nth-child(n) {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #0893fd;
}

.energySurveyContent_box_bottom_left ul li:nth-child(2n) {
    width: 7px;
    height: 2rem;
    background-color: #dddddd;
}

.loss_level {
    position: absolute;
    left: 0.66rem;
}

.loss_level:nth-child(1) {
    position: absolute;
    top: 1.87rem;
}

.loss_level:nth-child(2) {
    position: absolute;
    top: 4.80rem;
}

.energySurveyContent_box_bottom_right {
    margin-left: 100px;
     height: calc(100vh - 290px);
}

/deep/ .orgchart table {
    width: 100%
}
/deep/ .orgchart{
    /*background-color: #0896fd;*/
    transform: matrix(1, 0, 0, 1, 0, 6);
}
/deep/ .orgchart .node {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 3px;
    border: 2px dashed transparent;
    text-align: center;
    width: 380px;
    border: 1px solid #0893fd;
    border-radius: 10px;
    /* height: 180px; */
}

/deep/ .orgchart .node .content {
    height: 110px;
    border: 0px solid #0893fd;
    position: relative;
    background-color: transparent;
}

/deep/ .orgchart .node .content ul {
    z-index: 9999;
    position: absolute;
    top: 20px;
    right: 10px;
}

/deep/ .orgchart .node .content ul li {
    line-height: 22px;
    text-align: left;
}

/deep/ .orgchart .node .content ul li:nth-child(1) {
    color: #34aeec
}

/deep/ .orgchart .node .content ul li:nth-child(2) {
    color: #ff806d
}

/deep/ .orgchart .node .content ul li:nth-child(3) {
    color: #96b851
}

/deep/ .orgchart .node .content ul li:nth-child(4) {
    color: #f39c11
}

/deep/ .orgchart .node .title {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: transparent;
    color: #565656;
    border-bottom: 1px solid #ccc;
}

/deep/ .orgchart .node .title span {
    font-size: 18px;
    font-weight: 700;
    margin-right: 5px;
}

/deep/ .orgchart tr.lines .leftLine {
    border-left: 0px solid #0893fd;
    float: none;
    border-radius: 0;
}

/deep/ .orgchart tr.lines .rightLine {
    border-right: 1px solid #0893fd;
}

/deep/ .orgchart tr.lines .topLine {
    border-top: 1px solid #0893fd;
}

/deep/ .orgchart tr.lines .downLine {
    background-color: #0893fd;
    margin: 0 auto;
    height: 20px;
    width: 1px;
    float: none;
}

/deep/ .orgchart .node .bottomEdge {
    height: 20px;
}

/deep/ .orgchart .node .bottomEdge.fa-chevron-up {
    background: url(~@/assets/img/energySurvey_icon_02.png) center top no-repeat
}

/deep/ .orgchart .node .bottomEdge.fa-chevron-down {
    background: url(~@/assets/img/energySurvey_icon_01.png) center top no-repeat
}
/deep/ #chart-container{
    top: -33px;
    /*left: 10px;*/
    /*background-color: pink;*/
    height: 90%;
}
/deep/ .content_echart {
    height: 125px;
    width: 307px;
}


/* 设备监测 */

.equipMonitor_left,
.equipMonitor_right {
    height: 15.48rem;
}

.equipMonitor_left_tree .ivu-tree-arrow {
    /* width: 14px; */
    /* height: 14px; */
}

.equipMonitor_left_tree .ivu-tree-arrow i {
    width: 14px;
    height: 14px;
    background-color: #0893fd;
    margin-top: -12px;
    margin-left: -8px;
}

.equipMonitor_left_tree .ivu-tree-arrow-open i {
    transform: none;
    width: 14px;
    height: 14px;
    background-color: #33eecc;
}

.equipMonitor_left_tree .ivu-icon-ios-arrow-forward:before {
    content: " ";
}


/* 设备监测 */

.level_a {
    padding-left: 0.5rem;
}

.level_b {
    padding-left: 0.7rem;
}

.level_c {
    padding-left: 0.8rem;
}

.level_d {
    padding-left: 0.18rem;
}

.level_a>li>span,
.level_d>li>a,
.level_d>li>a>span {
    color: #333;
}

.level_b>li>span,
.level_c>li>span {
    color: #666666;
    font-size: 0.28rem;
}

.level_d>li>a>span,
.level_d>li>a {
    font-size: 0.28rem;
    display: inline-block;
    vertical-align: middle;
}

.level_d>li>a>span {
    margin-right: 0.1rem;
}

.equipMonitor_left_tree li,
.equipMonitor_left_tree span {
    padding: 0.14rem 0
}

.equipMonitor_left_tree span.iconfont {
    padding: 0;
}

.level_a>li>span {
    font-size: 0.3rem;
}

.level_a>li>span,
.level_b>li>span,
.level_c>li>span {
    position: relative;
}

.level_a>li>.down:before,
.level_b>li>.down:before,
.level_c>li>.down:before {
    content: "";
    position: absolute;
    width: 0.32rem;
    height: 0.32rem;
    background-image: url(~@/assets/img/equip_icon_02.png);
    background-size: 100% 100%;
    top: 0.14rem;
    left: -0.46rem;
}

.level_a>li>.up:before,
.level_b>li>.up:before,
.level_c>li>.up:before {
    content: "";
    position: absolute;
    width: 0.32rem;
    height: 0.32rem;
    background-image: url(~@/assets/img/equip_icon_01.png);
    background-size: 100% 100%;
    top: 0.14rem;
    left: -0.46rem;
}

.level_d>li>a {
    position: relative;
}

.level_d>li>a:before {
    content: "";
    position: absolute;
    width: 0.32rem;
    height: 0.32rem;
    top: 0.06rem;
    left: -0.4rem;
    background-size: 100% 100%;
}

.level_d>li:nth-child(1)>a:before {
    background-image: url(~@/assets/img/Desktop/icon_03_a.png)
}

.level_d>li:nth-child(2)>a:before {
    background-image: url(~@/assets/img/Desktop/icon_06_a.png)
}

.level_d>li:nth-child(3)>a:before {
    background-image: url(~@/assets/img/Desktop/icon_01_a.png)
}

.level_d>li:nth-child(4)>a:before {
    background-image: url(~@/assets/img/Desktop/icon_05_a.png);
    background-repeat: no-repeat
}

.level_d>li:nth-child(5)>a:before {
    background-image: url(~@/assets/img/Desktop/icon_nibian_a.png);
    background-repeat: no-repeat
}

.level_d>li:nth-child(6)>a:before {
    background-image: url(~@/assets/img/Desktop/icon_huiliu_a.png);
    background-repeat: no-repeat
}

.level_d>li:nth-child(1)>.router-link-exact-active:before {
    background-image: url(~@/assets/img/Desktop/icon_03_b.png)
}

.level_d>li:nth-child(2)>.router-link-exact-active:before {
    background-image: url(~@/assets/img/Desktop/icon_06_b.png)
}

.level_d>li:nth-child(3)>.router-link-exact-active:before {
    background-image: url(~@/assets/img/Desktop/icon_01_b.png)
}

.level_d>li:nth-child(4)>.router-link-exact-active:before {
    background-image: url(~@/assets/img/Desktop/icon_05_b.png);
    background-repeat: no-repeat
}

.level_d>li:nth-child(5)>.router-link-exact-active:before {
    background-image: url(~@/assets/img/Desktop/icon_nibian_b.png);
    background-repeat: no-repeat
}

.level_d>li:nth-child(6)>.router-link-exact-active:before {
    background-image: url(~@/assets/img/Desktop/icon_huiliu_b.png);
    background-repeat: no-repeat
}

.hide {
    display: none
}

.show {
    display: block
}

.level_a>li:last-child,
.level_b>li:last-child,
.level_c>li:last-child,
.level_d>li:last-child {
    padding-bottom: 0
}

.router-link-exact-active {
    color: #0893fd!important;
}

.equipMonitor_right {
    margin-left: 6.9rem;
    padding: 0.4rem;
    /* height:500px; */
    background-color: #fff;
}

.equip_monitor_air_info ul {
    width: 100%;
    overflow: hidden;
}

.equip_monitor_air_info ul li {
    float: left;
    width: 25%;
    margin-top: 10px;
}

.equip_monitor_air_list .newEnergyMonitor_right_detail_title {
    padding: 0
}

.equip_monitor_air_list .ivu-table td {
    height: 0.76rem!important;
}

.equip_monitor_air_info .newEnergyMonitor_right_overview ul {
    padding: 0.2rem 0;
}

.equip_monitor_air_info .newEnergyMonitor_right_overview ul li:before {
    background-image: none
}

.equip_monitor_air_info .newEnergyMonitor_right_overview ul li p {
    text-align: left;
    font-size: 0.6rem;
    margin-left: 0.6rem
}

.equip_monitor_air_info .newEnergyMonitor_right_overview ul li span {
    color: #fff;
    margin-left: 0.6rem
}

.equip_monitor_echart {
    height: 300px;
    width: 85%;
}


/* 设备检测-照明 */

.equip_open,
.equip_close,
.equip_no {
    position: relative;
    padding-left: 0.4rem;
}

.equip_open:before,
.equip_close:before,
.equip_no:before {
    content: "";
    position: absolute;
    width: 0.2rem;
    height: 0.2rem;
    left: 0;
    top: 50%;
    margin-top: -0.1rem;
    border-radius: 0.1rem;
    background-color: #1bba3d;
}

.equip_close:before {
    background-color: #ff0000;
}

.equip_no:before {
    background-color: #cccccc;
}

.operationCurve .ivu-input {
    line-height: 32px;
}

.historData .ivu-table th {
    border-right: 1px solid #333333;
}

.historData .ivu-table-header thead tr:nth-child(1) th:nth-child(2),
.historData .ivu-table-header thead tr:nth-child(1) th:nth-child(3),
.iverRealTime .ivu-table-header thead tr:nth-child(1) th:nth-child(4) {
    border-bottom: 1px solid #333333
}

.iverRealTime .ivu-table-header thead tr:nth-child(1) th:nth-child(2) {
    border-bottom: 0px solid #333333
}


/* 气象站实时数据 */

.waetherStationRealTime>div {
    border-top: 1px solid #e8eaec;
    border-left: 1px solid #e8eaec;
    overflow: hidden;
}

.waetherStationRealTime p {
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    background: #234ead;
    color: #fff
}

.waetherStationRealTime_table span {
    float: left;
    width: 25%;
    border-right: 1px solid #e8eaec;
    border-bottom: 1px solid #e8eaec;
    line-height: 35px;
    font-size: 14px;
    text-align: center
}

.btn span {
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    background-color: #EDEDED;
    ;
    /* color: #fff; */
    font-size: 14px;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: default;
}

.btn span.active,
.btn span:hover {
    background-color: #0893fd;
    color: #fff;
    border: 1px solid #0893fd;
}


/* 空调 实时数据 */

.airTimeRealTime>ul>li {
    width: 2.62rem;
    height: 30px;
    background-color: #EDEDED;
    margin-bottom: 10px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.airTimeRealTime>ul>li.active {
    background-color: #0893fd;
    color: #fff;
}

.airTimeRealTime_data {
    margin-left: 0.4rem;
    border: 1px solid #e8eaec;
    padding: 0.2rem;
    height: 292px;
}

.airTimeRealTime_data ul {
    border-left: 1px solid #e8eaec
}

.airTimeRealTime_data ul li {
    float: left;
    width: 5rem;
    border-bottom: 1px solid #e8eaec;
}

.airTimeRealTime_data ul li p {
    line-height: 30px;
    height: 30px;
    text-align: center;
    border-right: 1px solid #e8eaec
}

.airTimeRealTime_data ul li p:nth-child(1) {
    border-right: 1px solid transparent;
    background: #234ead;
    color: #fff
}

.transforRealTimeData_left {
    width: 50%;
    float: left;
}

.transforRealTimeData table {
    width: 100%;
    border-right: 1px solid #CFCFCF;
}

.transforRealTimeData table th {
    background-color: #234ead;
    color: #fff;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333
}

.transforRealTimeData table th,
.transforRealTimeData table td {
    /* height: 0.76rem; */
    /* line-height: 0.76rem */
    padding: 5px
}

.transforRealTimeData table td {
    border-left: 1px solid #CFCFCF;
    ;
    border-bottom: 1px solid #CFCFCF;
    ;
    text-align: center
}

.transforRealTimeData_right {
    width: 48%;
    float: right;
}
