<template>
    <div class="inner-menu">
        <Menu mode="horizontal" :active-name="headerName" v-if="!isMobile && !isMenuLimit" ref="menu">
            <template v-for="(item,index) in filterHeader">
                <MenuItem v-if="(item.children || []).length==0" :to="item.path" :replace="item.replace"
                    :target="item.target" :name="item.id+''" :key="index">
                <i-menu-head-title :item="item" />
                </MenuItem>
                <Submenu v-else :name="item.id+''">
                    <template slot="title">
                        <i-menu-head-title :item="item" />
                    </template>

                    <MenuItem v-for="(item1,index1) in item.children" :to="item1.path" :replace="item1.replace"
                        :target="item1.target" :name="item1.id+''" :key="index1">
                    <i-menu-head-title :item="item1" />
                    </MenuItem>
                </Submenu>
            </template>
        </Menu>
        <div class="i-layout-header-trigger i-layout-header-trigger-min i-layout-header-trigger-in i-layout-header-trigger-no-height"
            v-else>
            <Dropdown trigger="click" :class="{ 'i-layout-menu-head-mobile-drop': isMobile }">
                <Icon type="ios-apps" />
                <DropdownMenu slot="list">
                    <i-link v-for="item in filterHeader" :to="item.path" :replace="item.replace" :target="item.target"
                        :key="item.path">
                        <DropdownItem>
                            <i-menu-head-title :item="item" />
                        </DropdownItem>
                    </i-link>
                </DropdownMenu>
            </Dropdown>
        </div>
    </div>
</template>
<script>
    import iMenuHeadTitle from './title';
    import {
        mapState,
        mapGetters
    } from 'vuex';
    import {
        getStyle
    } from 'view-design/src/utils/assist';
    import clickItem from '../mixins/click-item';
    import {
        on,
        off
    } from 'view-design/src/utils/dom';
    import {
        throttle
    } from 'lodash';

    export default {
        name: 'iMenuHead',
        components: {
            iMenuHeadTitle
        },
        mixins: [clickItem],
        computed: {
            ...mapState('admin/layout', [
                'isMobile'
            ]),
            ...mapState('admin/menu', [
                'headerName'
            ]),
            ...mapGetters('admin/menu', [
                'filterHeader'
            ])
        },
        data() {
            return {
                handleResize: () => {},
                isMenuLimit: false,
                menuMaxWidth: 0 // 达到这个值后，menu 就显示不下了
            }
        },
        methods: {
            handleGetMenuHeight() {
                const menuWidth = parseInt(getStyle(this.$el, 'width'));
                const $menu = this.$refs.menu;
                if ($menu) {
                    const menuHeight = parseInt(getStyle(this.$refs.menu.$el, 'height'));
                    if (menuHeight > 64) {
                        if (!this.isMenuLimit) {
                            this.menuMaxWidth = menuWidth;
                        }
                        this.isMenuLimit = true;
                    }
                } else if (menuWidth >= this.menuMaxWidth) {
                    this.isMenuLimit = false;
                }
            }
        },
        watch: {
            filterHeader() {
                this.handleGetMenuHeight();
            },
            isMobile() {
                this.handleGetMenuHeight();
            }
        },
        mounted() {
            // this.handleResize = throttle(this.handleGetMenuHeight, 100, { leading: false });
            // on(window, 'resize', this.handleResize);
            this.handleGetMenuHeight();
        },
        beforeDestroy() {
            // off(window, 'resize', this.handleResize);
        }
    }
</script>

<style lang="scss" scoped>
.inner-menu{
    margin-bottom: 15px;
}
</style>