<template>
  <Select transfer @on-change="handlerChange" :value="value" :placeholder="placeholder" :disabled="disabled">
    <Option v-for="item in codeData" :key="item.codeValue" :value="item.codeValue">{{ item.codeName }}</Option>
  </Select>
</template>

<script>
import codeApi from "@/api/system/code";
import _ from "lodash";

export default {
  data() {
    return {
      codeData: [],
    };
  },
  computed: {},
  props: {
    options: {
      type: Array | undefined,
      default: undefined,
    },
    id: {
      type: String,
      default: "",
    },
    value: {
      type: String | Number | Array,
      default: undefined,
    },
    placeholder: {
      type: String,
      default: "",
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    handlerChange(val) {
      console.log("base-form", val);
      this.$emit("on-change", val);
      this.$emit("input", val);
    },
    getCodeList(id) {
      // codeApi
      //   .getCodeList({
      //     codeSortId: id,
      //   })
      //   .then((result) => {
      //     if (result.code == 200) {
      //       this.codeData = rt.result.codes;
      //     }
      //   });
      const that = this;
      setTimeout(() => {
        that.codeData = [];
      }, 1000);
    },
  },
  watch: {
    options: {
      deep: true,
      handler(val) {
        this.codeData = val;
      },
    },
  },
  created() {
    if (_.isEmpty(this.options)) {
      this.getCodeList(this.id);
    } else {
      this.codeData = this.options;
    }
  },
};
</script>
<style scoped lang="scss"></style>
