<!DOCTYPE html>
<html style="overflow: hidden">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
    <link rel="shortcut icon" href="<%= BASE_URL %>favicon-ah.ico" />
    <title>资源管理项目</title>

    <script type="text/javascript" src="<%= BASE_URL %>static/map_load.js"></script>
    <!-- 测绘工具包 -->
    <script type="text/javascript" src="<%= BASE_URL %>static/DistanceTool.min.js"></script>
    <!-- 鼠标绘制工具条库 -->
    <script type="text/javascript" src="<%= BASE_URL %>static/DrawingManager.min.js"></script>
    <link href="<%= BASE_URL %>static//DrawingManager.min.css" rel="stylesheet" />

    <!-- 拖动控制类 -->
    <script type="text/javascript" src="<%= BASE_URL %>static/AreaRestriction_min.js"></script>

    <!-- 线条 -->
    <script type="text/javascript" src="<%= BASE_URL %>static/leader-line.min.js"></script>

    <!-- 提示框 -->
    <script type="text/javascript" src="<%= BASE_URL %>static/InfoBox.min.js"></script>
  </head>

  <body>
    <noscript>
      <strong> 请开启 JavaScript 功能来使用 资源管理项目 </strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
