<template>
  <Modal v-model="visible" :title="roleId ? '编辑角色' : '新增角色'" width="600" :mask-closable="false">
    <Form :model="formData" :label-width="80" ref="formRef">
      <Row>
        <Col span="12">
          <FormItem
            label="角色名称"
            prop="roleName"
            :rules="{
              required: true,
              message: `请输入角色名称`,
              trigger: 'blur',
            }"
          >
            <Input v-model="formData.roleName" placeholder="请输入角色名称"></Input>
          </FormItem>
        </Col>
        <Col span="12">
          <FormItem
            label="权限字符"
            prop="roleKey"
            :rules="{
              required: true,
              message: `请输入权限字符`,
              trigger: 'blur',
            }"
          >
            <Input v-model="formData.roleKey" placeholder="请输入权限字符"></Input>
          </FormItem>
        </Col>
        <Col span="24">
          <FormItem
            label="菜单权限"
            prop="menuIds"
            :rules="{
              required: true,
              message: `请选择菜单权限`,
            }"
          >
            <Tree
              :data="treeList"
              show-checkbox
              style="height: 300px; overflow: auto"
              @on-check-change="handleCheckChange"
            ></Tree>
          </FormItem>
        </Col>
      </Row>
    </Form>

    <div slot="footer">
      <Button @click="cancel" style="margin-right: 10px">取消</Button>
      <Button type="primary" @click.stop="ok" style="margin-right: 10px">确认</Button>
    </div>
  </Modal>
</template>

<script>
import systemApi from "@/api/system";
import roleApi from "@/api/system/role";
import _ from "lodash";

export default {
  data() {
    return {
      visible: false,
      loading: false,
      formData: {},
      roleId: undefined,
      treeList: [],
    };
  },
  methods: {
    handleCheckChange(list) {
      this.formData.menuIds = list.map((res) => res.id);
    },
    transformToTree(list) {
      list.forEach((res) => {
        res.title = res.label;
        if (!_.isEmpty(res.children)) {
          this.transformToTree(res.children);
        }
      });
    },

    transformToCheck(orgList, checks) {
      orgList.forEach((res) => {
        if (checks.includes(res.id)) {
          res.checked = true;
        }
        if (!_.isEmpty(res.children)) {
          this.transformToCheck(res.children, checks);
        }
      });
    },
    ok() {
      this.$refs.formRef.validate().then((state) => {
        if (state) {
          // 检验
          roleApi
            .addRole({
              ...this.formData,
            })
            .then((res) => {
              if (res.code == 200) {
                this.$Message.success(this.formData.userId ? "编辑成功!" : "新增成功!");
                this.cancel();
                this.$emit("loadTable");
              }
            });
        }
      });
    },
    cancel() {
      this.visible = false;
      this.formData = {};
      this.$refs.formRef.resetFields();
    },
  },
  watch: {
    visible(val) {
      if (val) {
        // 出发菜单多选
        if (this.roleId) {
          systemApi.roleMenuTreeselect(this.roleId).then((res) => {
            if (res.code == 200) {
              let list = res.menus;

              let checkedKeys = res.checkedKeys;
              this.transformToTree(list);
              this.transformToCheck(list, checkedKeys);
              this.treeList = list;
            }
          });
        } else {
          systemApi.getAllTreeselect().then((res) => {
            if ((res.code = 200)) {
              let list = res.data;
              this.transformToTree(list);
              this.treeList = list;
            }
          });
        }
      }
    },
  },
  mounted() {},
};
</script>

<style scoped lang="scss">
/deep/ .ivu-table td {
  height: 36px !important;
}
</style>
