<template>
  <span class="i-layout-header-trigger i-layout-header-trigger-min">
    <Dropdown
      :trigger="isMobile ? 'click' : 'hover'"
      class="i-layout-header-user"
      :class="{ 'i-layout-header-user-mobile': isMobile }"
      @on-click="handleClick"
    >
      <Avatar
        size="small"
        icon="ios-person"
      />
      <span
        class="i-layout-header-user-name"
        v-if="!isMobile"
      >{{ userInfo.businessName }}</span>
      <DropdownMenu
        v-if="isNull"
        slot="list"
      >
        <i-link to="/sysSetting/resetPassword">
          <DropdownItem>
            <Icon custom="iconfont zhny-icon-changePwd" />
            <span>{{ $t('basicLayout.user.changePwd') }}</span>
          </DropdownItem>
        </i-link>
        <i-link to="/sysSetting/personalCenter">
          <DropdownItem>
            <Icon type="ios-person-add-outline" />
            <span>个人中心</span>
          </DropdownItem>
        </i-link>
        <DropdownItem name="logout">
          <Icon type="ios-log-out" />
          <span>{{ $t('basicLayout.user.logOut') }}</span>
        </DropdownItem>
      </DropdownMenu>
    </Dropdown>
    <switch-user :modalShow.sync="modalShow" />
  </span>
</template>
<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import switchUser from './switchUser'

export default {
  name: 'iHeaderUser',
  data() {
    return {
      currentUser: '',
      modalShow: false,
    }
  },
  components: {
    switchUser,
  },
  computed: {
    //判断当前是否是子账号模式,如果是，则修改密码，个人中心，退出登录不能用
    ...mapGetters('admin/subUser/', ['isNull']),
    ...mapState('admin/user', ['userInfo']),
    ...mapState('admin/layout', ['isMobile', 'logoutConfirm'])
  },
  methods: {
    ...mapActions('admin/account', ['logout']),
    handleClick(name) {
      if (name === 'logout') {
        this.logout({
          confirm: this.logoutConfirm,
          vm: this,
        })
      }
    },
  },
}
</script>
