<template>
    <Modal :mask-closable="false" :value="modalShow" title="切换用户" footer-hide @on-cancel="closeModal"
        width="800px" scrollable>
        <!--查询-->
        <div class="formBox">
            <Row type="flex" align="middle" justify="space-between">
                <Col span="18">
                <Row type="flex" align="middle" justify="start">
                    <Col>
                    <span class="label_text">客户名称</span>
                    </Col>
                    <Col span="16">
                    <Input v-model="formData.custName" placeholder="请输入" />
                    </Col>
                </Row>
                </Col>
                <Col span="6">
                <div class="center-float-right">
                    <Button type="primary" class="pull-left" @click="search">查询</Button>
                    <Button class="pull-left" @click="reset">重置</Button>
                </div>
                </Col>
            </Row>
        </div>
        <!--table-->
        <dark-table @onlySelectedRow="rowSelect" :tableHeight="400" :tableColumns="columns" :tableData="tableData" :isloading="loading"></dark-table>
        <slot name="footer">
            <Row type="flex" justify="end">
                <Button @click="closeModal" style="margin-right: 10px">取消</Button>
                <Button type="primary" :loading="btnLoading" :disabled="totalTabledData.length == 1" @click="switchUser">确定</Button>
            </Row>
      </slot>
    </Modal>
</template>

<script>
    import util from "@/libs/util";
    import { mapGetters } from "vuex";
    export default {
        name: "switchUser",
        props: {
            modalShow: {
                type: Boolean,
                default: false,
            }
        },
        data() {
            return {
                btnLoading:false,
                currentId: 0,
                loading: false,
                formData: {
                    custName: ""
                },
                columns: [{
                        title: "操作",
                        key: "action",
                        slot: "action",
                        width: 100,
                        render: (h, params) => {
                            {
                                let flag = this.currentId == params.row.id;
                                let disabled =  this.disableSwitch(params.row);
                                return (
                                    <Radio value = {
                                        flag
                                    }
                                    disabled = { disabled }
                                    onOn-change = {
                                        (e) => {
                                            if (e) {
                                                this.currentId = params.row.id;
                                            }
                                        }
                                    } >
                                    </Radio>
                                );
                            }
                        },
                    },
                    {
                        title: "序号",
                        width: 70,
                        key: "id",
                        align: "center",
                        render: (h, params) => {
                            return h("div", [h("span", params.index + 1)]);
                        }
                    },
                    {
                        title: "客户名称",
                        key: "custName",
                        tooltip: true
                    }
                ],
                totalTabledData: [],
                tableData: []
            }
        },
        methods: {
            getCurrentUser(){
                return this.tableData.find(a => a.id == this.currentId);
            },
            rowSelect(row){
                if(this.totalTabledData.length == 1 || this.disableSwitch(row)) return;
                this.currentId = row.id;
            },
            closeModal(){
                this.$emit('update:modalShow', false);
                this.currentId = 0;
                this.formData.custName = "";
                this.tableData = this.totalTabledData;
            },
            search() {
                this.filterData();
            },
            reset() {
                this.formData.custName = "";
                if(this.totalTabledData.length == 0){
                    this.listUserCustRela();
                }else{
                    this.tableData = this.totalTabledData;
                }
                this.currentId = 0;
            },
            filterData(){
                if(!this.formData.custName){
                    this.reset();
                }
                this.tableData = this.tableData.filter(d => {
                    return d.custName.indexOf(this.formData.custName) > -1
                });
            },
            async switchUser() {
                let target = this.getCurrentUser();
                if(!target) {
                    this.$Message.info("请选择客户！");
                    return;
                };
                this.btnLoading = true;
                //清除util.token中的新的token信息
                util.token.clearNewTokenInfo();

                //设置切换用户的userInfo
                let switchUserInfo = {};
                switchUserInfo.custId = target.custId;
                switchUserInfo.cliqueId = target.cliqueId;
                switchUserInfo.groupCode = target.groupCode;
                switchUserInfo.customerType = target.customerType;
                switchUserInfo.orgNo = target.orgNo;
                this.$store.commit("admin/switchUser/setUser", switchUserInfo);

                //更新store中的user信息
                let srcUserInfo = this.$store.state.admin.user.userInfo;
                for(let pro in switchUserInfo){
                    if(srcUserInfo.hasOwnProperty(pro)){
                        srcUserInfo[pro] = switchUserInfo[pro];
                    }
                }
                //如果收藏列表弹窗显示，需要关闭
                this.$store.commit('admin/helper/upIsShow', false);
                this.$store.commit('admin/menu/clear');
                // 清空打开的标签
                await this.$store.dispatch('admin/page/closeAll',{ silence: true }, { root: true })
                //设置用户信息
                //设置组织结构信息
                await this.$store.dispatch("admin/fourMenu/getOrgNoList");
                //设置功能权限
                // await this.$store.dispatch("admin/login/listMyFunctionCodes");
                //设置区域信息
                await this.$store.dispatch("admin/login/setAreaData");

                let home = util.homePage.getHomePage();
                if(this.$route.path != home){
                    this.$router.push(home, ()=>{
                        this.btnLoading = false;
                        this.closeModal();
                        this.$store.commit("admin/switchUser/switchUser");
                    });
                }else{
                    this.$store.dispatch("admin/page/open", this.$route);
                    this.btnLoading = false;
                    this.closeModal();
                    this.$store.commit("admin/switchUser/switchUser");
                }
            },
            listUserCustRela(){
                this.loading = false;
                /*listUserCustRela().then(res => {
                    this.loading = false;
                    if(res && res.code == 200){
                        this.totalTabledData = this.tableData = (res.result || []).map((a,i) => {
                            a.id = i+1;
                            return a;
                        });
                    }else{
                        this.totalTabledData = this.tableData = [];
                    }
                }).catch(err=>{
                    this.loading = false;
                });*/
            }
        },
        computed: {
            ...mapGetters('admin/switchUser', [
                'user'
            ]),
            disableSwitch(){
                //当前用户不能切换
                return (row) => {
                    return (row.custId && this.user.custId == row.custId) || (row.cliqueId && this.user.cliqueId == row.cliqueId)
                }
            }
        },
        mounted() {
            this.listUserCustRela();
        }
    }
</script>

<style lang="scss" scoped>
 .formBox {
     margin: 0 14px;
     .label_text{
         margin-right: 10px;
     }
 }
</style>
