<!-- 测试弹框 -->

<template>
  <BaseModal :visible="publicParams.testVisible" @on-cancel="cancel">
    <div class="main-wrap">1111</div>
  </BaseModal>
</template>

<script>
import BaseModal from "../../templates/baseModal/index";
import { mapState, mapMutations } from "vuex";

export default {
  data() {
    return {};
  },
  computed: {
    ...mapState("admin/map", ["publicParams", "BDMap"]),
  },
  watch: {
    "publicParams.testVisible"(val) {
      const that = this;
      this.$nextTick(() => {});
    },
  },
  components: {
    BaseModal,
  },
  methods: {
    ...mapMutations("admin/map", ["setState"]),
    handleTestSingle() {},
    cancel() {},
  },
};
</script>

<style lang="scss">
.main-wrap {
  // display: flex;
  // width: 932px;
  // justify-content: space-between;
  // height: 574px;
  // flex-direction: column;
}
</style>
