<template>
  <Form ref="baseForm" :model="baseForm" :rules="baseFormRule" class="base-form" :label-width="120">
    <Row type="flex" style="padding: 0 50px" v-if="showForm">
      <Col span="12" v-for="item in list" :key="item.prop" v-if="!item.show">
        <FormItem :prop="item.prop" :label="`${item.label}:`">
          <!--1. input -->
          <Input
            type="text"
            v-model="baseForm[`${item.prop}`]"
            :placeholder="`请输入${item.label}`"
            :disabled="permission || item.disabled"
            v-if="item.type == 'input'"
            class="enter"
          >
          </Input>
          <!--2. select -->
          <BaseSelect
            v-else-if="item.type == 'select'"
            v-model="baseForm[`${item.prop}`]"
            :disabled="permission || item.disabled"
            :placeholder="`请选择${item.label}`"
            :id="item.code"
            :options="item.options"
            @on-change="(val) => item.onChange && item.onChange(val, list, item)"
          />
          <!--3. date -->
          <DatePicker
            v-else-if="item.type == 'date'"
            type="date"
            :disabled="permission || item.disabled"
            v-model="baseForm[`${item.prop}`]"
            :placeholder="`请选择${item.label}`"
            style="width: 100%"
            transfer
          ></DatePicker>

          <!--4. upload -->
          <UploadFile
            v-else-if="item.type == 'upload'"
            v-model="baseForm[`${item.prop}`]"
            :disabled="permission || item.disabled"
            :placeholder="`请选择${item.label}`"
          ></UploadFile>

          <!--5. search -->
          <Input
            enter-button="同步坐标"
            v-model="baseForm[`${item.prop}`]"
            :placeholder="`请输入${item.label}`"
            :disabled="permission || item.disabled"
            v-else-if="item.type == 'search'"
            @on-search="handleSearch"
          >
          </Input>

          <!--6. profile -->
          <Button
            icon="md-analytics"
            type="primary"
            v-else-if="item.type == 'profile'"
            @click="handleOpenProfile"
            size="small"
            shape="circle"
          ></Button>

          <!--7. TreeSelect -->
          <TreeSelect
            v-else-if="item.type == 'treeSelect'"
            v-model="baseForm[`${item.prop}`]"
            transfer
            :data="item.treeList"
            @on-change="(e) => handleChangeTree(e, item)"
          />

          <!-- 8.Cascader -->
          <Cascader
            transfer
            v-else-if="item.type == 'Cascader'"
            :data="item.data"
            v-model="baseForm[`${item.prop}`]"
            @on-change="(val) => item.onChange(val, list, item)"
          ></Cascader>

          <!-- 9.connector 中接头 -->
          <Button
            icon="md-cash"
            type="primary"
            v-else-if="item.type == 'connector'"
            @click="(val) => item.onChange(val, list, item)"
            size="small"
            shape="circle"
          ></Button>
        </FormItem>
      </Col>
    </Row>

    <ProfileModal ref="profileModalRef" />
  </Form>
</template>

<script>
import UploadFile from "../uploadImg";
import { mapState } from "vuex";
import _ from "lodash";
import BaseSelect from "../baseSelect";
import util from "@/libs/util";
import ProfileModal from "../profileModal";

export default {
  name: "baseForm",
  data() {
    return {
      baseFormRule: {},
      baseForm: {},
      list: [],
      permission: false,
      showForm: true,
      orgParams: {}, // 上层原始参数
    };
  },
  components: {
    UploadFile,
    BaseSelect,
    ProfileModal,
  },
  created() {
    const access = util.storage.getSharedValue("permissions") || [];
    if (!_.isEmpty(access) && !access.includes("map:edit")) {
      this.permission = true;
    }
  },

  methods: {
    handleChangeValue(e, item) {
      if (item.customSetStr) {
        _.set(this.baseForm, item.customSetStr, e.target.value);
      }
    },
    handleOpenProfile() {
      this.$refs.profileModalRef.orgProps = this.orgParams;
      this.$nextTick(() => {
        this.$refs.profileModalRef.visible = true;
      });
    },
    handleSearch() {
      console.log("同步坐标");
    },
    getRecursionItem(list, id, current) {
      list.forEach((res) => {
        if (res.value == id) {
          current.title = res.title;
        } else {
          if (!_.isEmpty(res.children)) {
            this.getRecursionItem(res.children, id, current);
          }
        }
      });
    },
    handleChangeTree(e, item) {
      // 组件更新
      let index = this.list.findIndex((res) => res.prop == item.prop);
      this.$set(this.list[index], "treeList", JSON.parse(JSON.stringify(item.treeList)));
      if (item.orderProp) {
        let _item = {};
        this.getRecursionItem(item.treeList, e, _item);
        if (!_.isEmpty(_item)) {
          this.baseForm[`${item.orderProp}`] = _item.title;
        }
      }
    },
    submit() {
      const that = this;
      return new Promise((resolve, reject) => {
        that.$refs.baseForm.validate((valid) => {
          console.log("校验:", this.baseForm);
          if (valid) {
            resolve(that.baseForm);
          } else {
            reject(false);
          }
        });
      }).catch((err) => {
        console.log("submit validate err", err);
      });
    },
    transformToRules(data) {
      if (!_.isEmpty(data)) {
        this.showForm = false;
        const _list = JSON.parse(JSON.stringify(data));

        let _obj = {};
        _list.forEach((res) => {
          if (!res.required) {
            _obj[`${res.prop}`] = [
              {
                required: true,
                message: `请${res.type == "text" ? "输入" : "选择"}${res.label}`,
                ...(res.type == "input"
                  ? {
                      trigger: "blur",
                    }
                  : {
                      trigger: "change",
                    }),

                ...(res.type == "date"
                  ? {
                      type: "date",
                    }
                  : {}),
              },
            ];
          }
        });
        // 重新刷新form表单数据
        this.list = _list;
        this.baseFormRule = _obj;
        this.$nextTick(() => {
          this.showForm = true;
        });
      }
    },
  },
};
</script>

<style scoped lang="scss">
/deep/ .vu-date-picker {
  width: 100%;
}
.base-form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  /deep/.ivu-input-wrapper {
    min-width: 120px;
  }
}
</style>
