<!-- 线路弹框 -->
<template>
  <BaseModal :visible="publicParams.bdXlVisible" @on-cancel="cancel">
    <!-- 头部分 -->
    <div class="body-main-wrap">
      <div class="header-wrap">
        <img src="@/assets/img/uva.png" alt="" width="80" height="80" style="margin-left: 20px" />

        <div class="station-info">
          <div class="label-wrap">
            <span class="label">名称</span>
            <span class="type">现代大街道南002(自编1000256666号)线路</span>
          </div>
        </div>

        <!-- 更新 -->
        <Button type="primary" v-auth @click="handleSave" size="small">保存</Button>
      </div>
      <!-- 主体部分 -->
      <BaseForm ref="baseFormRef" v-if="publicParams.bdXlVisible" />
    </div>
  </BaseModal>
</template>

<script>
import BaseModal from "../../templates/baseModal/index";
import { mapState, mapMutations } from "vuex";
import UploadFile from "@/components/uploadFile";
import _ from "lodash";
import BaseForm from "../../components/baseForm";

export default {
  data() {
    return {
      formInline: {},
      types: [],
      baseFormList: [
        {
          prop: "line",
          label: "上级电源点",
          type: "input",
          disabled: true,
        },
        {
          prop: "code",
          label: "线路名称",
          type: "input",
        },
        {
          prop: "type",
          label: "线路编号",
          type: "input",
        },
        {
          prop: "ewewe",
          label: "电压等级",
          type: "select",
          code: "select11",
        },
        {
          prop: "length",
          label: "经营方式",
          type: "input",
        },

        {
          prop: "commissioningDate",
          label: "资产性质",
          type: "date",
        },
        {
          prop: "codeddd",
          label: "资产单位",
          type: "input",
        },
        {
          prop: "makeName",
          label: "线路类型",
          type: "input",
        },
        {
          prop: "tyooooo",
          label: "责任班组",
          type: "input",
        },
        {
          prop: "tyoo2ooo",
          label: "投运日期",
          type: "date",
        },
        {
          prop: "id",
          label: "区域特征",
          type: "input",
          disabled: true,
        },
        {
          prop: "sour2ce",
          label: "主线末点",
          type: "input",
          disabled: true,
        },
        {
          prop: "sour2c2e",
          label: "末点类型",
          type: "input",
          disabled: true,
        },
        {
          prop: "tyooo333oo",
          label: "备注",
          type: "input",
        },
        {
          prop: "ids",
          label: "ID",
          type: "upload",
        },
      ],
    };
  },
  computed: {
    ...mapState("admin/map", ["publicParams"]),
  },
  components: {
    BaseModal,
    UploadFile,
    BaseForm,
  },
  watch: {
    "publicParams.bdXlVisible"(val) {
      if (val) {
        this.$nextTick(() => {
          this.$refs.baseFormRef.transformToRules(this.baseFormList);
        });
      }
    },
  },
  methods: {
    ...mapMutations("admin/map", ["setState"]),
    cancel() {},
    handleSave() {
      const that = this;
      this.$refs.baseFormRef.submit().then((res) => {
        // 请求地址
        console.log("111", res);
        // 关闭弹层
        that.setState({
          publicParams: {
            bdXlVisible: false,
            params: {}, //参数
            type: "bdXl",
          },
        });
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.body-main-wrap {
  display: flex;
  flex-direction: column;
  height: 700px;

  .header-wrap {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    background: #fafafa;
    width: 100%;
    .station-info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0 20px;
      border: 1px solid #e4e1e1;
      height: 80px;
      padding: 0 40px;
      .label-wrap {
        display: flex;
        justify-content: space-between;
        .label {
          font-size: 16px;
          color: #333;
          margin-right: 25px;
        }
        .type {
          font-size: 16px;
          color: #0d867f;
        }
      }
    }
  }
}
</style>
