<template>
  <div class="map-top">
    <div id="map-wrap"></div>

    <!--  提示框 -->
    <div class="map-tip" :style="`left:${tipBox.x}px;top:${tipBox.y}px`" v-if="tipBox">
      <div class="map-tip-header">{{ tipBox.title }}</div>
      <ul class="map-tip-options">
        <template v-if="tipBox.type == 7">
          <li @click="(e) => handleToPm(tipBox)">剖面</li>
          <li @click="(e) => handleDlgDetail(tipBox)">详情</li>
        </template>

        <li @click="handleEnterDetail" v-else-if="![99].includes(tipBox.type)">详情</li>

        <li v-if="![7, 99].includes(tipBox.type)" v-auth="'map:edit'" @click="(e) => handleMove(tipBox)">移位</li>

        <Poptip
          confirm
          title="确定删除?"
          placement="top-start"
          @on-ok="(e) => handleDelete(tipBox.publicParams.params)"
        >
          <li v-auth="'map:edit'">删除</li>
        </Poptip>
      </ul>
      <!-- 方向指引 -->
      <div :class="`quadrilateral ${tipBox.direction_class}`"></div>
    </div>

    <!--  移动确认 提示框 -->
    <div class="map-tip move-wrap" :style="`left:${moveBox.x}px;top:${moveBox.y}px`" v-if="moveBox && moveBoxFlag">
      <div class="move-item move-header">
        <div class="header-text" :title="moveBox.params.text || '-'">{{ moveBox.params.text || "-" }}</div>
        <Tooltip placement="right" content="移动下方红色标记,更改的当前坐标!">
          <Icon type="ios-help-circle-outline" style="font-size: 16px" />
        </Tooltip>
      </div>
      <div
        class="move-item"
        style="
          font-size: 14px;
          flex: 1;
          justify-content: center;
          align-items: center;
          display: flex;
          flex-direction: column;
        "
      >
        <div>{{ `经度:${moveBox.lon}` }}</div>
        <div style="margin-top: 10px">{{ ` 纬度:${moveBox.lat}` }}</div>
      </div>
      <div class="move-floor">
        <Poptip confirm title="确定更改?" placement="top-start" @on-ok="handleUpdatePoint">
          <Button type="primary" v-auth="'map:edit'" size="small">保存</Button>
        </Poptip>
        <Button type="primary" v-auth="'map:edit'" size="small" @click="handleCancelPoint">取消</Button>
      </div>

      <div :class="`quadrilateral ${moveBox.direction_class}`"></div>
    </div>
  </div>
</template>

<script>
import { getCenterBounds, utils, getPointXY } from "./core/utils";
import "./libs/turf.min.js";
import { mapState, mapMutations } from "vuex";
import { DataSet, baiduMapLayer, csv } from "mapv";
import core from "./core";
import _ from "lodash";
import config from "./config";

import systemApi from "@/api/system";

const iconUrl = require("./imgs/marker_red_sprite.png");

const suzhouJson = require("./libs/suzhou.json");

const xuZhouJson = require("./libs/xuzhou.json");

export default {
  name: "BdMap",
  data() {
    return {
      map: null, // map对象
      MapVLayers: {}, // mapV图层对象
      tipBox: undefined, // 地图的提示框对象
      moveBox: undefined, // 移动弹框
      moveBoxFlag: true,
      moveBoxVisible: true,
    };
  },
  computed: {
    ...mapState("admin/map", [
      "showLayers",
      "publicParams",
      "mapPoints",
      "mapLines",
      "drawingState",
      "realTimeCoordinates",
      "mapLoad",
      "iconEnumObj",
      "highPoints",
      "highLineData",
      "BDTree",
    ]),
  },

  watch: {
    // 监听图层的变化来控制图层的显示
    // showLayers: {
    //   deep: true,
    //   handler(val) {
    //     if (!_.isEmpty(val)) {
    //       core.showLayerControl(this, val);
    //     }
    //   },
    // },
  },
  methods: {
    ...mapMutations("admin/map", ["setState"]),
    /**
     *  1. 初始化地图
     * */
    initMap() {
      core.initMap(this);
    },
    /**
     * 2. 设备定位 [lng，lat]
     * */
    fitBounds(points) {
      const _v_p = points.map((p) => new BMap.Point(Number(p[0]), Number(p[1])));
      let viewPort = this.map.getViewport(_v_p);
      console.log("viewPort", viewPort);
      this.map.centerAndZoom(viewPort.center, Math.min(viewPort.zoom, config.maxZoom));
      utils.printLog("options", "设备定位");
    },
    /**
     * 3. 自定义新增marker图标
     * imgUrl 图片地址
     * coordinate 坐标点 [lng，lat]
     */
    customMarker(imgUrl, coordinate) {
      // 创建小车图标
      var myIcon = new BMap.Icon(imgUrl, new BMap.Size(52, 26));
      // 创建Marker标注，使用小车图标
      var pt = new BMap.Point(coordinate[0], coordinate[1]);
      var marker = new BMap.Marker(pt, {
        icon: myIcon,
      });
      // 将标注添加到地图
      this.map.addOverlay(marker);
      utils.printLog("options", "自定义新增marker图标");
    },
    /**
     * 4.自定义绘制线路
     *
     */
    async drawPolyline(callback, type) {
      if (this.drawingState) {
        this.$Message.info("正在编辑中");
        return;
      }

      const that = this;
      var drawingManagerObject = new BMapLib.DrawingManager(this.map, {
        polylineOptions: {
          strokeColor: "#333",
        },
      });

      drawingManagerObject.setDrawingMode(BMAP_DRAWING_POLYLINE);

      utils.printLog("options", "自定义绘制线路已打开");

      /* 5.绘制线完成后，派发的事件接口
       * @param {Polyline} overlay 回调函数会返回相应的覆盖物:
       */
      drawingManagerObject.addEventListener("polylinecomplete", function (overlay) {
        utils.printLog("options", "绘制线路完成");
        let points = overlay.getPath();
        let outPoints;
        if (type == "all") {
          outPoints = [];
          points.forEach((p) => {
            outPoints.push([
              {
                coordinates: [p.lng, p.lat],
              },
              ...that.getPointInCircle([p.lng, p.lat]),
            ]);
          });
        } else if (type == "point") {
          outPoints = points;
        } else {
          outPoints = that.getPointInCircle([points[0].lng, points[0].lat]);
        }
        if (callback) {
          callback(outPoints);
        }
        drawingManagerObject.clearOverlays();
        that.setState({
          drawingState: false,
        });
      });

      drawingManagerObject.addEventListener("overlaycancel", function () {
        utils.printLog("options", "取消绘制");
        that.setState({
          drawingState: false,
        });
      });

      drawingManagerObject.open();

      that.setState({
        drawingState: true,
      });
    },

    /**
     * 6.测距离
     */
    handleMeasuringDistance() {
      var myDis = new BMapLib.DistanceTool(this.map);
      myDis.open();
      utils.printLog("options", "测距离已打开");
    },

    /**
     * 9. 地图缩小
     */
    handleZoomOut() {
      this.map.zoomOut();
    },
    /**
     * 10. 地图放大
     */
    handleZoomIn() {
      this.map.zoomIn();
    },
    /**
     * 11. 当前的层级
     */
    getZoomNum() {
      console.log(">>>>>", this.map.getZoom());
    },

    /**
     * 拖拽控制区域，超出后弹回
     */
    _areaRestriction() {
      let pointAll = [];
      xuZhouJson.features.forEach((res) => {
        const points = res.geometry.coordinates[0][0];
        pointAll = [...pointAll, ...points];
      });
      const list = getCenterBounds(pointAll);
      var b = new BMap.Bounds(new BMap.Point(list[0][0], list[0][1]), new BMap.Point(list[1][0], list[1][1])); // 范围 左下角，右上角的点位置
      try {
        BMapLib.AreaRestriction.setBounds(this.map, b); // 已map为中心，已b为范围的地图
        utils.printLog("areaRestriction");
      } catch (e) {
        // 捕获错误异常
        console.log("捕获错误异常", e);
      }
    },

    /**
     * 数据刷新(Data Refresh)
     *
     */
    mapVDataRefresh(lines = [], points = [], isReset = false) {
      console.log("数据刷新", lines, points);

      if (isReset) {
        // 1. 如果都是空重置数据
        let point = new BMap.Point(config.centerPoint[0], config.centerPoint[1]); // 创建点坐标
        this.map.centerAndZoom(point, 12); // 初始化地图，设置中心点坐标和地图级别

        return;
      }

      core.setMapData(this, lines, points);
    },

    /**
     * 点中心画圆 然后判断所有在范围的点
     */
    getPointInCircle(center) {
      var radius = 5; // 半径
      var options = { steps: 50, units: "kilometers", properties: { foo: "bar" } }; // kilometers: 公里
      var circle = turf.circle(center, radius, options);

      // 判断点是否在多边形内部
      var poly = turf.polygon(circle.geometry.coordinates);
      // 已经在范围内的点
      let alreadyExistsPoints = [];
      //
      this.mapPoints.forEach((res) => {
        let point = res.geometry.coordinates;
        let pt = turf.point([Number(point[0]), Number(point[1])]);
        let flag = turf.booleanPointInPolygon(pt, poly);
        if (flag) {
          alreadyExistsPoints.push(res);
        }
      });

      return alreadyExistsPoints;
    },

    /**
     * 高亮显示线路
     *
     */
    handleHightShowLine(lines = [], points = []) {
      console.log("高亮显示线路", lines, points);
      utils.printLog("options", "高亮显示线路");
      core.highShowLine(this, lines);
      core.highShowPoints(this, points);
    },

    /**
     * 操作提示框
     * @info
     */
    optionsInfoBox(info) {
      const { item, publicParams, e } = info;
      let point;
      if (![7, 99].includes(item.type)) {
        let coordinates = item.geometry.coordinates;
        point = {
          lng: Number(coordinates[0]),
          lat: Number(coordinates[1]),
        };
      } else {
        point = e.point;
      }

      const _p = getPointXY(point, this);
      this.tipBox = {
        ..._p,
        publicParams,
        title: item.text ? `${item.text}[${item.equName}]` : item.equName,
        type: item.type,
        e,
        point: point,
      };

      console.log("optionsInfoBox info", info);
    },
    handleEnterDetail() {
      const { publicParams } = this.tipBox;

      this.setState({
        publicParams,
      });

      // 关闭
      this.tipBox = undefined;
    },

    handleToPm() {
      this.setState({
        publicParams: {
          bdDlgVisible: true,
          params: this.tipBox.publicParams.params,
          type: "bdDlg",
        },
      });

      // 关闭
      this.tipBox = undefined;
    },

    handleDelete({ id, type }) {
      console.log("handleDelete", id, type);
      //   1:变电站、2:线路、3:杆塔、4:开关 、6:用户、7:电缆段、8:电缆井
      //   5:站所    10:箱变   13:分支箱    12: 环网柜 11: 开闭所  99:杆塔线
      const requestToUrl = {
        1: "substationDel",
        2: "lineDel",
        3: "towerDel",
        6: "custDel",
        7: "ditchDel",
        8: "wellDel",
        "7tree": "sectionDel",

        5: "eqipmentDel",
        10: "eqipmentDel",
        11: "eqipmentDel",
        13: "eqipmentDel",
        12: "eqipmentDel",

        99: "towerLineDel",
      };

      systemApi[`${requestToUrl[type]}`](id).then((res) => {
        if (res.code == 200) {
          if (type !== "7tree") {
            // 需要删除的数据 添加delete
            let { _ls, _ps } = core.cutApartData(this, res.data, {
              delete: true,
            });
            core.setMapData(this, _ls, _ps);
          }
          // 更新树形结构
          this.BDTree.updateTreeData({
            id,
            type: type == "7tree" ? "7" : type,
          });

          this.$Message.success("删除成功!");
          this.tipBox = undefined;
        }
      });
    },

    getPointsDistance(points) {
      let line = turf.lineString(points.map((res) => [res.lng, res.lat]));
      let length = turf.length(line, { units: "kilometers" });
      return Number((length || 0) * 1000).toFixed(2);
    },

    handleMove() {
      let coordinates = this.tipBox.publicParams.params.geometry.coordinates;
      const _e = {
        point: {
          lng: Number(coordinates[0]),
          lat: Number(coordinates[1]),
        },
      };
      var point = new BMap.Point(_e.point.lng, _e.point.lat);
      // this.map.centerAndZoom(point, 15);

      // 创建小车图标
      var myIcon = new BMap.Icon(iconUrl, new BMap.Size(21, 26));
      // 创建Marker标注，使用小车图标
      var marker = new BMap.Marker(point, {
        icon: myIcon,
        enableDragging: true,
      });
      // 将标注添加到地图
      this.map.addOverlay(marker);
      const that = this;
      marker.addEventListener("mouseup", function (el) {
        const _p1 = getPointXY(el.point, that);
        that.moveBox = {
          ...that.moveBox,
          ..._p1,
          y: _p1.y,
          lat: el.point.lat,
          lon: el.point.lng,
        };
        that.moveBoxFlag = true;
      });

      marker.addEventListener("mousedown", function (el) {
        // console.log("addEventListener marker mousedown", el);
        that.moveBoxFlag = false;
      });

      const _p = getPointXY(_e.point, this);
      this.moveBox = {
        ..._p,
        y: _p.y,
        params: this.tipBox.publicParams.params,
        lat: _e.point.lat,
        lon: _e.point.lng,
      };

      this.marker = marker;

      this.tipBox = undefined;
    },

    handleUpdatePoint() {
      const { params, lat, lon } = this.moveBox;
      const that = this;
      systemApi
        .movePoint({
          id: params.id,
          type: params.type,
          lat,
          lon,
        })
        .then((res) => {
          if (res.code == 200) {
            that.$Message.success("更改成功!");
            that.moveBox = undefined;
            that.map.removeOverlay(that.marker);

            // 更新地图
            const { _ps, _ls } = this.getPointLine(res.data);

            core.setMapData(this, _ls, [
              {
                ...params,
                geometry: { type: "Point", coordinates: [lon, lat] },
              },
            ]);
          }
        });
    },

    getPointLine(points) {
      return core.cutApartData(this, points);
    },

    handleDlgDetail(item) {
      console.log("handleDlgDetail", item);

      this.setState({
        publicParams: {
          bdAddDlgVisible: true,
          params: {
            details: item.publicParams.params,
          }, //参数
          type: "bdAddDlg",
        },
      });
      this.$nextTick(() => {
        this.tipBox = undefined;
      });
    },

    handleCancelPoint() {
      this.moveBox = undefined;
      this.map.removeOverlay(this.marker);
    },

    showLayerControl() {
      core.showLayerControl(this, this.showLayers);
    },

    handleInitData() {
      this.setState({
        mapLines: [],
        mapPoints: [],
      });

      this.$nextTick(() => {
        let point = new BMap.Point(config.centerPoint[0], config.centerPoint[1]); // 创建点坐标
        this.map.centerAndZoom(point, 12); // 初始化地图，设置中心点坐标和地图级别
        core.getAll_line_point(this);
      });
    },
  },
  mounted() {
    systemApi.getIconList({}).then((res) => {
      if (res.code == 200) {
        let _obj = {};
        res.rows.forEach((res) => {
          _obj[`${res.type}`] = {
            url: res.icon,
            equName: res.equName,
            color: res.color,
            width: res.width,
          };
        });

        this.setState({
          iconEnumObj: _obj,
        });
        this.$nextTick(() => {
          this.initMap();
        });
      }
    });
  },
};
</script>
<style lang="scss" scoped>
.map-top {
  position: relative;
  height: 100vh;
  width: 100vw;
  .map-tip {
    width: 240px;
    height: 120px;
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #e4e1e1;
    z-index: 11;
    &-header {
      height: 49px;
      font-size: 16px;
      font-weight: 600;
      background: #eefffe;
      padding-left: 10px;
      align-content: center;
      display: flex;
      flex-wrap: wrap;
      z-index: 1;
    }
    &-options {
      display: flex;
      overflow-y: hidden;
      overflow-x: auto;
      background-color: #fff;
      flex: 1;
      align-items: center;
      padding: 0 10px;
      z-index: 1;
      li {
        flex-shrink: 0;
        width: 60px;
        margin-right: 10px;
        text-align: center;
        border: 1px solid #e0ebea;
        font-size: 12px;
        cursor: pointer;
      }
    }
  }
}
#map-wrap {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.move-wrap {
  background-color: #fff;
}

.move-floor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-top: 1px solid #eefffe;
}

.move-header {
  height: 30px;
  background: #eefffe;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.header-text {
  width: 200px;
  overflow: hidden; /*内容会被修剪，并且其余内容是不可见的*/
  text-overflow: ellipsis; /*显示省略符号来代表被修剪的文本。*/
  white-space: nowrap; /*文本不换行*/
  font-weight: 600;
  line-height: 30px;
}

.quadrilateral {
  width: 15px;
  height: 15px;
  background-color: #fff;
  transform: rotate(90deg);
  position: absolute;

  transform: rotateZ(45deg);
  &.right {
    right: -7.5px;
    top: calc(50% - 7.5px);
  }
  &.top-right {
    top: 2px;
    right: -7.5px;
  }

  &.bottom-right {
    right: -7.5px;
    bottom: 2px;
  }
  &.top {
    bottom: -7.5px;
    left: calc(50% - 7.5px);
  }
  &.bottom {
    top: -7.5px;
    left: calc(50% - 7.5px);
  }

  &.top-left {
    left: -7.5px;
    top: 2px;
  }
  &.bottom-left {
    left: -7.5px;
    bottom: 2px;
  }
  &.left {
    left: -7.5px;
    top: calc(50% - 7.5px);
  }
}
</style>
