<template>
  <i-pageBody>
    <div slot="page-main" class="page">
      <!-- <query @query="searchBtn" @reset="resetBtn">
        <div slot="col-form">
          <Form :model="formData" :label-width="70">
            <Row>
              <Col span="6">
                <FormItem label="设备名称">
                  <Input v-model="formData.objectName" clearable placeholder="请输入设备名称" />
                </FormItem>
              </Col>
            </Row>
          </Form>
        </div>
      </query> -->

      <dark-table
        :tableColumns="columnsList"
        :tableData="dataList"
        :isloading="loading"
        :value="{ pageSize: formData.pageSize, pageNum: formData.pageIndex }"
        :tableHeight="400"
        :isHideExport="true"
      >
      </dark-table>

      <!-- 新增弹框 -->
      <addChartModal ref="addChartRef" @loadTable="searchBtn" />
    </div>
  </i-pageBody>
</template>

<script>
import systemApi from "@/api/system";
import addChartModal from "./components/addChartModal";

const lineList = [2, 7, 99]; // 2:线路; 7:管沟； 99: 架空线/杆线

export default {
  data() {
    return {
      loading: false,
      columnsList: [
        { title: "序号", width: 80, type: "index", align: "center" },
        {
          title: "设备名称",
          key: "equName",
          align: "center",
          tooltip: true,
        },
        {
          title: "图标",
          key: "icon",
          align: "center",
          width: 320,
          tooltip: true,
          render: (h, params) => {
            let out = h(
              "div",
              {
                attrs: {
                  style: "display: flex;justify-content: center;",
                },
              },
              [
                h("img", {
                  props: {
                    type: "primary",
                    size: "small",
                  },
                  attrs: {
                    src: params.row.icon,
                    style: "width: 40px;height: 40px;border-radius: 2px;",
                  },
                  style: {},
                }),
              ]
            );

            if (lineList.includes(params.row.type)) {
              out = h(
                "div",
                {
                  attrs: {
                    style: "display: flex;justify-content: center;align-items: center;",
                  },
                },
                [
                  h("div", {
                    props: {
                      type: "primary",
                      size: "small",
                    },
                    attrs: {
                      src: params.row.icon,
                      style: `width: 50px;height:${params.row.width}px;border-radius: 2px;background: ${params.row.color};margin-right: 10px;`,
                    },
                  }),
                  h(
                    "span",
                    {
                      props: {
                        type: "primary",
                        size: "small",
                      },
                    },
                    `(宽度: ${params.row.width}; 颜色:${params.row.color})  `
                  ),
                ]
              );
            }

            return out;
          },
        },
        {
          title: "操作",
          key: "completeTime",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h(
              "Button",
              {
                props: {
                  type: "primary",
                  size: "small",
                },
                directives: [
                  {
                    name: "auth",
                    value: "map:edit",
                  },
                ],
                on: {
                  click: (e) => {
                    // 1.线路 更新颜色和宽度 ; 2. 图标
                    if (lineList.includes(params.row.type)) {
                      this.$refs.addChartRef.optionType = "line";
                      this.$refs.addChartRef.formData.id = params.row.id;
                      this.$refs.addChartRef.formData.width = params.row.width;
                      this.$refs.addChartRef.color = params.row.color;
                      this.$refs.addChartRef.visible = true;
                    } else {
                      this.$refs.addChartRef.optionType = "icon";
                      this.$refs.addChartRef.formData.id = params.row.id;
                      this.$refs.addChartRef.visible = true;
                    }
                  },
                },
              },
              "更新"
            );
          },
        },
      ],
      dataList: [],
      pageTotal: 0,
      formData: {
        pageSize: 50,
        pageIndex: 1,
      },
    };
  },
  components: {
    addChartModal,
  },
  created() {
    this.loadTable();
  },
  methods: {
    addBtn() {
      this.$refs.addChartRef.visible = true;
    },
    loadTable() {
      this.loading = true;
      systemApi
        .getIconList(this.formData)
        .then((res) => {
          this.loading = false;
          if (res.code == 200) {
            this.dataList = res.rows;
          }
        })
        .catch((err) => {
          this.loading = false;
        });
    },
    changepageSize(val) {
      this.formData.pageIndex = val.pageNum;
      this.formData.pageSize = val.pageSize;
      this.loadTable();
    },
    searchBtn() {
      this.formData.pageIndex = 1;
      this.loadTable();
    },
    resetBtn() {
      this.formData = {
        pageSize: 20,
        pageIndex: 1,
        time: [],
      };
      this.loadTable();
    },
  },
};
</script>

<style lang="scss" scoped>
.title {
  border-left: 5px solid #3d9e99;
  padding-left: 15px;
}
.btns {
  margin-top: 15px;
  padding: 0 15px;
}
.card {
  padding: 0 15px;
}
/deep/ .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-nav-container {
  height: 46px;
}
</style>
