 h4{
   font-size: .16rem;
   color: #333!important;
 }
  /deep/ table {
    width: 100%;
       height: 0.85rem;
       tr{
         font-size: 0.14rem;
         &:hover{
           background-color: #EBF7FF;
         }
         &:first-child{
           td{
           height:.4rem;
           white-space: nowrap;
           overflow: hidden;
           background-color: #f8f8f9;
           font-size: 0.14rem;
           color: #515a6e;
           font-weight: 600;
             }
         }
         td {
           height: .36rem;
           line-height: .36rem;
           border: 1px solid #d9d9d9;
           box-sizing: border-box;
           color: #515a6e;
         }
       }
       .padding_v {
         padding-left: 0.6rem;
       }
       .padding_c {
         text-align: center;
       }
     }
