em {
    font-style: normal;
}
.simple-title{
    margin: 6px 0;
    label{
        font-size: 14px;
        border-left: solid 4px #15b2f6;
        padding: 0 16px 0 8px;
        color: #333;
    }
    em{
        font-style: normal;
        font-size: 12px;
        color: #777;
        margin-left: 6px;
    }
}
.ss-box-shadow{
    background: #fff;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}
.ss-globalwrap{
    .ss-border{
        border-left: solid 4px #f5f7f9;
    }
    .ss-head {
        padding: 6px 0 0;
        border-bottom: solid 1px #eee;
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        margin-bottom: 10px;
        .head-title{
            display: inline-block;
            font-size: 16px;
            color: #15b2f6;
            border-bottom: solid 2px #15b2f6;
            line-height: 50px;
            margin-left: 20px;
        }
        .ivu-btn-default {
            margin-right: 10px
        }
        .ivu-date-picker{
            width: 140px
        }
        .itm-right {
            text-align: right;
            padding-right: 16px;
        }
    }
    .input-tree {
        height: 800px;
    }
}
.isEmpty{
    background-image: url('~@/assets/img/zwsj.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 190px
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.tc{
    text-align: center;
}
.coll {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 0;
}
.coll2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;

}
.coll4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break: break-all;

}
.coll3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;

}
.ss-form-head{
    display: flex;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid #e8eaec;
    padding-bottom: 10px;
    margin-bottom: 10px;
}