<template>
  <!--表格加分页组件-->
  <div class="dark-table">
    <div class="top-btn">
      <slot></slot>
    </div>
    <Table
      :ref="tableRef"
      :row-key="rowKey"
      class="dark-table-elem"
      :height="tableHeight"
      :width="tableWidth"
      :columns="tableColumns"
      :data="tableData"
      :show-header="showHeader"
      tooltip-theme="light"
      :loading="isloading"
      stripe
      border
      :show-summary="summary"
      :summary-method="summaryMethod"
      :span-method="handleSpan"
      :highlight-row="highlightRow"
      :row-class-name="rowClassName"
      @on-current-change="onCurrentChange"
      @on-row-click="onlySelectedRow"
      @on-row-dblclick="doubleSelectRow"
      @on-selection-change="selectChange"
      @on-select="select"
      @on-sort-change="sortChange"
      no-data-text="-"
    >
      <slot name="org-table"></slot>
    </Table>

    <div class="dark-table-bottom" v-show="paginateTotal !== null" :ref="bottomRef">
      <span v-if="showPageLeft" style="padding-left: 20px">
        共{{ paginateTotal || 0 }}条记录 第{{ value.pageNum || 1 }}/{{
          Math.ceil(paginateTotal / value.pageSize) || 1
        }}页&nbsp;&nbsp;{{ !isHideExport ? "导出" : "" }}
        &nbsp;

        <img
          :src="require('@/assets/img/excel-icon.png')"
          width="25"
          @click="exportFile(3)"
          alt
          v-if="!isHideExport"
          :class="{ 'cursor-style': tableData.length > 0 }"
        />
      </span>
      <Page
        :total="paginateTotal"
        :current="value.pageNum"
        @on-change="paginateChange"
        @on-page-size-change="onePageSum"
        :page-size="value.pageSize"
        :page-size-opts="pageSizeOpts"
        :show-elevator="showElevator"
        :show-sizer="showSizer"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "darkTable",
  components: {},
  data() {
    return {
      tableRef: "table" + new Date().getTime(),
      bottomRef: "bottom" + new Date().getTime(),
    };
  },
  props: {
    simpleMode: {
      type: Boolean,
      default: false,
    },
    value: {
      type: Object,
      default() {
        return {
          pageNum: 1,
          pageSize: 20,
        };
      },
    },
    rowClassName: {
      type: Function,
      default: () => {},
    },
    summary: {
      type: Boolean,
      default: false, // 是否显示合计
    },
    summaryMethod: {
      type: Function,
      default: null,
    },
    handleSpan: {
      type: Function,
      default: null,
    },
    rowKey: {
      type: String,
      default: () => "",
    },
    tableColumns: {
      // 表头数据
      type: Array,
      default: () => [],
    },
    tableData: {
      // 表格内部数据
      type: Array,
      default: () => [],
    },
    // 所有页面总数据条数,判断是否显示分页
    paginateTotal: {
      type: Number,
      default: null,
    },
    highlightRow: {
      //单选高亮
      type: Boolean,
      default: false,
    },
    tableWidth: {
      type: String,
      default: "100%",
    },
    //表格高度 'auto'自适应
    tableHeight: {
      type: Number | String,
      default: 600,
      // default: 'calc(100vh-426px)'
    },
    //是否隐藏导出
    isHideExport: {
      type: Boolean,
      default: false,
    },
    isloading: {
      // 是否使用loading
      type: Boolean,
      default: true,
    },
    doubleClickSelectRow: {
      // 是否使用loading
      type: Boolean,
      default: false,
    },
    // 是否显示表头
    showHeader: {
      type: Boolean,
      default: true,
    },
    // 是否显示分页的左侧部分
    showPageLeft: {
      type: Boolean,
      default: true,
    },
    // show-sizer
    showSizer: {
      type: Boolean,
      default: true,
    },
    // show-elevator
    showElevator: {
      type: Boolean,
      default: true,
    },
    pageSizeOpts: {
      type: Array,
      default: () => [20, 50, 100],
    },
  },
  computed: {},
  methods: {
    paginateChange(arg) {
      // 参数表示--改变后显示的页数
      this.value.pageNum = arg;
      this.$emit("input", this.value);
    },
    onePageSum(arg) {
      // 参数表示--每页显示数据条数
      this.value.pageSize = arg;
      // pageNum !== 1时，底层会触发on-change方法，避免二次请求
      if (this.value.pageNum === 1) {
        this.$emit("input", this.value);
      }
    },
    exportFile(arg) {
      // 导出--  1.导出pdf    2.导出word
      if (this.tableData.length > 0) {
        this.$emit("exportFile", arg);
      }
    },
    //高亮单选-选中事件
    onCurrentChange(arg, index) {
      this.$emit("onCurrentChange", arg, index);
    },
    //单选-选中事件
    onlySelectedRow(arg, index) {
      this.$emit("onlySelectedRow", arg, index);
    },
    //双击-选中事件
    doubleSelectRow(arg, index) {
      // 需要在tabledata里面设置index和_isChecked
      if (this.doubleClickSelectRow && !arg._disabled) {
        this.$refs.table.toggleSelect(arg.index);
      }
      this.$emit("doubleSelectRow", arg, index);
    },
    selectChange(arg) {
      this.$emit("selectChange", arg);
    },
    sortChange(arg) {
      this.$emit("sortChange", arg);
    },
    select(selection, row) {
      this.$emit("select", selection, row);
    },
    rowClick(data, index) {
      //data 该行数据 ，index该行索引
      this.$refs.table.toggleSelect(index); // 选中/取消该行（若已选中则是取消，若已取消则是选中）
    },
    caclDistance() {
      const darkBottom = this.$refs[this.bottomRef];
      const darkTable = this.$refs[this.tableRef];
      const bottomDistance = darkBottom.getBoundingClientRect();
      const tableDistance = darkTable.$el.getBoundingClientRect();
      if (bottomDistance.top - (tableDistance.height + tableDistance.top) <= 5) {
        darkBottom.style.position = "static";
      } else {
        darkBottom.style.position = "absolute";
      }

      console.log(bottomDistance.top - (tableDistance.height + tableDistance.top));
      // debugger
    },
    /**
     * 个性化rowClass配置
     * 通过routeName匹配
     */
    // setRowClassName(row, index) {
    //   /**
    //    * 工单状态颜色配置
    //    */
    //   if (
    //     [
    //       "urgentRepairOrder",
    //       "urgentRepairOrders",
    //       "examineRepairOrder",
    //       "maintenanceOrders",
    //       "consultServiceOrder",
    //       "complaintWorkOrder",
    //       "otherServiceOrders",
    //       "provisionOtherServiceOrders",
    //       "consultServiceOrderMag",
    //       "inspectionOrders",
    //       "eliminateShortcomingOrders",
    //       "workOrder",
    //     ].includes(this.$route.name)
    //   ) {
    //     // 优先判断超时
    //     if (row.isOverTime != "0") {
    //       return "isRed";
    //     }
    //   }
    // },
  },
};
</script>
<style lang="scss" scoped>
.dark-table {
  padding: 15px 15px 0 15px;
  .top-btn {
    /deep/ .ivu-btn {
      margin-bottom: 10px;
      height: 28px;
      > span {
        line-height: 1;
      }
    }
  }
  /deep/ .ivu-table-tip {
    overflow-x: hidden;
  }
  /deep/ .ivu-table-cell {
    span {
      font-size: 14px;
    }
  }
  div.dark-table-elem {
    width: 100%;
    margin-bottom: 10px;
    /deep/ .dark-table-setBtn {
      color: #0893fd;
      display: inline-block;
      margin: 0 10px;
      cursor: pointer;
    }
    /deep/ .ivu-table-header > table {
      width: 100%;
    }
    /deep/ .ivu-table-body {
      font-size: 10px;
      width: 100%;
      td {
        height: 36px;
      }
    }
    /deep/ .ivu-table-fixed-right {
      font-size: 10px;
      width: 100%;
      height: 100%;
      td {
        height: 36px;
      }
    }
  }
  .dark-table-bottom {
    width: 100%;
    font-size: 10px;
    padding: 15px 20px 15px 0;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    z-index: 99;
    > span {
      line-height: 32px;
    }
    img {
      vertical-align: middle;
    }

    /deep/ .ivu-page-item {
      a {
        font-size: 10px;
      }
    }
    /deep/ .ivu-page-item-active {
      font-size: 10px;
    }
    /deep/ .ivu-page-options-elevator input {
      font-size: 10px;
      text-align: center;
    }
  }
  .ivu-page-options {
    vertical-align: baseline;
  }
  .cursor-style {
    cursor: pointer;
  }
  /deep/ .ivu-table-tip table tr td {
    text-align: center;
    background-image: url("~@/assets/img/zwsj.png");
    background-position: center 60px;
    background-repeat: no-repeat;
    color: #999;
    background-size: 190px;
    width: 100% !important;
    span {
      display: none;
    }
  }
}
/deep/ .ivu-page-options {
  vertical-align: bottom;
}
</style>
<style>
.ivu-table-row.isRed td {
  background-color: #ff9998 !important;
}
.ivu-table-row.isYellow td {
  background-color: #ffdf85 !important;
}
.ivu-table-row.isOrange td {
  background-color: #90d66d !important;
}
</style>
