<template>
  <components :is="comp" v-bind="initialProp" />
</template>
<script>
  import pic from "./picComp";
  export default {
    props: {
      //组件名称
      app: Object,
      //组件的属性
      prop: Object,
      //设计模式或展示模式
      mode: String
    },
    components:{
      pic
    },
    data(){
      return {
        //组件实例
        comp: null,
        //组件的属性
        initialProp: {}
      }
    },
    created(){
      this.dynamicLoadComp();
    },
    methods:{
      //动态加载组件
      dynamicLoadComp(){
        if(this.mode != "layout"){
          import(`@/pages/panoramic/${this.app.path}`).then((res)=>{
            this.initialProp = Object.assign({}, {...this.prop});
            this.comp = res.default;
          })
        }else{
          this.initialProp = Object.assign({}, {path: this.app.pic});
          this.comp = pic;
        }
      }
    },
    watch: {
      app: {
        handler() {
          this.dynamicLoadComp();
        },
        deep: true
      }
    }
  }
</script>