<template>
  <Cell
    :key="config.id"
    v-bind="cellProps"
    :display="config.display"
    :draggable="internalEditable"
    @delete:content="$emit('delete:content')"
  >
    <div
      class="Layout"
      :class="classes"
      @mousemove="hovered = true"
      @mouseout="hovered = false"
    >
      <div
        v-if="config.id !== 0 && internalEditable"
        class="Layout__toolbar"
        @mouseenter.stop="moveHovered = true"
        @mouseleave.stop="moveHovered = false"
      >
        <Icon size="18" type="md-move" title="移动布局" />
        <Icon size="18" type="md-add-circle"  @click.stop="editChild(config, 'increase')"  title="增加布局占比" />
        <Icon size="18" type="md-remove-circle"  @click.stop="editChild(config, 'reduce')" title="减少布局占比"/>
      </div>

      <components
        :is="getComponentName(child)"
        v-for="child in children"
        :key="child.id"
        v-bind="child.props"
        :editable="editable"
        :mode="mode"
        :initial-config="child"
        :cell-props="{
          id: child.id,
          dragging: child.component === 'Layout' && cellProps.dragging,
          layoutOrientation: config.props.orientation,
          isFirstChild: children[0].id === child.id,
        }"
        @delete:content="deleteChild(child.id)"
        @edit:increase="editChild(child, 'increase')"
        @edit:reduce="editChild(child, 'reduce')"
        @edit:addComp="addComp(child)"
      />
    </div>
  </Cell>
</template>

<script>
import _ from 'lodash'

import LayoutUtils from './../../utils/layout'

import Cell from './components/Cell/Index'

import Item from './Item.vue'

import EventBus from './../../eventBus'

export default {
  name: 'Layout',
  components: {
    Cell,
    Item
  },
  props: {
    // vue-layout-composer props
    initialConfig: Object,
    editable: Boolean,
    mode: String,
    cellProps: Object,

    // Layout props
    displayComponents: Object,
  },
  data() {
    return {
      config: _.cloneDeep(this.initialConfig),
      hovered: false,
      moveHovered: false,
    }
  },
  computed: {
    internalEditable() {
      if (this.config.id === 0) return false
      return this.editable
    },
    classes() {
      if (!this.config) return ''
      const {
        id,
        props: { orientation },
      } = this.config
      const { internalEditable, moveHovered } = this

      return {
        'Layout--move-hovered': id !== 0 && internalEditable && moveHovered,
        'Layout--horizontal': orientation === 'horizontal',
        'Layout--vertical': orientation === 'vertical',
      }
    },
    children() {
      return this.config.children || []
    },
  },
  created() {
    window.addEventListener('resize', this.configureForMobile)
    this.configureForMobile()
  },
  methods: {
    configUpdate(newConfig) {
      this.config = newConfig
    },
    getConfig() {
      return {
        ...this.config,
        children: this.getChildrenConfigurations(),
      }
    },
    getChildrenConfigurations() {
      return this.config.children.map(child => {
        return _.cloneDeep(
          this.$children[0].$children
            .find(childComponent => childComponent.config.id === child.id)
            .getConfig()
        )
      })
    },
    getComponentName(config) {
      if (!config || !config.component) return null
      return config.component
    },
    configureForMobile() {
      if (window.innerWidth >= 600) {
        this.config.props.orientation = this.initialConfig.props.orientation
      } else {
        this.config.props.orientation = 'vertical'
      }
    },
    deleteChild(childId) {
      LayoutUtils.removeCell(this.config, childId)
    },
    editChild(cellConfig, type){
      let layoutConfig = _.cloneDeep(this.config);
      let weight = 0;
      if(cellConfig.component == "Layout"){
        weight = (layoutConfig.display || {}).weight || 0;
        weight = this.caclWeight(type=="increase"?++weight:--weight);
        layoutConfig.display = Object.assign({}, (layoutConfig.display || {}), {weight: weight});
      }else{
        let target = (layoutConfig.children || []).find(a => {
          return a.id == cellConfig.id;
        });
        weight = (target.display || {}).weight || 0;
        weight = this.caclWeight(type=="increase"?++weight:--weight);
        target.display = Object.assign({}, (target.display || {}), {weight: weight});
      }
      this.configUpdate(layoutConfig);
    },
    addComp(cellConfig){
      EventBus.$emit('global:addComp', this, cellConfig)
    },
    caclWeight(weight){
      const min = 1;
      const max = 100;
      if(weight < min){
        weight = min;
      }
      if(weight > max){
        weight = max;
      }
      return weight;
    }
  },
}
</script>

<style lang="scss" scoped>
.Layout {
  display: flex;
  padding: 0px;
  min-height: 50px;
  position: relative;
}

.Layout--horizontal {
  height: 100%;
  flex-direction: row;
}

.Layout--vertical {
  height: 100%;
  flex-direction: column;
}

.Layout--move-hovered {
  background: #03a696;
  cursor: grab;
}

.Layout .Layout--move-hovered > .Layout__toolbar {
  color: #284664;
}

.Layout .Layout__toolbar {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 12px;
  z-index: 100;
  color: #c4c4c4;
  min-width: 50px;
  height: 20px;
  text-align: left;
}

.Layout .Layout__toolbar .ivu-icon {
  color: #1890ff;
  &:hover{
    cursor: pointer;
  }
  &:not(:last-child){
    margin: 0 5px;
  }
}
</style>
