<template>
  <cell 
  v-bind="cellProps" 
  :display="config.display" 
  :draggable="editable" 
  @delete:content="$emit('delete:content')"
  @edit:increase="$emit('edit:increase')" 
  @edit:reduce="$emit('edit:reduce')" 
  @edit:addComp="$emit('edit:addComp')">
    <div layout="row center-center" class="Item" :style="style" @click="onClick">
      <transition name="ivu-anim-ease">
        <dynamicLoadComp :mode="mode" :app="config.internalComponent" v-if="config.internalComponent"></dynamicLoadComp>
        <div v-else class="noSetting">
          <span>暂无配置</span>
        </div>
      </transition>
    </div>
  </cell>
</template>

<script>
  import Cell from './components/Cell/Index'
  import dynamicLoadComp from './dynamicLoadComp.vue'
  export default {
    name: 'Item',
    components: {
      Cell,
      dynamicLoadComp
    },
    props: {
      // vue-layout-composer props
      initialConfig: Object,
      editable: Boolean,
      mode: String,
      cellProps: Object,

      // custom props
      content: String,
      background: String,
    },
    computed: {
      config() {
        return {
          ...this.initialConfig,
          hello: 'world',
        }
      },
      style() {
        const {
          background
        } = this

        return {
          background,
        }
      },
    },
    methods: {
      getConfig() {
        return this.config
      },
      onClick() {
        console.log('clicked')
      },
    },
  }
</script>

<style lang="scss" scoped>
  .Item {
    height: 100%;
    min-height: 50px;
    line-height: 50px;
    .noSetting{
      span{
        font-size: 20px;
        font-weight: bold;
        color: #a5a9af;
      }
    }
  }
</style>