<template>
   <div :style="{backgroundImage: `url('${this.picUrl}')`}" class="pic">
   </div>
</template>
<script>
  export default {
    props: {
      //图片
      path: String,
    },
    data(){
      return {
          picUrl:"",
          imagesContext:null
      }
    },
    methods:{
     getImgUrl() {
        if(!this.path) return;
        return this.imagesContext(this.path);
      },
    },
    watch:{
        path(){
            this.picUrl = this.getImgUrl();
        }
    },
    created(){
      this.imagesContext = require.context('@/assets/img/panoramic/', true, /\.png$/)
      this.picUrl = this.getImgUrl();
    }
  }
</script>
<style lang="scss" scoped>
.pic {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size:100% 100%; 
    background-position: center;
}
</style>