<template>
  <Modal :mask-closable="false" v-model="modal2" width="360">
    <Form
      ref="formCustom"
      :model="formCustom"
      :rules="ruleCustom"
      :label-width="80"
    >
      <div>需求基本信息</div>
      <FormItem label="Password" prop="passwd">
        <Row>
          <Col :span="8">
            <Input
              type="password"
              v-model="formCustom.passwd"
              placeholder="请输入活动名称"
              :disabled="true"
            ></Input>
          </Col>
        </Row>
      </FormItem>
      <FormItem label="Confirm" prop="passwdCheck">
        <!-- <Input type="password" v-model="formCustom.passwdCheck"></Input> -->
        <TreeSelect
          v-model="formCustom.passwdCheck"
          ref="maintainOrgIdTreeSelect"
          :multiple="false"
          :data="orgInfos2"
          :clearable="true"
          placeholder="请选择"
          :disabled="false"
        >
        </TreeSelect>
      </FormItem>
      <FormItem label="Age" prop="age">
        <Input type="text" v-model="formCustom.age" number></Input>
      </FormItem>
      <!-- <FormItem>
        <Button type="primary" @click="handleSubmit('formCustom')"
          >Submit</Button
        >
        <Button @click="handleReset('formCustom')" style="margin-left: 8px"
          >Reset</Button
        >
      </FormItem> -->
    </Form>
    <div slot="footer">
      <Button @click="handleSubmit('formCustom')">11</Button>
      <Button @click="handleReset('formCustom')">Delete</Button>
    </div>
  </Modal>
</template>

<script>
export default {
  data() {
    const validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please enter your password'));
      } else {
        if (this.formCustom.passwdCheck !== '') {
          // 对第二个密码框单独验证
          this.$refs.formCustom.validateField('passwdCheck');
        }
        callback();
      }
    };
    const validatePassCheck = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please enter your password again'));
      } else if (value !== this.formCustom.passwd) {
        callback(new Error('The two input passwords do not match!'));
      } else {
        callback();
      }
    };
    const validateAge = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('Age cannot be empty'));
      }
      // 模拟异步验证效果
      setTimeout(() => {
        if (!Number.isInteger(value)) {
          callback(new Error('Please enter a numeric value'));
        } else {
          if (value < 18) {
            callback(new Error('Must be over 18 years of age'));
          } else {
            callback();
          }
        }
      }, 1000);
    };

    return {
      orgInfos2: [],
      modal2: false,
      formCustom: {
        passwd: '',
        passwdCheck: '',
        age: ''
      },
      ruleCustom: {
        passwd: [
          { validator: validatePass, trigger: 'blur' }
        ],
        passwdCheck: [
          { validator: validatePassCheck, trigger: 'blur' }
        ],
        age: [
          { validator: validateAge, trigger: 'blur' }
        ]
      }
    }
  },
  mounted() {
    // function move(n, cur, tar, bak) {
    //   if (n >= 1) {
    //     move(n - 1, cur, bak, tar)
    //     console.log(`${cur}->${tar}`)
    //     move(n - 1, bak, tar, cur)
    //   }
    // }
    // move(4, 'A', 'C', 'B')
  },
  methods: {
    del() {
      this.modal2 = false;
    },
    handleSubmit(name) {
      this.$refs[name].validate((valid) => {
        if (valid) {
          this.$Message.success('Success!');
        } else {
          this.$Message.error('Fail!');
        }
      })
    },
    handleReset(name) {
      this.$refs[name].resetFields();
    }
  }
};
</script>

<style>
</style>