<template>
  <div class="main-wrap">
    <!-- 1. 地图组件 -->
    <BdMap />
    <!-- 2.树形结构-->
    <VJTree v-show="!fullScreen" />
    <!-- 3.全屏组件-->
    <div
      class="full-screen"
      v-show="fullScreen"
      @click="
        setState({
          fullScreen: !fullScreen,
        })
      "
    ></div>
    <!-- 4.功能条 -->
    <BaseTool />

    <!-- 5.弹框图层组件异步加载 -->
    <template v-for="item in modalsData">
      <component :is="item"></component>
    </template>

    <!-- 6. 全局请求loading -->
    <transition name="ivu-anim-fade">
      <div class="request-mask" v-if="requestVisible" v-transfer-dom>
        <div class="loadingio-spinner-cube-tyuywxxe9y9">
          <div class="ldio-pgzsapa4sv">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </transition>

    <!-- 7. 经纬度显示 -->
    <div class="coordinates-wrap">{{ `经度:${realTimeCoordinates.lng} 纬度:${realTimeCoordinates.lat}` }}</div>

    <!-- 8.  坐标转换-->
    <CoordinateTransformation v-if="coordinateShow" />
  </div>
</template>

<script>
import BdMap from "./components/bdMap";
import VJTree from "./components/vJTree";
import { mapState, mapMutations } from "vuex";
import BaseTool from "./components/baseTool";
// 弹框组件导入
import modals from "./modals";
import util from "@/libs/util";
import TransferDom from "view-design/src/directives/transfer-dom";
import CoordinateTransformation from "./components/coordinateTransformation";

import _ from "lodash";

export default {
  name: "draw",
  data() {
    return {
      modalsData: Object.entries(modals).map(([k]) => k),
      requestVisible: false,
    };
  },
  components: {
    BdMap,
    VJTree,
    BaseTool,
    CoordinateTransformation,
    ...modals,
  },
  methods: {
    ...mapMutations("admin/map", ["setState"]),
  },
  created() {
    const access = util.storage.getSharedValue("permissions") || [];
    if (!_.isEmpty(access) && !access.includes("map:edit")) {
      setState({
        permission: true,
      });
    }
  },
  directives: { TransferDom },
  watch: {
    requestUrls: {
      deep: true,
      handler(val) {
        if (_.isEmpty(val)) {
          this.requestVisible = false;
        } else {
          this.requestVisible = true;
        }
      },
    },
  },
  computed: {
    ...mapState("admin/map", ["fullScreen", "realTimeCoordinates", "coordinateShow"]),
    ...mapState(["requestUrls"]),
  },
};
</script>
<style lang="scss">
.main-wrap {
  position: relative;
}
.full-screen {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  background-color: rgba(37, 37, 37, 0.9);
  background-image: url("/static/images/panorama/close.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90%;
}

.request-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(55, 55, 55, 0.1);
  height: 100%;
  z-index: 991000;
}

.coordinates-wrap {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 5px 5px;
  background-color: #fff;
  border: 1px solid #0d867f;
  color: #0d867f;
}

@keyframes ldio-pgzsapa4sv {
  0% {
    transform: scale(1.1500000000000001);
  }
  100% {
    transform: scale(1);
  }
}
.ldio-pgzsapa4sv div {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 6.666666666666668px;
  left: 6.666666666666668px;
  background: #04625d;
  animation: ldio-pgzsapa4sv 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.3s;
}
.ldio-pgzsapa4sv div:nth-child(2) {
  top: 6.666666666666668px;
  left: 53.33333333333333px;
  background: #09847d;
  animation-delay: -0.2s;
}
.ldio-pgzsapa4sv div:nth-child(3) {
  top: 53.33333333333333px;
  left: 6.666666666666668px;
  background: #0bcdc2;
  animation-delay: 0s;
}
.ldio-pgzsapa4sv div:nth-child(4) {
  top: 53.33333333333333px;
  left: 53.33333333333333px;
  background: #0db1a8;
  animation-delay: -0.1s;
}
.loadingio-spinner-cube-tyuywxxe9y9 {
  width: 71px;
  height: 71px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
  position: absolute;
  bottom: 100px;
  left: 50%;
}
.ldio-pgzsapa4sv {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.71);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-pgzsapa4sv div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
</style>
