<template>
  <i-pageBody>
    <div slot="page-main" class="page">
      <Row>
        <Col span="6" class="main" v-loading="treeLoading">
          <!-- 搜索条件 -->
          <div class="search-wrap">
            <Input v-model="searchText" placeholder="输入搜索" />
            <Icon type="ios-search" class="img" @click="handleSearch" />
          </div>
          <v-jstree text-field-name="label" :data="data" ref="tree" allow-batch @item-click="itemClick"></v-jstree>
        </Col>
        <Col span="18" class="main">
          <Form :model="formData" :label-width="70" style="margin-top: 10px">
            <Row>
              <Col span="6">
                <FormItem label="账号">
                  <Input v-model="formData.userName" clearable placeholder="请输入账号" />
                </FormItem>
              </Col>

              <Col span="6">
                <FormItem label="手机号">
                  <Input v-model="formData.phoneNumber" clearable placeholder="请输入手机号" />
                </FormItem>
              </Col>

              <Col span="12" style="flex-direction: row-reverse; display: flex">
                <Button type="primary" @click="loadTable">搜索</Button>

                <Button @click="reset" style="margin-right: 10px">重置</Button>
              </Col>
            </Row>
          </Form>

          <dark-table
            :tableColumns="columnsList"
            :tableData="dataList"
            :paginateTotal="pageTotal"
            :isloading="loading"
            :value="{ pageSize: formData.pageSize, pageNum: formData.pageIndex }"
            @input="changepageSize"
            :tableHeight="400"
            :isHideExport="true"
          >
            <Button type="primary" size="small" @click="addBtn" v-auth="`system:user:add`">新增</Button>
          </dark-table>
        </Col>
      </Row>

      <!-- 新增弹框 -->
      <addUserModal ref="addUserRef" @loadTable="searchBtn" />
    </div>
  </i-pageBody>
</template>

<script>
import userApi from "@/api/system/user";
import addUserModal from "./components/addUserModal";
import systemApi from "@/api/system";
import VJstree from "vue-jstree";
import _ from "lodash";

export default {
  data() {
    return {
      loading: false,
      data: [],
      columnsList: [
        { title: "序号", width: 80, type: "index", align: "center" },
        { title: "账号", key: "userName", align: "center", tooltip: true },
        { title: "昵称", key: "nickName", align: "center", tooltip: true },
        { title: "手机号", key: "phonenumber", align: "center", tooltip: true },
        {
          title: "单位",
          align: "center",
          render(h, params) {
            return h(
              "span",
              params.row && params.row.dept && params.row.dept.deptName ? params.row.dept.deptName : "-"
            );
          },
        },
        {
          title: "操作",
          align: "center",
          width: 260,
          render: (h, params) => {
            return h("div", [
              h(
                "Poptip",
                {
                  props: {
                    confirm: true,
                    title: "确定要重置密码?",
                    transfer: true,
                  },
                  on: {
                    "on-ok": () => {
                      this.$Modal.confirm({
                        render: (h) => {
                          return h("Input", {
                            props: {
                              value: this.passValue,
                              autofocus: true,
                              placeholder: "请输入新的密码",
                              type: "password",
                              password: true,
                            },
                            on: {
                              input: (val) => {
                                this.passValue = val;
                              },
                            },
                          });
                        },
                        onOk: () => {
                          userApi
                            .resetPwd({
                              ...params.row,
                              password: this.passValue,
                            })
                            .then((res) => {
                              if (res.code == 200) {
                                this.$Message.success("操作成功");
                                this.passValue = undefined;
                              }
                            });
                        },
                        onCancel: () => {
                          this.passValue = undefined;
                        },
                      });
                    },
                  },
                },
                [
                  h(
                    "Button",
                    {
                      props: {
                        type: "primary",
                        size: "small",
                      },
                      directives: [
                        {
                          name: "auth",
                          value: "system:user:resetpassword",
                        },
                      ],
                      style: {},
                    },
                    "重置"
                  ),
                ]
              ),

              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small",
                  },
                  directives: [
                    {
                      name: "auth",
                      value: "system:role:edit",
                    },
                  ],
                  on: {
                    click: (e) => {
                      const _row = params.row;
                      this.$refs.addUserRef.formData = {
                        ..._row,
                        phoneNumber: _row.phonenumber,
                        roleIds: Number(_row.roleId),
                      };
                      this.$refs.addUserRef.visible = true;
                    },
                  },
                },
                "编辑"
              ),

              h(
                "Poptip",
                {
                  props: {
                    confirm: true,
                    title: "确定要删除?",
                    transfer: true,
                  },
                  on: {
                    "on-ok": () => {
                      userApi.deleteUser(params.row.userId).then((res) => {
                        if (res.code == 200) {
                          this.loadTable();
                        }
                      });
                    },
                  },
                },
                [
                  h(
                    "Button",
                    {
                      props: {
                        type: "error",
                        size: "small",
                      },
                      directives: [
                        {
                          name: "auth",
                          value: "system:role:delete",
                        },
                      ],
                    },
                    "删除"
                  ),
                ]
              ),
            ]);
          },
        },
      ],
      dataList: [],
      pageTotal: 0,
      formData: {
        pageSize: 20,
        pageIndex: 1,
      },
      searchText: "",
      passValue: "",
      treeLoading: false,
    };
  },
  components: {
    addUserModal,
    VJstree,
  },
  created() {
    this.loadTable();
    this.getDeptTree();
  },
  methods: {
    getDeptTree() {
      this.treeLoading = true;
      systemApi
        .deptTree()
        .then((res) => {
          this.treeLoading = false;
          if (res.code == 200) {
            let trees = res.data;
            this.transformToTree(trees);

            // 初始化第一个
            trees[0].selected = true;
            this.formData.deptId = trees[0].id;

            this.data = trees;
          }
        })
        .catch((err) => {
          this.treeLoading = false;
        });
    },
    transformToTree(list) {
      const that = this;
      list.forEach((res) => {
        res.opened = true;
        // <Icon type="ios-barcode-outline" />
        res.icon = "ivu-icon ivu-icon-ios-barcode-outline";
        if (!_.isEmpty(res.children)) {
          that.transformToTree(res.children);
        }
      });
    },
    reset() {
      this.formData.pageIndex = 1;
      this.loadTable();
    },

    handleSearch() {
      var text = this.searchText;
      const patt = new RegExp(text);
      console.log("inputKeyUp");
      this.$refs.tree.handleRecursionNodeChilds(this.$refs.tree, function (node) {
        if (text !== "" && node.model !== undefined) {
          const str = node.model.text;
          if (patt.test(str)) {
            node.$el.querySelector(".tree-anchor").style.color = "red";
          } else {
            node.$el.querySelector(".tree-anchor").style.color = "#000";
          } // or other operations
        } else {
          node.$el.querySelector(".tree-anchor").style.color = "#000";
        }
      });
    },
    addBtn() {
      this.$refs.addUserRef.formData.deptId = this.formData.deptId;
      this.$refs.addUserRef.visible = true;
    },
    loadTable() {
      this.loading = true;
      userApi
        .getUserList(this.formData)
        .then((res) => {
          this.dataList = res.rows;
          this.loading = false;
        })
        .catch((err) => {
          this.loading = false;
        });
    },
    changepageSize(val) {
      this.formData.pageIndex = val.pageNum;
      this.formData.pageSize = val.pageSize;
      this.loadTable();
    },
    searchBtn() {
      this.formData.pageIndex = 1;
      this.loadTable();
    },
    resetBtn() {
      this.formData = {
        pageSize: 20,
        pageIndex: 1,
        time: [],
      };
      this.loadTable();
    },
    itemClick(node) {
      this.formData.deptId = node.model.id;

      //
    },
  },
};
</script>

<style lang="scss" scoped>
.title {
  border-left: 5px solid #3d9e99;
  padding-left: 15px;
}
.btns {
  margin-top: 15px;
  padding: 0 15px;
}
.card {
  padding: 0 15px;
}
/deep/ .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-nav-container {
  height: 46px;
}

.search-wrap {
  width: 100%;
  display: flex;
  margin: 10px 0 5px 0;
  align-items: center;

  .text {
    flex: 8;
    height: 21px;
  }
  .img {
    margin-left: 1%;
    cursor: pointer;
    font-size: 22px;
  }
}

.main {
  padding: 5px;
}
</style>
