﻿
/*---------------------适用于所有的页面的样式（在此样式基础上新加2.0版本智慧能源e管家web设计UI规范样式）-------------------------*/
#app, body, html{height: 100%;min-width: 1240px;}
/*ui要求默认微软雅黑*/
body {
     font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, "PingFang SC",
     "Hiragino Sans GB",  "\5FAE\8F6F\96C5\9ED1",
     Arial, sans-serif !important;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn,
em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu,
nav, section, summary, time, mark, audio, video
{margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;outline-style: none;font-size: 14px}

/*全景普通背景样式*/
.overViewBg{background-color: #f5f7f9;}

* {
  text-decoration: none;
  list-style: none;
}

img {
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration-line: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

input, button, textarea {
  outline: none;
  border: none;
  transition: all 0.5s ease;
}

input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

.clearfix:after {
  clear: both;
}

.clearfix:after, .clearfix:before {
  display: table;
  content: " ";
}

.clearfix {
  zoom: 1;
}
/*浮动*/
.f-left,.pull-left {float: left;}
.f-right,.pull-right {float: right}
.f-none {float: none;}

/*定位*/
.poa{position: absolute;width: 100%;height: 100%;}
.por{position: relative;width: 100%;height: 100%;}
.w100{width: 100%;}

.f-relative,.relative {position: relative;}
.f-absolute,.absolute {position: absolute;}
.f-fixed,.fixed {position: fixed;}
img {
  content: normal;
}

div {
  box-sizing: border-box;
}

button {
  background-color: transparent;
}

/*全局滚动条样式*/
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
/*定义滚动条的轨道颜色、内阴影及圆角*/
::-webkit-scrollbar-track {
  width: 10px;
  height: 10px;
  border-radius: 4px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(12,35,81,.3); */
}
/*定义滑动块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb {
  border: none;
  width: 10px;
  border-radius: 8px;
  background: #ccc;
  background-clip: padding-box;
  border: 4px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
  width: 10px;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  background-clip: padding-box;
}

/*定义两端按钮的样式*/
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(51, 112, 165);
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgb(51, 112, 165);
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(51, 112, 165);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(51, 112, 165);
}

/*鼠标样式*/
.cur{cursor: pointer;}

/* 字体大小 */
.fs12{font-size: 12px;} /*提示标注等次要文字信息*/
.fs13{font-size: 13px;}
.fs14{font-size: 14px !important;}/*正文等一般文字内容*/
.fs15{font-size: 15px;}
.fs16{font-size: 16px;}/*标题文字*/
.fs17{font-size: 17px;}
.fs18{font-size: 18px;}/*页面标题*/
.fs19{font-size: 19px;}
.fs20{font-size: 20px;}
.fs21{font-size: 21px;}
.fs22{font-size: 22px;}
.fs23{font-size: 23px;}
.fs24{font-size: 24px;}
.fs25{font-size: 25px;}
.fs26{font-size: 26px;}
.fs27{font-size: 27px;}
.fs28{font-size: 28px;}
.fs29{font-size: 29px;}
.fs30{font-size: 30px;}
.fs31{font-size: 31px;}
.fs32{font-size: 32px;}
.fs33{font-size: 33px;}
.fs34{font-size: 34px;}
.fs35{font-size: 35px;}
.fs36{font-size: 36px;}
.fs37{font-size: 37px;}
.fs38{font-size: 38px;}/*部分强调性数据*/
.fs39{font-size: 39px;}
.fs40{font-size: 40px;}

/*字体加粗*/
.bold{font-weight: bold;}
.bold400{font-weight: 400;}
.bold500{font-weight: 500;}

/* 背景色——一般都有对应的字体颜色 */
.bg-Main-Blue{background-color:#0893fd;}/*主色1*/
.bg-Main-Orange{background-color:#fe9834;}/*主色2*/

.bg-fff{background-color: #fff;}
.bg-000{background-color: #000;}
.bg-eee{background-color: #eee;}
.bg-orange{background-color:#ff6d21;}
.bg-f6{background-color:#f6f6f7;}/*标题栏底色*/
.bg-f2{background-color:#f2f2f2;}/*图表线条色*/
.bg-d6{background-color:#d6d6d6;}/*置灰按鈕底色*/
.bg-gw{background-color: #374590;}/*国网样式*/


/* 字体色 */
.color-Main-Blue{color:#0893fd;}/*主色1*/
.color-Main-Orange{color:#fe9834;}/*主色2 */

.color-fff{color: #fff;}/*用于内容区域的底，反白文字*/
.color-333{color: #333;}/*用于重要文字信息*/
.color-666{color: #666;}/*用于一般文字信息*/
.color-999{color: #999;}/*用于说明，提示等次要文字图标信息*/

.color-orange{color:#ff6d21;}
.color-red{color:#ff1e10}

.color-text-ee2323{color:#ee2323;}/*删除、注销、禁用按钮颜色*/
.color-text-0893fd{color: #0893fd;}/*编辑、查看、详情按钮*/
.color-text-ff6d21{color: #ff6d21;}/*追回、撤销按钮*/
.color-text-19be6b{color: #19be6b;}/*下载、启用按钮*/

/*文字强制不换行*/
.nowrap{white-space: nowrap;}

/* 文字一行省略 */
.apostrophe-one{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
/* 文字两行省略 */
.apostrophe-two{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
/* 文字三行省略 */
.apostrophe-three{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;}

/* 左右弹性布局 */
.flex_justify_content {display: flex;align-items: center;justify-content: space-between;}
/* 上下弹性布局 */
.flex_column_justify_content {-webkit-box-flex: 1;-ms-flex: 1;flex: 1;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.justify-end {display: flex;justify-content: flex-end;}
/*flex布局框架*/
/*向左浮动+向上对齐+换行*/
.left-float-topbr {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  line-height: 1.4;
}
/*向左浮动+向上对齐+不换行*/
.left-float-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  line-height: 1.4;
}
/*居中浮动+向上对齐+不换行*/
.center-float-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  line-height: 1.4;
}
/*向右浮动+向上对齐+不换行*/
.right-float-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  line-height: 1.4;
}
/*居中浮动+左对齐+不换行*/
.center-float-left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  line-height: 1.4;
}
/*居中浮动+居中对齐+不换行*/
.center-float-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  line-height: 1.4;
}
/*居中浮动+右对齐+不换行*/
.center-float-right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  line-height: 1.4;
}
/*向下浮动+向左对齐+不换行*/
.bottom-float-left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  line-height: 1.4;
}
/*向下浮动+居中对齐+不换行*/
.bottom-float-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  line-height: 1.4;
}
/*向下浮动+向右对齐+不换行*/
.bottom-float-right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  line-height: 1.4;
}
/*向上左右分布*/
.top-lr-scatter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  line-height: 1.4;
}
/* 左右两边垂直居中*/
.left-lr-right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  line-height: 1.4;
}
/*上下居中左右分布*/
.tbc-lr-scatter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  line-height: 1.4;
}
/*向下左右分布*/
.bottom-lr-scatter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  line-height: 1.4;
}
/* 向左上下置顶分布 */
.left-tb-scatter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  line-height: 1.4;
}
/*居中上下分布*/
.center-tb-scatter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  line-height: 1.4;
}
/*向右上下分布*/
.right-tb-scatter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  line-height: 1.4}
.flex-1 {
  flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
}
.flex-2 {
  flex: 2;
  -moz-box-flex: 2;
  -ms-flex: 2;
  -webkit-flex: 2;
}

/*** color ***/
::-webkit-input-placeholder {
  color: #999999 !important;}
:-ms-input-placeholder {
  color: #999999 !important;}
::-moz-placeholder {
  color: #999999 !important;}
input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
  border-color: #0893fd !important;
  border-width: 1px;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(8, 147, 253, 0.2) !important;
  box-shadow: 0 0 0 2px rgba(8, 147, 253, 0.2) !important;}

/*** lzx（padding margin） 2019-07-17 begin ***/
.f-mAll0 {margin: 0px !important;}  .f-pAll0 {padding: 0px !important;}  .f-mt0 {margin-top: 0px !important;}  .f-pt0 {padding-top: 0px !important;}  .f-mr0 {margin-right: 0px !important;} .f-pr0 {padding-right: 0px !important;}  .f-mb0 {margin-bottom: 0px !important;}  .f-pb0 {padding-bottom: 0px !important;}  .f-ml0 {margin-left: 0px !important;}  .f-pl0 {padding-left: 0px !important;}
.f-mAll1 {margin: 1px !important;}  .f-pAll1 {padding: 1px !important;}  .f-mt1 {margin-top: 1px !important;}  .f-pt1 {padding-top: 1px !important;}  .f-mr1 {margin-right: 1px !important;}  .f-pr1 {padding-right: 1px !important;}  .f-mb1 {margin-bottom: 1px !important;}  .f-pb1 {padding-bottom: 1px !important;}  .f-ml1 {margin-left: 1px !important;} .f-pl1 {padding-left: 1px !important;}
.f-mAll2 {margin: 2px !important;}  .f-pAll2 {padding: 2px !important;}  .f-mt2 {margin-top: 2px !important;}  .f-pt2 {padding-top: 2px !important;}  .f-mr2 {margin-right: 2px !important;}  .f-pr2 {padding-right: 2px !important;}  .f-mb2 {margin-bottom: 2px !important;}  .f-pb2 {padding-bottom: 2px !important;}  .f-ml2 {margin-left: 2px !important;}  .f-pl2 {padding-left: 2px !important;}
.f-mAll3 {margin: 3px !important;}  .f-pAll3 {padding: 3px !important;} .f-mt3 {margin-top: 3px !important;}  .f-pt3 {padding-top: 3px !important;} .f-mr3 {margin-right: 3px !important;}  .f-pr3 {padding-right: 3px !important;} .f-mb3 {margin-bottom: 3px !important;}  .f-pb3 {padding-bottom: 3px !important;} .f-ml3 {margin-left: 3px !important;}  .f-pl3 {padding-left: 3px !important;}
.f-mAll4 {margin: 4px !important;}  .f-pAll4 {padding: 4px !important;}  .f-mt4 {margin-top: 4px !important;}  .f-pt4 {padding-top: 4px !important;}  .f-mr4 {margin-right: 4px !important;}  .f-pr4 {padding-right: 4px !important;}  .f-mb4 {margin-bottom: 4px !important;}  .f-pb4 {padding-bottom: 4px !important;}  .f-ml4 {margin-left: 4px !important;}  .f-pl4 {padding-left: 4px !important;}
.f-mAll5 {margin: 5px !important;}  .f-pAll5 {padding: 5px !important;}  .f-mt5 {margin-top: 5px !important;}  .f-pt5 {padding-top: 5px !important;}  .f-mr5 {margin-right: 5px !important;}  .f-pr5 {padding-right: 5px !important;}  .f-mb5 {margin-bottom: 5px !important;}  .f-pb5 {padding-bottom: 5px !important;}  .f-ml5 {margin-left: 5px !important;}  .f-pl5 {padding-left: 5px !important;}
.f-mAll6 {margin: 6px !important;}  .f-pAll6 {padding: 6px !important;}  .f-mt6 {margin-top: 6px !important;}  .f-pt6 {padding-top: 6px !important;}  .f-mr6 {margin-right: 6px !important;}  .f-pr6 {padding-right: 6px !important;}  .f-mb6 {margin-bottom: 6px !important;}  .f-pb6 {padding-bottom: 6px !important;}  .f-ml6 {margin-left: 6px !important;}  .f-pl6 {padding-left: 6px !important;}
.f-mAll7 {margin: 7px !important;}  .f-pAll7 {padding: 7px !important;}  .f-mt7 {margin-top: 7px !important;}  .f-pt7 {padding-top: 7px !important;}  .f-mr7 {margin-right: 7px !important;}  .f-pr7 {padding-right: 7px !important;}  .f-mb7 {margin-bottom: 7px !important;}  .f-pb7 {padding-bottom: 7px !important;}  .f-ml7 {margin-left: 7px !important;}  .f-pl7 {padding-left: 7px !important;}
.f-mAll8 {margin: 8px !important;}  .f-pAll8 {padding: 8px !important;}  .f-mt8 {margin-top: 8px !important;}  .f-pt8 {padding-top: 8px !important;}  .f-mr8 {margin-right: 8px !important;}  .f-pr8 {padding-right: 8px !important;}  .f-mb8 {margin-bottom: 8px !important;}  .f-pb8 {padding-bottom: 8px !important;}  .f-ml8 {margin-left: 8px !important;}  .f-pl8 {padding-left: 8px !important;}
.f-mAll9 {margin: 9px !important;}  .f-pAll9 {padding: 9px !important;}  .f-mt9 {margin-top: 9px !important;}  .f-pt9 {padding-top: 9px !important;}  .f-mr9 {margin-right: 9px !important;}  .f-pr9 {padding-right: 9px !important;}  .f-mb9 {margin-bottom: 9px !important;}  .f-pb9 {padding-bottom: 9px !important;}  .f-ml9 {margin-left: 9px !important;}  .f-pl9 {padding-left: 9px !important;}
.f-mAll10 {margin: 10px !important;}  .f-pAll10 {padding: 10px !important;}  .f-mt10 {margin-top: 10px !important;}  .f-pt10 {padding-top: 10px !important;}  .f-mr10 {margin-right: 10px !important;}  .f-pr10 {padding-right: 10px !important;}  .f-mb10 {margin-bottom: 10px !important;}  .f-pb10 {padding-bottom: 10px !important;}  .f-ml10 {margin-left: 10px !important;}  .f-pl10 {padding-left: 10px !important;}
.f-mAll11 {margin: 11px !important;}  .f-pAll11 {padding: 11px !important;}  .f-mt11 {margin-top: 11px !important;}  .f-pt11 {padding-top: 11px !important;}  .f-mr11 {margin-right: 11px !important;}  .f-pr11 {padding-right: 11px !important;}  .f-mb11 {margin-bottom: 11px !important;}  .f-pb11 {padding-bottom: 11px !important;}  .f-ml11 {margin-left: 11px !important;}  .f-pl11 {padding-left: 11px !important;}
.f-mAll12 {margin: 12px !important;}  .f-pAll12 {padding: 12px !important;}  .f-mt12 {margin-top: 12px !important;}  .f-pt12 {padding-top: 12px !important;}  .f-mr12 {margin-right: 12px !important;}  .f-pr12 {padding-right: 12px !important;}  .f-mb12 {margin-bottom: 12px !important;}  .f-pb12 {padding-bottom: 12px !important;}  .f-ml12 {margin-left: 12px !important;}  .f-pl12 {padding-left: 12px !important;}
.f-mAll13 {margin: 13px !important;}  .f-pAll13 {padding: 13px !important;}  .f-mt13 {margin-top: 13px !important;}  .f-pt13 {padding-top: 13px !important;}  .f-mr13 {margin-right: 13px !important;}  .f-pr13 {padding-right: 13px !important;}  .f-mb13 {margin-bottom: 13px !important;}  .f-pb13 {padding-bottom: 13px !important;}  .f-ml13 {margin-left: 13px !important;}  .f-pl13 {padding-left: 13px !important;}
.f-mAll14 {margin: 14px !important;}  .f-pAll14 {padding: 14px !important;}  .f-mt14 {margin-top: 14px !important;}  .f-pt14 {padding-top: 14px !important;}  .f-mr14 {margin-right: 14px !important;}  .f-pr14 {padding-right: 14px !important;}  .f-mb14 {margin-bottom: 14px !important;}  .f-pb14 {padding-bottom: 14px !important;}  .f-ml14 {margin-left: 14px !important;}  .f-pl14 {padding-left: 14px !important;}
.f-mAll15 {margin: 15px !important;}  .f-pAll15 {padding: 15px !important;}  .f-mt15 {margin-top: 15px !important;}  .f-pt15 {padding-top: 15px !important;}  .f-mr15 {margin-right: 15px !important;}  .f-pr15 {padding-right: 15px !important;}  .f-mb15 {margin-bottom: 15px !important;}  .f-pb15 {padding-bottom: 15px !important;}  .f-ml15 {margin-left: 15px !important;}  .f-pl15 {padding-left: 15px !important;}
.f-mAll16 {margin: 16px !important;}  .f-pAll16 {padding: 16px !important;}  .f-mt16 {margin-top: 16px !important;}  .f-pt16 {padding-top: 16px !important;}  .f-mr16 {margin-right: 16px !important;}  .f-pr16 {padding-right: 16px !important;}  .f-mb16 {margin-bottom: 16px !important;}  .f-pb16 {padding-bottom: 16px !important;}  .f-ml16 {margin-left: 16px !important;}  .f-pl16 {padding-left: 16px !important;}
.f-mAll17 {margin: 17px !important;}  .f-pAll17 {padding: 17px !important;}  .f-mt17 {margin-top: 17px !important;}  .f-pt17 {padding-top: 17px !important;}  .f-mr17 {margin-right: 17px !important;}  .f-pr17 {padding-right: 17px !important;}  .f-mb17 {margin-bottom: 17px !important;}  .f-pb17 {padding-bottom: 17px !important;}  .f-ml17 {margin-left: 17px !important;}  .f-pl17 {padding-left: 17px !important;}
.f-mAll18 {margin: 18px !important;}  .f-pAll18 {padding: 18px !important;}  .f-mt18 {margin-top: 18px !important;}  .f-pt18 {padding-top: 18px !important;}  .f-mr18 {margin-right: 18px !important;}  .f-pr18 {padding-right: 18px !important;}  .f-mb18 {margin-bottom: 18px !important;}  .f-pb18 {padding-bottom: 18px !important;}  .f-ml18 {margin-left: 18px !important;}  .f-pl18 {padding-left: 18px !important;}
.f-mAll19 {margin: 19px !important;}  .f-pAll19 {padding: 19px !important;}  .f-mt19 {margin-top: 19px !important;}  .f-pt19 {padding-top: 19px !important;}  .f-mr19 {margin-right: 19px !important;}  .f-pr19 {padding-right: 19px !important;}  .f-mb19 {margin-bottom: 19px !important;}  .f-pb19 {padding-bottom: 19px !important;}  .f-ml19 {margin-left: 19px !important;}  .f-pl19 {padding-left: 19px !important;}
.f-mAll20 {margin: 20px !important;}  .f-pAll20 {padding: 20px !important;}  .f-mt20 {margin-top: 20px !important;}  .f-pt20 {padding-top: 20px !important;}  .f-mr20 {margin-right: 20px !important;}  .f-pr20 {padding-right: 20px !important;}  .f-mb20 {margin-bottom: 20px !important;}  .f-pb20 {padding-bottom: 20px !important;}  .f-ml20 {margin-left: 20px !important;}  .f-pl20 {padding-left: 20px !important;}
.f-mAll21 {margin: 21px !important;}  .f-pAll21 {padding: 21px !important;}  .f-mt21 {margin-top: 21px !important;}  .f-pt21 {padding-top: 21px !important;}  .f-mr21 {margin-right: 21px !important;}  .f-pr21 {padding-right: 21px !important;}  .f-mb21 {margin-bottom: 21px !important;}  .f-pb21 {padding-bottom: 21px !important;}  .f-ml21 {margin-left: 21px !important;}  .f-pl21 {padding-left: 21px !important;}
.f-mAll22 {margin: 22px !important;}  .f-pAll22 {padding: 22px !important;}  .f-mt22 {margin-top: 22px !important;}  .f-pt22 {padding-top: 22px !important;}  .f-mr22 {margin-right: 22px !important;}  .f-pr22 {padding-right: 22px !important;}  .f-mb22 {margin-bottom: 22px !important;}  .f-pb22 {padding-bottom: 22px !important;}  .f-ml22 {margin-left: 22px !important;}  .f-pl22 {padding-left: 22px !important;}
.f-mAll23 {margin: 23px !important;}  .f-pAll23 {padding: 23px !important;}  .f-mt23 {margin-top: 23px !important;}  .f-pt23 {padding-top: 23px !important;}  .f-mr23 {margin-right: 23px !important;}  .f-pr23 {padding-right: 23px !important;}  .f-mb23 {margin-bottom: 23px !important;}  .f-pb23 {padding-bottom: 23px !important;}  .f-ml23 {margin-left: 23px !important;}  .f-pl23 {padding-left: 23px !important;}
.f-mAll24 {margin: 24px !important;}  .f-pAll24 {padding: 24px !important;}  .f-mt24 {margin-top: 24px !important;}  .f-pt24 {padding-top: 24px !important;}  .f-mr24 {margin-right: 24px !important;}  .f-pr24 {padding-right: 24px !important;}  .f-mb24 {margin-bottom: 24px !important;}  .f-pb24 {padding-bottom: 24px !important;}  .f-ml24 {margin-left: 24px !important;}  .f-pl24 {padding-left: 24px !important;}
.f-mAll25 {margin: 25px !important;}  .f-pAll25 {padding: 25px !important;}  .f-mt25 {margin-top: 25px !important;}  .f-pt25 {padding-top: 25px !important;}  .f-mr25 {margin-right: 25px !important;}  .f-pr25 {padding-right: 25px !important;}  .f-mb25 {margin-bottom: 25px !important;}  .f-pb25 {padding-bottom: 25px !important;}  .f-ml25 {margin-left: 25px !important;}  .f-pl25 {padding-left: 25px !important;}
.f-mAll26 {margin: 26px !important;}  .f-pAll26 {padding: 26px !important;}  .f-mt26 {margin-top: 26px !important;}  .f-pt26 {padding-top: 26px !important;}  .f-mr26 {margin-right: 26px !important;}  .f-pr26 {padding-right: 26px !important;}  .f-mb26 {margin-bottom: 26px !important;}  .f-pb26 {padding-bottom: 26px !important;}  .f-ml26 {margin-left: 26px !important;}  .f-pl26 {padding-left: 26px !important;}
.f-mAll27 {margin: 27px !important;}  .f-pAll27 {padding: 27px !important;}  .f-mt27 {margin-top: 27px !important;}  .f-pt27 {padding-top: 27px !important;}  .f-mr27 {margin-right: 27px !important;}  .f-pr27 {padding-right: 27px !important;}  .f-mb27 {margin-bottom: 27px !important;}  .f-pb27 {padding-bottom: 27px !important;}  .f-ml27 {margin-left: 27px !important;}  .f-pl27 {padding-left: 27px !important;}
.f-mAll28 {margin: 28px !important;}  .f-pAll28 {padding: 28px !important;}  .f-mt28 {margin-top: 28px !important;}  .f-pt28 {padding-top: 28px !important;}  .f-mr28 {margin-right: 28px !important;}  .f-pr28 {padding-right: 28px !important;}  .f-mb28 {margin-bottom: 28px !important;}  .f-pb28 {padding-bottom: 28px !important;}  .f-ml28 {margin-left: 28px !important;}  .f-pl28 {padding-left: 28px !important;}
.f-mAll29 {margin: 29px !important;}  .f-pAll29 {padding: 29px !important;}  .f-mt29 {margin-top: 29px !important;}  .f-pt29 {padding-top: 29px !important;}  .f-mr29 {margin-right: 29px !important;}  .f-pr29 {padding-right: 29px !important;}  .f-mb29 {margin-bottom: 29px !important;}  .f-pb29 {padding-bottom: 29px !important;}  .f-ml29 {margin-left: 29px !important;}  .f-pl29 {padding-left: 29px !important;}
.f-mAll30 {margin: 30px !important;}  .f-pAll30 {padding: 30px !important;}  .f-mt30 {margin-top: 30px !important;}  .f-pt30 {padding-top: 30px !important;}  .f-mr30 {margin-right: 30px !important;}  .f-pr30 {padding-right: 30px !important;}  .f-mb30 {margin-bottom: 30px !important;}  .f-pb30 {padding-bottom: 30px !important;}  .f-ml30 {margin-left: 30px !important;}  .f-pl30 {padding-left: 30px !important;}
.f-mAll31 {margin: 31px !important;}  .f-pAll31 {padding: 31px !important;}  .f-mt31 {margin-top: 31px !important;}  .f-pt31 {padding-top: 31px !important;}  .f-mr31 {margin-right: 31px !important;}  .f-pr31 {padding-right: 31px !important;}  .f-mb31 {margin-bottom: 31px !important;}  .f-pb31 {padding-bottom: 31px !important;}  .f-ml31 {margin-left: 31px !important;}  .f-pl31 {padding-left: 31px !important;}
.f-mAll32 {margin: 32px !important;}  .f-pAll32 {padding: 32px !important;}  .f-mt32 {margin-top: 32px !important;}  .f-pt32 {padding-top: 32px !important;}  .f-mr32 {margin-right: 32px !important;}  .f-pr32 {padding-right: 32px !important;}  .f-mb32 {margin-bottom: 32px !important;}  .f-pb32 {padding-bottom: 32px !important;}  .f-ml32 {margin-left: 32px !important;}  .f-pl32 {padding-left: 32px !important;}
.f-mAll33 {margin: 33px !important;}  .f-pAll33 {padding: 33px !important;}  .f-mt33 {margin-top: 33px !important;}  .f-pt33 {padding-top: 33px !important;}  .f-mr33 {margin-right: 33px !important;}  .f-pr33 {padding-right: 33px !important;}  .f-mb33 {margin-bottom: 33px !important;}  .f-pb33 {padding-bottom: 33px !important;}  .f-ml33 {margin-left: 33px !important;}  .f-pl33 {padding-left: 33px !important;}
.f-mAll34 {margin: 34px !important;}  .f-pAll34 {padding: 34px !important;}  .f-mt34 {margin-top: 34px !important;}  .f-pt34 {padding-top: 34px !important;}  .f-mr34 {margin-right: 34px !important;}  .f-pr34 {padding-right: 34px !important;}  .f-mb34 {margin-bottom: 34px !important;}  .f-pb34 {padding-bottom: 34px !important;}  .f-ml34 {margin-left: 34px !important;}  .f-pl34 {padding-left: 34px !important;}
.f-mAll35 {margin: 35px !important;}  .f-pAll35 {padding: 35px !important;}  .f-mt35 {margin-top: 35px !important;}  .f-pt35 {padding-top: 35px !important;}  .f-mr35 {margin-right: 35px !important;}  .f-pr35 {padding-right: 35px !important;}  .f-mb35 {margin-bottom: 35px !important;}  .f-pb35 {padding-bottom: 35px !important;}  .f-ml35 {margin-left: 35px !important;}  .f-pl35 {padding-left: 35px !important;}
.f-mAll36 {margin: 36px !important;}  .f-pAll36 {padding: 36px !important;}  .f-mt36 {margin-top: 36px !important;}  .f-pt36 {padding-top: 36px !important;}  .f-mr36 {margin-right: 36px !important;}  .f-pr36 {padding-right: 36px !important;}  .f-mb36 {margin-bottom: 36px !important;}  .f-pb36 {padding-bottom: 36px !important;}  .f-ml36 {margin-left: 36px !important;}  .f-pl36 {padding-left: 36px !important;}
.f-mAll37 {margin: 37px !important;}  .f-pAll37 {padding: 37px !important;}  .f-mt37 {margin-top: 37px !important;}  .f-pt37 {padding-top: 37px !important;}  .f-mr37 {margin-right: 37px !important;}  .f-pr37 {padding-right: 37px !important;}  .f-mb37 {margin-bottom: 37px !important;}  .f-pb37 {padding-bottom: 37px !important;}  .f-ml37 {margin-left: 37px !important;}  .f-pl37 {padding-left: 37px !important;}
.f-mAll38 {margin: 38px !important;}  .f-pAll38 {padding: 38px !important;}  .f-mt38 {margin-top: 38px !important;}  .f-pt38 {padding-top: 38px !important;}  .f-mr38 {margin-right: 38px !important;}  .f-pr38 {padding-right: 38px !important;}  .f-mb38 {margin-bottom: 38px !important;}  .f-pb38 {padding-bottom: 38px !important;}  .f-ml38 {margin-left: 38px !important;}  .f-pl38 {padding-left: 38px !important;}
.f-mAll39 {margin: 39px !important;}  .f-pAll39 {padding: 39px !important;}  .f-mt39 {margin-top: 39px !important;}  .f-pt39 {padding-top: 39px !important;}  .f-mr39 {margin-right: 39px !important;}  .f-pr39 {padding-right: 39px !important;}  .f-mb39 {margin-bottom: 39px !important;}  .f-pb39 {padding-bottom: 39px !important;}  .f-ml39 {margin-left: 39px !important;}  .f-pl39 {padding-left: 39px !important;}
.f-mAll40 {margin: 40px !important;}  .f-pAll40 {padding: 40px !important;}  .f-mt40 {margin-top: 40px !important;}  .f-pt40 {padding-top: 40px !important;}  .f-mr40 {margin-right: 40px !important;}  .f-pr40 {padding-right: 40px !important;}  .f-mb40 {margin-bottom: 40px !important;}  .f-pb40 {padding-bottom: 40px !important;}  .f-ml40 {margin-left: 40px !important;}  .f-pl40 {padding-left: 40px !important;}
.f-mAll41 {margin: 41px !important;}  .f-pAll41 {padding: 41px !important;}  .f-mt41 {margin-top: 41px !important;}  .f-pt41 {padding-top: 41px !important;}  .f-mr41 {margin-right: 41px !important;}  .f-pr41 {padding-right: 41px !important;}  .f-mb41 {margin-bottom: 41px !important;}  .f-pb41 {padding-bottom: 41px !important;}  .f-ml41 {margin-left: 41px !important;}  .f-pl41 {padding-left: 41px !important;}
.f-mAll42 {margin: 42px !important;}  .f-pAll42 {padding: 42px !important;}  .f-mt42 {margin-top: 42px !important;}  .f-pt42 {padding-top: 42px !important;}  .f-mr42 {margin-right: 42px !important;}  .f-pr42 {padding-right: 42px !important;}  .f-mb42 {margin-bottom: 42px !important;}  .f-pb42 {padding-bottom: 42px !important;}  .f-ml42 {margin-left: 42px !important;}  .f-pl42 {padding-left: 42px !important;}
.f-mAll43 {margin: 43px !important;}  .f-pAll43 {padding: 43px !important;}  .f-mt43 {margin-top: 43px !important;}  .f-pt43 {padding-top: 43px !important;}  .f-mr43 {margin-right: 43px !important;}  .f-pr43 {padding-right: 43px !important;}  .f-mb43 {margin-bottom: 43px !important;}  .f-pb43 {padding-bottom: 43px !important;}  .f-ml43 {margin-left: 43px !important;}  .f-pl43 {padding-left: 43px !important;}
.f-mAll44 {margin: 44px !important;}  .f-pAll44 {padding: 44px !important;}  .f-mt44 {margin-top: 44px !important;}  .f-pt44 {padding-top: 44px !important;}  .f-mr44 {margin-right: 44px !important;}  .f-pr44 {padding-right: 44px !important;}  .f-mb44 {margin-bottom: 44px !important;}  .f-pb44 {padding-bottom: 44px !important;}  .f-ml44 {margin-left: 44px !important;}  .f-pl44 {padding-left: 44px !important;}
.f-mAll45 {margin: 45px !important;}  .f-pAll45 {padding: 45px !important;}  .f-mt45 {margin-top: 45px !important;}  .f-pt45 {padding-top: 45px !important;}  .f-mr45 {margin-right: 45px !important;}  .f-pr45 {padding-right: 45px !important;}  .f-mb45 {margin-bottom: 45px !important;}  .f-pb45 {padding-bottom: 45px !important;}  .f-ml45 {margin-left: 45px !important;}  .f-pl45 {padding-left: 45px !important;}
.f-mAll46 {margin: 46px !important;}  .f-pAll46 {padding: 46px !important;}  .f-mt46 {margin-top: 46px !important;}  .f-pt46 {padding-top: 46px !important;}  .f-mr46 {margin-right: 46px !important;}  .f-pr46 {padding-right: 46px !important;}  .f-mb46 {margin-bottom: 46px !important;}  .f-pb46 {padding-bottom: 46px !important;}  .f-ml46 {margin-left: 46px !important;}  .f-pl46 {padding-left: 46px !important;}
.f-mAll47 {margin: 47px !important;}  .f-pAll47 {padding: 47px !important;}  .f-mt47 {margin-top: 47px !important;}  .f-pt47 {padding-top: 47px !important;}  .f-mr47 {margin-right: 47px !important;}  .f-pr47 {padding-right: 47px !important;}  .f-mb47 {margin-bottom: 47px !important;}  .f-pb47 {padding-bottom: 47px !important;}  .f-ml47 {margin-left: 47px !important;}  .f-pl47 {padding-left: 47px !important;}
.f-mAll48 {margin: 48px !important;}  .f-pAll48 {padding: 48px !important;}  .f-mt48 {margin-top: 48px !important;}  .f-pt48 {padding-top: 48px !important;}  .f-mr48 {margin-right: 48px !important;}  .f-pr48 {padding-right: 48px !important;}  .f-mb48 {margin-bottom: 48px !important;}  .f-pb48 {padding-bottom: 48px !important;}  .f-ml48 {margin-left: 48px !important;}  .f-pl48 {padding-left: 48px !important;}
.f-mAll49 {margin: 49px !important;}  .f-pAll49 {padding: 49px !important;}  .f-mt49 {margin-top: 49px !important;}  .f-pt49 {padding-top: 49px !important;}  .f-mr49 {margin-right: 49px !important;}  .f-pr49 {padding-right: 49px !important;}  .f-mb49 {margin-bottom: 49px !important;}  .f-pb49 {padding-bottom: 49px !important;}  .f-ml49 {margin-left: 49px !important;}  .f-pl49 {padding-left: 49px !important;}
.f-mAll50 {margin: 50px !important;}  .f-pAll50 {padding: 50px !important;}  .f-mt50 {margin-top: 50px !important;}  .f-pt50 {padding-top: 50px !important;}  .f-mr50 {margin-right: 50px !important;}  .f-pr50 {padding-right: 50px !important;}  .f-mb50 {margin-bottom: 50px !important;}  .f-pb50 {padding-bottom: 50px !important;}  .f-ml50 {margin-left: 50px !important;}  .f-pl50 {padding-left: 50px !important;}


/*字体位置*/
.f-align-left {text-align: left;}
.f-align-right {text-align: right;}
.f-align-center,.center {text-align: center;}

.f-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.f-clearfix, .row {zoom: 1;}
.f-clearfix:after,
.row:after,
.f-clearfix:before,
.row:before {
  content: "";
  display: table;
}
.f-clearfix:after,
.row:after {
  content: "";
  clear: both;
  display: block;
}

.f-block {
  display: block;
  overflow: hidden;
}

.f-inlineblock {
  display: inline-block;
}

.f-omit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content-box {
  box-sizing: content-box;
}

.border-box {
  box-sizing: border-box;
}

.border-top-none {
  border-top: none;
}

.border-right-none {
  border-right: none;
}

.border-bottom-none {
  border-bottom: none;
}

.border-left-none {
  border-left: none;
}

.border-none {
  border: none !important;}
.u-line {
  display: block;
  border-bottom: 1px solid #eee;
}
/*** lzx 2019-07-17 end ***/

.ivu-select-input[disabled]{
  color:#666666 !important;
  -webkit-text-fill-color: #666666 !important;
}
.el-tree-node>.el-tree-node__children {
  overflow: initial;
}

/** $modal的按钮样式修改 */
.ivu-modal-confirm-footer {
  display: flex;
  flex-direction: row-reverse;
}
