// 主背景色
$mainBg:#fff;
// 输入框背景色
$inputBg:#fff;
// 输入框边框
$inputBorder:#d9d9d9;
// 大标题颜色
$titleColor:#333;
// placeholder
$placeholder:#c5c8ce;
// tree title and item bg
$itemBg: #191919;
// tree header bg
$treeHeaderColor:#fff;
// tree bg
$treeBg:#fff;
// tree item color
$treeText:#666;
// 选中和hover
$selectColor:#0893fd;
// darkBody
$darkBody:#0166b2;
// darkBody title
$darkBodyTitle:#fff;