/*--------------------------对iview样式的修改------------------------------------ */
.ivu-input:hover {
  border-color: #0893fd !important;
}

.ivu-checkbox:hover .ivu-checkbox-inner {
  border-color: #0893fd !important;
}

.ivu-btn-primary {
  /* background-color: #0893fd; */
  background-color: #0D867F;
  /* border-color: #0893fd; */
  border-color: #0D867F;
  margin-right: 10px;
}

.ivu-input[disabled],
fieldset[disabled] .ivu-input,
.ivu-select-disabled .ivu-select-selection {
  background-color: #ececec !important;
  color: #666666 !important;
  border-color: #d9d9d9 !important;
}

.ivu-page-item a,
.ivu-page-total,
.ivu-page-options-elevator {
  font-size: 14px;
}

.i-pageBody-content .ivu-input[disabled] {
  background-color: #ececec;
  color: #666666;
  border-color: #d9d9d9;
}

.ivu-icon .ivu-icon-ios-help-circle:before {
  font-size: 24px;
}

.ivu-table-stripe .ivu-table-body .ivu-table-tbody .ivu-table-row-highlight td,
.ivu-table .ivu-table-body .ivu-table-tbody .ivu-table-row-highlight td,
.ivu-table-stripe .ivu-table-body .ivu-table-tbody .ivu-table-stripe .ivu-table-body tr.ivu-table-row-highlight:nth-child(2n) td,
.ivu-table .ivu-table-body .ivu-table-tbody .ivu-table-stripe .ivu-table-body tr.ivu-table-row-highlight:nth-child(2n) td,
.ivu-table-stripe .ivu-table-body .ivu-table-tbody .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-highlight:nth-child(2n) td,
.ivu-table .ivu-table-body .ivu-table-tbody .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-highlight:nth-child(2n) td,
.ivu-table-stripe .ivu-table-body .ivu-table-tbody tr.ivu-table-row-highlight.ivu-table-row-hover td,
.ivu-table .ivu-table-body .ivu-table-tbody tr.ivu-table-row-highlight.ivu-table-row-hover td {
  background-color: #cfe9ff;
}

.ivu-table-stripe .ivu-table-body .ivu-table-tbody tr.ivu-table-row-hover td,
.ivu-table .ivu-table-body .ivu-table-tbody tr.ivu-table-row-hover td {
  background-color: #cfe9ff;
}

.ivu-table-row-highlight td,
.ivu-table-stripe .ivu-table-body tr.ivu-table-row-highlight:nth-child(2n) td,
.ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-highlight:nth-child(2n) td,
tr.ivu-table-row-highlight.ivu-table-row-hover td {
  background-color: #cfe9ff;
}

tr.ivu-table-row-hover td {
  background-color: #cfe9ff;
}

/*固定右侧table高度*/
.dark-table div.dark-table-elem .ivu-table-fixed-right {
  height: 100%;
}

.ivu-table-fixed-right .ivu-table-tbody .ivu-table-row-highlight td,
.ivu-table-fixed-right .ivu-table-tbody .ivu-table-stripe .ivu-table-body tr.ivu-table-row-highlight:nth-child(2n) td,
.ivu-table-fixed-right .ivu-table-tbody .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-highlight:nth-child(2n) td,
.ivu-table-fixed-right .ivu-table-tbody tr.ivu-table-row-highlight.ivu-table-row-hover td {
  background-color: #cfe9ff;
}

.ivu-table-fixed-right .ivu-table-tbody tr.ivu-table-row-hover td {
  background-color: #cfe9ff;
}

.i-table-no-border .ivu-table th {
  background-color: #fff;
}

.i-table-no-border .ivu-table-wrapper,
.i-table-no-border .ivu-table tr:last-child td {
  border: none;
}

.i-table-no-border .ivu-table:before,
.i-table-no-border .ivu-table:after {
  display: none;
}

.i-scrollbar-hide::-webkit-scrollbar {
  width: 0;
}

.i-scrollbar-hide::-webkit-scrollbar-track {
  background-color: transparent;
}

.i-scrollbar-hide::-webkit-scrollbar-thumb {
  background: #e8eaec;
}

.i-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.i-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.i-scrollbar::-webkit-scrollbar-thumb {
  background: #808695;
  border-radius: 4px;
}

/*--------------------------对具体页面样式的修改------------------------------------ */
.label_text_tip,
.label_text_simple {
  text-align: right;
}

.label_text_simple span {
  width: 100%;
  display: block;
  line-height: 32px;
  color: #191919;
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
}

.label_text_tip span {
  display: inline-block;
  line-height: 32px;
  color: #191919;
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
  position: relative;
}

.label_text_tip1 span {
  display: inline-block;
  line-height: 32px;
  color: #191919;
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
  position: relative;
}

.label_text_tip span::before {
  position: absolute;
  content: "*";
  color: #e82d2d;
  font-size: 16px;
  top: 2px;
  left: -10px;
}

.pdfBtn,
.wpsBtn {
  width: 26px;
  height: 28px;
  background: url(~@/assets/img/pdf.png);
  margin-left: 15px;
  cursor: pointer;
}

.wpsBtn {
  background: url(~@/assets/img/wps.png);
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.pos-r {
  position: relative;
}

.grid-main ::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

.grid-main ::-webkit-scrollbar-track {
  border-radius: 4px;
}

.grid-main ::-webkit-scrollbar-thumb {
  width: 10px;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  background: #bbb;
  background-clip: padding-box;
}

.grid-main ::-webkit-scrollbar-thumb:hover {
  background: #aaa;
  width: 10px;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  background-clip: padding-box;
}

.grid-main ::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.grid-main .ivu-card-body {
  padding: 15px;
}

.grid-main .m-breadcrumb {
  padding-bottom: 5px;
}

.grid-main .m-breadcrumb .ivu-card-body {
  padding: 10px 15px;
}

.m-query-form .ivu-form-item {
  margin-bottom: 0;
}

.m-query-form .btn-right {
  padding-top: 1px;
  float: right;
  padding-left: 10px;
  text-align: right;
}

.shadowBgc {
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.13);
}

.add_color.grid-content .grid-main .grid-main-inner>div {
  background-color: #fff;
}

.separater {
  height: 15px;
  width: 100%;
  background: #f3f3f3;
}

.reset-rate-style .ivu-rate-star-content:before,
.reset-rate-style .ivu-rate-star:before {
  font-size: 22px;
}

/* form表单副标题
 @author lqf
  @date 2019-10-29
*/
.row_title {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.row_title::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -10px;
  width: 5px;
  height: 25px;
  background-color: #2d8cf0;
}

.ivu-modal .ivu-modal-body .ivu-modal-confirm-head .ivu-modal-confirm-head-icon {
  vertical-align: sub;
}

.ivu-modal .ivu-modal-body .ivu-modal-confirm-head .ivu-modal-confirm-head-icon .ivu-icon {
  font-size: 20px;
}

.rate-size-resize .ivu-rate-star:before,
.rate-size-resize .ivu-rate-star-content:before {
  font-size: 20px;
}

.rate-size-resize .ivu-rate-text {
  font-size: 20px;
  vertical-align: middle;
}

.demo-spin-icon-load {
  animation: ani-demo-spin 1s linear infinite;
}

@keyframes ani-demo-spin {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.vue-treeselect__control {
  height: 30px;
  line-height: 30px;
}

.ivu-modal-header {
  height: 46px;
  padding: 14px 20px;
  border-bottom: 1px solid #c7c7c7;
}

.ivu-modal-close {
  right: 10px;
}

.ivu-modal-footer {
  height: 58px;
  line-height: 58px;
  padding: 0 20px;
}

.ivu-modal-footer {
  border-top: 1px solid #c7c7c7;
}

.ivu-modal-footer button {
  margin-right: 10px;
}

.ivu-modal-footer button:last-child {
  margin-right: 0;
}

.ivu-modal-footer button+button {
  margin-left: 0;
}

.ivu-modal-close .ivu-icon-ios-close {
  top: -1px;
}

.ivu-modal-mask {
  background: rgba(0, 0, 0, 0.4);
}

.ivu-tabs .dark-table {
  padding: 15px 10px 0 !important;
}

.anchorBL {
  display: none;
}

/*时间选择样式*/
/deep/ .ivu-date-picker {
  width: 100%;
}

.vue-treeselect .vue-treeselect__control {
  height: 30px !important;
}

.vue-treeselect .vue-treeselect__control .vue-treeselect__placeholder,
.vue-treeselect .vue-treeselect__control .vue-treeselect__single-value {
  line-height: 30px;
}

/*** luoyt 2020-04-30 start ***/
.m-query-line {
  padding-bottom: 3px;
  box-sizing: content-box;
  padding-top: 1px;
}

.m-query-line /deep/ .vue-treeselect .vue-treeselect__control {
  border-radius: 4px;
  line-height: 26px !important;
  height: 26px !important;
}

.m-query-line /deep/ .vue-treeselect__placeholder {
  color: #bdbdbd;
  height: 28px;
  line-height: 28px;
}

.m-query-line /deep/ .vue-treeselect__control input[type="text"]:focus,
.m-query-line /deep/ .vue-treeselect__control input[type="password"]:focus,
.m-query-line /deep/ .vue-treeselect__control select:focus {
  border-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.m-query-line /deep/ .ivu-form-item-content {
  line-height: 28px;
  height: 28px;
}

.m-query-line /deep/ .vue-treeselect__single-value {
  line-height: 28px;
}

.m-query-line /deep/ .ivu-form .ivu-form-item-label {
  line-height: 28px;
  height: 28px;
  padding: 1px 12px 0px 0;
}

.m-query-line .ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.m-query-line .ivu-select-single .ivu-select-selection .ivu-select-selected-value,
.m-query-line .ivu-select-single .ivu-select-input {
  height: 28px;
  line-height: 28px;
}

.m-query-line .ivu-select-single .ivu-select-selection {
  height: 28px;
}

.m-query-line .ivu-input {
  height: 28px;
  border-radius: 4px;
}

.m-query-line .ivu-input-prefix i,
.m-query-line .ivu-input-suffix i {
  line-height: 28px;
}

.m-query-line .ivu-btn-icon-only {
  height: 28px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-query-line .ivu-btn {
  height: 28px;
}

/*** luoyt 2020-04-30 end ***/
.ivu-tabs .m-query-form {
  padding-top: 0;
}

.energyConsumption-separator {
  height: 2px;
  background-color: #eee;
  margin-right: 10px;
  margin-top: 15px;
}

.grid-main .ivu-tabs-nav .ivu-tabs-tab {
  font-size: 16px !important;
  line-height: 1;
}

.grid-main .ivu-tabs-nav-scroll .ivu-tabs-nav {
  height: 58px !important;
  line-height: 58px;
}

.radio-button.ivu-radio-group-button .ivu-radio-wrapper {
  height: 30px;
  width: 33%;
  text-align: center;
  line-height: 30px;
}

/* .ivu-radio-group-button .ivu-radio-wrapper:first-child {
  border-radius: 50px 0 0 50px;
}

.ivu-radio-group-button .ivu-radio-wrapper:last-child {
  border-radius: 0 50px 50px 0;
} */
/* 
.ivu-radio-group-button .ivu-radio-wrapper-checked {
  background: #2d8cf0;
  color: #fff;
  font-size: 14px;
} */

.ivu-radio-group {
  width: 360px;
}

.tree-title {
  display: flex;
}

.tree-title::before {
  content: "";
  display: inline-block;
  align-self: center;
  width: 4px;
  height: 15px;
  background: #2d8cf0;
  margin-right: 6px;
}