/*  弹窗样式 */
/deep/ .ivu-modal-header {
  /*border-bottom: 1px solid #e8eaec;*/
  position: relative;
  padding: 20px;
  line-height: 1;
  /*background-color: #015a9d;*/
  /*border-radius: 6px 6px 0 0;*/
  /*border-bottom: 1px solid rgba(223, 222, 222, 0.4);*/
}
/deep/ .ivu-modal-header:before {
  /*content: "";
  position: absolute;
  width: 4px;
  height: 14px;
  background: rgba(255, 255, 255, 1);
  top: 20px;
  left: 20px;*/
}
/deep/ .ivu-modal-header p,
/deep/ .ivu-modal-header-inner {
  /*display: inline-block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;*/
}

/deep/ .ivu-modal-close .ivu-icon-ios-close {
  /*color: #fff;*/
  /*font-weight: bold;*/
}
/deep/ .ivu-modal-close .ivu-icon-ios-close:hover {
  /*color: #fff;*/
}
/deep/ .ivu-modal-body {
  /*padding: 20px;*/
}
/deep/ .ivu-modal-content .ivu-modal-footer .ivu-btn {
  /*width: 80px;
  height: 35px;
  border: 1px solid #ccc;*/
}

/deep/ .ivu-modal-content .ivu-btn-text {
  /*background-color: #fff;*/
}

/deep/ .ivu-modal-footer {
  /*padding: 9px 18px 10px 10px;
  background-color: #f7f7f7;
  border-top: 1px solid transparent;
  border-radius: 0 0 6px 6px;*/
}

/deep/ .ivu-modal-content .ivu-form-item-content {
  width: auto;
}

/deep/ .ivu-modal-content .ivu-form-inline .ivu-form-item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  width: 23%;
}

/deep/ .ivu-modal-content .ivu-col-span-11 {
  display: block;
  width: 100%;
}
