
/deep/ .ivu-table th {
  /*background:rgba(250,250,250,1);*/
  /*color:#333333;*/
  /*border:1px solid rgba(231,231,231,1);*/
  /*font-size: 14px;*/
  /*font-weight: bold;*/
  /*height: 38px;*/
  /*border-left: 1px solid rgba(231,231,231,1);
  border-bottom: 0px solid rgba(231,231,231,1);*/
}
/deep/ .ivu-table th:nth-child(1) ,
/deep/ .ivu-table td:nth-child(1) {

  /*border-left: 0px solid rgba(231,231,231,1);*/
}
/deep/ .ivu-table td {
  /*background-color: #f8f8f8;*/
  height: 36px;
  /*color:#666;*/
  /*border-left: 1px solid rgba(231,231,231,1);
  border-top: 1px solid rgba(231,231,231,1);*/
}
/deep/ .ivu-table td,
.ivu-table th {
  /*border-bottom: 0px solid #e8eaec;*/
}
/deep/ .ivu-page-item-active {
  border-color: #2d8cf0;
  background-color: #2d8cf0;
}
/deep/ .ivu-page-item-active a {
  color: #fff;
}
/deep/ .ClientNegotiation_bgc .ivu-icon.ivu-icon-ios-checkmark-circle {
  color: #999999;
}

/deep/ .ivu-table-stripe .ivu-table-body tr:nth-child(2n) td,
.ivu-table-stripe .ivu-table-fixed-body tr:nth-child(2n) td {
  /*background-color: #fff;*/
}
/deep/ .ivu-table-cell .ivu-icon.ivu-icon-ios-trash-outline {
  /*margin-left: 10px;*/
}
/deep/ .ivu-table-cell.ivu-table-cell-with-selection {
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
}
/deep/ .ivu-table-cell {
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
  /*overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
  box-sizing: border-box;*/
}
/deep/ .ivu-form-item {
  margin-bottom: 10px;
}
/deep/ .ivu-radio-wrapper,
.ivu-checkbox-wrapper {
  margin-right: 50px;
}
/deep/ .ivu-checkbox-group-item {
  margin-bottom: 5px;
}
/deep/ .ivu-icon-ios-person-outline {
  font-size: 30px;
}
/deep/ .ivu-input[disabled],
fieldset[disabled] .ivu-input {
  color: #666;
}
/deep/ .ivu-table-tip table tr td {
  text-align: center;
  background-image: url("~@/assets/img/zwsj.png");
  background-position: center 60px;
  background-repeat: no-repeat;
  color: #999;
  height: 360px;
  background-size: 190px;
}
/deep/ .ivu-table-tip table tr td span {
  display: none
}

/*单位树样式*/
/deep/ .ivu-input-group-prepend,/deep/ .ivu-input-group-append{padding: 3px 7px;}
/deep/ .vue-treeselect__control,/deep/ .vue-treeselect__placeholder,/deep/ .vue-treeselect__single-value {height: 26px;line-height: 26px;}
/*时间选择样式*/
/deep/ .ivu-date-picker{width: 100%;}
