<!-- 剖面图 -->
<template>
  <BaseModal :visible="visible" @on-cancel="cancel" type="profile">
    <!-- 头部分 -->
    <div class="profile-main-wrap">
      <div class="profile-header-wrap">剖面图</div>

      <div class="profile-main">
        <div class="main-left">
          <div
            :class="`left-item ${index === currentId ? 'hover' : ''}`"
            v-for="(menu, index) in dljMenus"
            @click="handleMenu(menu, index)"
            :title="menu.name"
          >
            {{ menu.name || "--" }}
          </div>
        </div>
        <div class="main-right">
          <!--图列说明 -->
          <div class="tuple">
            <div class="tuple-title">图列</div>
            <div class="tuple-item" v-for="tuple in tupleList">
              <div class="round" :style="`background-color: ${tuple.color}`"></div>
              {{ tuple.label }}
            </div>
          </div>
          <div class="dlj-details">
            <div :class="`dlj-wrap-top ${positionEnum[dlj.position]}`" v-for="(dlj, index) in dljList">
              <div class="dlj-name">{{ dlj.name }}</div>
              <div class="dlj-wrap">
                <div
                  class="dlj-item"
                  v-for="sub in dlj.holesList"
                  :id="`dljItem${index}${sub.num}`"
                  :style="`background-color:${sub.used ? 'yellow' : '#fff'};left:${sub.elex / 4}px;top:${
                    sub.eley / 4
                  }px`"
                >
                  {{ sub.num }}
                </div>
              </div>
            </div>
            <!-- 中间白点 -->
            <div class="white-center"></div>
          </div>
        </div>
      </div>
    </div>
  </BaseModal>
</template>

<script>
import BaseModal from "../../templates/baseModal/index";
import { mapState, mapMutations } from "vuex";
import UploadFile from "@/components/uploadFile";
import _ from "lodash";
import systemApi from "@/api/system";

export default {
  data() {
    return {
      orgProps: undefined, // 上层数据
      visible: false,
      currentId: undefined,
      line: undefined,
      tupleList: [
        {
          label: "已穿孔",
          color: "yellow",
        },
        {
          label: "未穿孔",
          color: "#d0d0c4",
        },
      ],
      dljMenus: [],
      dljList: [],
      positionEnum: {
        正北: "top",
        正南: "bottom",
        正西: "left",
        正东: "right",
        西北: "left-top",
        东北: "right-top",
        西南: "left-bottom",
        东南: "right-bottom",
      },
    };
  },
  computed: {
    ...mapState("admin/map", ["publicParams"]),
  },
  components: {
    BaseModal,
    UploadFile,
  },
  methods: {
    ...mapMutations("admin/map", ["setState"]),
    handleMenu(item, index) {
      // 1. item 显示
      this.currentId = index;
      if (item.startNum && item.endNum) {
        // 2. 画线
        this.lineShow(`dljItem0${item.startNum}`, `dljItem1${item.endNum}`);
      } else {
        this.$Message.info("暂无连接的穿孔!");
      }
    },
    cancel() {
      this.visible = false;
    },
    getWellSections() {
      systemApi.getWellSections(this.orgProps.id).then((res) => {
        if (!_.isEmpty(res)) {
          this.dljMenus = res;
          console.log(" this.dljMenus ", this.dljMenus);
          // 默认第一个选中 连线
          this.$nextTick(() => {
            this.handleMenu(res[0], 0);
          });
        }
      });
    },

    getWellSectionHoles() {
      const that = this;
      systemApi.getWellSectionHoles(this.orgProps.id).then((res) => {
        if (!_.isEmpty(res)) {
          this.dljList = res;
          that.$nextTick(() => {
            this.getWellSections();
          });
        }
      });
    },
    handleSave() {},
    lineShow(startId, endId) {
      console.log("lineShow", startId, endId, " this.line", this.line);
      // 如果存在 先删除已存在的线
      if (this.line) {
        this.line.remove();
      }

      // 控制线条的显示和隐藏
      let line = new LeaderLine(document.getElementById(startId), document.getElementById(endId), {
        hide: true,
        color: "red",
        size: 8,
        startPlug: "behind",
        endPlug: "behind",
        dash: true,
        size: 4,
      });
      line.show("draw", { duration: 1000, timing: [0.58, 0, 0.42, 1] });
      this.line = line;
    },
  },
  watch: {
    visible(val) {
      if (val) {
        this.getWellSectionHoles();
      } else {
        if (this.line) {
          this.line.remove();
          this.line = undefined;
        }
      }
    },
  },
};
</script>

<style lang="scss">
.profile-main-wrap {
  display: flex;
  flex-direction: column;
  height: 650px;

  .profile-header-wrap {
    font-size: 18px;
    padding-left: 20px;
    color: #0d867f;
    font-weight: 600;
    display: flex;
    height: 60px;
    align-items: center;
    background: #eefffe;
    width: 100%;
  }

  .profile-main {
    flex: 1;
    display: flex;
    .main-left {
      flex: 2;
      display: flex;
      flex-direction: column;
      border-right: 1px solid rgb(217, 217, 217);
      padding-top: 15px;
      padding-left: 10px;

      .left-item {
        height: 30px;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        line-height: 30px;
        width: 300px;
        text-overflow: ellipsis;
        flex-shrink: 0;
        padding-left: 10px;
        border-bottom: 1px dashed rgb(217, 217, 217);
        &:last-child {
          border-bottom: none;
        }

        &.hover {
          color: rgba(13, 134, 127, 1);
          border: 1px dashed rgba(13, 134, 127, 1);
        }

        &:hover {
          background-color: rgba(13, 134, 127, 0.1);
        }
      }
    }

    .main-right {
      flex: 5;
      background-color: #333;
      display: flex;
      flex-direction: column;

      .tuple {
        display: flex;
        border: 1px solid yellow;
        height: 50px;
        &-title {
          color: #fff;
          font-size: 16px;
          border-right: 1px solid yellow;
          line-height: 50px;
          padding: 0 10px;
        }
        &-item {
          display: flex;
          align-items: center;
          color: #fff;
          padding: 0 10px;
          .round {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            margin-right: 5px;
          }
        }
      }

      .dlj-details {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        .white-center {
          position: absolute;
          width: 20px;
          height: 20px;
          background-color: #fff;
          border-radius: 50%;
          left: 50%;
          top: 50%;
        }
      }

      .dlj-wrap-top {
        display: flex;
        flex-direction: column;
        &.left-top {
          position: absolute;
          left: 0;
          top: 0;
        }
        &.top {
          position: absolute;
          top: 0;
        }
        &.right-bottom {
          position: absolute;
          right: 0;
          bottom: 0;
        }
        &.left-bottom {
          position: absolute;
          left: 0;
          bottom: 0;
        }
        &.left {
          position: absolute;
          left: 0;
        }
        &.right {
          position: absolute;
          right: 0;
        }
        &.right-top {
          position: absolute;
          right: 0;
          top: 0;
        }
        &.bottom {
          position: absolute;
          bottom: 0;
        }
        .dlj-name {
          text-align: center;
          color: #fff;
        }
      }

      .dlj-wrap {
        border: 1px solid yellow;
        padding: 10px;
        height: 125px;
        width: 240px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        position: relative;

        .dlj-item {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: antiquewhite;
          line-height: 14px;
          text-align: center;
          font-size: 12px;
          position: absolute;
        }
      }
    }
  }
}
.leader-line {
  z-index: 99999;
}

/deep/ .ivu-modal-wrap {
  overflow: hidden;
}
</style>
