<!--
    字典组件
-->
<template>
  <div>
    <!--下拉框 -->
    <Select
      filterable
      transfer
      @on-change="handlerChange"
      v-if="showType === 'select'"
      :value="value"
    >
      <Option v-for="item in codeData" :key="item.id" :value="item.codeValue">{{
        item.codeName
      }}</Option>
    </Select>

    <!--tabs组件 -->
    <Tabs
      :animated="false"
      @on-click="handlerChange"
      v-if="showType === 'tabs'"
      :value="value"
    >
      <TabPane label="全部" name=""> </TabPane>
      <TabPane
        v-for="item in codeData"
        :key="item.id"
        :label="item.codeName"
        :name="item.codeValue"
      >
      </TabPane>
    </Tabs>

    <!--RadioGroup组件 -->
    <RadioGroup
      v-if="showType === 'RadioGroup'"
      @on-change="handlerChange"
      :value="value"
    >
      <Radio
        v-for="item in codeData"
        :key="item.codeValue"
        :label="item.codeValue"
        >{{ item.codeName }}</Radio
      >
    </RadioGroup>
  </div>
</template>

<script>
import system from "@/api/system";

export default {
  name: "search",
  props: {
    id: {
      type: Number,
      default: 1, // 1:保电等级; 4:任务类型; 5:专业; 6:任务状态; 9:模拟类型
    },
    showType: {
      type: String,
      default: "select", // select: 单选框; tabs:当选tab RadioGroup:
    },
    onCustomResult: {
      type: Function || undefined,
      default: undefined,
    },
    value: {
      type: String | Number | Array,
      default: undefined,
    },
  },
  data: function () {
    return {
      codeData: [],
    };
  },
  created() {
    this.getCodeList(this.id);
  },
  methods: {
    getCodeList(id) {
      system.codeApi
        .getCodeList({
          codeSortId: id,
        })
        .then((rt) => {
          if (this.onCustomResult) {
            this.codeData = this.onCustomResult(rt.result.codes);
          } else {
            this.codeData = rt.result.codes;
          }
        });
    },
    handlerChange(val) {
      console.log("1111", val);
      this.$emit("input", val);
      this.$emit("on-click", val);
    },
  },
};
</script>

<style>
</style>
