<!-- 电缆井弹框 -->
<template>
  <BaseModal :visible="publicParams.bdDljVisible" @on-cancel="cancel">
    <!-- 头部分 -->
    <div class="body-main-wrap">
      <div class="header-wrap">
        <span class="label-name">{{ (publicParams && publicParams.params && publicParams.params.text) || "-" }}</span>
      </div>
      <!-- 主体部分 -->
      <BaseForm ref="baseFormRef" v-if="publicParams.bdDljVisible" />

      <!-- 是否可编辑 -->
      <div class="floor-wrap">
        <Button type="primary" v-auth="'map:edit'" @click="handleSave" size="small" style="width: 120px; height: 35px"
          >保存</Button
        >
      </div>
    </div>

    <ConnectorModal ref="connectorRef" />
  </BaseModal>
</template>

<script>
import BaseModal from "../../templates/baseModal/index";
import { mapState, mapMutations } from "vuex";
import UploadFile from "@/components/uploadFile";
import _ from "lodash";
import BaseForm from "../../components/baseForm";
import systemApi from "@/api/system";
import ConnectorModal from "../../components/connectorModal";

export default {
  data() {
    return {
      formInline: {},
      types: [],
      value: "",
      detail: {},
    };
  },
  computed: {
    ...mapState("admin/map", ["publicParams", "astTreeList"]),
    baseFormList() {
      const that = this;
      return [
        {
          prop: "name",
          label: "名字",
          type: "input",
        },
        {
          prop: "type",
          label: "井类型",
          type: "input",
        },
        {
          prop: "depth",
          label: "井深(米)",
          type: "input",
        },
        {
          prop: "len",
          label: "井长(米)",
          type: "input",
        },
        {
          prop: "longitude",
          label: "经度",
          type: "input",
          customSetStr: "address.longitude",
        },
        {
          prop: "latitude",
          label: "纬度",
          type: "input",
          customSetStr: "address.latitude",
        },
        {
          prop: "lineNames",
          label: "所在线路",
          type: "input",
          disabled: true,
        },
        {
          prop: "id",
          label: "ID",
          type: "input",
          disabled: true,
        },
        {
          prop: "infoSource",
          label: "信息来源",
          type: "input",
        },
        {
          prop: "astOrg",
          label: "资产单位",
          type: "treeSelect",
          treeList: this.astTreeList,
          orderProp: "astOrgName",
        },
        {
          prop: "constructionManufacturer",
          label: "施工单位",
          type: "input",
        },
        {
          prop: "remark",
          label: "详情备注",
          type: "input",
        },
        {
          label: "剖面",
          type: "profile",
        },
        {
          label: "附件",
          type: "upload",
          prop: "attachmentId",
        },
        {
          label: "中接头",
          type: "connector",
          prop: "wellId",
          required: true,
          onChange(val, list, item) {
            that.$refs.connectorRef.wellId = that.publicParams.params.id;
            that.$nextTick(() => {
              that.$refs.connectorRef.visible = true;
            });
          },
        },
      ];
    },
  },
  components: {
    BaseModal,
    UploadFile,
    BaseForm,
    ConnectorModal,
  },
  watch: {
    "publicParams.bdDljVisible"(val) {
      if (val) {
        // 原始参数设置
        this.$nextTick(() => {
          this.$refs.baseFormRef.orgParams = this.publicParams.params;
          this.$refs.baseFormRef.transformToRules(this.baseFormList);
          this.getWellById();
        });
      }
    },
  },
  methods: {
    ...mapMutations("admin/map", ["setState"]),
    cancel() {},
    getWellById() {
      systemApi.getWellById(this.publicParams.params.id).then((res) => {
        if (res.code == 200) {
          let data = res.data;
          this.detail = data;
          this.$refs.baseFormRef.baseForm = {
            ...data,
            longitude: data.address.longitude,
            latitude: data.address.latitude,
            lineNames: data.lines.map((res) => res.lineName).join(","),
            id: String(data.id),
            attachmentId: String(data.attachmentId),
          };
        }
      });
    },
    handleSave() {
      const that = this;
      this.$refs.baseFormRef.submit().then((params) => {
        // 请求地址
        if (params) {
          systemApi.editWell(params).then((res) => {
            if (res.code == 200) {
              this.$Message.success("保存成功!");
              // 关闭弹层
              that.setState({
                publicParams: {
                  bdDljVisible: false,
                  params: {}, //参数
                  type: "bdDlj",
                },
              });
            }
          });
        }
      });
    },
    transformToTree(list) {
      const that = this;
      list.forEach((res) => {
        res.title = res.label;
        res.expand = true;
        res.value = String(res.code);
        res.checked = false;
        if (!_.isEmpty(res.children)) {
          that.transformToTree(res.children);
        }
      });
    },
    getDeptTree() {
      systemApi.deptTree().then((res) => {
        if (res.code == 200) {
          let trees = res.data;
          this.transformToTree(trees);

          this.setState({
            astTreeList: trees,
          });
        }
      });
    },
  },

  created() {
    this.getDeptTree();
  },
};
</script>

<style lang="scss" scoped>
.body-main-wrap {
  display: flex;
  flex-direction: column;
  height: 600px;

  .header-wrap {
    display: flex;
    height: 60px;
    align-items: center;
    background: #eefffe;
    width: 100%;
    .station-info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0 20px;
      border: 1px solid #e4e1e1;
      height: 80px;
      padding: 0 40px;
      .label-wrap {
        display: flex;
        justify-content: space-between;
        .label {
          font-size: 16px;
          color: #333;
          margin-right: 25px;
        }
        .type {
          font-size: 16px;
          color: #0d867f;
        }
      }
    }
  }

  .vertical-line {
    width: 0;
    height: 30px;
    border-left: 5px solid #23aea4;
  }

  .label-name {
    font-size: 18px;
    margin-left: 20px;
    color: #0d867f;
    font-weight: 600;
  }

  .floor-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
}
</style>
