<!--
    系统默认树
-->

<template>
  <div class="tree-wrap">
    <div class="flex" v-if="showSearch">
      <Input type="text" v-model.trim="filterText" placeholder="请输入" />
      <Button type="primary" @click="searchTree">查询</Button>
    </div>
    <el-tree
      ref="tree"
      class="tree"
      node-key="id"
      :default-expand-all="true"
      :filter-node-method="filterNode"
      :data="treeData"
      @node-click="handlerTreeNode"
      :expand-on-click-node="false"
      :current-node-key="currentId"
      :show-checkbox="isShowCheckbox"
      @check="handleCheck"
      :highlight-row="highlightRow"
      multiple
    >
      <span slot-scope="{ node, data }">
        <span>{{ node.label }}</span>
        <span v-if="isShowLevel" class="deviceGrade">
          <Tag v-if="data.deviceGrade == '01'" color="red">特级</Tag>
          <Tag v-if="data.deviceGrade == '02'" color="blue">一级</Tag>
          <Tag v-if="data.deviceGrade == '03'" color="green">二级</Tag>
        </span>
      </span>
    </el-tree>
  </div>
</template>

<script>
import szhbd from "@/api/szhbd";

export default {
  name: "systemTree",
  props: {
    id: {
      type: String,
      default: "id",
    },
    isShowCheckbox: {
      type: Boolean,
      default: false,
    },
    isShowLevel: {
      type: Boolean,
      default: false,
    },
    targetId: {
      type: String,
      default: "",
    },
    activityId: {
      type: String,
      default: "",
    },
    showSearch: {
      type: Boolean,
      default: false,
    },
    highlightRow: {
      type: Boolean,
      default: false,
    },
    initId: {
      type: String | undefined,
      default: undefined,
    },
  },
  data: function () {
    return {
      treeData: [],
      filterText: "",
      allNodeList: [],
      currentId: "",
    };
  },
  mounted() {
    if (this.activityId) {
      this.selectRargeMap(this.activityId);
    }
    if (this.targetId) {
      this.selectByTargetIdRMap(this.activityId);
    }
  },
  watch: {
    activityId(id) {
      if (id) {
        this.selectRargeMap(id);
      }
    },
    targetId(id) {
      if (id) {
        this.selectByTargetIdRMap(id);
      }
    },
    initId(val) {
      if (val) {
        this.$nextTick(() => {
          setTimeout(() => {
            this.currentId = val;
            this.$refs.tree.setCurrentKey(val);
          }, 500);
        });
      }
    },
  },
  methods: {
    searchTree() {
      this.$refs.tree.filter(this.filterText);
    },
    filterNode(value, data) {
      if (!value) return true;
      return data.label.indexOf(value) !== -1;
    },
    handlerTreeNode(item) {
      const {
        targetId,
        professionType,
        deviceId,
        deviceType,
        distribution,
        deviceName,
        id,
      } = item;
      const params = {
        deviceName,
      };
      params.targetId = targetId;

      if (professionType) {
        params.professionType = professionType;
      }
      if (String(distribution)) {
        params.distribution = distribution;
      }
      if (deviceId && deviceType) {
        params.deviceId = deviceId;
        params.deviceType = deviceType;
      }

      if (id) {
        params.professionId = id;
      }

      this.treeNodeObject = params;
      console.log("111", id);
      this.currentId = id;
      this.$emit("input", params);
      this.$emit("onNodeClick", params);
    },
    handleCheck(data, nodes) {
      this.$emit("on-check", {
        data,
        nodes,
      });
    },
    //根据targetId获取数据
    selectByTargetIdRMap(id) {
      szhbd.activityApi
        .selectByTargetIdRMap({
          targetId: this.targetId,
        })
        .then((res) => {
          console.log("根据targetId获取数据", res.result);
          this.dealWithData(res.result.bdTargetVOList);
        });
    },
    /**
     * 树形数据
     */
    selectRargeMap(id) {
      szhbd.activityApi
        .selectRargeMap({
          activityIds: id,
        })
        .then((res) => {
          this.dealWithData(res.result.bdTargetVOList);
        });
    },
    //处理数据
    dealWithData(data) {
      let treeData = [];
      let allNodeList = [];
      data.forEach((bdTarget) => {
        bdTarget.transmissionList.forEach((item) => {
          item.label = item.deviceName;
          item.professionType = "01";
          item.deviceTypeLevel = "01";
          item.distribution = 1;
          item.targetId = bdTarget.targetId;
        });
        bdTarget.substationList.forEach((item) => {
          item.label = item.deviceName;
          item.professionType = "02";
          item.deviceTypeLevel = "02";
          item.distribution = 1;
          item.targetId = bdTarget.targetId;
          item.children = item.substationList;
          item.children.forEach((item2) => {
            item2.label = item2.deviceName;
            item2.deviceTypeLevel = "02";
            item2.targetId = bdTarget.targetId;
            item2.distribution = 1;
            item2.professionType = "02";
          });
        });
        bdTarget.mediumVoltageList.forEach((item) => {
          item.label = item.deviceName;
          item.professionType = "03";
          item.deviceTypeLevel = "03";
          item.distribution = 0;
          item.targetId = bdTarget.targetId;
          item.children = item.jrdList;
          item.children.forEach((item2) => {
            item2.label = item2.deviceName;
            item2.distribution = 0;
            item2.professionType = "03";
            item2.deviceTypeLevel = "04";
            item2.targetId = bdTarget.targetId;
          });
        });
        treeData.push({
          label: bdTarget.consName,
          targetId: bdTarget.targetId,
          id: "0",
          children: [
            {
              label: "输电",
              professionType: "01",
              children: bdTarget.transmissionList,
              id: "01",
            },
            {
              label: "变电",
              professionType: "02",
              children: bdTarget.substationList,
              id: "02",
            },
            {
              label: "中压线路",
              professionType: "03",
              children: bdTarget.mediumVoltageList,
              id: "03",
            },
          ],
        });

        allNodeList = allNodeList.concat([
          ...bdTarget.transmissionList,
          ...bdTarget.substationList,
          ...bdTarget.mediumVoltageList,
        ]);
      });
      this.treeData = treeData;
      this.allNodeList = allNodeList;
    },
    //刷新树
    refresh() {
      this.selectRargeMap(this.activityId);
    },
  },
};
</script>

<style scoped lang="scss">
.tree-wrap {
  height: 100%;
  width: 100%;

  /deep/ .is-current > .el-tree-node__content {
    background-color: #0d867f4d !important;
  }
}
.deviceGrade {
  display: inline-block;
  /* border: 1px solid #ccc; */
}
</style>
