<template>
  <Modal
    :mask-closable="false"
    :title="title"
    v-model="visible"
    width="1200px"
    @on-cancel="cancel"
  >
    <div v-if="this.type == '02'">
      <Select
        v-model="subName"
        placeholder="请选择变电站"
        clearable
        style="width: 200px"
      >
        <Option
          v-for="item in subNameList"
          :value="item.subName"
          :key="item.subName"
          >{{ item.subName }}</Option
        >
      </Select>
    </div>
    <div v-if="this.type == '03'">
      <Select
        v-model="orgName"
        placeholder="请选择区域"
        clearable
        style="width: 200px"
      >
        <Option
          v-for="item in orgNameList"
          :value="item.orgName"
          :key="item.orgName"
          >{{ item.orgName }}</Option
        >
      </Select>
      <Select
        v-model="rangeType"
        placeholder="请选择线路"
        clearable
        style="width: 200px"
      >
        <Option
          v-for="item in rangeTypeList"
          :value="item.rangeType"
          :key="item.rangeType"
          >{{ item.rangeType }}</Option
        >
      </Select>
    </div>
    <dark-table
      :tableColumns="columnsList"
      :tableData="fliterDataList"
      :isloading="loading"
      :isHideExport="true"
      :tableHeight="500"
    >
    </dark-table>

    <div slot="footer">
      <Button type="primary" @click="ok">确定</Button>
      <Button @click="cancel">取消</Button>
    </div>
  </Modal>
</template>

<script>
import { uniqBy } from 'lodash'
import szhbd from "@/api/szhbd";
export default {
  data() {
    return {
      title: '',
      visible: false,
      dataList: [],
      loading: false,
      type: null,

      subName: null,
      subNameList: [],
      orgName: null,
      orgNameList: [],
      rangeType: null,
      rangeTypeList: [],
    }
  },
  computed: {
    columnsList: function () {
      if (this.type == "01") {
        this.title = '配电-备品备件阈值设定'
        return [
          { title: "序号", width: 70, type: "index", align: "center" },
          { title: "保电对象", key: "objectName", align: "center", tooltip: true },
          { title: "线路名称", key: "resourceName", align: "center", tooltip: true },
          { title: "设备类型", key: "deviceType", align: "center", tooltip: true },
          { title: "保电资源名称", key: "resourceName", align: "center", tooltip: true },
          { title: "涉保电站配置标准", key: "configStandard", align: "center", tooltip: true, },
          { title: "应配备数量", key: "ypbs", align: "center", tooltip: true },
          {
            title: "预警阀值", key: "warningThreshold", align: "center", tooltip: true,
            render: (h, params) => {
              return <InputNumber
                min={0}
                id={'InputNumber' + params.row.id}
                value={params.row.warningThreshold}
                onOn-change={(val) => {
                  let item = this.dataList.find(item => item.id == params.row.id)
                  item.warningThreshold = val
                  setTimeout(() => {
                    document.getElementById('InputNumber' + params.row.id).getElementsByTagName('input')[0].focus()
                  }, 100)
                }}
              ></InputNumber>
            }
          },
        ]
      } else if (this.type == "02") {
        this.title = '变电-备品备件阈值设定'
        return [
          { title: "序号", width: 70, type: "index", align: "center" },
          { title: "变电站名称", key: "subName", align: "center", width: 140, },
          { title: "设备类型", key: "deviceType", align: "center", tooltip: true },
          { title: "保电资源名称", key: "resourceName", align: "center", tooltip: true },
          { title: "涉保电站配置标准", key: "configStandard", align: "center", tooltip: true, },
          { title: "应配备数量", key: "ypbs", align: "center", tooltip: true },
          {
            title: "预警阀值", key: "warningThreshold", align: "center", tooltip: true,
            render: (h, params) => {
              return <InputNumber
                min={0}
                id={'InputNumber' + params.row.id}
                value={params.row.warningThreshold}
                onOn-change={(val) => {
                  let item = this.dataList.find(item => item.id == params.row.id)
                  item.warningThreshold = val
                  setTimeout(() => {
                    document.getElementById('InputNumber' + params.row.id).getElementsByTagName('input')[0].focus()
                  }, 100)
                }}
              ></InputNumber>
            }
          },
        ]
      } else if (this.type == "03") {
        this.title = '输电-备品备件阈值设定'
        return [
          { title: "序号", width: 70, type: "index", align: "center" },
          { title: "区域", key: "orgName", align: "center", tooltip: true },
          { title: "线路分类", key: "rangeType", align: "center", tooltip: true },
          { title: "设备类型", key: "deviceType", align: "center", tooltip: true },
          { title: "保电资源名称", key: "resourceName", align: "center", tooltip: true },
          { title: "涉保电站配置标准", key: "configStandard", align: "center", tooltip: true, },
          { title: "应配备数量", key: "ypbs", align: "center", tooltip: true },
          {
            title: "预警阀值", key: "warningThreshold", align: "center", tooltip: true,
            render: (h, params) => {
              return <InputNumber
                min={0}
                id={'InputNumber' + params.row.id}
                value={params.row.warningThreshold}
                onOn-change={(val) => {
                  let item = this.dataList.find(item => item.id == params.row.id)
                  item.warningThreshold = val
                  console.log(item, this.dataList)
                  setTimeout(() => {
                    document.getElementById('InputNumber' + params.row.id).getElementsByTagName('input')[0].focus()
                  }, 100)
                }}
              ></InputNumber>
            }
          },
        ]
      }
    },
    fliterDataList: function () {
      if (this.type == "01") {
        return this.dataList
      } else if (this.type == "02") {
        return this.dataList.filter(item => {
          return !this.subName || item.subName == this.subName
        })
      } else if (this.type == "03") {
        return this.dataList.filter(item => {
          return (!this.orgName || item.orgName == this.orgName) && (!this.rangeType || item.rangeType == this.rangeType)
        })
      }
    }
  },
  methods: {
    //获取数据
    backupListInfo() {
      szhbd.szhbdApi.backupListInfo({
        objectId: this.$route.query.objectId,
        type: this.type,//配点01 变电02 输电03
      }).then(res => {
        console.log('备品备件', res)
        this.dataList = res.result
        if (this.type == '02') {
          this.subNameList = uniqBy(this.dataList, 'subName')
        }
        if (this.type == '03') {
          this.orgNameList = uniqBy(this.dataList, 'orgName')
          this.rangeTypeList = uniqBy(this.dataList, 'rangeType')
        }
      })
    },
    //保存
    ok() {
      this.dataList.forEach(item => {
        if (!item.warningThreshold) {
          item.warningThreshold = 0
        }
      })
      szhbd.szhbdApi.backupThresholdSave({
        type: this.type,
        vos: this.dataList
      }).then(res => {
        console.log('备品备件', res)
        if (res.code == '200') {
          this.$Message.success('操作成功')
          this.$emit('refresh')
          this.cancel()
        }
      })
    },
    cancel() {
      this.visible = false
      setTimeout(() => {
        this.$emit('close')
      }, 500)
    }
  }
}
</script>

<style>
</style>