<template>
  <div class="bg-style">
  </div>
</template>

<script>
export default {
  name: "welcome",
    props: {

    },
    data() {
        return {

        };
    },
    computed: {

    },
    created() {

    },
    mounted() {

    },
    watch: {

    },
    methods: {

    },
    components: {

    },
};
</script>

<style scoped lang="scss">
.bg-style {
  // background: url(~@/assets/img/welcome-ah.png) center no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
</style>
