<template>
    <span class="i-layout-header-trigger" :class="{ 'i-layout-header-trigger-min': showSiderCollapse }" @click="handleReload">
        <Icon custom="iconfont zhny-icon-refresh" color='#3d9e99' />
        
    </span>
</template>
<script>
    import { mapState } from 'vuex';

    export default {
        name: 'iHeaderReload',
        computed: {
            ...mapState('admin/layout', [
                'isMobile',
                'showSiderCollapse'
            ])
        },
        methods: {
            handleReload () {
                this.$emit('on-reload');
            }
        }
    }
</script>
<style lang="scss" scoped>
/deep/ .ivu-icon {
  vertical-align: 0 !important;
  font-size: 24px;
}
</style>