<template>
  <i-pageBody>
    <div slot="page-main" class="page">
      <query @query="searchBtn" @reset="resetBtn">
        <div slot="col-form">
          <Form :model="formData" :label-width="70">
            <Row>
              <Col span="6">
                <FormItem label="开关名称">
                  <Input v-model="formData.objectName" clearable placeholder="请输入开关名称" />
                </FormItem>
              </Col>
            </Row>
          </Form>
        </div>
      </query>

      <div class="btns">
        <Upload :before-upload="uploadFile" action="" style="display: flex">
          <Button icon="ios-cloud-upload-outline">导入</Button>
        </Upload>
      </div>

      <dark-table
        :tableColumns="columnsList"
        :tableData="dataList"
        :paginateTotal="pageTotal"
        :isloading="loading"
        :value="{ pageSize: formData.pageSize, pageNum: formData.pageIndex }"
        @input="changepageSize"
        :tableHeight="400"
        :isHideExport="true"
      >
      </dark-table>
    </div>
  </i-pageBody>
</template>

<script>
import usherApi from "@/api/usher";

export default {
  data() {
    return {
      file: undefined,
      loading: false,
      columnsList: [
        { type: "selection", width: 60, align: "center" },
        { title: "序号", width: 80, type: "index", align: "center" },
        { title: "开关名称", key: "userName", align: "center", tooltip: true },
        { title: "设备名称", key: "createTime", align: "center", tooltip: true },
        { title: "设备类型", key: "simType", align: "center", tooltip: true },
        { title: "上级设备名称", key: "simType", align: "center", tooltip: true },
        { title: "上级设备类型", key: "simType", align: "center", tooltip: true },
        { title: "x", key: "pointX", align: "center", tooltip: true },
        { title: "y", key: "pointY", align: "center", tooltip: true },
        { title: "信息来源", key: "pointY", align: "center", tooltip: true },
        {
          title: "操作",
          align: "center",
          render: (h, params) => {
            return h(
              "Button",
              {
                props: {
                  type: "primary",
                  size: "small",
                },
                directives: [
                  {
                    name: "auth",
                    value: "system:role:delete",
                  },
                ],
                on: {
                  click: (e) => {
                    this.$refs.addRef.visible = true;
                    // this.$refs.addRef.id = params.row.id;
                  },
                },
              },
              "删除"
            );
          },
        },
      ],
      dataList: [{}],
      pageTotal: 0,
      formData: {
        pageSize: 20,
        pageIndex: 1,
        time: [],
      },
    };
  },
  components: {},
  created() {
    this.loadTable();
  },
  methods: {
    addBtn() {},
    loadTable() {
      // usherApi.querySubstation(this.formData).then((res) => {
      //   this.dataList = res.result.page.content;
      // });
    },
    uploadFile(file) {
      // this.file = file;
      // 本地地址
      // system.attachmentApi
      //   .conmonUpload({
      //     file,
      //   })
      //   .then((res) => {
      //     if (res) {
      //       this.$emit("input", res.attachment.attachmentId);
      //     }
      //   });
    },
    changepageSize(val) {
      this.formData.pageIndex = val.pageNum;
      this.formData.pageSize = val.pageSize;
      this.loadTable();
    },
    searchBtn() {
      this.formData.pageIndex = 1;
      this.loadTable();
    },
    resetBtn() {
      this.formData = {
        pageSize: 20,
        pageIndex: 1,
        time: [],
      };
      this.loadTable();
    },
  },
};
</script>

<style lang="scss" scoped>
.title {
  border-left: 5px solid #3d9e99;
  padding-left: 15px;
}
.btns {
  margin-top: 15px;
  padding: 0 15px;
}
.card {
  padding: 0 15px;
}
/deep/ .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-nav-container {
  height: 46px;
}
</style>
