<template>
  <Modal v-model="visible" :title="id ? '编辑用户' : '新增用户'" width="600" :mask-closable="false">
    <Form :model="formData" :label-width="80" ref="formRef">
      <Row>
        <Col span="12">
          <FormItem
            label="用户昵称"
            prop="nickName"
            :rules="{
              required: true,
              message: `请输入用户昵称`,
              trigger: 'blur',
            }"
          >
            <Input v-model="formData.nickName" placeholder="请输入用户昵称"></Input>
          </FormItem>
        </Col>
        <Col span="12">
          <FormItem
            label="账号"
            prop="userName"
            :rules="{
              required: true,
              message: `请输入账号`,
              trigger: 'blur',
            }"
          >
            <Input v-model="formData.userName" placeholder="请输入账号"></Input>
          </FormItem>
        </Col>
        <Col span="12">
          <FormItem
            label="手机号"
            prop="phoneNumber"
            :rules="{
              required: true,
              message: `请输入手机号`,
              trigger: 'blur',
            }"
          >
            <Input v-model="formData.phoneNumber" placeholder="请输入手机号"></Input>
          </FormItem>
        </Col>

        <Col span="12" v-if="!formData.userId">
          <FormItem
            label="密码"
            prop="password"
            :rules="{
              required: true,
              message: `请输入密码`,
              trigger: 'blur',
            }"
          >
            <Input v-model="formData.password" placeholder="请输入密码"></Input>
          </FormItem>
        </Col>

        <Col span="12">
          <FormItem
            label="角色"
            prop="roleIds"
            :rules="{
              required: true,
              message: `请选择角色`,
            }"
          >
            <Select v-model="formData.roleIds" placeholder="请选择角色">
              <Option v-for="item in roles" :value="item.roleId" :key="item.roleId">{{ item.roleName }}</Option>
            </Select>
          </FormItem>
        </Col>
      </Row>
    </Form>

    <div slot="footer">
      <Button @click="cancel" style="margin-right: 10px">取消</Button>
      <Button type="primary" @click.stop="ok" style="margin-right: 10px">确认</Button>
    </div>
  </Modal>
</template>

<script>
import userApi from "@/api/system/user";
import _ from "lodash";

export default {
  data() {
    return {
      visible: false,
      loading: false,
      formData: {
        deptId: "",
      },
      id: undefined,
      roles: [],
    };
  },
  methods: {
    ok() {
      this.$refs.formRef.validate().then((state) => {
        console.log("state", state, this.formData);
        if (state) {
          // 检验
          userApi
            .addUser({
              ...this.formData,
              roleIds: [this.formData.roleIds],
            })
            .then((res) => {
              if (res.code == 200) {
                this.$Message.success(this.formData.userId ? "编辑成功!" : "新增成功!");
                this.cancel();
                this.$emit("loadTable");
              }
            });
        }
      });
    },
    cancel() {
      this.visible = false;
      this.formData = {};
      this.$refs.formRef.resetFields();
    },
  },
  watch: {
    visible(val) {
      if (val) {
        userApi.getRoleList().then((res) => {
          if (res.code == 200) {
            this.roles = res.rows;
          }
        });
      }
    },
  },
  mounted() {},
};
</script>

<style scoped lang="scss">
/deep/ .ivu-table td {
  height: 36px !important;
}
</style>
