<!-- 电缆段弹框 -->
<template>
  <BaseModal :visible="publicParams.bdDldAddVisible" @on-cancel="cancel">
    <!-- 头部分 -->
    <div class="body-main-wrap">
      <div class="header-wrap">
        <div class="header-wrap">
          <span
            class="label-name"
            v-if="publicParams && publicParams.params && publicParams.params.orgs && publicParams.params.orgs.label"
            >{{ publicParams.params.orgs.label || "-" }} 新增</span
          >
        </div>
      </div>
      <!-- 主体部分 -->
      <BaseForm ref="baseFormRef" v-if="publicParams.bdDldAddVisible" />

      <!-- 电缆管选择  -->
      <Row class="add-label">电缆管连接路线</Row>
      <div class="cable-wrap" ref="scroll">
        <template v-for="(cable, index) in cableList">
          <!-- 1. 下拉框 + 中接头 -->
          <div class="cable-item">
            <div class="cable-item-d" v-if="!cable.disabled">
              <Select
                transfer
                @on-change="(e) => handlerChange(e, cable, index)"
                :placeholder="cable.placeholder"
                v-model="cable.selectedId"
                :disabled="cable.disabled"
              >
                <Option v-for="(item, index) in cable.codeData" :key="index" :value="item.id">{{ item.name }}</Option>
              </Select>

              <!-- 中接头 -->
              <div v-if="cable.selectedObj" class="cable-item-tip">
                {{ cable.type == "8" ? "中接头" : "孔位" }}:{{
                  (cable.selectedObj && cable.selectedObj.name) || "未选"
                }}
              </div>
            </div>
            <!-- 2. 默认的文本 -->
            <div v-if="cable.disabled" class="cable-item-label">{{ cable.name }}</div>

            <!--  连接线 -->
            <Icon type="md-arrow-forward" v-if="cableList.length - 1 !== index" />
          </div>
        </template>
      </div>

      <!-- 是否可编辑 -->
      <div class="floor-wrap">
        <Button type="primary" v-auth="'map:edit'" @click="handleSave" size="small" style="width: 120px; height: 35px"
          >保存</Button
        >
      </div>

      <!-- 中接头 下拉框 -->
      <Modal
        v-model="middleVisible"
        :title="`请选择${currentParams.type == '8' ? '中接头' : '孔'} `"
        footer-hide
        @on-cancel="middleCancel"
        :mask-closable="false"
        :closable="false"
        width="400"
      >
        <Row type="flex" align="middle" justify="center" v-if="middleVisible">
          <Select transfer @on-change="handlerMiddleChange" placeholder="请选择" style="width: 200px">
            <Option v-for="item in middleList" :key="item.id" :value="item.id">{{ item.name }}</Option>
          </Select>
        </Row>
        <Row type="flex" align="middle" justify="center" style="margin-top: 20px">
          <Button type="primary" @click="handleMiddleOk" size="small">确认</Button>
        </Row>
      </Modal>
    </div>
  </BaseModal>
</template>

<script>
import BaseModal from "../../templates/baseModal/index";
import { mapState, mapMutations } from "vuex";
import UploadFile from "@/components/uploadFile";
import _ from "lodash";
import BaseForm from "../../components/baseForm";
import systemApi from "@/api/system";

export default {
  data() {
    return {
      cableList: [], // 电缆管列表
      middleList: [], //
      middleVisible: false, // 弹层
      currentParams: {}, // 当前的请求参数
      lineCodes: [], // 线数据
      pIndex: 0, // 当前操作的index
    };
  },
  computed: {
    ...mapState("admin/map", ["publicParams", "astTreeList", "BDTree", "BDMap"]),
    baseFormList() {
      return [
        {
          prop: "sectionName",
          label: "电缆段名称",
          type: "input",
        },
        {
          prop: "spec",
          label: "规格",
          type: "input",
        },
        {
          prop: "commissioningDate",
          label: "投运日期",
          type: "date",
          required: true,
        },
        {
          prop: "len",
          label: "长度",
          type: "input",
        },
        {
          prop: "mode",
          label: "类型",
          type: "input",
        },
        {
          prop: "constructionManufacturer",
          label: "施工单位",
          type: "input",
          required: true,
        },
        {
          prop: "per_id",
          label: "PMS_id",
          type: "input",
          required: true,
        },
        {
          prop: "manufacturer",
          label: "生产厂家",
          type: "input",
        },
        {
          prop: "runState",
          label: "运行状态",
          type: "select",
          options: [
            {
              codeValue: "正常",
              codeName: "正常",
            },
            {
              codeValue: "退设",
              codeName: "退设",
            },
            {
              codeValue: "折除",
              codeName: "折除",
            },
          ],
        },
        {
          prop: "infoSource",
          label: "信息来源",
          type: "input",
        },
        {
          prop: "astOrg",
          label: "资产单位",
          type: "treeSelect",
          treeList: this.astTreeList,
          orderProp: "astOrgName",
        },
        {
          prop: "lineCode",
          label: "关联线路",
          type: "select",
          options: this.lineCodes,
        },
      ];
    },
  },
  components: {
    BaseModal,
    UploadFile,
    BaseForm,
  },
  watch: {
    "publicParams.bdDldAddVisible"(val) {
      console.log("publicParams.bdDldAddVisible", this.publicParams);
      if (val) {
        let _points = this.publicParams.params.points;
        // 计算两点距离
        this.$nextTick(() => {
          this.$refs.baseFormRef.baseForm.lineCode = this.publicParams.params.orgs.id;
          this.$refs.baseFormRef.baseForm.len = this.BDMap.getPointsDistance(_points);
          this.$refs.baseFormRef.baseForm.mode = "中压电统段";
          this.$refs.baseFormRef.baseForm.runState = "正常";
          // 查询起始点
          this.getStartPoint(_points);

          //
        });
      }
    },
    cableList: {
      deep: true,
      handler(val) {
        if (!_.isEmpty(val)) {
          this.$nextTick(() => {
            this.$refs.scroll.scrollLeft += 300;
          });
        }
      },
    },
  },
  methods: {
    ...mapMutations("admin/map", ["setState"]),

    getLineNoPage() {
      systemApi.getLineNoPage().then((res) => {
        // console.log("00000", res);
        if (res.code == 200) {
          this.lineCodes = res.rows.map((res) => ({
            codeValue: res.lineCode,
            codeName: res.lineName,
          }));
          this.$nextTick(() => {
            this.$refs.baseFormRef.transformToRules(this.baseFormList);
          });
        }
      });
    },
    cancel() {
      this.cableList = []; // 电缆管列表
      this.middleList = []; //
      this.middleVisible = false; // 弹层
      this.currentParams = {}; // 当前的请求参数
      this.lineCodes = [];
      this.pIndex = 0;

      // 关闭弹层
      // this.setState({
      //   publicParams: {
      //     bdDldAddVisible: false,
      //     params: {
      //       succeed: true,
      //     }, //参数
      //     type: "bdDld",
      //   },
      // });
    },
    handleMiddleOk() {
      console.log("handleMiddleOk11111", this.cableList);
      switch (Number(this.currentParams.type)) {
        case 8:
          if (_.isEmpty(this.currentParams.selectedObj) && this.currentParams.require) {
            this.$Message.info("请选择中接头!");
            return;
          }
          this.middleVisible = false;

          // 开始跳用电缆沟
          this.getNextCableDithByStartPoint();
          break;
        case 7:
          if (_.isEmpty(this.currentParams.selectedObj)) {
            this.$Message.info("请选择所属孔!");
            return;
          }
          this.middleVisible = false;

          // 开始查询默认
          this.getNextPoint();

          break;
        default:
          break;
      }
    },
    handlerMiddleChange(val) {
      const _obj = this.middleList.filter((res) => res.id == val)[0];
      // 当前数据插入
      this.currentParams = {
        ...this.currentParams,
        selectedObj: _obj,
      };
      //  修改原数据
      const _index = this.cableList.findIndex(
        (res) => res.type == this.currentParams.type && res.selectedId == this.currentParams.id
      );
      this.cableList[_index].selectedObj = _obj;
    },
    middleCancel() {
      console.log("middleCancel");
    },
    handlerChange(id, item, pIndex) {
      console.log("handlerChange", id, item);
      if (!id) {
        return;
      }
      this.pIndex = pIndex;

      const _obj = item.codeData.filter((res) => res.id == id)[0];
      let currentParams = _obj;
      item.type = _obj.type;

      switch (Number(_obj.type)) {
        case 8:
          // 1. 电缆井
          // 2. 如果第一个选择是电缆井必须选择中接头
          if (this.cableList && this.cableList.length == 1) {
            currentParams.require = true;
            item.middleRequire = true;
          }
          this.currentParams = currentParams;

          this.getListNoPage();
          break;

        case 7:
          // 1. 电缆沟
          this.currentParams = currentParams;
          this.middleList = currentParams.holes.filter((res) => !res.used).map((res) => ({ ...res, name: res.num }));
          if (!_.isEmpty(this.middleList)) {
            this.middleVisible = true;
          } else {
            console.log("当前没有可选的孔");
          }
          break;

        default:
          this.currentParams = currentParams;

          this.getNextCableDithByStartPoint();
          break;
      }
    },
    getListNoPage() {
      const id = this.currentParams.id;
      systemApi
        .getListNoPage({
          wellId: id,
        })
        .then((res) => {
          if (res.code == 200) {
            this.middleList = res.rows;

            if (!_.isEmpty(this.middleList)) {
              this.middleVisible = true;
            } else {
              console.log("当前没有可选中接头!");
              // 开始跳用电缆沟
              this.getNextCableDithByStartPoint();
            }
          }
        });
    },
    getStartPoint(points) {
      systemApi
        .getStartPoint({
          lon: points[0].lng,
          lat: points[0].lat,
        })
        .then((res) => {
          if (!_.isEmpty(res)) {
            this.getLineNoPage();
            this.cableList.push({
              codeData: res.map((res) => ({
                ...res,
                id: String(res.id),
                type: String(res.type),
              })),
            });
          } else {
            this.$Message.info("起始点附近1000M无任何设备可选择。请根据实际位置重新标点!");
            // 关闭弹层
            this.cancel();

            this.setState({
              publicParams: {
                bdDldAddVisible: false,
              },
            });
          }
        });
    },
    getNextPoint() {
      const index = this.cableList.findIndex(
        (res) => this.currentParams.type == res.type && res.selectedId == this.currentParams.id
      );
      console.log("index", index);
      let params = {
        ditchId: this.currentParams.id,
        prevPointId: this.cableList[index - 1].selectedId
          ? this.cableList[index - 1].selectedId
          : this.cableList[index - 1].id,
        type: this.cableList[index - 1].type ? this.cableList[index - 1].type : this.cableList[index - 1].type,
      };
      console.log("params", params);
      systemApi.getNextPoint(params).then((res) => {
        if (res) {
          this.cableList.push({
            ...res,
            disabled: true,
          });
          console.log(">>>> getNextPoint", this.cableList);
          this.pIndex = this.cableList.length - 1;
          let params = {
            ...res,
            selectedObj: {
              id: this.currentParams.id,
            },
          };

          this.currentParams = params;

          // 查询管沟
          this.getNextCableDithByStartPoint();
        }
      });
    },
    getNextCableDithByStartPoint() {
      const { type, id, selectedObj } = this.currentParams;

      let params = {
        id,
        prevDitchId: selectedObj && selectedObj.id ? selectedObj.id : "-1",
        type,
      };
      systemApi.getNextCableDithByStartPoint(params).then((res) => {
        if (!_.isEmpty(res)) {
          this.cableListAdd({ codeData: res.map((res) => ({ ...res, name: res.ditchName })) }, params);
        } else {
          this.cableListAdd({});
        }
      });
    },

    cableListAdd(item) {
      // 首先判断是否存在 存在的话把后面的都删除了
      console.log("this.cableList", this.cableList, "item", item, "pIndex", this.pIndex);
      if (this.cableList && this.cableList[this.pIndex]) {
        let index = this.pIndex + 1;
        if (!_.isEmpty(item)) {
          this.cableList.splice(index, this.cableList.length - index, item);
        } else {
          this.cableList.splice(index, this.cableList.length - index);
        }
      } else {
        this.cableList.push(item);
      }
    },
    handleSave() {
      const that = this;
      let _cableList = this.cableList.filter((res) => res.type);
      this.$refs.baseFormRef.submit().then((res) => {
        if (res) {
          // 1. 校验
          if (_.isEmpty(_cableList)) {
            this.$Message.info("请选择电缆段!");
            return;
          }

          console.log("cableList----", _cableList);

          // 孔号 序号 type 源数据id
          let partsList = [];
          _cableList.forEach((res) => {
            if (res.type == 7) {
              // 电缆沟
              partsList.push({
                holeNum: res.selectedObj.num,
                type: res.type,
                sourceId: res.selectedId,
              });
            } else if (res.type == 8) {
              // 电缆井
              if (res.selectedObj && !res.disabled) {
                // 如果已经选择 中接头
                partsList.push({
                  type: 8,
                  sourceId: res.selectedObj.id,
                });
                // 插入电缆井
                partsList.push({
                  type: res.type,
                  sourceId: res.selectedId,
                });
              } else {
                partsList.push({
                  type: res.type,
                  sourceId: res.id,
                });
              }
            } else {
              partsList.push({
                type: res.type,
                sourceId: res.selectedId || res.id,
              });
            }
          });
          partsList.forEach((res, index) => {
            res.serialno = index;
          });

          // 请求地址
          let params = { ...res, partsList };

          systemApi.addSection(params).then((res) => {
            if (res.code == 200) {
              this.$Message.success(res.msg);
              // 关闭弹层
              this.cancel();

              this.setState({
                publicParams: {
                  bdDldAddVisible: false,
                  params: {
                    succeed: true,
                  }, //参数
                  type: "bdDld",
                },
              });

              systemApi
                .getPointById({
                  id: res.data.id,
                  level: 4,
                  type: 7,
                })
                .then((points) => {
                  // 加载数据
                  this.BDTree.pushPoints(points);
                });
            } else {
              this.$Message.error(res.msg);
            }
          });
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.body-main-wrap {
  display: flex;
  flex-direction: column;
  height: 700px;
  overflow: auto;
  .header-wrap {
    display: flex;
    height: 60px;
    align-items: center;
    background: #eefffe;
    width: 100%;
    .station-info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0 20px;
      border: 1px solid #e4e1e1;
      height: 80px;
      padding: 0 40px;
      .label-wrap {
        display: flex;
        justify-content: space-between;
        .label {
          font-size: 16px;
          color: #333;
          margin-right: 25px;
        }
        .type {
          font-size: 16px;
          color: #0d867f;
        }
      }
    }
  }

  .cable-wrap {
    display: flex;
    height: 90px;
    padding: 0 90px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    .cable-item {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      padding: 0 5px;
      &-d {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        min-width: 120px;
      }

      &-tip {
        font-size: 12px;
        position: absolute;
        bottom: -21px;
        color: #0d867f;
      }
    }
  }

  .label-name {
    font-size: 18px;
    margin-left: 20px;
    color: #0d867f;
    font-weight: 600;
  }

  .floor-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }

  .add-label {
    margin-left: 90px;
    padding-left: 10px;
    height: 40px;
    font-size: 16px;
    background-color: #eefffe;
    line-height: 40px;
    color: #0d867f;
    width: 823px;
  }
}
</style>
