<template>
  <div>
    <div
      class="ivu-menu-item"
      style="position: initial"
      @mouseenter="moveinFixedMenu(menu)"
      @mouseleave="removeFixedMenu(menu)"
    >
      <span class="i-layout-menu-side-title">
        <!-- <span class="i-layout-menu-side-title-icon"> -->
        <i class="ivu-icon" :class="'ivu-icon-' + menu.icon"></i>
        <!-- </span> -->
        <span class="i-layout-menu-side-title-text">{{ menu.name }}</span>
        <span class="i-layout-menu-side-title-secondMenuIcon"><i class="ivu-icon ivu-icon-ios-arrow-forward"></i></span>
      </span>
      <ul class="fixed-submenu" v-show="menu.hover">
        <li class="fixed-submenu__two" v-for="(item, index) in menu.children" :key="index">
          <div class="fixed-subment__title">
            <span>{{ item.name }}</span>
          </div>
          <Row class="fixed-submenu__three">
            <Col span="8" v-for="(obj, key) in item.children" :key="key">
              <div class="flex submenu-item">
                <router-link class="link submenu-item__text" :to="obj.path" @click.native="toLink(obj)">
                  <span>- {{ obj.name }}</span>
                </router-link>
              </div>
            </Col>
          </Row>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import system from "@/api/system";
import util from "@/libs/util";
export default {
  name: "floatSider",
  props: {
    menu: {
      type: Object,
      default() {
        return {};
      },
    },
    favoriteList: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  methods: {
    moveinFixedMenu(menu) {
      menu.hover = true;
    },
    removeFixedMenu(menu) {
      menu.hover = false;
    },
    // 新增收藏
    setFavorite(item) {
      system.functionFavoriteApi
        .saveFunctionFavorite({
          functionId: item.id,
          userId: util.storage.get("userInfo").id,
          userName: util.storage.get("userInfo").userNo,
        })
        .then((rt) => {
          if (rt.code !== 200) return;
          this.$store.dispatch("admin/helper/listFavoritedForPaging");
        });
    },
    cancleFavorite(item) {
      system.functionFavoriteApi
        .cancleFunctionFavorite({
          functionId: item.id,
          userId: util.storage.get("userInfo").id,
          userName: util.storage.get("userInfo").userNo,
        })
        .then((rt) => {
          if (rt.code !== 200) return;
          this.$store.dispatch("admin/helper/listFavoritedForPaging");
        });
    },
    toLink(item) {
      this.$store.dispatch("admin/helper/listRecentlyUsedForPaging");
    },
  },
};
</script>

<style scoped>
.flex {
  display: flex !important;
}
.i-layout-menu-side-title {
  display: block;
}
.i-layout-menu-side-title-secondMenuIcon {
  float: right;
}
.fixed-submenu {
  border: 3px solid #ccc;
  position: absolute;
  top: 0px;
  width: 700px;
  height: 700px;
  max-height: 100%;
  padding: 20px 0;
  overflow-y: auto;
  max-width: 720px;
  left: 220px;
  color: #494949;
  background: #fff;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  box-shadow: 2px 1px 2px rgb(0 0 0 / 10%);
}
.fixed-submenu__two {
  margin: 0 20px;
}
.fixed-submenu__two + .fixed-submenu__two {
  border-top: 1px solid #eee;
}
.fixed-subment__title {
  line-height: 60px;
  font-size: 16px;
  border-bottom: 1px solid #eee;
}
.fixed-subment__title > span {
  padding-left: 20px;
  line-height: 1;
  border-left: 3px solid #3d9e99;
}
.submenu-item__text {
  display: block;
  line-height: 36px;
  font-size: 14px;
  color: #494949;
}

.submenu-item__text span {
  padding-right: 50px;
}
.submenu-item__img {
  display: none;
}
.submenu-item:hover {
  background: #f7f7f9;
}
.submenu-item:hover .submenu-item__img {
  display: block;
}
.submenu-item__text:hover {
  /* color: #2d8cf0; */
  color: #3d9e99;
}
.fixed-submenu__three {
  padding: 10px 0;
}
</style>
