<template>
  <div>
    <Menu
      ref="menu"
      class="i-layout-menu-side i-scrollbar-hide"
      :class="{ 'i-layout-menu-side-collapse': menuCollapse }"
      :theme="siderTheme"
      :accordion="menuAccordion"
      :active-name="activePath"
      :open-names="openNames"
      width="auto"
    >
      <template v-if="!menuCollapse">
        <template>
          <div v-for="(item, index) in siderMenu" :key="index">
            <i-menu-side-item v-if="!item.children" :menu="item" :key="'i-menu-side-item' + index" />

            <iMenuSideSubmenu v-else :menu="item" :key="'iMenuSideSubmenu' + index"></iMenuSideSubmenu>
          </div>
        </template>
      </template>
      <template v-else>
        <template v-for="(item, index) in siderMenu">
          <Tooltip v-if="!item.children" :content="tTitle(item.name)" placement="right" :key="index">
            <i-menu-side-item :menu="item" hide-title />
          </Tooltip>
          <i-menu-side-collapse v-else :menu="item" :key="`menu${index}`" top-level />
        </template>
      </template>
    </Menu>
  </div>
</template>
<script>
import iMenuSideItem from "./menu-item";
import iMenuSideSubmenu from "./submenu";
import floatSider from "./float-sider";
import iMenuSideCollapse from "./menu-collapse";
import tTitle from "../mixins/translate-title";
import { mapState, mapGetters } from "vuex";
import { getHeaderName, getMenuSider, getSiderSubmenu } from "@/libs/system";
import system from "@api/system";
import util from "@/libs/util";
import store from "@/store";

import { menuList } from "./menuList";

// 元素是否在可视区域
function isElementInViewport(el) {
  let rect = el.getBoundingClientRect();
  return (
    rect.top >= 0 &&
    rect.left >= 0 &&
    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
  );
}

export default {
  name: "iMenuSide",
  mixins: [tTitle],
  components: {
    iMenuSideItem,
    iMenuSideSubmenu,
    iMenuSideCollapse,
    floatSider,
  },
  props: {
    hideLogo: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      siderMenu: [],
      favoriteList: [],
    };
  },
  created() {
    //菜单是否已从后端加载（刷新页面时路由会加载菜单）@see src/router/index.js:35
    this.siderMenu = JSON.parse(util.storage.getSharedValue("menuSider")) || [];

    if (this.siderMenu.length === 0) {
      this.siderMenu = menuList;
      //初始化菜单
      this.initSideMenu();
    } else {
      this.initSideMenu();
    }
  },
  computed: {
    ...mapState("admin/layout", ["siderTheme", "menuAccordion", "menuCollapse"]),
    ...mapState("admin/menu", ["activePath", "openNames", "menuSider", "isLoadSider"]),
    ...mapGetters("admin/menu", ["filterSider"]),
  },
  watch: {
    $route: {
      handler() {
        this.handleUpdateMenuState();
      },
      immediate: true,
    },
    "$store.state.admin.helper.listData": {
      handler(val) {
        this.getFunctionIsFavorite();
      },
      immediate: true,
    },
    // 在展开/收起侧边菜单栏时，更新一次 menu 的状态
    menuCollapse() {
      this.handleUpdateMenuState();
    },
  },
  methods: {
    gotoRouter(path) {
      this.$router.push(path);
    },
    getFunctionIsFavorite() {
      this.favoriteList = [];
    },
    handleUpdateMenuState() {
      this.$nextTick(() => {
        if (this.$refs.menu) {
          this.$refs.menu.updateActiveName();
          if (this.menuAccordion) this.$refs.menu.updateOpened();
          // 聚焦当前项
          this.$nextTick(() => {
            const $activeMenu = document.getElementsByClassName(
              "ivu-menu-item ivu-menu-item-active ivu-menu-item-selected"
            );
            if ($activeMenu && $activeMenu.length && !isElementInViewport($activeMenu[0])) {
              const activeMenuTop = $activeMenu[0].getBoundingClientRect().top;
              const $menu = this.$refs.menu.$el;
              setTimeout(() => {
                this.$ScrollTop($menu, {
                  to: activeMenuTop,
                  time: 0,
                });
              }, 300);
            }
          });
        }
      });
    },
    async initSideMenu() {
      let menuSider = this.siderMenu;

      try {
        //获取登录成功时存储的菜单数据
        //需要展示的菜单 如果页面重新向则展示重定向后的界面，否则展示当前路径
        let path = this.$route.query.redirect || this.$route.path;
        let headerName = getHeaderName(path, menuSider);

        this.$store.commit("admin/menu/setMenuSider", menuSider);
        this.$store.commit("admin/menu/setAllmenuPathByArray", menuSider);

        // 在 404 时，是没有 headerName 的
        if (headerName !== null) {
          this.$store.commit("admin/menu/setHeaderName", headerName);

          const filterMenuSider = getMenuSider(menuSider, headerName);
          this.$store.commit("admin/menu/setSider", filterMenuSider);
          this.$store.commit("admin/menu/setActivePath", path);

          const openNames = getSiderSubmenu(path, menuSider);
          this.$store.commit("admin/menu/setOpenNames", openNames);
        }
      } catch (e) {
        console.error(e);
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.logo-name {
  position: absolute;
  z-index: 10;
  top: 12px;
  left: 42px;
  height: 50px;
  color: #fff;

  span {
    display: block;
    height: 18px;
    font-size: 16px;
  }
}
</style>
