<template>
  <div id="app" :class="globalClasses">
    <router-view />
  </div>
</template>
<script>
// import MessageModal from "@/pages/message";
import { on, off } from "view-design/src/utils/dom";
import { setMatchMedia } from "view-design/src/utils/assist";
import { mapMutations } from "vuex";
setMatchMedia();
export default {
  name: "app",
  data() {
    return {
      formValidate: {},
    };
  },
  methods: {
    ...mapMutations("admin/layout", ["setDevice"]),
    handleWindowResize() {
      this.handleMatchMedia();
    },
    handleMatchMedia() {
      const matchMedia = window.matchMedia;

      if (matchMedia("(max-width: 600px)").matches) {
        this.setDevice("Mobile");
      } else if (matchMedia("(max-width: 992px)").matches) {
        this.setDevice("Tablet");
      } else {
        this.setDevice("Desktop");
      }
    },
  },
  computed: {
    globalClasses() {
      let isPano = this.$store.state.admin.page.isPano;
      let classes = [];
      if (isPano) {
        let panoT = "i-layout-pano-theme-ah";
        panoT && classes.push(panoT);
      }
      return classes;
    },
  },
  components: {},
  mounted() {
    on(window, "resize", this.handleWindowResize);
    this.handleMatchMedia();
  },
  beforeDestroy() {
    off(window, "resize", this.handleWindowResize);
  },
};
</script>
