body {
  font-family: Microsoft YaHei, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

ul,
ol {
  list-style: none;
}
.wh220 {
  width: 220px !important;
}
.list-search .ivu-input,
.wh250 {
  width: 250px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.flex {
  display: flex;
  align-items: center;
}

.flex_top {
  display: flex;
}

.flex-flow {
  flex: 1;
  flex-flow: row wrap;
}

.btn {
  color: #0893fd;
  cursor: pointer;
  border: 0 none;
  outline: 0;
  background: none;
}

.btn-warn {
  color: #ee2323;
}

.page-wrap {
  padding: 15px 20px 0 0;
}

.form-item__label {
  display: block;
  padding-right: 10px;
  line-height: 34px;
  text-align: right;
  font-weight: 700;
}

.i-layout-sider-logo {
  position: relative;
  z-index: 10;
  text-align: center;
}
.ivu-menu-dark {
  /* background: #0D2457; */
  background: #fff;
}
.i-layout-sider-logo-dark {
  border-bottom: 1px solid #091B44;
  background: #091B44;
}
.i-layout .i-layout-sider .i-layout-menu-side .ivu-menu-item,
.i-layout .i-layout-sider .ivu-menu-submenu .ivu-menu-submenu-title {
  /* background: #0D2457 !important; */
  background: #fff !important;
}

.demo-upload-list{
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  position: relative;
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
  margin-right: 4px;
}
.demo-upload-list img{
  width: 100%;
  height: 100%;
}
.demo-upload-list-cover{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.6);
}
.demo-upload-list:hover .demo-upload-list-cover{
  display: block;
}
.demo-upload-list-cover i{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 0 2px;
}
.ivu-form .ivu-form-item-label {
  padding: 10px 10px 10px 0;
}