<template>
  <div :class="`vj-wrap ${!showElement ? 'transformX' : ''}`" @click="offsetXY ? (offsetXY = undefined) : ''">
    <!-- 搜索条件 -->
    <div class="search-wrap">
      <Input v-model="searchText" placeholder="输入名称搜索" size="small" class="text" @on-enter="handleTab" />
      <Icon type="ios-search" class="img" @click="handleTab" />
      <Icon
        :type="`${showElement ? 'md-arrow-dropleft' : 'md-arrow-dropright'}`"
        class="img"
        @click="showElement = !showElement"
      />
    </div>
    <!-- tab 输电配 等-->
    <ul class="tab">
      <li :class="` ${currentTabKey == tab.key ? 'hover' : ''}`" v-for="tab in tabs">
        {{ tab.label }}
      </li>
    </ul>
    <!-- tree 结构 -->
    <div class="tree-wrap">
      <VJstree :data="asyncData" :async="loadData" allow-batch whole-row @item-click="itemClick" ref="tree">
        <template slot-scope="_">
          <div
            style="display: flex; width: 200px; align-items: center"
            @contextmenu.prevent="handleRightClick(_.vm, _.model, $event)"
          >
            <img
              :src="_.model.iconUrl"
              alt=""
              width="15"
              v-if="!_.model.loading"
              role="presentation"
              style="margin-right: 5px"
            />
            {{ _.model.label }}
          </div>
        </template>
      </VJstree>

      <!-- 右点击弹层 -->
      <div
        class="right-menu"
        :style="{
          ...(this.offsetXY
            ? {
                left: `${offsetXY.offsetX}px`,
                top: `${offsetXY.offsetY - 105}px`,
              }
            : {
                display: 'none',
                border: 'none',
              }),
        }"
      >
        <div class="menu-item" v-for="menu in menus" @click.stop="handlePrefMenu(menu)">
          <span class="text">{{ menu.label }}</span>
          <template v-if="menu.options">
            <!-- 图标 -->
            <Icon type="md-arrow-dropright" />
            <!--子节点操作 -->
            <ul class="menu-sub">
              <li v-for="subMenu in menu.options" @click.stop="handlePrefMenu(subMenu)">{{ subMenu.label }}</li>
            </ul>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VJstree from "vue-jstree";
import { mapState, mapMutations } from "vuex";
import systemApi from "@/api/system";
import _ from "lodash";

import mapConfig from "../bdMap/config";

export default {
  name: "tool",
  data() {
    return {
      showElement: true,
      offsetXY: undefined,
      asyncData: [],
      searchText: undefined,
      currentTabKey: "03",
      tabs: [
        {
          label: "配电",
          key: "03",
        },
      ],
      menus: [],
      iconEnum: undefined,
      refreshedTreeObj: undefined, // 即将用来刷新的对象
      requestTreeList: [],
    };
  },
  components: {
    VJstree,
  },
  methods: {
    ...mapMutations("admin/map", ["setState"]),

    handlePrefMenu(items) {
      const orgs = items.item;
      // console.log("handlePrefMenu", items, orgs.type);
      // type 1:变电站、2:线路、3:杆塔、4:开关、5:站所、6:用户、7:电缆段、8:电缆井
      switch (orgs.type) {
        case 2:
          // 2. 杆塔新增和定位
          if (items.bdMapAction == "add") {
            this.mapVDataRefresh({
              fitBoundsFlag: false,
              refreshFlag: true,
              orgs,
            });

            const that = this;
            this.BDMap.drawPolyline((points) => {
              that.setState({
                publicParams: {
                  bdGtAddVisible: true,
                  params: {
                    orgs,
                    points,
                  }, //参数
                  type: "bdGtAdd",
                },
              });

              // 默认启动待关闭菜单 后续等待新增成功后在刷新当前的目录
              that.refreshedTreeObj = orgs;
            }, "point");
          } else if (items.bdMapAction == "fitBounds") {
            // 1. 如果是线路我们渲染地图
            this.mapVDataRefresh({
              fitBoundsFlag: true,
              refreshFlag: true,
              orgs,
            });
          }
          break;
        case 1:
          // 2. 杆塔新增和定位
          if (items.bdMapAction == "add") {
            const that = this;
            this.BDMap.drawPolyline((points) => {
              that.setState({
                publicParams: {
                  bdGtAddVisible: true,
                  params: {
                    orgs,
                    points,
                  }, //参数
                  type: "bdGtAdd",
                },
              });

              // 默认启动待关闭菜单 后续等待新增成功后在刷新当前的目录
              that.refreshedTreeObj = orgs;
            }, "point");
          } else if (items.bdMapAction == "fitBounds") {
            this.mapVDataRefresh({
              fitBoundsFlag: true,
              refreshFlag: true,
              orgs,
            });
          }

          break;
        case 3:
          if (items.bdMapAction == "fitBounds") {
            this.mapVDataRefresh({
              fitBoundsFlag: true,
              refreshFlag: true,
              orgs,
            });
          }
          break;
        case 7:
          // 2. 电缆段新增和定位
          if (items.bdMapAction == "add") {
            const that = this;
            this.BDMap.drawPolyline((points) => {
              that.setState({
                publicParams: {
                  bdDldAddVisible: true,
                  params: {
                    orgs,
                    points,
                  }, //参数
                  type: "bdDldAdd",
                },
              });

              // 默认启动待关闭菜单 后续等待新增成功后在刷新当前的目录
              that.refreshedTreeObj = orgs;
            }, "point");
          } else if (items.bdMapAction == "fitBounds") {
            this.mapVDataRefresh({
              fitBoundsFlag: true,
              refreshFlag: true,
              orgs,
            });
          }

          break;

        case 8:
          // 3. 电缆井 定位

          break;

        default:
          break;
      }

      if (items.bdMapAction == "fitBounds") {
        this.mapVDataRefresh({
          fitBoundsFlag: true,
          refreshFlag: true,
          orgs,
        });
      }

      // 删除
      if (items.bdMapAction == "handleDelete") {
        let _orgs = JSON.parse(JSON.stringify(orgs));

        if (_orgs.type == 7) {
          _orgs.type = "7tree";
        }

        this.BDMap.handleDelete(_orgs);
      }

      // 关闭弹层
      this.offsetXY = undefined;
    },
    // refreshFlag: 地图触发渲染 fitBoundsFlag 定位
    mapVDataRefresh({ refreshFlag, fitBoundsFlag, orgs }) {
      systemApi
        .getPointById({
          id: orgs.id,
          level: orgs.level,
          type: orgs.type,
        })
        .then((res) => {
          let points = res;

          const { allPoints, _ps, _ls } = this.BDMap.getPointLine(points);

          if (!_.isEmpty(allPoints) && fitBoundsFlag) {
            this.BDMap.fitBounds(allPoints);
            this.BDMap.handleHightShowLine(_ls, _ps);
          }
        });
    },

    pushPoints(points) {
      const { _ps, _ls } = this.BDMap.getPointLine(points);
      this.BDMap.mapVDataRefresh(_ls, _ps);
    },

    handleRightClick(a, item, event) {
      // console.log("handleRightClick", item, item.type);
      // 根据 type 来处理右击的菜单
      // type 1:变电站、2:线路、3:杆塔、4:开关、5:站所、6:用户、7:电缆段、8:电缆井
      let rightOptions = [];

      if (!this.permission) {
        rightOptions = [{ label: "定位", key: "01", bdMapAction: "fitBounds", item }];

        if (item.level == 4) {
          rightOptions.push({ label: "删除", key: "00", bdMapAction: "handleDelete", item });
        }
      }

      switch (item.type) {
        case 2:
          if (!this.permission) {
            rightOptions.push({ label: "新增杆线", key: "02", bdMapAction: "add", item });
          }
          break;
        case 3:
          break;
        case 7:
          if (item.level !== 4 && !this.permission) {
            rightOptions.push({ label: "新增", key: "02", bdMapAction: "add", item });
          }
          break;
        default:
          break;
      }

      if (!_.isEmpty(rightOptions)) {
        this.offsetXY = {
          offsetX: event.pageX,
          offsetY: event.pageY,
        };
      }

      this.menus = rightOptions;
    },
    customItemClick(a) {
      console.log("customItemClick", a);
    },
    customItemClickWithCtrl(a) {
      console.log("customItemClickWithCtrl", a);
    },
    handleTab() {
      // 初始化树型结构
      this.asyncData = [this.$refs.tree.initializeLoading()];
      this.$refs.tree.handleAsyncLoad(this.asyncData, this.$refs.tree);
    },
    itemClick(node) {
      const orgs = node.model;
      switch (orgs.type) {
        case 2:
          break;

        default:
          break;
      }
    },

    async loadData(oriNode, resolve) {
      let oriObj = oriNode.data;
      let proId;
      if (oriObj.id && oriObj.parentId) {
        proId = `${oriObj.id}-${oriObj.parentId}`;
        // 如果参数相同，屏蔽二次请求
        if (this.requestTreeList.includes(proId)) {
          console.log("树组件: 已经存在相同的请求");
          return;
        }
        this.requestTreeList.push(proId);
      }
      if (_.isEmpty(this.iconEnum)) {
        await systemApi.getIconList({}).then((res) => {
          if (res.code == 200) {
            let _obj = {};
            res.rows.forEach((res) => {
              _obj[`${res.type}`] = {
                url: res.icon,
                equName: res.equName,
              };
            });
            this.iconEnum = _obj;
          }
        });
      }

      let params = {
        id: null,
        keyWord: this.searchText || null,
        level: null,
        type: null,
      };

      if (!_.isEmpty(oriObj)) {
        params.id = oriObj.id;
        params.level = oriObj.level;
        params.type = oriObj.type;
      }

      // 如果是线路？ 默认渲染地图
      if (oriObj && oriObj.type == 2) {
        console.log("渲染触发： 线");
        this.mapVDataRefresh({
          refreshFlag: true,
          orgs: oriObj,
        });
      }

      systemApi.queryMapTree(params).then((res) => {
        let _d = res;
        if (oriObj.id && oriObj.parentId) {
          const _findIndex = this.requestTreeList.findIndex((_id) => _id == proId);
          this.requestTreeList.splice(_findIndex, 1);
        }

        if (!_.isEmpty(_d)) {
          _d.forEach((res) => {
            const iconObj = this.iconEnum[res.type];
            res.iconUrl = iconObj.url;
            res.equName = iconObj.equName;
            // 搜索子段存在？全量展示
            if (_.isEmpty(res.children) && !this.searchText && res.level !== 4) {
              delete res.children;
            }
          });
          resolve(_d);
        } else {
          resolve([]);
        }
      });
    },

    refreshedTreeById(data, refreshedTreeObj) {
      data.forEach((res) => {
        if (res.id == refreshedTreeObj.id && res.parentId == refreshedTreeObj.parentId) {
          res.children = [
            {
              id: 1000000086,
              text: "Loading...",
              value: "Loading...",
              icon: "",
              opened: false,
              selected: false,
              disabled: true,
              loading: true,
              children: [],
            },
          ];
          res.opened = false;
          res.loading = false;
        } else {
          if (!_.isEmpty(res.children)) {
            this.refreshedTreeById(res.children, refreshedTreeObj);
          }
        }
      });
    },

    getRefreshedTreeId(obj, data, out_obj) {
      data.forEach((res) => {
        if (res.id == obj.id && res.type == obj.type) {
          out_obj.d = res;
        } else {
          if (!_.isEmpty(res.children)) {
            this.getRefreshedTreeId(obj, res.children, out_obj);
          }
        }
      });
    },

    getRefreshedParentTreeId(obj, data, out_obj) {
      data.forEach((res) => {
        if (res.id == obj.parentId && res.level == 3) {
          out_obj.d = res;
        } else {
          if (!_.isEmpty(res.children)) {
            this.getRefreshedParentTreeId(obj, res.children, out_obj);
          }
        }
      });
    },

    updateTreeData(item) {
      let _refreshedTreeObj = {};
      this.getRefreshedTreeId(item, this.asyncData, _refreshedTreeObj);

      let _refreshedTreeParentObj = {};
      if (!_.isEmpty(_refreshedTreeObj)) {
        this.getRefreshedParentTreeId(_refreshedTreeObj.d, this.asyncData, _refreshedTreeParentObj);

        if (!_.isEmpty(_refreshedTreeParentObj)) {
          this.refreshedTreeById(this.asyncData, _refreshedTreeParentObj.d);
        }
      }
    },
  },
  watch: {
    "publicParams.bdDldAddVisible"(val) {
      if (!val && this.publicParams && this.publicParams.params && this.publicParams.params.succeed) {
        // 电缆井新增成功后
        // 刷新数据处理
        this.refreshedTreeById(this.asyncData, this.refreshedTreeObj);
      }
    },
    "publicParams.bdGtAddVisible"(val) {
      if (!val && this.publicParams && this.publicParams.params && this.publicParams.params.succeed) {
        // 电缆井新增成功后
        // 刷新数据处理
        this.refreshedTreeById(this.asyncData, this.refreshedTreeObj);
      }
    },
  },
  computed: {
    ...mapState("admin/map", ["BDMap", "permission", "publicParams"]),
  },
  mounted() {
    this.setState({
      BDTree: this,
    });
  },
};
</script>

<style scoped lang="scss">
.transformX {
  transform: translateX(-270px);
  height: 40px !important;
  box-sizing: content-box;
  overflow: hidden;
  min-height: 0 !important;
}
.vj-wrap {
  padding: 5px;
  height: calc(100vh - 190px);
  background-color: #23aea4;
  width: 300px;
  position: fixed;
  left: 0;
  z-index: 2;
  top: 20px;
  // border: 1px solid #97b2d1;
  display: flex;
  flex-direction: column;
  // padding: 0 5px 5px 0;
  box-sizing: border-box;
  border-radius: 5px;
  min-height: 340px;

  .search-wrap {
    width: 100%;
    display: flex;
    margin: 5px 0 5px 0;
    align-items: center;

    .text {
      flex: 8;
      height: 21px;
    }
    .img {
      margin-left: 1%;
      cursor: pointer;
      font-size: 22px;
    }
  }

  .tab {
    display: flex;
    color: #335173;

    li {
      box-sizing: border-box;
      padding: 0 3px;
      border: 1px solid #a2b4c9;
      border-bottom: none;
      color: #666;
      cursor: pointer;
      &.hover {
        background-color: white;
      }
    }
  }

  .tree-wrap {
    background-color: white;
    border: 1px solid #a2b4c9;
    border-top: none;
    position: relative;
    flex: 1;
    padding: 5px;
    height: calc(100vh - 250px);

    .tree {
      border: 1px solid #ccc;
      box-sizing: border-box;
      overflow: auto;
      height: 100%;
      .tree-children {
        height: 100%;
      }
    }

    .right-menu {
      position: absolute;
      left: 30%;
      top: 50%;
      background-color: #f9f9f9;
      width: 120px;
      z-index: 3;
      display: flex;
      flex-direction: column;
      border: 1px solid #23aea4;
      align-items: flex-end;

      .menu-item {
        color: #333;
        background-color: #fdfdfd;
        width: 100%;
        border-bottom: 1px dashed #23aea4;
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        cursor: pointer;
        box-sizing: border-box;

        &:hover {
          background-color: #23aea4;
          // border: 1px solid #279fe6;
          color: #fff;
          .menu-sub {
            display: flex;
          }

          .icon-xiangyou {
            transform: rotate(90deg);
          }
        }
        &:last-child {
          border-bottom: none;
        }

        .menu-sub {
          position: absolute;
          flex-direction: column;
          right: -152px;
          width: 150px;
          background-color: #f9f9f9;
          height: 250px;
          top: 0;
          display: none;
          border: 1px solid #a2b4c9;
          & li {
            display: flex;
            padding-left: 15px;
            align-items: center;
            border-bottom: 1px solid #dddddd;
            cursor: pointer;
            &:hover {
              background-color: #add8f6;
              border: 1px solid #279fe6;
            }
          }
        }
      }
    }
  }
}

.no-wrap {
  background-color: #cbd4ff;
  position: fixed;
  left: 0;
  z-index: 2;
  top: 90px;
  border: 1px solid #97b2d1;
  padding: 5px;
  cursor: pointer;
}
</style>
