<template>
  <div class="coordinate-wrap">
    <Select v-model="type" style="width: 100%">
      <Option v-for="item in typeList" :value="item.value" :key="item.value">{{ item.label }}</Option>
    </Select>

    <Input v-model.trim="startCoordinate" placeholder="坐标以,间隔" style="width: 100%; margin-top: 5px">
      <span slot="prepend">坐标</span>
      <span slot="append" @click="handleTransform" style="cursor: pointer">转换</span>
    </Input>
    <Input v-model.trim="endCoordinate" placeholder="请输入bd09坐标" style="width: 100%; margin-top: 5px">
      <span slot="prepend">坐标</span>
      <span slot="append" style="cursor: pointer" @click="handleLocate">定位</span>
    </Input>

    <!-- 关闭 -->
    <Icon type="ios-backspace-outline" class="coordinate-close" @click.native="handleClose" />
  </div>
</template>

<script>
const coordtransform = require("coordtransform");
import { mapState, mapMutations } from "vuex";

import gcoord from "gcoord";

export default {
  name: "coordinate",
  data() {
    return {
      open: false,
      type: "WGS84",
      startCoordinate: undefined,
      endCoordinate: undefined,
      typeList: [
        { value: "WGS84", label: "WGS84坐标" },
        { value: "GCJ02", label: "GCJ02坐标" },
      ],
    };
  },

  computed: {
    ...mapState("admin/map", ["BDMap"]),
  },

  methods: {
    ...mapMutations("admin/map", ["setState"]),
    handleTransform() {
      if (!this.startCoordinate) {
        this.$Message.info("请输入需要转换的坐标!");
        return;
      }

      let _p = this.startCoordinate.split(",").map((res) => Number(res));

      if (_p && _p.length < 2) {
        this.$Message.info("请输入坐标以,间隔!");
        return;
      }
      let _endP;
      _endP = gcoord.transform(
        _p, // 经纬度坐标
        gcoord[`${this.type}`], // 当前坐标系
        gcoord.BD09 // 目标坐标系
      );
      this.endCoordinate = _endP.join(",");
    },

    handleClose() {
      this.setState({
        coordinateShow: false,
      });
    },

    handleLocate() {
      // 校验
      if (!this.endCoordinate) {
        this.$Message.info("请输入bd09坐标!");
        return;
      }

      //
      if (this.endCoordinate.indexOf(",") < 0) {
        this.$Message.info("坐标以,间隔");
        return;
      }

      let _p = this.endCoordinate.split(",").map((num) => Number(num));
      this.BDMap.handleHightShowLine(
        [],
        [
          {
            geometry: { type: "Point", coordinates: _p },
          },
        ]
      );

      // 跳转
      this.BDMap.fitBounds([_p]);
    },
  },
  mounted() {},
};
</script>

<style scoped lang="scss">
.coordinate-wrap {
  position: absolute;
  width: 280px;
  height: 160px;
  background-color: #23aea4;

  position: absolute;
  right: 24px;
  top: 70px;
  padding: 5px 5px;
  border: 1px solid #0d867f;
  color: #0d867f;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 25px;

  .coordinate-close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
  }
}
</style>
