<template>
  <i-pageBody>
    <div slot="page-main" class="page">
      <query @query="searchBtn" @reset="resetBtn">
        <div slot="col-form">
          <Form :model="formData" :label-width="70">
            <Row>
              <Col span="6">
                <FormItem label="角色名字">
                  <Input v-model="formData.roleName" clearable placeholder="请输入角色名字" />
                </FormItem>
              </Col>
            </Row>
          </Form>
        </div>
      </query>

      <div class="btns">
        <Button type="primary" size="small" @click="addBtn" v-auth="`system:role:add`">新增</Button>
      </div>

      <dark-table
        :tableColumns="columnsList"
        :tableData="dataList"
        :paginateTotal="pageTotal"
        :isloading="loading"
        :value="{ pageSize: formData.pageSize, pageNum: formData.pageIndex }"
        @input="changepageSize"
        :tableHeight="400"
        :isHideExport="true"
      >
      </dark-table>

      <!-- 新增弹框 -->
      <powerModal ref="powerRef" @loadTable="searchBtn" />
    </div>
  </i-pageBody>
</template>

<script>
import roleApi from "@/api/system/role";
import powerModal from "./components/powerModal";

export default {
  data() {
    return {
      loading: false,
      columnsList: [
        { title: "序号", width: 80, type: "index", align: "center" },
        { title: "角色名字", key: "roleName", align: "center", tooltip: true },
        { title: "创建时间", key: "createTime", align: "center", tooltip: true },
        {
          title: "权限",
          key: "roleKey",
          align: "center",
        },
        {
          title: "操作",
          key: "completeTime",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small",
                  },
                  directives: [
                    {
                      name: "auth",
                      value: "system:role:edit",
                    },
                  ],
                  on: {
                    click: (e) => {
                      this.$refs.powerRef.roleId = params.row.roleId;
                      this.$refs.powerRef.formData = params.row;
                      this.$refs.powerRef.visible = true;
                    },
                  },
                },
                "修改"
              ),

              h(
                "Poptip",
                {
                  props: {
                    confirm: true,
                    title: "确定要删除?",
                    transfer: true,
                  },
                  on: {
                    "on-ok": () => {
                      roleApi.deleteRole(params.row.roleId).then((res) => {
                        if (res.code == 200) {
                          this.$Message.success("操作成功");
                          this.loadTable();
                        }
                      });
                    },
                  },
                },
                [
                  h(
                    "Button",
                    {
                      props: {
                        type: "error",
                        size: "small",
                      },
                      directives: [
                        {
                          name: "auth",
                          value: "system:role:delete",
                        },
                      ],
                    },
                    "删除"
                  ),
                ]
              ),
            ]);
          },
        },
      ],
      dataList: [{}],
      pageTotal: 0,
      formData: {
        pageSize: 20,
        pageIndex: 1,
        time: [],
      },
    };
  },
  components: {
    powerModal,
  },
  created() {
    this.loadTable();
  },
  methods: {
    addBtn() {
      this.$refs.powerRef.visible = true;
    },
    loadTable() {
      this.loading = true;
      roleApi
        .getRoleList(this.formData)
        .then((res) => {
          this.loading = false;
          this.dataList = res.rows;
        })
        .catch((err) => {
          this.loading = false;
        });
    },
    changepageSize(val) {
      this.formData.pageIndex = val.pageNum;
      this.formData.pageSize = val.pageSize;
      this.loadTable();
    },
    searchBtn() {
      this.formData.pageIndex = 1;
      this.loadTable();
    },
    resetBtn() {
      this.formData = {
        pageSize: 20,
        pageIndex: 1,
        time: [],
      };
      this.loadTable();
    },
  },
};
</script>

<style lang="scss" scoped>
.title {
  border-left: 5px solid #3d9e99;
  padding-left: 15px;
}
.btns {
  margin-top: 15px;
  padding: 0 15px;
}
.card {
  padding: 0 15px;
}
/deep/ .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-nav-container {
  height: 46px;
}
</style>
