<template>
  <i-pageBody>
    <div slot="page-main">
      <Button type="primary" @click="daoru">导入D5000数据</Button>

      <input
        type="file"
        ref="daoru"
        multiple
        @change="fileChange"
        style="display: none"
      />
    </div>
  </i-pageBody>
</template>

<script>
import integrationApi from '@/api/integration'
export default {
  data() {
    return {
    };
  },
  mounted() {
  },
  beforeDestroy() {
  },
  methods: {
    daoru() {
      this.$refs.daoru.click()
    },
    //导入D5000数据
    fileChange(e) {
      console.log(e)
      let files = e.target.files
      for (let i = 0; i < files.length; i++) {
        const formData = new FormData();
        formData.append('file', files[i]);
        integrationApi.readerD5000(formData).then(res => {
          console.log(res)
        })
      }
    },
  },
};
</script>

<style>
</style>