<template>
  <i-pageBody>
    <div slot="page-main">
      <Input
        v-model="formData.keyword"
        placeholder="..."
        style="width: 300px; margin: 10px"
      ></Input>

      <RadioGroup v-model="formData.distribution">
        <Radio :label="1">
          <span>主网</span>
        </Radio>
        <Radio :label="0">
          <span>配网</span>
        </Radio>
      </RadioGroup>

      <Button type="primary" @click="handlerSearch" style="margin-right: 10px"
        >查询</Button
      >
      <!-- <div id="gis-map"></div> -->

      <template v-for="pi in psrDataList">
        <Row :key="pi.id">
          <h1 style="padding-left: 10px">
            {{ pi.psrTypeName }}
          </h1>
          <Input
            :value="JSON.stringify(pi.coordinate)"
            style="width: 50%; margin: 10px"
            type="textarea"
            :row="4"
          ></Input>
          <span style="padding-left: 20px">所属单位：</span>
          <span>{{ pi.maintOrgName }}</span>
          <span style="color: red">--{{ pi.srcName }}</span>

          <Button
            type="primary"
            @click="(e) => handlerCopy(e, pi.coordinate)"
            style="margin-right: 10px"
            >转码-复制</Button
          >
        </Row>
      </template>

      <!-- <GSMap ref="GSMap" v-show="false" /> -->

      <!-- 上传下载测试 -->
      <Row type="flex">
        <UploadFile v-model="downId" @onImgUrl="handerImageUrl" />
        <Button @click="handlerDown">下载</Button>

        <img :src="imageUrl" width="180" height="180" />
      </Row>

      <Row type="flex">
        <Button @click="handleOpenIframe">测试iframe 视频</Button>
      </Row>

      <Modal
        v-model="videoVisible"
        :closable="false"
        :width="1200"
        @on-cancel="videoCancel"
        footerHide
        class="video-modal-wrap"
      >
        <Iframe :src="videoIframeUrl" />
      </Modal>
    </div>
  </i-pageBody>
</template>

<script>
import GSMap from "@/components/gsMap";
import UploadFile from "@/components/uploadFile";
const taizhouJson = require("@/components/gsMap/lib/taizhou.json");

export default {
  components: {
    GSMap,
    UploadFile,
  },
  data() {
    return {
      downId: "",
      imageUrl: "",
      xuxianlayer: null,
      videoVisible: false,
      videoIframeUrl: undefined,
      psrDataList: [],
      formData: {},
      typeNameObj: {
        zf05: "发电厂",
        zf01: "变电站",
        xl: "输电线路",
        dkx: "  配电线路分支",
        "0201": "配电电缆",
        "0110": "配电台变",
        "0113": "柱上开关",
        3112: "低压落火点",
      },
      formData: {
        keyword: "高楚4H29线",
        distribution: 0,
      },
      mapApiTestList: [
        {
          key: 1,
          name: "显示虚线",
        },
        {
          key: 2,
          name: "关闭虚线",
        },
        {
          key: "jumpPointAndPolygon",
          name: "跳转到区域(面积和圆，颜色可填充)",
        },
        {
          key: "customerIcon",
          name: "自定义图标",
        },
        {
          key: "locationHig",
          name: "设备线路高亮",
        },
        {
          key: "customer",
          name: "自定义",
        },
        {
          key: "resourceQuery",
          name: "查询电网设备树",
        },
        {
          key: "lnglatPoint",
          name: "坐标经纬度转换",
        },
        {
          key: "queryWeather",
          name: "天气预报、异常天气",
        },
      ],
    };
  },
  methods: {
    videoCancel() {
      this.videoVisible = false;
    },
    handleOpenIframe() {
      this.videoIframeUrl = location.origin + "/embedPage/hkPlay-for-iframe";
      this.$nextTick(() => {
        console.log(">>>", this.videoIframeUrl);
        this.videoVisible = true;
      });
    },
    handerImageUrl(url) {
      this.imageUrl = url;
    },
    //显示虚线
    button() {
      //每一次添加图层的id必须不一样
      if (this.xuxianlayer) {
        return;
      }
      this.xuxianlayer = "xuxianlayer" + Math.random();
      map.addLayer({
        id: this.xuxianlayer,
        type: "line",
        source: {
          type: "geojson",
          data: {
            type: "FeatureCollection",
            features: [
              {
                type: "Feature",
                geometry: {
                  type: "LineString",
                  coordinates: [
                    [110, 24],
                    [112, 39],
                    [115, 40],
                  ], //两层数组[[0,0],[0,0]]
                },
              },
            ],
          },
        },
        layout: {
          "line-cap": "round",
          "line-join": "round",
        },
        paint: {
          "line-color": "#ed6498",
          "line-width": 5,
          "line-opacity": 0.8,
          "line-dasharray": [2, 2], //控制虚线的疏密
        },
      });
    },
    //关闭虚线
    button2() {
      if (this.xuxianlayer) {
        map.removeLayer(this.xuxianlayer);
        this.xuxianlayer = null;
      }
    },
    handlerSearch() {
      // 通过服务接口查询设备信息
      const DeviceQuery = new NARIGIS.ResourceQuery.DeviceQuery();
      DeviceQuery.queryDeviceByName(
        {
          // orgId: data[1].value, // 组织机构id
          devTypes: [
            "zf05",
            "zf01",
            "xl",
            "dkx",
            "0201",
            "0110",
            "0113",
            "3112",
          ], // 图层类型
          ...this.formData,
        },
        (res) => {
          if (res.isSuccess()) {
            console.log(">>>json", res);

            this.psrDataList = this.parseQueryResult(res);
            // res.toGeojson().features;

            console.log(">>>jso psrDataList n", this.psrDataList);

            console.log("121212", this.psrDataList);
            // res.response.result.psrDataList || [];
          } else {
            alert(res.msg);
          }
        },
        (err) => {
          // do something
        }
      );
    },
    handlerCopy(e, text, pI, sI, org) {
      console.log("text", text);
      let lnglats = [];
      let lngs = [];
      // text
      //   .split(" ")
      //   .filter((r) => r)
      //   .forEach((res, index) => {
      //     if (index % 2 === 0) {
      //       lngs = [res];
      //     } else if (index) {
      //       // 可能数据存在,
      //       lngs.push(res.replace(",", ""));
      //       // 加载地图会存在
      //       const lnglat = NARIGIS.Projection.mercatorToWgs84(lngs);
      //       lnglats.push(lnglat);
      //     }
      //   });

      let cityStr;

      taizhouJson.features.forEach((ctJson) => {
        const _ctJson = ctJson.geometry.coordinates[0];
        const _ctName = ctJson.properties.name;
        try {
          text.forEach((lng) => {
            if (Array.isArray(lng) && lng.length > 1) {
              lng.forEach((__l) => {
                const pt = NARIGIS.Turf.point(__l);
                const poly = NARIGIS.Turf.polygon(_ctJson);
                const check = NARIGIS.Turf.booleanPointInPolygon(pt, poly);
                if (check) {
                  cityStr = cityStr ? cityStr + "," + _ctName : _ctName;
                  throw Error(_ctName + "中找到");
                }
              });
            } else {
              const pt = NARIGIS.Turf.point(lng);
              const poly = NARIGIS.Turf.polygon(_ctJson);
              const check = NARIGIS.Turf.booleanPointInPolygon(pt, poly);
              if (check) {
                cityStr = cityStr ? cityStr + "," + _ctName : _ctName;
                throw Error(_ctName + "中找到");
              }
            }
          });
        } catch (error) {}
      });

      console.log("所属区域", cityStr);
      console.log("wgs84", JSON.stringify(text));
      this.$Copy({
        text: JSON.stringify(text),
      });
    },
    parseQueryResult(response) {
      let result = response.result;
      let list = [];
      result.psrDataList.forEach((typelist) => {
        if (typelist.count == 0) return;
        typelist.psrList.forEach((psr) => {
          //转换坐标
          let coordinates = null;
          if (psr.coordinate && psr.coordinate.length > 0) {
            let coordinate = psr.coordinate.trim();
            console.log("11", coordinate);
            let parts = coordinate.split(",");
            console.log("11", parts);

            for (let idx = 0; idx < parts.length; idx++) {
              if (parts[idx].trim() == "") continue;

              let coords = parts[idx].trim().split(" ");
              let part = [];
              if (coords.length > 0) {
                for (let i = 1; i < coords.length; i += 2) {
                  let coord = aaaa([coords[i - 1], coords[i]]);
                  part.push(coord);
                }
              }
              if (coordinates == null) coordinates = [];
              coordinates.push(part);
            }
          }
          let item = { ...psr };
          item.coordinate = coordinates;
          list.push(item);
        });
      });
      console.log(NARIGIS.Projection.mercatorToWgs84);
      return list;

      function aaaa(t) {
        var e = 180 / Math.PI,
          n = 6378137;
        t[0], Math.PI, Math.atan(Math.exp(-t[1] / n));
        return [
          (t[0] * e) / n,
          (0.5 * Math.PI - 2 * Math.atan(Math.exp(-t[1] / n))) * e,
        ];
      }
    },
    handlerDown() {
      let xhr = new XMLHttpRequest();
      xhr.open(
        "post",
        "http://pms.test.js.sgcc.com.cn/resource-center/common/download",
        true
      );
      xhr.responseType = "blob";
      xhr.setRequestHeader("Content-Type", "application/json;charset=utf-8");
      xhr.setRequestHeader("x-system-code", "1");
      xhr.onload = function () {
        if (this.status == 200) {
          var blob = this.response;
          const url = window.URL.createObjectURL(blob);
          console.log("111", url);
          let a = document.createElement("a");
          a.download = "图片.jpg";
          a.href = url;
          document.body.appendChild(a);
          a.click();
          a.remove();
        }
      };
      xhr.send(
        JSON.stringify({
          fileId: "0901fbd1994e5f18217141ba99f18ae8177ce8f3",
        })
      );
    },
    download() {
      let xhr = new XMLHttpRequest();
      xhr.open(
        "post",
        "http://egw.zstest.js.sgcc.com.cn/baseCenter/fileService/download",
        true
      );
      xhr.responseType = "blob";
      xhr.setRequestHeader("Content-Type", "application/json;charset=utf-8");
      xhr.setRequestHeader("x-system-code", "1");
      xhr.onload = function () {
        if (this.status == 200) {
          var blob = this.response;
          const url = window.URL.createObjectURL(blob);
          let a = document.createElement("a");
          a.download = "图片.jpg";
          a.href = url;
          document.body.appendChild(a);
          a.click();
          a.remove();
        }
      };
      xhr.send(
        JSON.stringify({
          fileId: "f2f7b2dc-4a4f-4c2a-8b59-f72b2e031f8f",
        })
      );
    },
  },
};
</script>

<style scoped>
#gis-map {
  width: 100%;
  height: 100%;
}
</style>