<template>
  <i-pageBody>
    <div slot="page-main">
      <Row>
        <Icon type="ios-arrow-round-forward"></Icon>
      </Row>
      <!-- <Row>
        <Col span="12">
          <div id="main4" style="width: 100%; height: 400px"></div>
        </Col>
      </Row> -->
      <!-- 选择线路 -->
      <!-- <Button @click="selectElec">选择线路</Button>
      {{ startpsr.psrName }}
      <Input v-model="endpsrName"></Input>
      <div v-if="isShowAddRange">
        <AddRange
          ref="AddRange"
          @saveRange="saveRange"
          @close="isShowAddRange = false"
        />
      </div> -->
    </div>
  </i-pageBody>
</template>

<script>
import * as echarts from "echarts";
import AddRange from "@/pages/demand/summary/components/rangeConfirmModal/components/addRange";
import integrationApi from "@/api/integration";
export default {
  components: {
    AddRange,
  },
  data() {
    return {
      isShowAddRange: false,
      startpsr: {},
      endpsrName: "1",

      max: 400,
      current: 0,
    };
  },
  mounted() {
    // this.drawChart4();
  },
  methods: {
    selectElec() {
      this.isShowAddRange = true;
      this.$nextTick(() => {
        this.$refs.AddRange.visible = true;
      });
    },
    saveRange(data) {
      console.log(data);
      this.startpsr = data;

      //遍历查询
      this.getTranslbyTransId(data.startStation);
    },
    //   根据变电站查询站内设备
    getBdfwByTransmission(psrId, psrName, voltageLevel) {
      this.current++;
      if (this.current < this.max) {
        integrationApi
          .getBdfwByTransmission({
            transmissionId: psrId,
            transmissionName: psrName,
          })
          .then(async (res) => {
            console.log("母线和主变", res);
            //添加好几列 母线
            let mxArray = Object.entries(res.result.generatrixs);
            //过滤掉没有选项的母线
            mxArray = mxArray.filter((item) => {
              return item[1].length > 0;
            });
            //寻找 电压等级等于母线的电压等级的母线
            let mx = mxArray.find(
              (item) => item[1][0].voltageLevel == voltageLevel
            );
            if (mx) {
              for (let i = 0; i < mx[1].length; i++) {
                let item = mx[1][i];
                await this.getXlbyTransmission(
                  item.startStation,
                  item.voltageLevel
                );
              }
            }
          });
      }
    },
    //   根据输电线路id查询变电站信息
    getTranslbyTransId(transmissionId, psrId) {
      this.current++;
      if (this.current < this.max) {
        integrationApi
          .getTranslbyTransId({
            transmissionId: transmissionId,
          })
          .then(async (res) => {
            console.log("变电站", res);
            for (let i = 0; i < res.result.length; i++) {
              let item = res.result[i];
              if (item.voltageLevel == "35") {
                console.log("500kV变电站", item);
              } else {
                await this.getBdfwByTransmission(
                  item.psrId,
                  item.psrName,
                  item.voltageLevel
                );
              }
            }
          });
      }
    },
    //根据变电站内设备查询输电线路
    getXlbyTransmission(transmissionId, voltageLevel, psrId) {
      this.current++;
      if (this.current < this.max) {
        integrationApi
          .getXlbyTransmission({
            transmissionId: transmissionId,
            voltageLevel: voltageLevel,
          })
          .then(async (res) => {
            console.log("线路", res);
            for (let i = 0; i < res.result.length; i++) {
              let item = res.result[i];
              await this.getTranslbyTransId(item.startStation);
            }
          });
      }
    },
    drawChart4() {
      let a1 = 0.599;
      let a2 = 1.15;
      let a3 = 1.495;
      let a4 = 0.781;
      let a5 = 1.78;

      let base = 323 + 674;

      let a_ = a1 + a3 + a5;
      let a = a1 + a2 + a4 * 2;

      let arr1 = [];
      let arr2 = [];
      let arr3 = [];
      let i = 0;
      let xAxisData = [];
      while (i <= 80) {
        let curjt = i * 20;
        let curjtshbl = 1 + (2.78 * curjt) / (curjt + 1400);
        let nextjt = (i + 1) * 20;
        let nextshbl = 1 + (2.78 * nextjt) / (nextjt + 1400);
        arr3.push({
          name: curjt,
          value: (a + nextshbl * a_) / (a + curjtshbl * a_) - 1,
          // value: (0 + nextshbl * a_) / (0 + curjtshbl * a_) - 1
        });
        let cutratt = base + 311 + i * 0.05 * base;
        let nextatt = base + 311 + (i + 1) * 0.05 * base;
        arr1.push({
          name: cutratt,
          value: nextatt / cutratt - 1,
        });
        let curctr, curctd, nextctr, nextctd;
        if (i < 6) {
          curctr = (5 + (i / 3) * 10) / 100;
          curctd = 0.5;
          nextctr = (5 + ((i + 1) / 3) * 10) / 100;
          nextctd = 0.5;
        } else if (i >= 51) {
          curctr = 1;
          curctd = (2 * (25 + ((i - 28.5) / 3) * 10)) / 100;
          nextctr = 1;
          nextctd = (2 * (25 + ((i - 28.5 + 1) / 3) * 10)) / 100;
        } else {
          curctr = (25 + ((i - 6) / 3) * 5) / 100;
          curctd = (2 * (25 + ((i - 6) / 3) * 5)) / 100;
          nextctr = (25 + ((i - 6 + 1) / 3) * 5) / 100;
          nextctd = (2 * (25 + ((i - 6 + 1) / 3) * 5)) / 100;
        }
        arr2.push({
          name: curctr.toFixed(2),
          value: (1 + nextctr * nextctd) / (1 + curctr * curctd) - 1,
        });
        xAxisData.push(i);
        i++;
      }
      let seriesData1 = arr1.map((item) => item.value);
      let seriesData2 = arr2.map((item) => item.value);
      let seriesData3 = arr3.map((item) => item.value);
      var myChart = echarts.init(document.getElementById("main4"), "mytheme");
      // 绘制图表
      let option = {
        title: {
          text: "0，20",
          left: "left",
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            label: {
              backgroundColor: "#6a7985",
            },
          },
        },
        legend: {
          data: ["Line 1", "Line 2", "Line 3", "Line 4", "Line 5"],
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        xAxis: [
          {
            type: "category",
            boundaryGap: false,
            data: xAxisData,
          },
        ],
        yAxis: [
          {
            type: "value",
          },
        ],
        series: [
          {
            name: "Line 1",
            type: "line",
            smooth: true,
            data: seriesData1,
          },
          {
            name: "Line 2",
            type: "line",
            smooth: true,
            data: seriesData2,
          },

          {
            name: "Line 3",
            type: "line",
            smooth: true,
            data: seriesData3,
          },
        ],
      };
      myChart.setOption(option);
    },
  },
};
</script>

<style>
</style>