<template>
  <i-pageBody>
    <div slot="page-main" class="page">
      <query @query="searchBtn" @reset="resetBtn">
        <div slot="col-form">
          <Form :model="formData" :label-width="70">
            <Row>
              <Col span="6">
                <FormItem label="通道名称">
                  <Input v-model="formData.ditchName" clearable placeholder="请输入通道名称" />
                </FormItem>
              </Col>
            </Row>
          </Form>
        </div>
      </query>

      <div class="btns">
        <Button type="primary" size="small" @click="exportXls">导出</Button>
      </div>

      <dark-table
        :tableColumns="columnsList"
        :tableData="dataList"
        :paginateTotal="pageTotal"
        :isloading="loading"
        :value="{ pageSize: formData.pageSize, pageNum: formData.pageIndex }"
        @input="changepageSize"
        :tableHeight="400"
        :isHideExport="true"
      >
      </dark-table>
    </div>
  </i-pageBody>
</template>

<script>
import reportApi from "@/api/report";
import _ from "lodash";

export default {
  data() {
    return {
      file: undefined,
      loading: false,
      columnsList: [
        { title: "序号", width: 80, type: "index", align: "center" },
        {
          title: "变电站名称",
          width: 120,
          ellipsis: true,
          key: "stationNames",
          tooltip: true,
        },
        {
          title: "线路名称",
          width: 120,
          ellipsis: true,
          key: "lineNames",
          tooltip: true,
        },
        { title: "通道名称", width: 120, key: "ditchName", align: "center", tooltip: true },
        { title: "起点井名称", width: 160, key: "startWellName", align: "center", tooltip: true },
        { title: "起点井经度", width: 200, key: "startWellAddressLongitude", align: "center", tooltip: true },
        { title: "起点井纬度", width: 120, key: "startWellAddressLatitude", align: "center", tooltip: true },
        { title: "终点井名称", width: 200, key: "endWellName", align: "center", tooltip: true },
        { title: "终点井经度", width: 160, key: "endWellAddressLongitude", align: "center", tooltip: true },
        { title: "终点井纬度", width: 160, key: "endWellAddressLatitude", align: "center", tooltip: true },
        { title: "长度", width: 80, key: "len", align: "center", tooltip: true },
        { title: "类型", width: 80, key: "type", align: "center", tooltip: true },
        { title: "材质", width: 80, key: "materialQuality", align: "center", tooltip: true },
        { title: "结构形式", width: 120, key: "structureShape", align: "center", tooltip: true },
        { title: "管径", width: 80, key: "caliber", align: "center", tooltip: true },
        { title: "剖面总孔数", width: 160, key: "1111", align: "center", tooltip: true },
        { title: "电缆穿孔总数", width: 160, key: "11111", align: "center", tooltip: true },
        { title: "信息来源", width: 120, key: "infoSource", align: "center", tooltip: true },
        { title: "资产单位编码", width: 160, key: "orgCode", align: "center", tooltip: true },
        { title: "资产单位名称", width: 160, key: "orgName", align: "center", tooltip: true },
        { title: "施工单位", width: 160, key: "constructionManufacturer", align: "center", tooltip: true },
        { title: "投运日期", width: 160, key: "commissioningDate", align: "center", tooltip: true },
        { title: "PMS_ID", width: 120, key: "id", align: "center", tooltip: true },
      ],
      dataList: [],
      pageTotal: 0,
      formData: {
        pageSize: 20,
        pageIndex: 1,
      },
    };
  },
  created() {
    this.loadTable();
  },
  methods: {
    exportXls() {
      reportApi.ditchExport();
    },
    loadTable() {
      this.loading = true;
      reportApi
        .getDitchList(this.formData)
        .then((res) => {
          this.loading = false;
          if (res.code == 200) {
            let data = res.rows;
            data.forEach((d) => {
              // 1. 变电站名称
              d.stationNames = _.isEmpty(d.lines) ? "-" : d.lines.map((res) => res.parentPointName).join(",");
              // 2. 线路名称
              d.lineNames = _.isEmpty(d.lines) ? "-" : d.lines.map((res) => res.lineName).join(",");
              // 3. 起点井名称
              d.startWellName = _.get(d, "startWell.name") || "-";
              // 4. 起点井经度
              d.startWellAddressLongitude = _.get(d, "startWell.address.longitude") || "-";
              // 5. 起点井纬度
              d.startWellAddressLatitude = _.get(d, "startWell.address.latitude") || "-";
              // 6. 终点井名称
              d.endWellName = _.get(d, "endWell.name") || "-";
              // 7. 终点井经度
              d.endWellAddressLongitude = _.get(d, "endWell.address.longitude") || "-";
              // 8. 终点井纬度
              d.endWellAddressLatitude = _.get(d, "endWell.address.latitude") || "-";
            });
            this.dataList = data;
            this.pageTotal = res.total;
          }
        })
        .catch((err) => {
          this.loading = false;
        });
    },
    changepageSize(val) {
      this.formData.pageIndex = val.pageNum;
      this.formData.pageSize = val.pageSize;
      this.loadTable();
    },
    searchBtn() {
      this.formData.pageIndex = 1;
      this.loadTable();
    },
    resetBtn() {
      this.formData = {
        pageSize: 20,
        pageIndex: 1,
        time: [],
      };
      this.loadTable();
    },
  },
};
</script>

<style lang="scss" scoped>
.title {
  border-left: 5px solid #3d9e99;
  padding-left: 15px;
}
.btns {
  padding: 10px 15px;
  float: right;
}
.card {
  padding: 0 15px;
}
/deep/ .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-nav-container {
  height: 46px;
}
</style>
