<!-- 杆塔新增弹框 -->
<template>
  <BaseModal :visible="publicParams.bdGtAddVisible" @on-cancel="cancel">
    <!-- 头部分 -->
    <div class="body-main-wrap">
      <div class="header-wrap">
        <div class="header-wrap">
          <span
            class="label-name"
            v-if="publicParams && publicParams.params && publicParams.params.orgs && publicParams.params.orgs.label"
            >{{ publicParams.params.orgs.label || "-" }} 新增杆线</span
          >
        </div>
      </div>

      <!-- 操作 -->
      <Row class="option">
        <Button type="primary" @click="handleAddGt">添加</Button>
        <Button type="warning" style="margin-right: 10px" @click="handleReset">重置</Button>
      </Row>

      <!-- 操作 -->
      <ul class="gt-wrap" v-if="gtList.length">
        <li class="gt-tip">
          <div class="gt-tip-item" style="background-color: #e4c858">已存在</div>
          <div class="gt-tip-item" style="background-color: #10bab1">自定义</div>
        </li>

        <li class="gt-item" v-for="(item, index) in gtList">
          <span :class="`item-label  ${item.id ? 'org-bg' : ''}`"
            >{{ item.label }}
            <img :src="item.iconUrl" alt="" width="15" />
          </span>

          <!-- 连接线 -->
          <div class="line-wrap" v-if="index + 1 !== gtList.length">
            <div class="line"></div>
          </div>
        </li>
      </ul>

      <el-empty class="gt-wrap" description="" v-else></el-empty>

      <!-- 是否可编辑 -->
      <div class="floor-wrap">
        <Button type="primary" v-auth="'map:edit'" @click="handleSave" size="small" style="width: 120px; height: 35px"
          >保存</Button
        >
      </div>

      <!-- 杆塔信息弹层 -->
      <Modal
        v-model="visible"
        title="杆塔信息编辑"
        footer-hide
        @on-cancel="baseFormCancel"
        :mask-closable="false"
        width="800"
      >
        <BaseForm ref="baseFormRef" v-if="visible" />
        <Row type="flex" align="middle" justify="center" style="margin-top: 20px">
          <Button type="primary" @click="handleFormOk" size="small">确认</Button>
        </Row>
      </Modal>
    </div>
  </BaseModal>
</template>

<script>
import BaseModal from "../../templates/baseModal/index";
import { mapState, mapMutations } from "vuex";
import UploadFile from "@/components/uploadFile";
import _ from "lodash";
import BaseForm from "../../components/baseForm";
import systemApi from "@/api/system";

export default {
  data() {
    return {
      visible: false, // 弹层
      gtList: [],
      orgPoints: [],
      isUniqueElm: undefined, // 是否唯一
      currentIndex: 0,
      iconEnum: undefined,
    };
  },
  computed: {
    ...mapState("admin/map", ["publicParams", "astTreeList", "BDTree"]),
    baseFormList() {
      let points = this.getConnectionLogicPoints();
      const that = this;
      return [
        {
          prop: "point",
          label: "点位",
          type: "Cascader",
          data: points,
          required: true,
          onChange: ([k1, k2], list, item) => {
            console.log("onChange", k2, k1);
            // 业务逻辑: 首点逻辑
            let isCustom = k2.indexOf("_") > -1;
            console.log(">>>>>>!!!!", isCustom);
            if (k2 && !isCustom) {
              // 2. 如果是自定义点 弹出是否连接周围已存在杆塔的表单
              list.forEach((r, i) => {
                r.show = false;
              });
              list[1].options = item.data
                .filter((res) => res.value == k1)[0]
                .children.filter((res) => res.id)
                .map((res) => ({
                  ...res,
                  codeValue: res.value,
                  codeName: res.label,
                }));
            } else {
              // 第一个元素现实其他不显示
              list.forEach((r, i) => {
                if (i) {
                  r.show = true;
                }
              });
            }

            console.log(">>>>", list);
          },
        },

        {
          prop: "connectGt",
          label: "连接杆塔",
          type: "select",
          show: true,
          required: true,
          options: [],
        },
        {
          prop: "towerNo",
          label: "杆塔编号",
          type: "input",
        },
        {
          prop: "towerType",
          label: "杆塔类型",
          type: "input",
        },
        {
          prop: "towerMode",
          label: "杆塔型号",
          type: "input",
        },
        {
          prop: "height",
          label: "高度",
          type: "input",
        },
        {
          prop: "deep",
          label: "埋深",
          type: "input",
        },
        {
          prop: "orgCode",
          label: "资产单位",
          type: "treeSelect",
          treeList: this.astTreeList,
          orderProp: "orgName",
        },
      ];
    },
  },
  components: {
    BaseModal,
    UploadFile,
    BaseForm,
  },
  watch: {
    "publicParams.bdGtAddVisible"(val) {
      console.log("publicParams.bdGtAddVisible", this.publicParams);
      if (val) {
        this.$nextTick(() => {
          this.transformToTree(this.publicParams.params.points);
        });
      }
    },
    visible(val) {
      if (val) {
        this.$nextTick(() => {
          let _length = this.currentIndex;
          let _obj = this.orgPoints[_length];
          const that = this;
          // 如果打开查询附件的点位
          systemApi
            .getNearbyPoint({
              lon: _obj.point[0],
              lat: _obj.point[1],
            })
            .then((list) => {
              _obj.children = [
                {
                  value: _.uniqueId(`${_length + 1}`),
                  point: _obj.point,
                  label: `自定义点位`,
                },
              ];
              if (!_.isEmpty(list)) {
                _obj.children = [
                  ..._obj.children,
                  ...list.map((res) => ({
                    ...res,
                    value: _.uniqueId(`${_length + 1}_`),
                    label: res.name,
                  })),
                ];
              }
              that.$refs.baseFormRef.transformToRules(this.baseFormList);
            });
        });
      }
    },
  },
  methods: {
    ...mapMutations("admin/map", ["setState"]),
    getConnectionLogicPoints() {
      let points = this.orgPoints;

      const _length = this.currentIndex;

      // 业务逻辑
      if (_length == 1) {
        // 1. 起始点需要判断 1. 是否重合; 2. 还是从其他已有杆塔连线
      } else if (_length > 0) {
        // 2. 已经选择的默认过滤
      }
      points = points.filter((res, index) => index == _length);

      return points;
    },

    transformToTree(list) {
      let out = [];
      list.forEach((_l, _i) => {
        out.push({
          value: _.uniqueId("tree_"),
          point: [_l.lng, _l.lat],
          label: `${_i + 1}号点位`,
          children: [],
        });
      });

      this.orgPoints = out;

      console.log("transformToTree", out);
    },
    handleAddGt() {
      // 校验 如果已选择完则不能选
      if (this.currentIndex == this.orgPoints.length) {
        this.$Message.info("已编辑完!");
        return;
      }

      this.visible = true;
    },
    cancel() {
      this.visible = false; // 弹层
      this.gtList = [];
      this.isUniqueElm = false;
      this.orgPoints = [];
      this.currentIndex = 0;
      this.iconEnum = undefined;
    },
    async handleFormOk() {
      if (_.isEmpty(this.iconEnum)) {
        await systemApi.getIconList({}).then((res) => {
          if (res.code == 200) {
            let _obj = {};
            res.rows.forEach((res) => {
              _obj[`${res.type}`] = {
                url: res.icon,
                equName: res.equName,
              };
            });
            this.iconEnum = _obj;
          }
        });
      }

      this.$refs.baseFormRef.submit().then((res) => {
        if (res) {
          // 查询数据
          const currentObj = this.getTreeById(res.point);
          console.log(">>>", res);
          let _obj;
          if (res.connectGt) {
            // 1. 是否连线
            _obj = this.orgPoints[this.currentIndex].children.filter((_r) => _r.value == res.connectGt)[0];

            const iconObj = this.iconEnum[`${_obj && _obj.type ? _obj.type : "3"}`];

            if (!this.currentIndex) {
              this.gtList.push({
                ..._obj,
                iconUrl: iconObj.url,
              });
              this.gtList.push({
                ...currentObj,
                form: res,
                iconUrl: iconObj.url,
              });
            } else {
              this.gtList.push({
                ...currentObj,
                form: res,
                iconUrl: iconObj.url,
              });
              this.gtList.push({
                ..._obj,
                iconUrl: iconObj.url,
              });
            }
          } else {
            this.gtList.push({
              ...currentObj,
              form: res,
              iconUrl: this.iconEnum[3].url,
            });
          }

          this.visible = false;

          this.$nextTick(() => {
            this.currentIndex++;
          });
        }
      });
    },
    getTreeById([k1, k2]) {
      const _data = JSON.parse(JSON.stringify(this.orgPoints));
      let current;
      _data.forEach((_d) => {
        if (_d.value == k1) {
          _d.selected = true;
        }

        if (!_.isEmpty(_d.children)) {
          _d.children.forEach((_dd) => {
            if (_dd.value == k2) {
              current = _dd;
              _dd.selected = true;
            }
          });
        }
      });
      this.orgPoints = _data;
      return current;
    },
    baseFormCancel() {
      console.log("middleCancel");
      this.visible = false;
    },
    handleReset() {
      this.gtList = [];
    },
    getSegmentalPoint(list) {
      let points = [];
      let _seg = {
        start: undefined,
        startType: undefined,
        end: undefined,
        endType: undefined,
      };
      if (!_.isEmpty(list)) {
        let _key = 0;
        list.forEach((res) => {
          let _p;
          if (res.id) {
            _p = res.id;
          } else {
            _key--;
            _p = _key;
          }

          let _type = res.type || 3;
          if (_seg.start == undefined) {
            _seg.start = _p;
            _seg.startType = _type;
          } else if (_seg.start !== undefined && !_seg.endType) {
            _seg.end = _p;
            _seg.endType = _type;
            points.push(_seg);
            _seg = {
              start: _p,
              startType: _type,
              end: undefined,
              endType: undefined,
            };
          }
        });
      }
      return points;
    },
    handleSave() {
      const that = this;
      console.log("handleSave", this.gtList);
      // 校验逻辑
      if (_.isEmpty(this.gtList) || (!_.isEmpty(this.gtList) && this.gtList.length <= 1)) {
        this.$Message.info("请添加杆塔");
        return;
      }

      let params = {
        lineCode: this.publicParams.params.orgs.id,
        towerList: this.gtList
          .filter((res) => !res.id)
          .map((res, index) => {
            let _p = res.point;
            let obj = {
              ...res.form,
              longitude: _p[0],
              latitude: _p[1],
              id: -(index + 1),
            };

            return obj;
          }),

        lineInsertAOS: this.getSegmentalPoint(this.gtList),
      };

      systemApi.saveTower(params).then((res) => {
        if (res.code == 200) {
          this.$Message.success(res.msg);
          // 加载数据
          this.BDTree.pushPoints(res.data);

          // 关闭弹层
          that.setState({
            publicParams: {
              bdGtAddVisible: false,
              params: {
                succeed: true,
              }, //参数
              type: "bdDld",
            },
          });
        } else {
          this.$Message.error(res.msg);
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.body-main-wrap {
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow: auto;
  .header-wrap {
    display: flex;
    height: 60px;
    align-items: center;
    background: #eefffe;
    width: 100%;
  }
  .label-name {
    font-size: 18px;
    margin-left: 20px;
    color: #0d867f;
    font-weight: 600;
  }

  .floor-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }

  .add-label {
    padding-left: 90px;
    height: 40px;
    font-size: 16px;
    background-color: #eefffe;
    line-height: 40px;
    color: #0d867f;
  }

  .gt-wrap {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 10px;
    overflow-x: auto;
    padding: 0 10px;
    overflow-y: hidden;
    border: 1px solid #dcd9d9;
    position: relative;
    .gt-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        color: #0d867f;
      }

      .item-label {
        background-color: #10bab1;
        display: block;
        border-radius: 5px;
        line-height: 30px;
        box-sizing: border-box;
        padding: 3px 6px;
        color: #fff;
        flex-shrink: 0;
        position: relative;
        &.org-bg {
          background-color: #e4c858;
        }
        img {
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: -16px;
          border: 1px solid #ccc;
        }
      }
    }
  }

  .line-wrap {
    display: flex;
    align-items: center;
    width: 100px;
    font-size: 16px;
    .line {
      width: 100%;
      height: 0;
      border-top: 1px solid #ccc;
    }
  }

  .option {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
  }

  .gt-tip {
    display: flex;
    position: absolute;
    left: 20px;
    top: 10px;
    .gt-tip-item {
      width: 55px;
      height: 30px;
      color: #fff;
      line-height: 30px;
      text-align: center;
    }
  }
}
</style>
